﻿@using GBD.UniversalDataHub.Resources
@*Dialog box start*@
<div id="confirm-exit" class="modal fade" aria-hidden="true" aria-labelledby="confirm-exit" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" id="btn-exit-close" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"><i class="glyphicon glyphicon glyphicon-trash"></i>
                    @Messages.Close ?
                </h4>
            </div>
            <div class="modal-body">
                <h5>
                    <span>It looks like you have been editing something.</span>
                    <span>If you leave before saving, your changes will be lost.</span>
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btn-exit-yes" name="ButtonType" />
                <button class="btn btn-danger" id="btn-exit-no" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>
@*Dialog box end*@

<div id="confirm" style="display: none" title="Confirm">
    <p></p>
</div>