﻿@using System.Globalization
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using TimeZoneNames
@using GBD.UniversalDataHub.Areas.Datahub.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - @Messages.ApplicationNameShort | @UdhClaimsIdentity.GetClientName() </title>
    @{

        var clientLogoUrl = UdhClaimsIdentity.GetClientLogoUrl();
        var clientName = UdhClaimsIdentity.GetClientName();
        var userFullName = UdhClaimsIdentity.GetFirstAndLastName();
        var isInAdminRole = UdhClaimsIdentity.IsInAdminRole();
        var isInGbdAdminRole = UdhClaimsIdentity.IsInGbdAdminRole();
        var userName = UdhClaimsIdentity.GetUserName();
        //CatalogBackgroundSearchViewModel searchList = new CatalogBackgroundSearchViewModel();
        //try
        //{
        //    var runSearchSession = @Html.Action("GetMySearchList", "Catalog");
        //}
        //catch (Exception ex)
        //{

        //}
        //searchList = (CatalogBackgroundSearchViewModel)HttpContext.Current.Session["SearchList"];









        //if (isInGbdAdminRole)
        //{
        <link href="~/Images/gbd.png" type="image/png" rel="icon">
        @*}
            else
            {
                <link href="~/Images/favicon.ico" type="image/png" rel="icon">
            }*@
        }

        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap-css")
        @Styles.Render("~/Content/pagehome")
        @Styles.Render("~/Content/font-awesome-css")
        @Styles.Render("~/Styles/custom-scrollbar")

        <style>
            .gridStyle *, *:before, *.after {
                box-sizing: content-box;
            }

            .pull-center {
                text-align: center;
            }

            .initials {
                background-color: #800000;
                text-align: justify;
                color: white;
                width: 180px;
                height: 34px;
                padding-top: 5px;
                padding-left: 5px;
                font-weight: bold;
                font-size: 20px;
            }

            .dataTable .progress .progress-bar {
                padding-left: 3px;
                padding-right: 3px;
            }

            .tooltip-inner {
                max-width: 500px !important;
            }
        </style>

        <style>
            table.model-state {
                border-color: #600;
                border-width: 0 0 1px 1px;
                border-style: solid;
                border-collapse: collapse;
                font-size: .8em;
                font-family: arial;
            }

                table.model-state td {
                    border-color: #600;
                    border-width: 1px 1px 0 0;
                    border-style: solid;
                    margin: 0;
                    padding: .25em .75em;
                    background-color: #FFC;
                }

            .nav-left-uni .mCustomScrollBox {
                overflow: inherit;
            }

            .nav-left-uni .mCSB_container {
                overflow: inherit;
            }

            .nav-left-uni .mCSB_inside > .mCSB_container {
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 200px;
            }

            .nav-left-uni .mCSB_scrollTools {
                left: -5px;
                right: auto;
                width: 15px;
            }

                .nav-left-uni .mCSB_scrollTools .mCSB_dragger {
                    height: 50px;
                }
            /*.table-wrap .mCSB_inside > .mCSB_container {
                margin-right: 18px;
            }

            .table-wrap .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                border-radius: 0;
                -webkit-border-radius: 0;
                width: 6px;
            }*/

            #validation-summary-wrapper-div .validation-summary-errors ul li:nth-of-type(1n+2) {
                display: none;
            }
        </style>

        @RenderSection("styles", required: false)
</head>
<body class="uni">
    <div class="w2">
        <header>

    <div class="fixedbar header">
               
                @*<div class="dropdown" style="float: right; margin-right: 10px;">
                    <button id="dropdownMenu1" class="btn btn-primary dropdown-toggle usr" data-toggle="dropdown" type="button">
                        <img src="~/Images/user.png" alt="" />
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu user dropdown-menu-right" aria-labelledby="dropdownMenu1" role="menu">

                        <li role="presentation">
                            <span class="glyphicon glyphicon-cog"></span>
                            @Html.ActionLink(Messages_Menu.ManageProfile, "ManageProfile", "UserLoginManager", new { Area = "AccessControl" }, null)
                        </li>

                        <li role="presentation">
                            @*<span class="glyphicon glyphicon-off"></span>*@
                            @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", tabindex = "-1", role = "menuitem", Area = "" }))
                        {
                            <span class="glyphicon glyphicon-off"></span>
                            <a href="@Url.Action("LogOff", "Account", new {Area = ""})">
                                @Messages_Menu.Logout
                            </a>
                        }
                        </li>
                    </ul>
                </div>*@
                <div class="user-controls">
                    @*<a class="fa-stack fa-lg sg-tooltip" data-toggle="tooltip" data-placement="bottom" data-title="@Messages.Help">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </a>*@
            <a class="fa-stack fa-lg sg-tooltip" data-toggle="tooltip" data-placement="bottom" data-title="@userFullName" href="@Url.Action("ManageProfile", "UserLoginManager", new { Area = "AccessControl" })">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </a>
                    <a class="fa-stack fa-lg sg-tooltip" data-toggle="tooltip" data-placement="bottom" data-title="@Messages_Menu.Logout" href="@Url.Action("LogOff", "Account", new { Area = "" })">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
                    </a>
                </div>


                <div class="mysearchlist-wrapper">
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown" id="LiForSearchlist">
                            <a id="dropDownToggle" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <label class="fa-stack" style="
                                       color #fff;
                                       "> <i class="glyphicon glyphicon-bell" data-target="#storemodal" id="glyphiconBell"></i></label>
                                <span style="
                                      color #fff;
                                      text-align left;
                                      margin-left -8px;
                                      " id="glyphiconSpan">My Search List</span>
                                <span class="caret" id="caretSpan"></span>
                                <span id="NotificationCount" class="badge"></span>
                            </a>
                            <ul id="myearchlist" class="dropdown-menu">
                            </ul>
                        </li>
                    </ul>
                </div>


                <div class="sg-logowrapper">
                    @{

                        if (isInGbdAdminRole)
                        {

                    <img src="~/Images/gbd.png" alt="gbd" data-toggle="modal" data-target="#gbdinfo"/>
                        }
                        else
                        {
                            var hasLogo = !String.IsNullOrWhiteSpace(clientLogoUrl);
                            if (hasLogo)
                            {

                        <img src="@Url.Content(@clientLogoUrl)" alt='@UdhClaimsIdentity.GetClientName()' data-toggle="modal" data-target="#clientinfo"/>

                            }
                            else
                            {

                                <div class="initials pull-left" data-toggle="modal" data-target="#clientinfo">@clientName</div>

                            }
                        }
                    }
                    @*<div class="logo uni" data-toggle="modal" data-target="#clientinfo">
                    <img alt='@UdhClaimsIdentity.GetClientName()' src="@Url.Content(@clientLogoUrl)" style="margin-top: -44px; margin-left: -60px;" />
                </div>*@
                </div>
                <span class="displayName">
                    @*@Messages.Welcome, @userFullName !*@
                    @(ViewBag.Breadcrumb ?? ViewBag.Title)
                </span>

                <div class="sg-alert-wrapper" id="validation-summary-wrapper-div" style="display: none;">
                    <div class="alert alert-danger">
                        <a href="javascript: void(0)" id="validation-summary-close" class="close">&times;</a>
                        <div class="error-msg">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>

            </div>
            <div class="fixedbar footer">

                <div class="sg-power" data-toggle="modal" data-target="#powerby">
            <img src="~/Images/gbd-large.png" alt="gbd"/>
                </div>

                <div class="time-info">
                    <!--- Language link -->
                    <!--DateTime/TimeZone-->
                        <i class="fa fa-clock-o"></i>
                        @Html.Label(Html.GbdTimeZoneName())
                </div>

                @*<div class="sg-power" data-toggle="modal" data-target="#powerby">
                    &copy; GrowByData Services, Pvt.Ltd.
                </div>*@

                <div  id="validation-summary-wrapper-div" style="display: none;">
                    <div class="alert alert-danger">
                        <a href="javascript: void(0)" id="validation-summary-close" class="close">&times;</a>
                        <div class="error-msg">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <!--- Language link -->
                    <div class="pull-right">
                        @Html.Raw(Html.GbdLanguageFeature(UdhClaimsIdentity.GetLanguages()))
                    </div>

                    <!--DateTime/TimeZone-->
                    @*<div style="float: right; color: #fff; height: 34px; line-height: 34px; padding: 0 5px; font-size: small;">
                <i class="fa fa-clock-o"></i>
                @Html.Label(DateTime.Now.ToString("f") + " | " + TimeZoneNames.TimeZoneNames.GetNamesForTimeZone(TimeZone.CurrentTimeZone.StandardName, CultureInfo.CurrentCulture.Name).Standard)
            </div>*@
                </div>
            </div>
            <div class="nav-left-uni">

                @Html.Raw(UdhClaimsIdentity.GetMenu())

                @RenderSection("menu", required: false)

            </div>

        </header>

        @if (ViewData["UserFriendlyException"] != null)
        {
            <div class="form-horizontal form-control pull-center error">
                @ViewData["UserFriendlyException"].ToString()
            </div>
        }

        @RenderBody()
        <div id="htmlEncoderDiv" style="display: none;"></div>
        @Html.AlertWrapper()

        @using (Html.GbdAboutDialog("powerby", Messages.PoweredBy))
        {
            <span class="pull-center">
                <a href="http://growbydata.com/" target="_blank"><img src="~/Images/gbd-large.png" alt="" /></a>
            </span>
            <h2>@Messages.GrowByData</h2>
            <p>
                © 2014 - @DateTime.Now.Year @Messages.GrowByData
            </p>
            <p>@Messages.ForSupportContact : @Messages.GrowbyDataSupport</p>
        }

        @using (Html.GbdAboutDialog("clientinfo", "About " + UdhClaimsIdentity.GetClientName()))
        {
            <span class="pull-center">
                <a href="#" target="_black">
                    <img src="@Url.Content(@clientLogoUrl)" alt='@UdhClaimsIdentity.GetClientName()' />
                    @*<img src="~/Images/skygeek/skygeek-mas.png" alt="" />*@
                </a>
            </span>

            <h2>@Messages.AllAbout @UdhClaimsIdentity.GetClientName()</h2>
            <p>@Html.AssemblyVersion()</p>
            @*<br />@Messages_Skygeek.AllAboutLine1<br />
                @Messages_Skygeek.AllAboutLine2*@
    <br/>
    @UdhClaimsIdentity.GetClientDescription()<br/>
        }
        @using (Html.GbdAboutDialog("gbdinfo", "Grow by data"))
        {
            <span class="pull-center">
                <a href="#" target="_black"><img src="~/Images/gbd-large.png" alt="" /></a>
            </span>

            <h2>All About Growbydata.com</h2>
            <p>@Html.AssemblyVersion()</p>
    <br/>
            @Messages_Skygeek.AllAboutLine1
    <br/>
            @Messages_Skygeek.AllAboutLine2
        }
        @Html.Partial("_ConfirmExit")

        <script type="text/javascript">
            var tableToolsSwfUrl = '@Url.Content("~/Scripts/DataTables-1.10.4/extensions/TableTools/swf/copy_csv_xls_pdf.swf")';
            //console.log(tableToolsSwfUrl);
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-mask")
        @Scripts.Render("~/bundles/jqueryui")
      
        @Scripts.Render("~/bundles/main-menu")
        @Scripts.Render("~/bundles/chosenjquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryupload")
        @Scripts.Render("~/bundles/remember-state")

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/notification")

        @Scripts.Render("~/bundles/layoutjs")

        @Scripts.Render("~/bundles/custom-scrollbar")
        <p id="back-top">
            <a href="#top"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
Back to Top</a>
        </p>
    <script>
        $(".nav-left-uni").mCustomScrollbar({
            theme: "light"
        });
        //$(".table-wrap").mCustomScrollbar({
        //    theme: "dark-thick"
        //});

        // hide #back-top first
        $("#back-top").hide();

        // fade in #back-top
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#back-top a').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });

    </script>
                @RenderSection("scripts", required: false)</div>
    @*Udh form validation should appear after script render section*@
    <script src="~/Scripts/udh-form-validation.js"></script>

</body>


</html>


<style>
   ul#myearchlist span {
    display: inline !important;
    margin-right: 10px;
    line-height: 20px;
}
        ul#myearchlist li:hover span {color:#000!important;
        }
     ul#myearchlist a.btn {
    float: right !important;
    padding: 4px;
    line-height: 15px;
}
           ul#myearchlist a.btn:hover 
    {color:#fff!important; background:#497435!important;
    }
     ul#myearchlist > li {padding:10px;
    }
    ul#myearchlist li:hover a { color:#000!important;
    } 
    ul#myearchlist {
    width: 360px !important;
}
ul#myearchlist li a{padding:0;}
    ul#myearchlist li a:hover {background:none!important;
    }

    .badge{
    position: absolute;
    color: #fff!important;
    top: 8px;
    left: 23px;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    line-height: .9;
    border-radius: .25em;
    background: #4eb3e1;
}

.mysearchlist-wrapper {
    position: relative;
}
/*span#NotificationCount ko place ma .badge rakhe huncha*/
    
</style>
<script>
    var urlGetMySearchCount = '@Url.Action("GetMySearchCount", "Catalog", new {area = "Datahub"})';
    function getNotification() {
        $.ajax({
            url: urlGetMySearchCount,
            type: "GET",
            dataType: "json",
            success: function (response) {
                var li = "";
                if (response.Status) {
                        var count = response.Message;
                        var data = response.Data.lstCatalogSearchParameterDto;
                        if (count === "0") {
                            $('#NotificationCount').hide();
                        }
                        else {
                            $('#NotificationCount').show();
                            $('#NotificationCount').text(count);

                        }
                        if(data.length>0)
                        {
                            for (var i = 0; i < data.length; i++) {
                                li = li + '<li title=' + data[i].TokenCreatedDate + '>'
                                if (data[i].Status === 3) {
                                    var link = ' @Html.ActionLink("View", "MySearchList", "Catalog", new { Area= "Datahub", id="myTobeReplacedSearchId"}, new { @class = "btn btn-primary" , target = "_blank" })';
                                    link = link.replace("myTobeReplacedSearchId", data[i].SearchId);
                                    li = li + '<span>' + data[i].SearchTokenName + '</span>'
                                    li = li + link
                                }

                                else if (data[i].Status === 4 || data[i].Status === 5) {
                                    li = li + '<span>' + data[i].SearchTokenName + '</span>'
                                }

                                if (data[i].Status === 2) {
                                    var link = ' @Html.ActionLink("Dismiss", "DismissInProgressSearch", "Catalog", new { Area= "Datahub", searchId = "myTobeReplacedSearchId"}, new { @class = "btn btn-primary"})';
                                    link = link.replace("myTobeReplacedSearchId", data[i].SearchId);
                                    li = li + '<span>' + data[i].SearchTokenName + '</span>'
                                    li = li + link

                                    @*li = li + '<span>' + data[i].SearchTokenName + '</span>'
                                    var link = ' @Html.ActionLink("Dismiss", "DismissInProgressSearch", "Catalog", new { Area = "Datahub", id="myTobeReplacedSearchId"}, new { @class = "btn btn-primary"})';
                                    link = link.replace("myTobeReplacedSearchId", data[i].SearchId);*@
                                }
                                li = li + '</li>'
                            }
                            li = li + '<li><span> All Search Results </span>'
                            li = li + ' @Html.ActionLink("View", "ViewReport", "ReportViewer",new { Area="Reports", id = "9" }, new {@class = "btn btn-primary" , target = "_blank" })';
                        }
                }

                $("#myearchlist").html(li);
            },
            error: function () {
                return false;
            }
        });

    }

    //$('#glyphiconBell').click(function () {
       
    //    ShowNotificationDropDown();
    //})

    //$('#glyphiconSpan').click(function () {
    //    ShowNotificationDropDown();
    //})

    //$('#caretSpan').click(function () {
    //    debugger;
    //    ShowNotificationDropDown();
    //})

    $('#LiForSearchlist').click(function () {
        ShowNotificationDropDown();
    })
    

    function ShowNotificationDropDown()
    {
        if (window.location.pathname.indexOf('AclRoleModuleMapping') > -1 || window.location.pathname.indexOf('AclClientModuleMapping') > -1 || window.location.pathname.indexOf('AclUserModuleMapping') > -1) 
        {
            var xlass = $('.mysearchlist-wrapper ul li').attr('class');
            if (xlass === 'dropdown open') {
                $('.mysearchlist-wrapper ul li').removeClass(xlass);
                $('.mysearchlist-wrapper ul li').addClass('dropdown');
            }
            if (xlass === 'dropdown') {
                $('.mysearchlist-wrapper ul li').removeClass(xlass);
                $('.mysearchlist-wrapper ul li').addClass('dropdown open');
            }
            getNotification();
        }

    }

</script>