﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Login-Universal Data Hub</title>
	<link href="~/Images/gbd.png" type="image/png" rel="icon">
	<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/asset/css/page-login.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-2.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>      
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>   
</html>