﻿<link href="~/Content/slick.grid.css" rel="stylesheet" />
<link href="~/Content/slick.pager.css" rel="stylesheet" />
<link href="~/Content/slick.columnpicker.css" rel="stylesheet" />
<link href="~/Content/asset/css/slick-default-theme.min.css" rel="stylesheet" />

<style>
    .myGrid *, *:before, *.after {
        box-sizing: content-box;
    }

    .myRolesGrid *, *:before, *.after {
        box-sizing: content-box;
    }
    .ImportSourceGrid *, *:before, *.after {
        box-sizing: content-box;
    }
    .SearchedData *, *:before, *.after {
        box-sizing: content-box;
    }
    [class^="slickgrid_"],
    [class^="slickgrid_"] div {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

    .sg-user-grid {
        display: block;
        border: 1px solid #ddd;
        margin: 0 auto;
    }

    .slick-cell-checkboxsel {
        background: #f0f0f0;
        border-right-color: silver;
        border-right-style: solid;
    }


    .slick-headerrow-column {
        background: #87ceeb;
        text-overflow: clip;
        display: block;
        height: 20px;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .slick-headerrow-column input {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        height: 15px;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
</style>

<script src="~/Scripts/SlickGrid/slick.core.js"></script>
<script src="~/Scripts/jquery.event.drag.js"></script>
<script src="~/Scripts/SlickGrid/slick.grid.js"></script>
<script src="~/Scripts/SlickGrid/slick.core.js"></script>
<script src="~/Scripts/SlickGrid/Plugins/slick.checkboxselectcolumn.js"></script>
<script src="~/Scripts/SlickGrid/firebugx.js"></script>
<script src="~/Scripts/SlickGrid/slick.formatters.js"></script>
<script src="~/Scripts/SlickGrid/Plugins/slick.rowselectionmodel.js"></script>
<script src="~/Scripts/SlickGrid/slick.editors.js"></script>
<script src="~/Scripts/SlickGrid/slick.dataview.js"></script>
<script src="~/Scripts/SlickGrid/Controls/slick.pager.js"></script>
<script src="~/Scripts/SlickGrid/Controls/slick.columnpicker.js"></script>
<script src="~/Scripts/SlickGridModel.js"></script>
