﻿@model GBD.UniversalDataHub.Models.DropDownListViewModel

<select class="drop  form-control" id="@Model.DropDownListId" name="@Model.DropDownListId"></select>


@*@section scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            //console.log("ready!");


            var urlForData = '@Url.Action("GbdStaticDataTypeDropDownList", "Home", new {Area = ""})';
            var staticDataTypeName = '@Model.StaticDataTypeName';
            var dropDownListId = '@Model.DropDownListId';
            //console.log("test");
            // Ajax call
            $.ajax({
                type: 'GET',
                url: urlForData,
                cache: false,
                contentType: 'application/json; charset=utf-8',
                data: { staticDataTypeName: staticDataTypeName },
                dataType: 'json',
                success: function(response) {

                    var listItems = "";
                    for (var i = 0; i < response.Table.length; i++) {
                        listItems += "<option value='" + response.Table[i].Id + "'>" + response.Table[i].Name + "</option>";
                    }
                    $("#" + dropDownListId).html(listItems);
                },

                error: function(xhr, status, error) {
                    //reset variables here
                    alert(status + ' ' + error);
                }
            });
        });
    </script>
}*@
