﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
<div class="form-horizontal">

    <div class="col-md-12">
        <table class="sg-form">
            <tr>
                <td style="width: 83px;">
                    <label>@Messages_Datahub.Name<label class="errorPara">*</label></label>
                </td>
                <td>
                    <input id="Name" name="Name" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Description</label>
                </td>
                <td>
                    <input id="ShortDescription" name="ShortDescription" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="sg-form">
            <tr>
                <td style="width: 83px;">
                    <label>@Messages_Datahub.PartNumber\<label class="errorPara">*</label></label>
                </td>
                <td>
                    <input id="LocalSKU" name="LocalSku" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.IsEnabled</label>
                </td>
                <td>
                    <select id="IsEnabled" name="isEnabled">
                        <option value>--Choose</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.SalePrice</label>
                </td>
                <td>
                    <input id="SalePrice" name="SalePrice" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Height</label>
                </td>
                <td>
                    <input id="Height" name="Height" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Width</label>
                </td>
                <td>
                    <input id="Width" name="Width" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Isbn</label>
                </td>
                <td>
                    <input id="ISBN" name="ISBN" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Upc</label>
                </td>
                <td>
                    <input id="UPC" name="UPC" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Messages_Datahub.Mpn</label>
                </td>
                <td>
                    <input id="MPN" name="MPN" type="text" class="form-control" />
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-6">

        <table class="sg-form">

            <tr>
                <td style="width: 83px;">
                    <label>Location</label>
                </td>
                <td>
                    <input id="Location" name="Location" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Priority</label>
                </td>
                <td>
                    <input id="Priority" name="Priority" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Price</label>
                </td>
                <td>
                    <input id="Price" name="Price" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Weight</label>
                </td>
                <td>
                    <input id="Weight" name="Weight" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Length</label>
                </td>
                <td>
                    <input id="Length" name="length123" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>NSN</label>
                </td>
                <td>
                    <input id="NSN" name="NSN" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>EAN</label>
                </td>
                <td>
                    <input id="EAN" name="EAN" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>ASIN</label>
                </td>
                <td>
                    <input id="ASIN" name="ASIN" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Material</label>
                </td>
                <td>
                    <input id="Material" name="Material" type="text" class="form-control" />
                </td>
            </tr>
        </table>
        
    </div>

</div>