﻿
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Reports.Models.ReportManagerViewModel

<div class="content-wrapper">
    <div class="row">

        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.HiddenFor(m => m.Id)
                    @Html.GbdLabelFor(m => m.Name, new {@class = "control-label"})
                </div>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Product Inventory" })
            </div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        @*<div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">

                    @Html.GbdLabelFor(m => m.AclModuleId, new { @class = "control-label" })
                </div>
                @Html.TextBoxFor(m => m.AclModuleId, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.AclModuleId)
        </div>*@


        <div class="clearfix mgbtm8"></div>

        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.SelectSql, new {@class = "control-label"})
                </div>

                @Html.TextAreaFor(m => m.SelectSql, new { @class = "form-control", placeholder = "SELECT Name, LocalSku, ShortDescription FROM PIMProduct  (Note: If query is complex - create a SQL view and then write SELECT Query here)", @style="resize: vertical;"})
            </div>
            @Html.ValidationMessageFor(m => m.SelectSql)
        </div>

        <div class="clearfix mgbtm8"></div>

        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.OrderBySql, new {@class = "control-label"})
                </div>

                @Html.TextBoxFor(m => m.OrderBySql, new {@class = "form-control", placeholder = "ID DESC, Name ASC"})
            </div>
            @Html.ValidationMessageFor(m => m.OrderBySql)
        </div>

        <div class="clearfix mgbtm8"></div>
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.ReportCategory, new { @class = "control-label" })
                </div>

                @if (ViewData["ReportCategories"] != null)
                {
                    @Html.DropDownListFor(x => x.ReportCategory, (IEnumerable<SelectListItem>)ViewData["ReportCategories"], GBD.UniversalDataHub.Resources.Messages.PleaseSelect, new { @class = "reportcategoryDrop form-control ", @id = "ReportCategory" })
                }
            </div>
            @Html.ValidationMessageFor(m => m.ReportCategory)
        </div>

        <div class="clearfix mgbtm8"></div>


    </div>
</div>