﻿@using GBD.UniversalDataHub.Areas.Reports.Resources

<div id="reportParamDiv">
    <h4><strong> @Messages_Reports.ReportParameter</strong></h4>
    <div class="row">
        <div class="col-md-12">
            <div id="builder"></div>

        </div>
    </div>
    <div class="clearfix mgbtm8"></div>
</div>