﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Reports.Models.SqlQueryBuilderViewModel
@{
    ViewBag.Title = Messages_Reports.CreateSqlView;
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Reports.CreateSqlView</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                @using (Ajax.BeginForm("CreateSqlView", "Report", null, new { @class = "form-horizontal" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">@Html.GbdLabelFor(m => m.ViewName, new { @class = " control-label" })</div>

                                    @Html.EditorFor(m => m.ViewName, new { @data_mask = "" }).GbdAddCssClass("form-control")
                                    <div class="input-group-btn">
                                        <a id='checkIfViewExistsBtn' class='btn btn-primary'>
                                            <i class="fa fa-search"></i>&nbsp;@Messages.CheckAvailability
                                        </a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.ViewName)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.SqlQuery, new { @class = "control-label" })
                                    </div>
                                    @Html.TextAreaFor(m => m.SqlQuery, new { @rows = "10" }).GbdAddCssClass("form-control")
                                </div>
                                @Html.ValidationMessageFor(m => m.SqlQuery)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-12">
                                <div class="btn-container">
                                    @Html.GbdSubmitButton("createSqlView", Messages.CreateNew)
                                    @Html.GbdSubmitButton("editSqlView", Messages.Edit)
                                    @Html.GbdResetButton(Messages.Reset)
                                </div>
                            </div>
                        </div>
                    }
            </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jquery-mask")

    <script type="text/javascript">

        var urlCheckSqlView = '@Url.Action("CheckAvailabilityofView","Report",new{Area="Reports"})';


        $(document).ready(function () {

            $('#editSqlView').hide();

            //$('#ViewName').keyup(function (event) {
            //    var textBox = event.target;
            //    var start = textBox.selectionStart;
            //    var end = textBox.selectionEnd;
            //    textBox.value = textBox.value.toUpperCase();
            //    textBox.setSelectionRange(start, end);
            //});
        });


        $('#checkIfViewExistsBtn').click(function () {
            var viewName = $('#ViewName').val();
            $.ajax({
                url: urlCheckSqlView,
                data: {
                    'viewName': viewName
                },
                type: 'POST',
                cache: false,
                success: function (data) {
                    if (data === "NO_DATA") {
                        $('#editSqlView').hide();
                        $('#createSqlView').show();
                        $('#SqlQuery').val('');
                        alertmsg('yellow', "The View '" + viewName + "' doesnot exists.");
                    } else {
                        $('#editSqlView').show();
                        $('#createSqlView').hide();
                        $('#SqlQuery').val(data);

                    }

                }
            });
        });


    </script>
}


