﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Reports.Models.ReportManagerViewModel
@{
    ViewBag.Title = Messages.Update + " " + Messages_Reports.Report;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
               "<li>" + Messages_Reports.Reports + "</li>" +
              "<li> <a href='" + Url.Action("Index", "Report", new { Area = "Reports" }) + "'>" + Messages_Reports.ReportManager + "</a></li>" +
               "<li class='active'>" + Messages.Update + " " + Messages_Reports.Report + "</li>" +
           "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Update @Messages_Reports.Report</li>
    </ul>
</div>
@using (Html.BeginForm("Edit", "Report", new { Area = "Reports" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            @Html.Partial("_Report")

            <div class="row">
                <div class="col-md-12 ">
                    <div class="btn-container">
                        @Html.GbdSubmitButton("updateReport", Messages.Save)
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">
        var urlIndex = '@Url.Action("Index", "Report", new{Area="Reports"})';

        $("#btnCancel").click(function() {
            window.location = urlIndex;
        });
    </script>

}