﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Reports.ReportManager;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                       "<li>" + Messages_Reports.Report + "</li>" +
                       "<li class='active'>" + Messages_Reports.ReportManager + "</li>" +
                   "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">
                @*@{
                    var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                    if (authorizedActions.Any())
                    {
                        @Html.GbdButtonWithSpan("createCustomFieldTemplateBtn", "Add", "glyphicon glyphicon-plus", authorizedActions, "009")
                        @Html.GbdButtonWithSpan("editCustomFieldTemplateBtn", "Edit", "glyphicon glyphicon-edit", authorizedActions, "010")
                        @Html.GbdButtonWithSpan("deleteCustomFieldTemplateBtn", "Delete", "glyphicon glyphicon-trash", authorizedActions, "011")
                    }
                }*@

                @if (UdhClaimsIdentity.IsInGbdAdminRole() || UdhClaimsIdentity.IsInAdminRole())
                {
                    @Html.GbdButtonWithSpan("createReportButton", Messages.Add, "glyphicon glyphicon-plus")
                    @Html.GbdButtonWithSpan("editReportButton", Messages.Edit, "glyphicon glyphicon-edit")
                    @Html.GbdButtonWithSpan("deleteReportButton", Messages.Delete, "glyphicon glyphicon-trash")
                    @Html.GbdButtonWithFa("addReportParameterButton", Messages.Update + " " + Messages_Reports.ReportParameter, "fa fa-pencil-square-o")
                }
            </div>
        </div>

        <div class="sg-datatable-wrap">
            <table class="display" id="udhReportList">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                    <th>@Messages_Reports.ReportName</th>
                    <th>@Messages_Reports.CreatedDate</th>
                    <th>@Messages_Reports.CreatedBy</th>
                    <th>@Messages_Reports.Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<input type="hidden" id="reportIdsToDelete" />
@using (@Html.GbdConfirmDialog("divConfirmDelete", Messages.Delete + " " + Messages_Reports.Report))
{
    <p>@string.Format(Messages.confirmation_Message_Delete0, Messages_Reports.Report)</p>
}

@section styles{

        @Styles.Render("~/Styles/datatable")
}


@section scripts{


    <script type="text/javascript">


    //URLs
    var urlLoadTable = '@Url.Action("LoadTable", "Report", new { area = "Reports" })';
    var urlGetReportDataTable = '@Url.Action("GetReportDataTable","Report",new{Area="Reports"})';
        var urlCreateSqlView = '@Url.Action("CreateSqlView","Report",new{Area="Reports"})';
        var urlViewReport = '@Url.Action("ViewReport","ReportViewer",new{Area="Reports"})';
        var urlCreateReport = '@Url.Action("Create","Report",new{Area="Reports"})';
    var urlUpdateReport = '@Url.Action("Edit","Report", new{Area="Reports"})';
        var saveStatus = '@TempData["saveStatus"]';
        var deleteStatus = '@TempData["deleteStatus"]';
        var urlForDelete = '@Url.Action("Delete","Report", new{Area="Reports"})';
        var errorOcurredMsg = '@Messages.ErrorOccured';
        var urlUpdateReportParameter = '@Url.Action("UpdateReportParameter","Report", new{Area="Reports"})';


    </script>

@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/area/reports/reportmanager-index")

}