﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Reports.ReportManager;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Reports.ReportManager</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">@Messages_Reports.View</span>
                    <span class="form-control" id="Table">@ViewBag.TableName</span>
                </div>
            </div>
        </div>
        <h3>@Messages_Reports.Columns</h3>

        <div class="rules-group-container">
            <div class="checkbox">
                <label class="chkLabel">
                    <input type="checkbox" data-bind="checked: MasterCheck" /> @Messages_Reports.SelectAllColumns
                </label>
            </div>

            <div class="checkbox">
                <label class="chkLabel">
                    <input type="checkbox" data-bind="checked: ShowHide" /> @Messages_Reports.ShowHideColumns
                </label>
            </div>

            <div data-bind="visible: !ShowHide()">
                <div data-bind="foreach: Cols" class="checkbox">
                    <label class="chkLabel sg-fixwidth-label">
                        <input type="checkbox" data-bind="checked: Check" /><span data-bind="text: ColName"></span>
                    </label>
                </div>
            </div>
        </div>

        <h3>@Messages_Reports.Filters</h3>
        <div id="builder"></div>
        <div class="clearfix mgbtm8"></div>
        <div class="btn-container">
            <input type="button" name="btnLoadData" id="btnLoadData" class="btn btn-success set"
                   data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.TestReport"
                   data-bind="click: $root.LoadData, enable: $root.SelectedCols().length > 0" data-target="#resultDiv" data-toggle="modal" />
        </div>

        @*<input type="reset" class="btn btn-warning reset" value="@Messages_Reports.ResetFilter" />*@

        <div data-bind="visible: false">
            <code>
                <textarea id="SQLResult" style="display: none;"></textarea>
            </code>
            <code>
                <textarea id="SQLParam" style="display: none;"></textarea>
            </code>
        </div>

        <div id="resultDiv" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title">@Messages_Reports.Report</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-3">
                                @Html.Label(Messages_Reports.ReportName)

                            </div>
                            <div class="col-md-8">

                                <input type="text" class="form-control" data-bind="value: ReportName" />
                            </div>

                            <div class="clearfix mgbtm8"></div>


                            <div class="col-md-3">
                                @Html.Label(Messages_Reports.ReportCategory)

                            </div>

                            <div class="col-md-8">

                                @Html.DropDownList("ReportCategoryddl", (IEnumerable<SelectListItem>)ViewData["ReportCategories"], Messages.PleaseSelect, new { @id = "reportCategoryddl", @class = "form-control" }).Databind("value: TempReportCategoryName")
                                <input id="reportCategoryName" type="text" class="form-control" data-bind="value: ReportCategoryName" />
                            </div>
                            <div class="clearfix mgbtm8"></div>

                                <div id="reportResultDiv"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" name="btnSaveReport" id="btnSaveReport" class="btn btn-primary" data-dismiss='modal'
                               data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.SaveReport"
                               data-bind="click: $root.SaveReport, enable: CanSaveReport" />

                        <input type="button" id="btnCancel" data-dismiss='modal' class="btn btn-danger" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/query-builder")
    @Styles.Render("~/Styles/kogrid")
    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/area/reports/reportsearch")
    @Styles.Render("~/Styles/select2")

    <style type="text/css">
        #reportCategoryddl {
            position:absolute; width:100%; height:23px; left:0; top:0; border:1px; margin-left: -1px;
        }
        
        #reportCategoryName {
            position: absolute; width: 96%;height:23px; left:0; top:0;appearance: none;
        }

    </style>




}

@section scripts{


@Scripts.Render("~/bundles/jquery-editable-select")
@Scripts.Render("~/bundles/querybuilder")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap-typehead")
@Scripts.Render("~/bundles/kogrid")
@Scripts.Render("~/bundles/d3")
@Scripts.Render("~/bundles/jsontohtml")
@Scripts.Render("~/bundles/datatable")
@*@Scripts.Render("~/bundles/select2")*@

    <script type="text/javascript">

        //define URLs used in script below
        var urlLoadTable = '@Url.Action("LoadTable", "Report", new {area = "Reports"})';
        var urlLoadData = '@Url.Action("LoadData", "Report", new {area = "Reports"})';
        var urlLoadDataTable = '@Url.Action("LoadDataTable", "Report", new {area = "Reports"})';
        var urlSaveReport = '@Url.Action("SaveReport", "Report", new {area = "Reports"})';
        var urlGetTableSchema = '@Url.Action("GetTableSchema", "Report", new {area = "Reports"})';
        //define Localization strings used in script below
        var jsNoRecordFound = '@Messages.NoRecordFound';
        var jsError = '@Messages.Error';
        var jsSuccess = '@Messages.Success';
        var jsFail = '@Messages.Fail';

        // define filters as raw json
        var jsonRawSearch = @Html.Raw(ViewBag.JsonString);

        
        //$("#reportCategoryddl").select2();
        
    </script>
    @Scripts.Render("~/bundles/area/reports/reportsearch")

    
}