﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Reports.Models.ReportManagerViewModel
@{
    ViewBag.Title = Messages.Update + " " + Messages_Reports.ReportParameter + " - " + ViewBag.ReportName;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
               "<li>" + Messages_Reports.Reports + "</li>" +
              "<li> <a href='" + Url.Action("Index", "Report", new { Area = "Reports" }) + "'>" + Messages_Reports.ReportManager + "</a></li>" +
               "<li class='active'>" + Messages.Update + " " + Messages_Reports.ReportParameter + " - " + ViewBag.ReportName + "</li>" +
           "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Update @Messages_Reports.ReportParameter - @ViewBag.ReportName</li>
    </ul>
</div>

    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div style="pointer-events: none;">
                <h4><strong> @Messages_Reports.Report @Messages_Reports.Sql</strong></h4>
                @Html.Partial("_Report")
            </div>
            <div class="clearfix mgbtm8"></div>

            @Html.Partial("_ReportParameter")

            <div class="row">
                <div class="col-md-12 ">
                    <div class="btn-container">
                        @Html.GbdButton("saveFilterCriteria", Messages.Save)
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                </div>
            </div>
        </div>
    </div>


@section styles{
    @Styles.Render("~/Styles/query-builder")
}

@section scripts{
    @Scripts.Render("~/bundles/querybuilder")
    <script type="text/javascript">
        var urlIndex = '@Url.Action("Index", "Report", new {Area = "Reports"})';
        var reportParamList = @Html.Raw(ViewBag.ReportParamListJson);
        var reportId = '@Request["reportId"]';
        var urlUpdateReportParameter = '@Url.Action("UpdateReportParameter", "Report",new{Area="Reports"})';
        var errorOcurredMsg = '@Messages.ErrorOccured';
        var filterJson = '@ViewBag.FilterJson';

        $("#btnCancel").click(function() {
            window.location = urlIndex;
        });
    </script>

    @Scripts.Render("~/bundles/area/reports/reportmanager-updatereportparameter")
}