﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model List<GBD.UniversalDataHub.Areas.Datahub.Models.ImportSourceColumnViewModel>

    @{
        ViewBag.Title = "Import Source Column";
    }

    
    @if (Model != null)
    {
        <div class="sg-tab-bar">
            <ul class="nav nav-tabs udh" role="tablist">
                <li class="active header">@Messages_Datahub.DataSourceFields (<strong>@Model.FirstOrDefault(x => x.ImportSource != "").ImportSource</strong>)</li>
            </ul>
        </div>
    }
    else
    {
        <div class="sg-tab-bar">
            <ul class="nav nav-tabs udh" role="tablist">
                <li class="active header">@Messages_Datahub.DataSourceFields</li>
            </ul>
        </div>
    }
               <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
                   <div class="modal-body">
                       <div class="row">

                           @if (Model != null)
                           {

                               @*<div class="col-md-12 sg-map-bar add">
                            <label>@Messages_Datahub.DataSource : &nbsp;</label>
                            <strong>@Model.FirstOrDefault(x => x.ImportSource != "").ImportSource</strong>
                        </div>*@

                               <div class="col-md-12">

                                   <div class="panel panel-default">
                                       <div class="panel-body">
                                           <input type="checkbox" id="selectAllCheckBoxImpSrcCols">

                                           <button class="btn" id="deleteselectedbutton">
                                               <span class="glyphicon glyphicon-trash"></span>
                                               @Messages_Datahub.DeleteField
                                           </button>

                                       </div>
                                   </div>

                                   @using (Ajax.BeginForm("Update", "ImportSourceColumnSetting", FormMethod.Post, null, new { @class = "form-horizontal", @role = "form" }))
                                   {
                                       @Html.AntiForgeryToken()
    <div class="handsontable-wrapper">

        <table class="table add table-bordered" width="100%" cellpadding="0">

            <tr>
                <th width="40"></th>
                <th>@Messages_Datahub.Order</th>
                <th>@Messages_Datahub.Name</th>
                <th>@Messages_Datahub.DisplayName</th>
                <th>@Messages_Datahub.DataType</th>
                <th>@Messages_Datahub.Length</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
                                           {
                                        <tr>

                                            <td width="40">
                                                @Html.HiddenFor(x => x[i].Id)
                                                <input type="checkbox" class="listImpSrcCol" name="VendorIds" value="@Html.DisplayFor(x => x[i].Id)">
                                            </td>
                                            <td>  @Html.DisplayFor(x => x[i].Order) </td>
                                            <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Click to edit"> @Html.TextBoxFor(x => x[i].Name, new { @class = "form-control" })</span></td>
                                            <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Click to edit">  @Html.TextBoxFor(x => x[i].DisplayName, new { @class = "form-control" }) </span></td>
                                            <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Varchar">@Html.DropDownListFor(x => x[i].DataType, (IEnumerable<SelectListItem>)ViewData["datatype"], "--Choose", new { @class = "sourceDrop ", @style = "width:100%;", @id = Model[i].Id }) </span>  </td>

                                            <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="left" title="Click to edit">  @Html.TextBoxFor(x => x[i].CharacterMaximumLength).GbdAddCssClass("form-control") </span></td>
                                        </tr>
                                           }

        </table>
    </div>
    <div class="btn-container">


        @Html.GbdSubmitButton("GbdSaveImportSourceColumn", Messages.Save)
        @Html.GbdButton("cancleImpSrcCols", Messages.Cancel, isPrimary: false)
                                        


        @if (TempData["DestinationId"] != null)
        {

            <a class="btn btn-next" href='@Url.Action("Map", "Mapping", new { Area = "Datahub", sourceId = TempData["ImportSourceId"], destinationId = TempData["DestinationId"] })'>
                @("Click here to map source to destination for '" + TempData["ImportSourceName"] + "'")
            </a>
        }
    </div>
                                   }
                               </div>
                           }

                           else
                           {
                            

                               <div class="col-md-12">
                                   <div class="sg-ad-search-bar">

                                       <div class="input-group">
                                           <input id="impSrcClmns" type="text" class="form-control" placeholder="Please enter column name with comma seperation" />
                                           <div class="input-group-btn">@Html.GbdButton("generateimpsrcColmTable", "Generate", true)</div>
                                       </div>
                                   </div>

                                   <table class="table table-bordered add" id="sourceColumnTable">
                                       <tr>

                                           <th>@Messages_Datahub.Name</th>
                                           <th>@Messages_Datahub.Alias</th>
                                           <th>@Messages_Datahub.Data Type</th>
                                           <th>@Messages_Datahub.Length</th>
                                       </tr>

                                       @foreach (var items in (IEnumerable<SelectListItem>)ViewData["columns"])
                                       {
                                           <tr id="tr_@items.Value">
                                               @*<td style="display: none;"><label id="order+@items.Value">@items.Value</label></td>*@

                                               <td><input id="name+@items.Value" type="text" class="sg-tooltip form-control" data-toggle="tooltip" data-placement="right" title="Click to edit" /></td>
                                               <td style="display: none;">
                                                   @*@items.Text*@ <input type="hidden" class="sourceLabel" name="label[]" value="@items.Value" />
                                               </td>

                                               <td><input id="alias+@items.Value" type="text" class="sg-tooltip form-control" data-toggle="tooltip" data-placement="right" title="Click to edit" /></td>
                                               <td>
                                            @Html.DropDownList(@items.Value + "_dd", (IEnumerable<SelectListItem>)ViewData["datatype"], null, new { @class = "sourceDrop select2Drop form-control", @id = @items.Value + "_dd" })
                                               </td>
                                               <td>
                                                   <div class="input-group inline">
                                                       <input id="length+@items.Value" type="text" class="sg-tooltip form-control" data-toggle='tooltip' data-placement="left" title="Click to edit" value="100" />
                                                       <div class="input-group-btn">
                                                           <a id="remove_@items.Value" class="btn btn-danger removeBtn" data-toggle='tooltip' data-placement='top' title='remove the row'><i class="fa fa-close"></i></a>
                                                       </div>
                                                   </div>
                                               </td>


                                           </tr>

                                       }

                                   </table>
                                   <div class="btn-container">
                                       <button class="btn btn-primary" id="addMoreRow">@Messages.AddRow</button>
                                       <button class="btn btn-primary" id="getimpsrcColmns" type="submit">@Messages.Save</button>
                                   </div>
                               </div>


                           }
                       </div>
                   </div>
               </div>
                   <div id="DeleteAllColsModel" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
                       <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <button class="close" data-dismiss="modal" type="button">
                                       <span aria-hidden="true">×</span>
                                       <span class="sr-only">@Messages.Close</span>
                                   </button>
                                   <h4 id="myModalLabel" class="modal-title">@Messages_Datahub.DeleteColumn</h4>
                               </div>
                               <div class="modal-body">
                                   <h5>Are you sure you want to delete the selected column?</h5>
                               </div>
                               <div class="modal-footer">
                                   <button class="btn btn-primary" data-dismiss="modal" id="deleteAllcolsYes">@Messages.Yes</button>
                                   <button class="btn btn-danger" data-dismiss="modal" id="deleteallcolsNobtn">@Messages.No</button>

                               </div>
                           </div>
                       </div>
                   </div>

        <button class="btn" id="deleteallcolmodelbtn" data-target="#DeleteAllColsModel" data-toggle="modal" style="visibility: hidden;"></button>
    
                   @section Styles{
                       @Styles.Render("~/Styles/select2")
                   }


                   @section scripts{

        @Scripts.Render("~/bundles/select2")


                       <script type="text/javascript">
                           var workflowId = '@Request["workflowId"]';
                           var stepId = '@Request["stepId"]';
                           var dataTypeCollection = @Html.Raw(ViewData["dataTypeJson"]);
                           var urlImportSourceSetting = '@Url.Action("Index", "ImportSourceSetting", new {Area = "Datahub"})';
                           var importSourceId = '@Request["importSource"]';
                           var urlImportSourceColumnDelete = '@Url.Action("Delete", "ImportSourceColumnSetting", new {Area = "Datahub"})';
                           var urlAutoCompleteDataType = '@Url.Action("AutocompleteDatatype", "ImportSourceSetting", new {Area = "Datahub"})';
                           var urlCreateImportSourceColumn = '@Url.Action("Create", "ImportSourceColumnSetting", new {Area = "Datahub"})';
                           var fieldTerminator = '@ViewBag.FieldTerminatorSymbol';
                           var fieldTerminatorName = '@ViewBag.FieldTerminator';
                           var availableFieldTerminators = @Html.Raw(ViewBag.AvailableFieldTerminators);
                           var urlforDataTypeDropdownGetColumns =  '@Url.Action("GetImportSourceColumns", "ImportSourceColumnSetting", new { Area = "Datahub" })';
            var NumberOfImportSourceColumns = '@ViewData["NoOfImportSourceColumns"]';

                       </script>

                       @Scripts.Render("~/bundles/area/datahub/importsourcecolumn-index")

                   }
