﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sg-title">
                <h2>@Messages.ApplicationName</h2>
                <h6>@Messages.ApplicationSlogan</h6>
                @*<h4 style="opacity: .3;">Alpha Version</h4>*@
                <h6>Datahub @Html.AssemblyVersion()</h6>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 col-xs-12">
            <div class="sg-login">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()

                    if (ViewData.ModelState.Any(m => (m.Key != String.Empty)) && (ViewData.ModelState.Count >= 1 && ViewData.ModelState.Any(m => (m.Key.ToLower() != "returnurl"))))
                    {
                        if(!Html.ViewData.ModelState.IsValid)
                                {
                                    if (!Html.ValidationSummary().ToString().ToLower().Contains("anti-forgery"))
                                     {
                                         <div class="alert alert-danger alert-dismissible" role="alert">
                                             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                             <p>

                                                 @Html.ValidationSummary()

                                             </p>
                                         </div>
                                     }
                                }
                    }

                    <form class="form" role="form">
                        <div class="form-group">
                            
                            <label class="sr-only sg-uname" for="userName">@Messages.Username</label>
                            @*<input id="exampleInputEmail2" class="form-control sg-uname" type="text" placeholder="User name">*@
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control sg-uname", @autocomplete = "off", @placeholder = Messages.Username, @autofocus = "" })
                            @*<p> @Html.ValidationMessageFor(m => m.UserName)</p>*@
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">@Messages.Password</label>
                            @*<input id="exampleInputPassword2" class="form-control sg-password" type="password" placeholder="Password">*@
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control sg-password", @placeholder = Messages.Password })
                            @*<p>@Html.ValidationMessageFor(m => m.Password)</p>*@
                        </div>
                        @*<div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Messages.RememberMe
                            </label>
                        </div>*@
                        @*<a class="btn btn-primary" href="dashboard.html">Sign in</a>*@
                        <input type="submit" value="@Messages.SignIn" class="btn btn-primary" />

                    </form>
                }
            </div>
        </div>
    </div>
</div>