﻿@model dynamic
@if (Model == null)
{ 
    @ViewData.ModelMetadata.NullDisplayText
}
else if (ViewData.TemplateInfo.TemplateDepth > 1)
{
    @ViewData.ModelMetadata.SimpleDisplayText
}
else
{

    <div class="clearfix"></div>
    <div class="form-horizontal">
        
            @foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay))
            {
                if (prop.HideSurroundingHtml)
                {
                    @Html.Label(prop.PropertyName)
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            @prop.GetDisplayName()
                        </div>

                        <div class="col-md-8">@Html.Display(prop.PropertyName)</div>
                    </div>
                }
            }
        
    </div>
    
}