﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.FuzzyMatchSearchViewModel

@{
    ViewBag.Title = Messages_Datahub.FuzzyMatchSuggestion;
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header" id="errorBreadcumb">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Datahub" })">Dashboard (Import Errors)</a></li>
                <li><a href="@Url.Action("ErrorReport", "Dashboard", new { Area = "Datahub", id = @ViewBag.VendorId })">@ViewBag.VendorName</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="row">
            <div class="filter-controls">
                <div class="search-slide" id="filterExpand">
                    <i class="fa fa-toggle-left"></i>
                </div>
                <div id="SearchContainer" class="search-holder add">
                    <div class="sg-ad-search-bar">
                        <div class="search-div">
                            @Html.LabelFor(m => m.ReferenceTableName)

                            @Html.DropDownListFor(m => m.ReferenceTableName, (IEnumerable<SelectListItem>)ViewData["referenceTableName"], "--Choose", new { @class = "sourceDrop  form-control", @id = "referenceTableName" })
                        </div>
                        <div class="search-div">

                            @Html.LabelFor(m => m.ReferenceColumnName)

                            @Html.DropDownListFor(m => m.ReferenceColumnName, (IEnumerable<SelectListItem>)ViewData["referenceTableColumnName"], "--Choose", new { @class = "sourceDrop  form-control", @id = "referenceColumnName" })
                        </div>
                        <div class="search-div">

                            @Html.LabelFor(m => m.Similarity)

                            @Html.DropDownListFor(m => m.Similarity, (IEnumerable<SelectListItem>)ViewData["similarity"], null, new { @class = "sourceDrop  form-control", @id = "similarityPercent" })
                        </div>
                        <div class="btn-container bottom">
                            <input type="button" id="SearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                            <input type="button" id="ClearSearch" value="@Messages_Datahub.ClearSearch" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="has-filter">
                <div class="sg-datatable-wrap">
                    <table id="FuzzyMatchDataTable" class="display">
                        <thead>
                            <tr>
                                <th>LocalSku</th>
                                <th>Name</th>
                                <th>ProductSKU</th>
                                <th>ProductName</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    @section styles{


    @Styles.Render("~/Styles/datatable")
  
    }
    @section scripts{
        <script type="text/javascript">
            var vendorId = '@ViewBag.VendorId';
            var vendorName = '@ViewBag.VendorName';
            var fuzzyMatch = '@ViewBag.Title';
            var urlFuzzyMatchDetail = '@Url.Action("FuzzyMatch", "Suggestion", new {Area = "Datahub"})';
            var urlFuzzyMatchDataTable = '@Url.Action("GetFuzzyMatchDataTable", "Suggestion", new {Area = "Datahub"})';
        </script>
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/area/datahub/suggestion-fuzzymatch")
    }
