﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@*@using GBD.VendorProduct.
    @model GBD.VendorProduct.Models.PIMProductViewModel*@

@{
    ViewBag.Title = ViewBag.MainTitle;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                       "<li><a href='" + Url.Action("Index", "Dashboard", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Dashboard + "</a></li>" +
                       "<li><a href='" + Url.Action("ErrorReport", "Dashboard", new { Area = "Datahub", id = @ViewBag.VendorId }) + "'>" + @ViewBag.VendorName + "</a></li>" +
                       "<li class='active'> " + Messages_Datahub.ImportStatistics + "</li>" +
                   "</ol>");
}


<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
        <li class="active header">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Datahub" })">@Messages_Datahub.Dashboard (@Messages_Datahub.ImportStatistics)</a></li>
                <li><a href="@Url.Action("ErrorReport", "Dashboard", new { Area = "Datahub", id=@ViewBag.VendorId })">@ViewBag.VendorName</a></li>
                <li class="active">@ViewBag.MainTitle</li>
            </ol>

        </li>
    </ul>
</div>



<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper" id="vendorProductCatalog">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">
                <span class="nav pull-left panel-table-head">@Messages_Datahub.VendorProductData</span>
                @*<button class="btn"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; @Messages.ShowDetail</button>*@
                <button class="btn" id="addNewProduct"><span class="glyphicon glyphicon-plus"></span>&nbsp; @Messages_Datahub.AddNewVendorProduct</button>
                <button id="btnRejectId" class="btn"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp; @Messages.Reject</button>
                <div class="btn-group isShowBvp">
                    <button type="button" id="catalogVendorProductPricing" class="btn  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @Messages_Datahub.BulkVendorProduct
                        <span class="caret"></span>
                        <span class="sr-only">@Messages_Datahub.ToggleDropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a id="btnLoadIntoBvp" href="javascript:void(0)">@Messages_Datahub.LoadSelected</a></li>
                        <li><a id="btnLoadIntoBvpAll" href="javascript:void(0)">Load All</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="sg-table-sleek-wrap"
            <div class="sg-datatable-wrap">
                <div id="grid-div"></div>
            </div>
        </div>
    </div>
</div>



@section styles{

    @Styles.Render("~/Styles/datatable")

}
@section scripts{

    <script type="text/javascript">

    // Url
    var urlProductCatalogDetails = '@Url.Action("ProductCatalogSuggestionForNullSku", "Suggestion", new {Area = "Datahub"})';
    var urlVendorProductCatalogDetails = '@Url.Action("VendorProductCatalogSuggestionForNullSku", "Suggestion", new { Area = "Datahub" })';
    var urlAssignPartNumber = '@Url.Action("AssignPartNumber", "Suggestion", new { Area = "Datahub" })';
    var urlRejectPartNumber = '@Url.Action("RejectPartNumber", "Suggestion", new { Area = "Datahub" })';
    var urlSuggestionAggregates = '@Url.Action("RefreshMatchSuggestionList", "Suggestion", new { Area = "Datahub" })';
    var urlGetProductCatalogById = '@Url.Action("getProductCatalogUpdate", "Catalog", new { Area = "Datahub" })';
    var urlGetVendorProductCatalogById = '@Url.Action("getVendorProductCatalogUpdateViewCatalog", "Catalog", new { Area = "Datahub" })';
    var urlCreateProductCatalog = '@Url.Action("ProductCatalogInsertModelBySuggestion", "Suggestion", new { Area = "Datahub" })';
    var urlProductCataglogCreate = '@Url.Action("Create","ProductCatalog",new{Area="Datahub"})';
    var urlRejectProductCatalog = '@Url.Action("ProductCatalogRejectBySuggestion", "Suggestion", new { Area = "Datahub" })';
    var urlVendorProductCatalogCreate = '@Url.Action("Create","VendorProductCatalog",new{Area="Datahub"})';
        // Data from controller
    var vendorId = '@ViewBag.VendorId';
    var skuType = '@ViewBag.SkuType';
    var unmatchedData = '@Html.Raw(ViewBag.MatchedRecords)';
    var returnObject = @Html.Raw(ViewBag.ReturnObject);

    var productCatalogVM = '@Html.Raw(Model)';
    var errorType = '@ViewBag.errorType';
    var logUserUploadId = '@ViewBag.logUserUploadId';
    var stagingId = '@ViewBag.stagingId';
    var urlProductSuggestionValidation = '@Url.Action("ValidateProductSuggestion", "Suggestion", new { Area = "Datahub" })';

    var urlGetSuggestionUnmatched = '@Url.Action("GeSuggestionUnmatchedDataTable", "Suggestion", new { Area = "Datahub" })';
    var urlGetSuggestionmatched = '@Url.Action("GeSuggestionmatchedDataTable", "Suggestion", new { Area = "Datahub" })';

    var urlBulkUpdateImportException = '@Url.Action("BulkVendorProduct", "Catalog", new {Area = "Datahub"})';

    var title = '@ViewBag.MainTitle';
        if (title == 'SUGGESTED MATCH - LOCALSKU 1TO1 MATCH') {
            $('.isShowBvp').show();
        }
        else {
            $('.isShowBvp').hide();
        }
    </script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/partnumbersuggestionmatched")

}

