﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@*@using GBD.VendorProduct.
    @model GBD.VendorProduct.Models.PIMProductViewModel*@

@{
    ViewBag.Title = "Part Number Suggestion";

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                       "<li><a href='" + Url.Action("Index", "Dashboard", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Dashboard + "</a></li>" +
                       "<li class='active'>Import Statistics</li>" +
                   "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
        <li class="active header">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Datahub" })">Dashboard (Import Statistics)</a></li>
            @*<li><a href="@Url.Action("ErrorReport", "Home", new { Area = "", id = @ViewBag.PIMPIMPIMVendorId })">@ViewBag.VendorName</a></li>*@
                <li class="active">@ViewBag.SkuTypeWithSpaces</li>
            </ol>
            @*<a href="#ViewCatalog">Import Errors > @ViewBag.VendorName > @ViewBag.SkuTypeWithSpaces</a>*@
        </li>
    </ul>
</div>
<div class="modal-body">
    <div class="sg-adj-nav" id="matchedSuggestionListDivId">
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: matchSuggestionList">
            <li role="presentation" data-bind="css: { active: DestinationColumnName == $root.selectedData() }">
                <a data-bind="click: $root.productCatalogItemClick" href="#">
                    <span id="ErrorName" data-bind="text: DestinationColumnName"></span>&nbsp;
                    <span id="ErrorCount" class="badge badge-success pull-right" style="float: right;" data-bind="text: Count"></span>
                </a>
            </li>

        </ul>
    </div>
    <div class="sg-adj-content">
        <div class="row">
            <div class="col-md-12" id="productCatalog" data-bind="visible: showProductCatalog" style="display: none;">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <span class="nav pull-left panel-table-head">Local Product Catalog</span>
                        <button class="btn" data-bind="click: productSuggestionClick, enable: productCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-file"></span>&nbsp; Suggestion</button>
                        <button class="btn" data-bind="click: productDetailClick, enable: productCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Show Detail</button>

                    </div>
                </div>
                <div class="sg-table-sleek-wrap">
                    <table style="height: 40%; overflow:auto;" class="sg-table-sleek" id="suggestionProductCatalogGrid">
                        <thead>
                            <tr>
                                <th width="30"><input type="checkbox" data-bind="checked: productCatalogMasterCheck" /></th>
                                <th>Part Number</th>
                                <th style="min-width: 100px;">Name</th>
                                <th style="min-width: 160px;">Description</th>
                                <th>ISBN</th>
                                <th>NSN</th>
                                <th>UPC</th>
                                <th>EAN</th>
                                <th>MPN</th>
                                <th>ASIN</th>
                                <th>Sale Price</th>

                            </tr>
                        </thead>

                        <tbody data-bind="foreach: productCatalogList">

                            <tr>
                                <td><input type="checkbox" class="listProductCatalog" data-bind="checked: IsChecked" /></td>
                                <td><span data-bind="text: LocalSku"></span></td>
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: ShortDescription"></span></td>
                                <td><span data-bind="text: ISBN"></span></td>
                                <td><span data-bind="text: NSN"></span></td>
                                <td><span data-bind="text: UPC"></span></td>
                                <td><span data-bind="text: EAN"></span></td>
                                <td><span data-bind="text: MPN"></span></td>
                                <td><span data-bind="text: ASIN"></span></td>
                                <td><span data-bind="text: SalePrice"></span></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12" id="vendorProductCatalog" data-bind="visible: showVendorProductCatalog" style="display: none; margin-top: 15px;">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <span class="nav pull-left panel-table-head">Vendor Product Data</span>
                        <button id="btnAssignId" class="btn" data-bind="click: vendorProductAssignClick, enable: vendorProductCatalogCheckedIdList().length == 1 && productCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-ok"></span>&nbsp; Assign</button>
                        <button class="btn" data-bind="click: vendorProductDetailClick, enable: vendorProductCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Show Detail</button>
                        <button class="btn" data-bind="click: newProductClick, enable: vendorProductCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Product</button>
                        <button id="btnRejectId" class="btn" data-bind="click: vendorProductRejectClick, enable: vendorProductCatalogCheckedIdList().length == 1"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp; Reject</button>
                    </div>
                </div>
                <div class="sg-table-sleek-wrap">
                    <table class="sg-table-sleek" id="suggestionVendorProductCatalogGrid">
                        <thead>
                            <tr>
                                <th width="30"><input type="checkbox" data-bind="checked: vendorProductCatalogMasterCheck" /></th>
                                <th>Vendor Part Number</th>
                                <th>Matched Using Value</th>

                                <th style="min-width: 120px;">Name</th>
                                <th>Description</th>
                                <th>Cost</th>

                            </tr>
                        </thead>
                        <tbody data-bind="foreach: vendorProductCatalogList">

                            <tr data-bind="attr: { 'id': Id }">
                                <td><input type="checkbox" data-bind="checked: IsChecked" /></td>
                                <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="top" data-bind="attr: { title: IsChecked() == true ? 'Click to edit' : 'Tick the checkbox to edit' }"> <input type="text" data-bind="value: VendorPartNumber, enable: IsChecked" /> </span></td>
                                <td><span data-bind="text: MatchedUsingValue"></span></td>
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td><span data-bind="text: Cost"></span></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog-product-catalog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Product Catalog</h3>
            </div>
            <div class="modal-body form-horizontal">
                <div class="col-md-6">
                    <table class="sg-form">
                        <tr>
                            <td>
                                <label>Part Number</label>
                            </td>
                            <td>
                                <input id="LocalSku" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Location</label>
                            </td>
                            <td>
                                <input id="Location" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                                <input id="Name" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label>Priority</label>
                            </td>
                            <td>
                                <input id="Priority" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                
                                <label>Description</label>
                            </td>
                            <td>
                                <input id="Description" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Is Enabled</label>
                            </td>
                            <td>
                                <select id="IsEnabled123" name="isEnabled" disabled="disabled">
                                    <option value="2">--Choose</option>
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Sale Price</label>
                            </td>
                            <td>
                                <input id="SalePrice" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label>Price</label>
                            </td>
                            <td>
                                <input id="Price" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <label>Weight</label>
                            </td>
                            <td>
                                <input id="Weight" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-6">

                    <table class="sg-form">
                        <tr>
                            <td>
                                <label>Height</label>
                            </td>
                            <td>
                                <input id="Height" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Width</label>
                            </td>
                            <td>
                                <input id="Width" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Length</label>
                            </td>
                            <td>
                                <input id="Length" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Material</label>
                            </td>
                            <td>
                                <input id="Material" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>ISBN</label>
                            </td>
                            <td>
                                <input id="ISBN" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>NSN</label>
                            </td>
                            <td>
                                <input id="NSN" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>UPC</label>
                            </td>
                            <td>
                                <input id="UPC" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>EAN</label>
                            </td>
                            <td>
                                <input id="EAN" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>MPN</label>
                            </td>
                            <td>
                                <input id="MPN" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label>ASIN</label>
                            </td>
                            <td>
                                <input id="ASIN" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                    </table>
                    <input id="ProductCatalogUpdateId" type="text" style="display:none;" />
                </div>

            </div>
            <div class="modal-footer">
                @*<input type="submit" value="Update" class="btn btn-success" id="PIMProductUpdatebtn" name="ButtonType" />*@
                <button class="btn btn-danger" data-dismiss="modal" id="UpdatePCcancelbtn" type="submit">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-vendor-product-catalog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Vendor Product Catalog</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="col-md-6">
                    <table class="sg-form">
                        <tr>
                            <td><label>Vendor Part Number&nbsp;</label></td>
                            <td>
                                <input id="VPCVendorPartNumber" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Name</label></td>
                            <td>
                                <input id="VPCName" type="text" class="form-control" disabled="disabled" />
                            </td>

                        </tr>
                        <tr>
                            <td><label>Cost</label></td>
                            <td>
                                <input id="VPCCost" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Description</label></td>
                            <td>
                                <input id="VPCDescription" type="text" class="form-control" disabled="disabled" />

                            </td>
                        </tr>
                        <tr>
                            <td><label>Is Disabled</label></td>
                            <td>
                                <select id="VPCIsDisabled" disabled="disabled">
                                    <option value="2">--Choose</option>
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><label>Minimum Order Unit</label></td>
                            <td>
                                <input id="VPCMinimumOrderUnit" type="text" class="form-control" disabled="disabled" />

                            </td>
                        </tr>

                        <tr>
                            <td><label>Minimum Order Quantity</label></td>
                            <td>
                                <input id="VPCMinimumOrderQuantity" type="number" class="form-control" disabled="disabled" />
                            </td>
                        </tr>


                        <tr>
                            <td><label>On Order</label></td>
                            <td>
                                <input id="VPCOnOrder" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Quantity Per Lot</label></td>
                            <td>
                                <input id="VPCQuantityPerLot" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="sg-form">
                        <tr>
                            <td><label>Lot Part Number</label></td>
                            <td>
                                <input id="VPCLotPartNumber" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Lot Barcode</label></td>
                            <td>
                                <input id="VPCLotBarcode" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Cost Per Lot</label></td>
                            <td>
                                <input id="VPCCostPerLot" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Order By</label></td>
                            <td>
                                <select id="VPCOrderBy" name="VPCOrderBy" class="form-control" disabled="disabled">
                                    <option value="2">--Choose</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><label>Manufacturers Barcode</label></td>
                            <td>
                                <input id="VPCManufacturersBarcode" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Lot Description</label></td>
                            <td>
                                <input id="VPCLotDescription" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Lead Time In Days</label></td>
                            <td>
                                <input id="VPCLeadTimeInDays" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>

                        <tr>
                            <td><label>Can Not Dropship</label></td>
                            <td>
                                <select id="VPCCanNotDropship" disabled="disabled">
                                    <option value="2">--Choose</option>
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="UpdateVPCcancelbtn" type="submit">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="assign-modal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Assign</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to assign the Product Catalog to Vendor Product Catalog?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="assignModalYes" data-dismiss="modal" data-bind="click: assignPartNumberClick">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal" id="assignModalNo">No</button>
            </div>
        </div>
    </div>
</div>

<div id="reject-modal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Reject</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to reject the selected Vendor Product Catalog?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="rejectModalYes" data-dismiss="modal" data-bind="click: rejectPartNumberClick">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal" id="rejectModalNo">No</button>
            </div>
        </div>
    </div>
</div>

<div id="createProductCatalog" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Create Product Catalog</h4>
            </div>
            <div class="modal-body">
                <div class="product-catalog-editor">
                    @*@Html.EditorForModel()*@
                
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" id="assignModalYess" data-bind="click: createNewProduct">Add Product</button>
                <button class="btn btn-danger" data-dismiss="modal" id="assignModalNo">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section styles{
    @Styles.Render("~/Styles/datatable")

}

@section scripts{


    <script type="text/javascript">

        // Url
        var urlProductCatalogDetails = '@Url.Action("ProductCatalogSuggestionForNullSku", "Suggestion", new {Area = "Datahub"})';
        var urlVendorProductCatalogDetails = '@Url.Action("VendorProductCatalogSuggestionForNullSku", "Suggestion", new { Area = "Datahub" })';
        var urlAssignPartNumber = '@Url.Action("AssignPartNumber", "Suggestion", new { Area = "Datahub" })';
        var urlRejectPartNumber = '@Url.Action("RejectPartNumber", "Suggestion", new { Area = "Datahub" })';
        var urlSuggestionAggregates = '@Url.Action("RefreshMatchSuggestionList", "Suggestion", new { Area = "Datahub" })';
        var urlGetProductCatalogById = '@Url.Action("getProductCatalogUpdate", "Catalog", new { Area = "Datahub" })';
        var urlGetVendorProductCatalogById = '@Url.Action("getVendorProductCatalogUpdateViewCatalog", "Catalog", new { Area = "Datahub" })';
        var urlCreateProductCatalog = '@Url.Action("ProductCatalogInsertModelBySuggestion", "Suggestion", new { Area = "Datahub" })';

        // Data from controller
        var skuMatchedSuggestionAggData = '@Html.Raw(ViewBag.SKUMatchedSuggestionAggregate)';
        skuMatchedSuggestionAggData = ko.utils.parseJson(skuMatchedSuggestionAggData);
        var vendorId = '@ViewBag.VendorId';
        var skuType = '@ViewBag.SkuType';
        var unmatchedData = '@Html.Raw(ViewBag.UnmatchedRecords)';
        var matchedDataNull = '@Html.Raw(ViewBag.MatchedRecordsNull)';

        var productCatalogVM = '@Html.Raw(Model)';

    </script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/partnumbersuggestion")
}