﻿@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel
@{
    ViewBag.Title = "Part Number Suggestion";
}


<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
        <li class="active header">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Datahub" })">Dashboard (Import Statistics)</a></li>
                <li><a href="@Url.Action("ErrorReport", "Dashboard", new { Area = "Datahub", id = @ViewBag.VendorId })">@ViewBag.VendorName</a></li>
                <li class="active">@ViewBag.SkuTypeWithSpaces</li>
            </ol>
            @*<a href="#ViewCatalog">Import Errors > @ViewBag.VendorName > @ViewBag.SkuTypeWithSpaces</a>*@
        </li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" id="productCatalog">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <span class="nav pull-left panel-table-head">Staging Data</span>
                        <button class="btn" id="btnLoadSuggestion"><span class="glyphicon glyphicon-file"></span>&nbsp; Suggestion</button>
                    </div>
                </div>


                <div id="grid-div"></div>

            </div>


            <input type="hidden" id="hdntxtboxSuggestionLoadGuid" />

            <div class="col-md-12" id="vendorProductCatalog" style="display: none; margin-top: 15px;">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <span class="nav pull-left panel-table-head">Product Catalog Data</span>
                        <button id="btnAssignSuggestedData" class="btn"><span class="glyphicon glyphicon-ok"></span>&nbsp; Assign</button>
                    </div>
                </div>

                <div class="sg-table-sleek-wrap" id="grid-suggestion"></div>
            </div>
        </div>
    </div>
</div>



@section styles{
    @Styles.Render("~/Styles/datatable")
}


@section Scripts {


    <script type="text/javascript">
        var returnObject = @Html.Raw(ViewBag.ReturnObject);
        var urlGetSuggestedData ='@Url.Action("GetProductSuggestions", "Suggestion", new { Area = "Datahub" })';
        var urlAssignSuggestedData = '@Url.Action("AssignSuggestedData", "Suggestion", new { Area = "Datahub" })';
        var vendorId = '@Request["vendorId"]';
        var skuType = '@Request["skuType"]';
        var errorType = '@Request["errorType"]';
        var logUserUploadId = '@Request["logUserUploadId"]';
        var stagingId = '@Request["stagingId"]';
        var createUrl = '@Url.Action("Create", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlProductSuggestionValidation = '@Url.Action("ValidateProductSuggestion", "Suggestion", new { Area = "Datahub" })';
        var urlProductSuggestionDataTable = '@Url.Action("ProductSuggestionDataTable", "Suggestion", new { Area = "Datahub" })';
        var urlProductSuggestedDataTable ='@Url.Action("ProductSuggestedDataTable", "Suggestion", new { Area = "Datahub" })';
        var urlRejectProductCatalog = '@Url.Action("ProductCatalogRejectBySuggestion", "Suggestion", new { Area = "Datahub", returnUrl = Url.Action("Index", "Catalog", new { Area = "Datahub" })})';
    </script>

    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/product-suggestion")

}

