﻿@*@model List<gbd.universaldatahub.areas.datahub.models.productsuggestionvalidationviewmodel>*@
    @using GBD.UniversalDataHub.Areas.Datahub.Resources    
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers 
@model List<GBD.UniversalDataHub.Areas.Datahub.Models.ProductSuggestionValidationViewModel>
    @{
        ViewBag.Title = "ValidateProductSuggestion";
    }
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
        <li class="active header">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new {Area = "Datahub"})">Dashboard (Import Statistics)</a></li>
                <li><a href="@Url.Action("ErrorReport", "Dashboard", new {Area = "Datahub", id = @ViewBag.VendorId})">@ViewBag.VendorName</a></li>
                <li id="ProductSuggestionLink"><a href="@Url.Action("ProductSuggestion", "Suggestion", new {Area = "Datahub", vendorId = @ViewBag.VendorId, skuType = @ViewBag.SkuType, errorType = @ViewBag.ErrorType, logUserUploadId = @ViewBag.LogUserUploadId, stagingId = @ViewBag.StagingId})">@ViewBag.SkuTypeWithSpaces</a></li>
                <li class="active">Product Suggestion Validation</li>
            </ol>
         
        </li>
    </ul>
</div>
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="row">

            <div class="col-sm-12">

                <div class="pull-left">
                    <h5>
                        <label>@Messages_Datahub.ProductName:</label>
                        <label id="productName"></label>
                        @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                        |
                        <label>@Messages_Datahub.LocalSKU:</label>
                        @*<span data-bind="text: LocalSku"></span>*@
                        <label id="localSku"></label>
                        @*@Html.TextBoxFor(m => m.LocalSku).Databind("value: LocalSku, enable: false")*@

                    </h5>
                </div>

                <div class="clearfix"></div>


                @using (Ajax.BeginForm("StagingDataValidateAssign", "Suggestion", new { productId = @ViewBag.ProductId, stagingId = @ViewBag.StagingId, guid = @ViewBag.Guid, importSourceId = @ViewBag.ImportSourceId, skuType = @ViewBag.SkuType, vendorId = @ViewBag.VendorId, errorType = @ViewBag.ErrorType, logUserUploadId = @ViewBag.LogUserUploadId }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <table id="productSuggestionTable" width="100%">

                        <tr>
                            <th width="1"></th>
                            <th width="1"></th>
                            <th>Staging Column</th>
                            
                            <th>Mapped To</th>
                            <th>Value</th>
                            <th></th>
                        </tr>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td> @Html.HiddenFor(x => x[i].DestinationColumnId) </td>
                                <td>@Html.HiddenFor(x => x[i].ImportSourceColumnId) </td>
                                <td>@Html.DisplayFor(x => x[i].ImportSourceColumnName) @Html.HiddenFor(x => x[i].ImportSourceColumnName)</td>
                           
                                <td> @Html.DisplayFor(x => x[i].DestinationColumnName) @Html.HiddenFor(x => x[i].DestinationColumnName)  </td>
                                <td> @Html.TextBoxFor(x => x[i].ImportSourceColumnValue, new { @id = @Html.DisplayFor(x => x[i].DestinationColumnName), @class = "stagingValue form-control" }) </td>
                                <td><input type="text" class="ErrorDescriptionText form-control" id="@Html.DisplayFor(x => x[i].DestinationColumnName)_description" readonly /></td>
                            </tr>
                        }
                    </table>

                    <div class="btn-container">
                            @Html.GbdSubmitButton("GbdSaveValidateStagingData", Messages.Save)
                            @*@Html.GbdButton("cancleImpSrcCols", Messages.Cancel, isPrimary: false)*@
                    </div>

                }
            </div>
        </div>
    </div>

@section styles{

        @Styles.Render("~/Styles/datatable")
       
    }


    @section Scripts {

       <script type="text/javascript">


           var urlProductSuggestion = '@Url.Action("ProductSuggestion", "Suggestion", new {Area = "Datahub"})' + "?vendorId=" + '@ViewBag.VendorId' + "&skuType=" + '@ViewBag.SkuType' + "&errorType=" + '@ViewBag.ErrorType' + "&logUserUploadId=" + '@ViewBag.LogUserUploadId' + "&stagingId=" + '@ViewBag.StagingId';

           var productName = '@ViewBag.ProductName';
           var localSku = '@ViewBag.LocalSku';

           $('#productName').html(productName);
           $('#localSku').html(localSku);



       </script>



       @Scripts.Render("~/bundles/datatable")
        
        @Scripts.Render("~/bundles/area/datahub/validateproductsuggestion")
        


    }

