﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.FormulaViewModel

<div class="pre-requisite">

    <div class="clearfix mgbtm8"></div>
    <div id="withDirectQueryDiv">

        <ul class="list-group udh-rules list-unstyled" id="ruleManagerUl">
            <li class="list-group-item title">
                <span class="col-md-7">@Html.Label(Messages_Datahub.If, new { @class = "check-condition " })</span>
                <span class="col-md-3">@Html.Label(Messages_Datahub.Then, new { @class = "pass-statement " })</span>
            </li>
            @*<li class="list-group-item" id="tr_1">
                <div id="builder_1" class="col-md-5 ruleBuilder"></div>

                <span class="col-md-5">
                    <textarea id="passStatement_1" class="form-control rule-container pass-statementContainer" style="resize: vertical;" placeholder="Type your SQL query here to execute if condition is met. e.g. @("@CostPerLot / @QuantityPerLot")"></textarea>
                </span>

                <span class="col-md-2">
                    <button id="remove_1" type="button" class="btn btn-xs btn-danger remove-btn" data-delete="rule" data-toggle='tooltip' data-placement='top' title='@Messages_Datahub.RemoveRule'> <i class="glyphicon glyphicon-remove"></i> @Messages.Delete </button>
                </span>
            </li>*@
        </ul>
        @Html.GbdButtonWithSpan("addMoreRule", Messages_Datahub.AddCondition, "glyphicon-plus", true, "btn btn-success pull-left")
        <div class="clearfix mgbtm8"></div>
        <div class="row">
            <div class="col-md-7">
                <label class="default-value">@Messages_Datahub.DefaultValue</label>
            </div>
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.FailStatement, new { placeholder = "Type your default value here to execute if none of the condition is met. e.g. @Cost", @class = "formula form-control custom-rule-container" })
            </div>

        </div>
    </div>
    
    <div id="withRuleCombinationDiv">
        <div class="content-wrapper">
            <div class="input-group">
                <div class="input-group-addon">
                    <label>@Messages_Datahub.AvailableRules</label>
                </div>
                <select id="availableRulesList">
                    <option></option>
                </select>
            </div>
            <div class="clearfix mgbtm8"></div>
            <div class="clearfix mgbtm8"></div>
            <div id="ruleConditionDiv">
                <h4 class="selectedRules"><strong class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Rule Condition: This is the parent rule condtion for all the selected rules">@Messages_Datahub.Rule @Messages_Datahub.Condition</strong></h4>

                <div id="ruleCombinationQuerybuilder"></div>
            </div>
            <h4 class="selectedRules"><strong class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Rules Selected: These rules are executed in the order from top to bottom when the rule condition above is satisfied">@Messages_Datahub.SelectedRules</strong></h4>
            <ul id="selectedRulesUl" class="list-group pricing list-unstyled available-rules">
                <li class="list-group-item title">
                        <span class="col-md-5">@Html.Label(Messages_Datahub.Rule)</span>
                        <span class="col-md-6">@Html.Label(Messages_Datahub.Parameters)</span>
                        <span class="col-md-1">&nbsp;</span>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="clearfix mgbtm8"></div>