@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.FormulaViewModel
@{
    ViewBag.Title = Messages.Add + " " + Messages_Datahub.BusinessRules;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                "<li>" + Messages_Datahub.Settings + "</li>" +
                "<li><a href='" + Url.Action("Index", "RulesManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.BusinessRules + "</a></li>" +
                "<li class='active'>" + ViewBag.Title + "</li>" +
            "</ol>");
}


<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div id="ruleManagerDiv">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group multidrop">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.FormulaScopeId)
                        </div>
                        @Html.DropDownListFor(x => x.FormulaScopeTypeSdvId, (IEnumerable<SelectListItem>)ViewData["FormulaScopeType"], Messages.PleaseSelect, new { @class = "form-control", @id = "FormulaScopeTypeSdvId" })
                        <select class="form-control" id="FormulaScopeId">
                            <option>@Messages.PleaseSelect</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.FormulaName)
                            @Html.HiddenFor(m => m.Id)

                        </div>
                        @Html.TextBoxFor(model => model.FormulaName, new { placeholder = "Rule Name, e.g. Cost Per Unit", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FormulaName)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label>@Messages_Datahub.Type</label>
                        </div>
                        @Html.DropDownListFor(x => x.FormulaTypeSdvId, (IEnumerable<SelectListItem>)ViewData["FormulaType"], new { @class = "form-control", @id = "FormulaTypeSdvId" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.FormulaDescription)

                        </div>
                        @Html.TextBoxFor(model => model.FormulaDescription, new { placeholder = "Rule Description, e.g. Cost Per Unit = CostPerLot / LotQuantity", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FormulaName)
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="col-md-12">
                    @*<label>@Messages_Datahub.PreRequisite</label>
                        <label class="errorPara">*</label>*@
                    @Html.RadioButtonForSelectList(m => m.HasChildRules, (IEnumerable<SelectListItem>)ViewData["RuleFormationType"])
                    <div class="clearfix mgbtm8"></div>
                    @Html.Partial("_RuleTable")
                </div>
            </div>
            <div class="btn-container">
                <input type="submit" id="btn-save" class="btn btn-primary" value="@Messages.Save" />
                <button id="btnCancel" class="btn btn-danger" value="Cancel">@Messages.Cancel</button>
            </div>
        </div>
    </div>
</div>
@section styles{

    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/query-builder")


    <style>
         .error {
            color: red;
            font-size: 12px;
        }

        .selectedRules {
            color: seagreen;
        }

        .formula {
            /*min-height: 25px;*/
            margin-bottom: 10px;
        }

        .fail-statement {
            color: red;
        }

        .rules-list {
            list-style-type: none;
        }

        
    </style>

}

@section scripts{

    @Scripts.Render("~/bundles/mention")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/querybuilder")

    <script type="text/javascript">
    var urlIndexRuleManager = '@Url.Action("Index", "RulesManager", new {Area = "Datahub"})';
    var urlGetMentionJsData = '@Url.Action("GetTableSchemaForMentionJs", "RulesManager", new {Area = "Datahub"})';
    var urlCreateRulesManager = '@Url.Action("Create", "RulesManager", new {Area = "Datahub"})';
    var errorOccurredMessage = '@Messages.ErrorOccured';
    var deleteMessage = '@Messages.Delete';
    var removeMessage = '@Messages.Delete';
    var removeRuleMessage = '@Messages_Datahub.RemoveRule';
    var pleaseSelectMessage = '@Messages.PleaseSelect';
    var urlGetFormulaScopeList = '@Url.Action("GetFormulaScopeList", "RulesManager", new {Area = "Datahub"})';
    var urlGetAvailableRules = '@Url.Action("GetAvailableRules", "RulesManager", new {Area = "Datahub"})';
    var urlGetColumnsForQueryBuilder = '@Url.Action("GetColumnsForQueryBuilder", "RulesManager", new {Area = "Datahub"})';
    var selectOneRuleScopeMessage = '@Messages_Datahub.Alert_SelectOneRuleScope';
    var patternForPassData = '@ViewBag.PatternForPass';
    var pattern = @ViewBag.PatternForPass;

    $('#btnCancel').click(function () {
        window.location = urlIndexRuleManager;
    });
    </script>

    @Scripts.Render("~/bundles/area/datahub/rulemanager-create")
}
