﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.FormulaViewModel

@{
    ViewBag.Title = Messages_Datahub.BusinessRules;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                "<li>" + Messages_Datahub.Settings + "</li>" +
                "<li class='active'>" + Messages_Datahub.BusinessRules + "</li>" +
            "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body" id="map">
                    @Html.GbdButtonWithSpan("btnCreateRuleManager", Messages.Add, "glyphicon glyphicon-plus")
                    @Html.GbdButtonWithSpan("btnUpdateRuleManager", Messages.Edit, "glyphicon glyphicon-edit")
                    @Html.GbdButtonWithSpan("btnDeleteRuleManager", Messages.Delete, "glyphicon glyphicon-trash")
                    @Html.GbdButtonWithSpan("btnDisableRuleManagerr", Messages.EnableDisable, "glyphicon glyphicon-ban-circle")

                </div>
            </div>

            <div class="sg-datatable-wrap" id="VPCGridWrap">
                <table id="RuleGrid" class="sg-data">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBoxVendorProductCatalog" style="display: none;" /></th>
                            <th>@Messages_Datahub.RuleName</th>
                            <th>@Messages_Datahub.RuleType</th>
                            <th>@Messages.CreatedBy</th>
                            <th>@Messages.CreatedDate</th>
                            <th>@Messages_Datahub.Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <input type="hidden" id="idContainerHiddenFieldForDelete" />
            @using (@Html.GbdConfirmDialog("divConfirmDelete", Messages.Delete + " " + Messages_Datahub.Rule))
            {
                <p>@string.Format(Messages.confirmation_Message_Delete0, Messages_Datahub.Rule)</p>
            }

            @using (@Html.GbdConfirmDialog("divConfirmDisable", Messages.Disable + " " + Messages_Datahub.Rule))
            {
                <p>@string.Format(Messages.confirmation_Message_Disable0, Messages_Datahub.Rule)</p>
            }
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/datatable")

    <style>
        .error {
            color: red;
            font-size: 12px;
        }

        .formula {
            /*min-height: 25px;*/
            margin-bottom: 10px;
        }

        .check-condition {
            color: blue;
        }

        .pass-condition {
            color: green;
        }

        .fail-condition {
            color: red;
        }
    </style>

}

@section Scripts
{
    <script src="~/Scripts/typeahead.bundle.js"></script>

    @Scripts.Render("~/bundles/mention")

    <script type="text/javascript">
        
    var urlGetTransformationRule = '@Url.Action("GetTransformationRule", "RulesManager", new {Area = "Datahub"})';
    var urlGetTransformationRuleDataTable = '@Url.Action("GetTransformationRuleDataTable", "RulesManager", new {Area = "Datahub"})';
    var urlCreateRuleManager = '@Url.Action("Create","RulesManager",new{Area="Datahub"})';
        var urlEdit = '@Url.Action("Edit","RulesManager",new{Area="Datahub"})';
        var urlDelete = '@Url.Action("Delete","RulesManager",new{Area="Datahub"})';
    var urlDisable = '@Url.Action("EnableDisableRule", "RulesManager", new { Area = "Datahub" })';
    
    </script>

    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/rulemanager-index")

}
