﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="DismissImportExceptionModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Confirmation </h4>
            </div>
            <div class="modal-body">
                <h5>
                    <label id="dismissImportExceptionMessageLabel"></label>
                    <br />
                    <label id="dismissImportExceptionLabel2"></label>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" value="" title="Dismiss selected item(s)" class="btn btn-success sg-tooltip" id="btnYesDismissImportExceptionModal" name="ButtonType" data-toggle="tooltip" data-placement="top">@Messages.Yes</button>
                <button class="btn btn-danger sg-tooltip" title="Cancel (and do nothing)" data-dismiss="modal" id="btnNoDismissImportExceptionModal" type="submit" data-toggle="tooltip" data-placement="top">@Messages.No</button>
            </div>
        </div>
    </div>
</div>