﻿@model IEnumerable<GBD.UniversalDataHub.AppServices.MessageBoard.NotificationDto>
                  
                      @*<table class=" table">
                         *@

                          @foreach (var item in Model)
                          {
                              @*<tr>

                                  <td>*@
                                      @Html.Raw(item.Message)
                     
                                  @*</td>

                              </tr>*@
                          }
                      @*</table>*@
