﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.ImportErrors;
    
    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                        "<li><a href='" + Url.Action("Index", "Dashboard", new { Area = "Datahub" }) +"'>" + Messages_Datahub.Dashboard + "</a></li>" +
                        "<li class='active'>" + Messages_Datahub.ImportStatistics + "</li>" +
                    "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header" id="errorBreadcumb">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Dashboard", new {area = "Datahub"})" id="level1"> @Messages_Datahub.ImportStatistics</a></li>
                <li class="active"><a href="@Url.Action("ErrorReport", "Dashboard", new {Area = "Datahub", id = @ViewBag.VendorId})">@ViewBag.VendorName</a></li>
                <li class="active" id="level3"></li>
            </ol>
        </li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper h100">
    <div class="col-sm-4 col-md-4 col-lg-3 h100">
        <div class="sg-datatable-wrap add">
            <ul class="nav nav-pills nav-stacked error-list" data-bind="foreach: errorClassificationList">
                <li class="errorCatagory" role="presentation" data-bind="css: { active: ErrorName() == $root.selectedData() }">

                    <a data-bind="css: { 'anchor-disable': ErrorName() == 'All' }" href="#">
                        <span data-bind="click: $root.errorClick">
                            <span id="ErrorName" class="sg-tooltip ErrorsDescription " data-toggle="tooltip" data-placement="right" title="" data-bind="text: ErrorName"></span>&nbsp;
                            <span id="ErrorCount" data-bind="text: COUNT"> </span>
                            <input type="hidden" class="hidden-queryTable" />
                            <input type="hidden" class="hidden-errorType" />
                        </span>
                        <div id="ErrorDismiss" class="dismiss-left-span" data-bind="css: {'hidden': ErrorName() == 'All'}, click: $root.errorDismissClick">Dismiss</div>
                    </a>

                    <input class="ErrorCategoryValue" style="display: none;" data-bind="text: ErrorCategory" />
                    <input class="ErrorCategoryDescription" style="display: none;" data-bind="text: Description" />
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-9 h100">

        <div class="sg-datatable-wrap">
            <div id="testGridDiv"></div>
            <table id="testGridTableee">
                <thead>
                    <tr></tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_DismissDialog")
    @section styles{

        <style type="text/css">
            .anchor-disable {
                pointer-events: none;
                cursor: default;
                background-color: #bbbbbb !important;
            }
            .dismiss-span, .dismiss-left-span {
                 cursor:pointer;
                 color:blue;
            }
            .dismiss-span:hover, .dismiss-left-span:hover {
                 text-decoration:underline;
            }
        </style>

        @Styles.Render("~/Styles/datatable")
    }

    @section scripts{

        <script type="text/javascript">

            var jsonErrorClassification = '@Html.Raw(ViewBag.ImportErrorClassification)';
            var urlErrorReportDetails = '@Url.Action("ErrorReportDetails", "Dashboard", new {Area = "Datahub"})';
            var urlDownloadIndex = '@Url.Action("Index", "Download", new {Area = ""})';
            var urlDownload = '@Url.Action("DownloadFile", "Download", new {Area = ""})';

            var urlDismissAllErrorLines = '@Url.Action("DismissAllErrorLines", "Dashboard", new { Area = "" })';
            var urlDismissSelectedErrorLine = '@Url.Action("DismissSelectedErrorLine", "Dashboard", new { Area = "" })';

            var urlDashboard = '@Url.Action("Index","Dashboard", new { Area = "Datahub" })';

            var vendorName = '@ViewBag.VendorName';
            var vendorId = '@ViewBag.VendorId';
            var errorCategory = 'Import Error';
            var errorOccurred = '@Messages.ErrorOccured';

            $('.sg-adj-nav-rep').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $('.sg-adj-nav-rep').removeClass('active');
                    $(this).addClass('active');
                }
            });

        </script>

        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/area/datahub/dashboard-errorreport")


    }
