@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Datahub.Dashboard;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                        "<li class='active'>" + Messages_Datahub.Dashboard + "</li>" +
                    "</ol>");
}

@section styles{
    @Styles.Render("~/Styles/datatable")
 
    @*@Styles.Render("~/Styles/datatable")*@
    <link href="~/Content/c3.css" rel="stylesheet" type="text/css">
}

<div class="sg-home col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix mgbtm8"></div>
    <div class="modal-body">
        <div class="row">
            @if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
            {
                @:<div class="col-md-8 testing" style="margin: 0">
                }
            else
            {
                @:<div class="col-md-4 testing" style="margin: 0">
       
            }

            <div class="row">
                @if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
                    {
                        @:<div class="col-md-6">
                            }
                else
                {
                    @:<div class="col-md-12">
                            }
<div class="sg-home-block info">
    <div class="sg-home-header">
        @Messages.Welcome @UdhClaimsIdentity.GetFirstAndLastName()
    </div>
    <div class="sg-home-body" style="text-align: center; vertical-align: middle;">

        <div class="client-desc">
            <div class="col-sm-3">
                <img src="@Url.Content(UdhClaimsIdentity.GetClientLogoUrl())" alt='@UdhClaimsIdentity.GetClientName()' />
            </div>
            <div class="col-sm-9 text-left">
                <h2>@UdhClaimsIdentity.GetClientName()</h2>
                @*<h4>Alpha Version</h4>*@
                <h6>Data Hub @Html.AssemblyVersion()</h6>
            </div>
        </div>
    </div>
</div>
<div class=" clearfix mgbtm8"></div>
@if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
{
                                @:</div>
}
else
{
                            @:</div>
 }
@if (ViewData["ImportErrorGrid"] != null && (bool)ViewData["ImportErrorGrid"])
{
    <div class="col-md-6">
        <div class="sg-home-block">
            <div class="sg-home-header">
             @*@Messages_Datahub.ImportExceptions*@
                Import Statistics
                <div id="importErrorGrid-refresh" class="pull-right"><i class="fa fa-refresh"></i></div>

            </div>
            <div class="sg-home-body scroll-blocks">
                <table id="importErrorGrid">
                    <thead>
                        <tr>
                            <th>@Messages_Datahub.Vendor</th>
                            <th>@Messages.Files</th>
                            <th>@Messages.RecordCount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                @*<div id="importErrorGrid" style="height: 200px; width: 100%;">

                    </div>*@
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>

   @if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
                    {
                        @:<div class="col-md-12">
                            }
                else
                {
                    @:<div class="col-md-12">
                            }
    <div class="sg-home-block">
        <div class="sg-home-header">
            @if (ViewData["Store"] != null && (bool) ViewData["Store"])
            {
                <label>@String.Format(Messages.Top_Count, "5")&nbsp;</label>
                <label>@Messages.Stores</label>
            }
            else
            {
                <label>@String.Format(Messages.Top_Count, "10")&nbsp;</label>
                <label>@Messages.Vendors</label>
            } @Messages.ByProductCount

            <div id="barChart-refresh" class="pull-right"><i class="fa fa-refresh"></i></div>
        </div>
        <div class="sg-home-body">
            @*<div id="vendorStat" style="text-align:center;"></div>*@
            <div id="barChart">
                <svg></svg>
            </div>
        </div>
    </div>
@if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
{
                                @:</div>
}
else
{
                            @:</div>
 }


@if (ViewData["MostSearchedGrid"] != null && (bool)ViewData["MostSearchedGrid"])
{
    //Most searched grid commented out
    
    @*<div class="col-md-6">
        <div class="sg-home-block">
            <div class="sg-home-header">
                Top 10 Most Searched String
            </div>
            <div class="sg-home-body scroll-blocks">
                <table id="mostSearchedGrid">
                    <thead>
                        <tr>
                            <th>Search Text</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>*@
}
</div>
@if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
{
                    @:</div>
                }
else
{
                @:</div>



                }

                @*Message board*@

                @if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
                {
                    @:<div class="col-md-4">
            }
                else
                {
                    @:<div class="col-md-8">
            }

                <div class="sg-home-block sg-message-board">
                    <div class="sg-home-header filters">
                        Message Board

                        @*<div class="filter-icon pull-right">
                            <i class="fa fa-toggle-down fa-lg"></i>
                        </div>*@
                        <a class="pull-right icon-back" href="#"> <i data-toggle="tooltip" data-placement="left" data-title="Reset Search" class=" fa fa-refresh" id="MessageBackBtn"> </i> </a>

                        @*<div id="messageBoard-refresh" class="pull-right"><i class="fa fa-refresh"></i></div>*@

                        <div class="clearfix"></div>
                        @*<div class="dropdown pull-right">
                            <button class="btn btn-next dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> <i class="fa fa-question"> </i></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="alert-success text-center"> Success </li>
                                <li role="presentation" class="alert-info text-center"> Information</li>
                                <li role="presentation" class="alert-warning text-center"> Warning</li>
                                <li role="presentation" class="alert-danger text-center">Failure</li>
                            </ul>
                        </div>*@
                        <form>
                            <div class="panel-filter">
                                <div class="row">
                                    <div class="col-md-4 filter-input">
                                        <label for="messageboardFilter">Filter By</label>
                                        @Html.DropDownList("MessageBoardFilters", (IEnumerable<SelectListItem>)ViewData["MessageBoardFilters"], null, new { @id = "messageboardFilter", @class = "form-control-add" })
                                    </div>
                                    <div class="col-md-4 filter-input">
                                        <label for="filterDetail">&nbsp;</label>
                                        <select class="form-control-add" id="filterDetail"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="logUserUploadId" class="hidden">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="sg-home-body ">
                        <div class="table-wrap">
                            <div id="messagesTable">
           
                                </div>
                            </div>
                            @*<div class="sg-datatable-wrap">
                <table id="MessageBoardDataTable" class="display add notification">
                    <thead>
                        <tr>
                            <th>Notifications</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>*@
                            @*import status grid*@
                        </div>
                </div>

                @if (ViewData["oneColumnModules"] != null && (bool)ViewData["oneColumnModules"])
                {
                    @:</div>
                    }
                else
                {
                @:</div>
                    }

            @*message board closed*@

            </div>
</div>
</div>

@section scripts{

    <script src="~/Scripts/d3.min.js"></script>
    <script src="~/Scripts/c3.js"></script>
    <script>
        //var errorStatAggData = '@Html.Raw(ViewBag.ImportError)';
        //var searchAggData = '';
        //var importStatAggData = '@Html.Raw(ViewBag.RecentImportAgg)';
        @*var vendorStat = '@Html.Raw(ViewBag.DashboardVendorStatistics)';*@
        //var importStat = '@Html.Raw(ViewBag.DashBoardImportStatistics)';
        @*var vendorStatTableColumns = '@Html.Raw(ViewBag.DashboardVendorStatTableColumns)';*@
        var urlMostSearched = '@Url.Action("MostSearchedGrid", "Dashboard", new {Area = "Datahub"})';
        var urlMessageBoard = '@Url.Action("MessageBoardGrid", "Dashboard", new {Area = "Datahub"})';
        var urlNotification = '@Url.Action("GetMessages", "Dashboard", new {Area = "Datahub"})';
        var urlProductCount = '@Url.Action("GetProductCountBarChart", "Dashboard", new {Area = "Datahub"})';
        var urlgetDetailedFilter = '@Url.Action("GetDetailFilterOptions", "Dashboard", new {Area = "Datahub"})';
        var urlGetImportStatisticsAggregates = '@Url.Action("GetImportStatisticsAggregates", "Dashboard", new {Area = "Datahub"})';
        var urlErrorReport = '@Url.Action("ErrorReport", "Dashboard", new {area = "Datahub"})';

       
        localStorage.clear();

    </script>

    @*@Scripts.Render("~/bundles/d3")*@
    @*@Scripts.Render("~/bundles/encoder")*@
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/area/datahub/dashboard-index")

    <script src="~/signalr/hubs"></script>

<style type="text/css">
    #messagesTable > div > p {
        word-wrap: break-word;
        word-break: break-word;
    }
</style>

}