﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMPricingQualifierViewModel
@{
    ViewBag.Title = Messages_Datahub.CreatePricingQualifier;
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">@Messages_Datahub.CreatePricingQualifier</li>
    </ul>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">

    @using (Html.BeginForm())
    {  <div class="modal-body">
        <div class="content-wrapper">
            <div class="row">
                @Html.EditorForModel()
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.PricingAdjustmentSdvId, new {@class = "control-label"})
                            </div>
                                @if (ViewData["pricingAdjustmentType"] != null)
                                {
                                    @Html.DropDownListFor(x => x.PricingAdjustmentSdvId, (IEnumerable<SelectListItem>) ViewData["pricingAdjustmentType"], Messages.PleaseSelect, new {@class = "pricingAdjustmentTypeDrop  form-control", @id = "pricingAdjustmentType"})
                                }
                        </div>
                        @Html.ValidationMessageFor(m => m.PricingAdjustmentSdvId)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                                 @Html.EditorFor(m => m.AdjustmentPercent, new {@class = "form-control"})
                             <div class="input-group-addon">

                                @Html.RadioButtonFor(m => m.AdjustmentType, "1", new {Checked = "checked"})&nbsp;&nbsp;@Html.Label(Messages_Datahub.AdjustmentPercent)&nbsp;&nbsp;
                            </div>
                            <div class="input-group-addon">

                                @Html.RadioButtonFor(m => m.AdjustmentType, "2")&nbsp;&nbsp;@Html.Label(Messages_Datahub.AdjustmentAmount)
                            </div>
                            @*@Html.RadioButton("adjustmentPercent", "1", isChecked: true)&nbsp;&nbsp;@Html.Label(Messages_Datahub.AdjustmentPercent)&nbsp;&nbsp;
                                @Html.RadioButton("adjustmentAmount", "2", isChecked: false)&nbsp;&nbsp;@Html.Label(Messages_Datahub.AdjustmentAmount)*@
                        </div>
                         @Html.ValidationMessageFor(m => m.AdjustmentPercent)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label class="control-label">@Messages_Datahub.Platform</label>
                                </div>

                                    @if (ViewData["platform"] != null)
                                {
                                        @Html.DropDownListFor(x => x.PlatformSdvId, (IEnumerable<SelectListItem>)ViewData["platform"], Messages.PleaseSelect, new { @class = "pricingQualifierDrop  form-control", @id = "pricingQualifier" })
                                }
                            </div>
                            @Html.ValidationMessageFor(m => m.PlatformSdvId)
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label class="control-label">@Messages_Datahub.QualifiedFor</label>
                                </div>
                                    @if (ViewData["QualifiedFor"] != null)
                                    {
                                        @Html.DropDownListFor(x => x.QualifiedForSdvId, (IEnumerable<SelectListItem>)ViewData["QualifiedFor"], null, new { @class = "pricingQualifierDrop  form-control", @id = "qualifiedFor" })
                                    }
                             </div>
                            @Html.ValidationMessageFor(m => m.QualifiedForSdvId)
                        </div>
                        <div class="clearfix mgbtm8"> </div>
                        <div class="col-md-12">
                            <div class="btn-container">
                                @Html.GbdSubmitButton("CreatePricingQualifier", Messages.CreateNew)
                                @Html.GbdResetButton(Messages.Cancel)
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            }

        </div>

        @section styles{
            @*@Styles.Render("~/Styles/bootstrap-datepicker")*@
        }
        
        @section scripts
{

            @*@Scripts.Render("~/bundles/bootstrap-datepicker")*@

            <script type="text/javascript">

                var urlIndex = '@Url.Action("Index","PricingQualifier",new {Area="Datahub"})';

                $('#btnCancel').click(function () {
                    window.location = urlIndex;
                });

                $('#EffectiveDateStart').datepicker();

                $('#EffectiveDateEnd').datepicker();

            </script>
        }
