﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Datahub.PricingQualifier;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Qualifier</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body" id="map">
                @{
                var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                if (authorizedActions.Any())
                {
                    @Html.GbdButtonWithSpan("btnCreatePricingQualifier", "Add", "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                    @Html.GbdButtonWithSpan("btnUpdatePricingQualifier", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                    @Html.GbdButtonWithSpan("btnDeletePricingQualifier", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)


                }

                }
            </div>
        </div>
        <div class="sg-datatable-wrap">
            <table id="pricingQualifierTable" class="display">
                <thead>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selectAllCheckBoxPricingQualifier" class="selectAll" /></th>
                        <th>@Messages_Datahub.Name</th>
                        <th>@Messages_Datahub.QuantityFrom</th>
                        <th>@Messages_Datahub.QuantityTo</th>
                        <th>@Messages_Datahub.EffectiveDateStart</th>
                        <th>@Messages_Datahub.EffectiveDateEnd</th>
                        <th>@Messages_Datahub.Platform</th>
                        <th>@Messages_Datahub.Status</th>
                        <th>@Messages_Datahub.QualifiedFor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <input id="pricingQualifierIdsforDelete" type="text" style="visibility: hidden;" />


        @using (@Html.GbdConfirmDialog("divConfirmDelete", "Delete Pricing Qualifier(s)"))
        {
            <p>@string.Format(Messages.confirmation_Message_Delete0, "Pricing Qualifier(s)")</p>
        }
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
}

@section scripts{

    <script type="text/javascript">
        var pricingQualifierMessage = '@TempData["pricingQualifierMessage"]';
        var urlGetPricingQualifierDataTable = '@Url.Action("GetPricingQualifierDataTable", "PricingQualifier", new {Area = "Datahub"})';
        var urlCreatePricingQualifier = '@Url.Action("Create", "PricingQualifier", new {Area = "Datahub"})';
        var urlEditPricingQualifier = '@Url.Action("Edit", "PricingQualifier", new {Area = "Datahub"})';
        var urlDeletePricingQualifier = '@Url.Action("Delete", "PricingQualifier", new {Area = "Datahub"})';
        </script>


@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/area/datahub/pricingqualifier-index")
}