﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ETLImportTemplateTableViewModel
@{
    ViewBag.Title = "CreateImportTemplateTable";
}


<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Add Import Template Table</li>
    </ul>
</div>


@*<div class="form-group">
    <label class="col-sm-2 control-label">@Messages_Datahub.FilePath</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.FilePath, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FilePath)
    </div>
</div>*@

@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label" for="">Select Table</label>
                            </div>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "databaseTables" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label" for="">Is Primary</label>
                            </div>
                            <div class="input-group-addon form-info">
                                @Html.CheckBoxFor(x => x.IsPrimary, new { @class = "form-control", @id = "isPrimaryTable" })
                            </div>
                        </div>
                         @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("btnCreateImportTemplateTable", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}


@section styles{
  
}




@section scripts{
    <script type="text/javascript">
        var urlAutoCompleteDestinationTables = '@Url.Action("DatabaseTables", "ImportTemplate", new { Area = "Datahub" })';
    </script>
   

    @Scripts.Render("~/bundles/area/datahub/createimporttemplatetable")

}

