﻿﻿@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

@{
    ViewBag.Title = "CreateImportTemplate";
}

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="mgbtm8 clearfix"></div>
    <div class="modal-body">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label" for="masterTableId">Choose Master Table </label>
                        </div>
                        @Html.DropDownList("masterTableId", (IEnumerable<SelectListItem>)ViewData["masterTable"], "--Choose", new { @class = "sourceDrop  form-control", @id = "masterTableId" })
                    </div>
                </div>
                <div class="clearfix mgbtm8"> </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label" for="slaveTableId">Choose Slave Table</label>
                        </div>
                        @Html.DropDownList("slaveTableId", (IEnumerable<SelectListItem>)ViewData["slaveTable"], "--Choose", new { @class = "sourceDrop  form-control", @id = "slaveTableId" })
                    </div>
                </div>
                <div class="clearfix mgbtm8"> </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label" for="importTemplateLinkColumn">Select Link Column :</label>
                        </div>
                        <select class="sourceDrop  form-control" id="importTemplateLinkColumn"></select>
                    </div>
                </div>
                <div class="clearfix mgbtm8"> </div>
            </div>
            <div class="btn-container">
                <input type="button" class="btn btn-primary" value="Save" id="saveImportTemplate" />
            </div>
        </div>
    </div>
</div>

    @section scripts{
        <script type="text/javascript">
            var urlAddImportTemplate = '@Url.Action("Create", "ImportTemplate", new { Area = "Datahub" })';
            var urlGetDestinationColumns = '@Url.Action("GetDestinationColumns", "ImportTemplate", new { Area = "Datahub" })';
            var urlImportTemplate = '@Url.Action("Index","ImportTemplate", new {Area = "Datahub"})';
        </script>

        @Scripts.Render("~/bundles/area/datahub/createimporttemplate")

    }
