﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{ViewBag.Title = "Index";}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">    Import Template     </li>
</ul>
</div>


<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">

                        @Html.GbdButtonWithSpan("btnAddImportTemplateTable", "Add", "glyphicon glyphicon-plus")
                        @Html.GbdButtonWithSpan("btnDeleteImportTemplateTable", "Delete", "glyphicon glyphicon-trash")
                        @Html.GbdButtonWithSpan("btnDisplayColumn", "Display Columns", "glyphicon glyphicon-plus")

                    </div>

                </div>


                <div class="sg-datatable-wrap">
                    <table id="ImportTemplateDataTable" class="display">
                        <thead>
                            <tr>

                                <th><input type="checkbox" id="selectAllImportTemplate" class="selectAll"></th>
                                <th>Table Name</th>
                                <th>Is Primary</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>


            </div>

            <div class="col-md-6">
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        @Html.GbdButtonWithSpan("btnAddImportTemplate", "Add", "glyphicon glyphicon-plus")
                        @*@Html.GbdButtonWithSpan("btnUpdateImportTemplate", "Edit", "glyphicon glyphicon-edit")*@
                        @Html.GbdButtonWithSpan("btnDelete", "Delete", "glyphicon glyphicon-trash")

                    </div>

                </div>


                <div class="sg-datatable-wrap">
                    <table id="ImportTemplateLinkInfoDataTable" class="display">
                        <thead>
                            <tr>

                                <th><input type="checkbox" id="selectAllCheckBoxImportTemplate" class="selectAll"></th>
                                <th>Master Table</th>
                                <th>Slave Table</th>
                                <th>Linked By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                @Html.GbdDialogOpenButton("btnDeleteITTableDialogue", "Delete", "DeleteImportTemplateTableModal", "glyphicon glyphicon-retweet", "modal")

                <div id="DeleteImportTemplateTableModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 id="impTempTable" class="modal-title">Delete Import Template</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure you want to delete import template table?</h5>
                            </div>
                            <div class="modal-footer">
                                 
                                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnDeleteImpTemplatefromModel" name="ButtonType" />
                                <button class="btn btn-danger" data-dismiss="modal" id="deleteimportTemplateNobtn" type="submit">@Messages.No</button>
                            </div>
                        </div>
                    </div>
                </div>








                @Html.GbdDialogOpenButton("btnDeleteVendor", "Delete", "DeleteImportTemplateModal", "glyphicon glyphicon-retweet", "modal")


                <div id="DeleteImportTemplateModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 id="myModalLabel" class="modal-title">Delete Import Template</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure you want to delete import template?</h5>
                            </div>
                            <div class="modal-footer">
                                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnDeletefromModel" name="ButtonType" />
                                <button class="btn btn-danger" data-dismiss="modal" id="deletevendorNobtn" type="submit">@Messages.No</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
}




@section scripts{
    <script type="text/javascript">
    var urlImportTemplateLinkInfoDataTable = '@Url.Action("GetImportTemplateLinkInfoDataTable", "ImportTemplate", new { Area = "Datahub" })';
    var urlAddImportTemplate = '@Url.Action("CreateImportTemplateLinkInfo", "ImportTemplate", new { Area = "Datahub" })';
    var urlDeleteImportTemplate = '@Url.Action("Delete", "ImportTemplate", new { Area = "Datahub" })';
    var urlDeleteImportTemplateTable = '@Url.Action("DeleteImportTemplateTable", "ImportTemplate", new { Area = "Datahub" })';
    var urlImportTemplateDataTable = '@Url.Action("GetImportTemplateDataTable", "ImportTemplate", new { Area = "Datahub" })';
    var urlAddImportTemplateTable = '@Url.Action("CreateImportTemplateTable", "ImportTemplate", new { Area = "Datahub" })';

        var urlShowDestinationColumns = '@Url.Action("ShowDestinationColumn", "ImportTemplate", new { Area = "Datahub" })';


     </script>
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/importtemplate-index")

}