﻿@using GBD.UniversalDataHub.Resources
@model List<GBD.UniversalDataHub.Areas.Datahub.Models.ETLImportTemplateColumnViewModel>
@{
    ViewBag.Title = "ShowDestinationColumn";
}

@if (Model != null)
{
    using (Ajax.BeginForm("ImportTemplateColumnUpdate", "ImportTemplate", FormMethod.Post, null, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="sg-tab-bar">
            <ul class="nav nav-tabs udh" role="tablist">
                <li class="active header">Import Template Table Columns</li>
            </ul>
        </div>
    <div class="col-lg-12 col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="handsontable-wrapper">
                <table class="table add table-bordered">

                    <tr>
                        <th></th>

                        <th>Name</th>

                        <th>Display</th>

                    </tr>

                    @for (var i = 0; i < Model.Count; i++)
            {
                        <tr>
                            <td>  @Html.HiddenFor(x => x[i].Id) </td>

                            <td> @Html.DisplayFor(x => x[i].Name)</td>
                            <td> @Html.CheckBoxFor(x => x[i].IsDisplayed)</td>

                        </tr>
            }



                </table>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary" type="submit">@Messages.Save</button>
            </div>
        </div>
    </div>
    }

}


    @section scripts{
        <script type="text/javascript">
  
            var urlImportTemplate = '@Url.Action("Index", "ImportTemplate", new { Area = "Datahub" })';


        </script>
      

    }
