﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
<div id="confirm-clear-bulk-pricing" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"><i class="glyphicon glyphicon glyphicon-trash"></i> @Messages_Datahub.Clear</h4>
            </div>
            <div class="modal-body">
                <h5>@(Messages_Datahub.Clear + " " + Messages_Datahub.BulkPricing + "?")</h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="confirm-clear-bulk-pricing-yes" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="confirm-clear-bulk-pricing-no" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>