﻿@using System.Collections.Concurrent
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.BulkItemCreate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                     "<li class='active'>" + Messages_Datahub.BulkItemCreate + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="input-group sg-tooltip" title="Requirements: <br>Sheet must be in CSV format. <br>Vendor name should be exact <br>Columns Local Part Number, Vendor, Vendor Part Number, Cost, Margin, Selling Price are required. <br>Other fields are optional." data-toggle="tooltip" data-placement="bottom">
                        <div class="input-group-addon">
                            <label class="control-label" for="">Import from file </label>
                        </div>
                        <input type="file" id="file" value="Open" accept=".csv">

                    </div>
                </div>
                
                <div class="clearfix mgbtm8"></div>


                <div class="col-md-4">
                    <input type="search" id="search_field" class="form-control sg-tooltip" placeholder="Search text here" title="Search and highlight matching text" data-toggle="tooltip" data-placement="bottom" />
                </div>

                <div class="col-md-4">
                  
                    <div id="settings-well">

                        <div class="col-md-4">
                            <input type="radio" name="group1" id="chk-showamount" value="" checked="checked" />
                            <label for="chk-showamount" class="sg-tooltip" title="Show discount and hide margin for cost, selling price and quantity discount" data-toggle="tooltip" data-placement="bottom">@Messages_Datahub.ShowAmount</label>
                        </div>
                        <div class="col-md-5">
                            <input type="radio" name="group1" id="chk-showmargin" value="" />
                            <label for="chk-showmargin" class="sg-tooltip" title="Show margin and hide discount for cost, selling price and quantity discount" data-toggle="tooltip" data-placement="bottom">@Messages_Datahub.ShowGrossMargin</label>
                        </div>
                        @*<div class="col-md-3">
                                <a href="#" id="clear-bulk-pricing" class="btn btn-danger">@Messages_Datahub.Clear</a>
                            </div>*@
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="bulk-pricing"></div>
                        @*<div class="handsontable-wrapper">*@
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="pagination-holder">
                        <div id="pagination"></div>

                        <div class="pull-right">
                            @* <input type="button" class="btn btn-primary" id="exportBulkPricing" value="Export" />*@
                            <div id="btn-save" class="btn btn-primary">
                                @Messages.Save
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>
            @Html.Partial("_ClearHandsonTable")
            <input type="text" id="pageSize" style="display: none" value="10" />
        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/simple-pagination")
    <style>
        .simple-pagination {
            float: left;
            width: 80%;
        }

        .pagination-holder {
            border-top: 1px #ccc solid;
            padding-top: 10px;
        }

        .htComments{
            z-index:9999 !important;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/papaparse")
    <script type="text/javascript">
        var CatalogSearchAllProducts = '@TempData["AllBulkPricing"]';

        var urlgetBulkPricing = '@Url.Action("BulkPricingGet", "BulkPricing", new {Area = "Datahub"})';
        var urlgetBulkPricingPagination = '@Url.Action("BulkPricingPagination", "BulkPricing", new {Area = "Datahub"})';
        var urlexportBulkData = '@Url.Action("BulkPricingExport", "BulkPricing", new {Area = "Datahub"})';
        var createUrl = '@Url.Action("BulkItemCreate", "BulkPricing", new {Area = "Datahub"})';
        var urlgetBulkPricingFromFile = '@Url.Action("GetBulkItemCreateFromFile", "BulkPricing", new { Area = "Datahub" })';
        var data = '@ViewBag.BulkPricingData';
        var columns = '@ViewBag.ColumnsJson';
        var staticColumnsCount = '@ViewBag.StaticColumnsCount';
        var urlGetBulkPricingHeaders = '@Url.Action("GenerateBulkItemCreateColumns", "BulkPricing", new { Area = "Datahub" })';
        var urlGetBulkPricing = '@Url.Action("GetBulkPricing", "BulkPricing", new { Area = "Datahub" })';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2","Catalog",new{Area="Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        var msgCannotRemoveThisRow = '@Messages_Datahub.Error_CannotRemoveThisRow';
        var msgCannotRemoveThisColumn = '@Messages_Datahub.Error_CannotRemoveThisColumn';
        var msgCannotInsertRowHere = '@Messages_Datahub.Error_CannotInsertRowHere';
        var msgCannotInsertColumnHere = '@Messages_Datahub.Error_CannotInsertColumnHere';
        var msgValue0MustBeBetween1And2 = '@Messages_Datahub.Error_Value0_MustBeBetween_1_And_2';
        var msgTotalErrors0AreShownInRedBelow = '@Messages_Datahub.Error_TotalErrors_0_AreShownInRedBelow';
        var msgErrorOccured = '@Messages.ErrorOccured';

        //var zeroClipBoardSwfPath = '@Url.Content("~/Scripts/handsontable/ZeroClipboard.swf")';
        var quantity = '@Messages.Quantity';
        var discount = '@Messages.Discount';
        var margin = '@Messages.Margin';
        var discountHeader = '@Messages.MarginDollars';
        var marginHeader = '@Messages.Margin';

    </script>

    @Scripts.Render("~/bundles/area/datahub/bulk-common")
    @Scripts.Render("~/bundles/area/datahub/bulkitem-create")
}
