﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.BulkPricing;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                     "<li class='active'>" + Messages_Datahub.BulkPricing + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="row search-holder top">
                <div id="vendor-dropdown" class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon control-label">
                            <label for="Vendor">@Messages_Datahub.Vendor</label>
                        </div>
                        @Html.DropDownList("Vendor", (IEnumerable<SelectListItem>)ViewData["VendorList"], Messages.PleaseSelect)
                    </div>
                </div>
                <div class="col-md-4">
                    @*<button class="btn btn-primary pull-left sg-tooltip" data-placement="top" data-toggle="tooltip" id="btn-settings" title="Settings">
                    <i class="fa fa-gears"></i>
                </button>*@

                    <div id="settings-well">

                        <div class="col-md-4">
                            <input type="radio" name="group1" id="chk-showamount" value="" />
                            <label for="chk-showamount">@Messages_Datahub.ShowAmount</label>
                        </div>
                        <div class="col-md-5">
                            <input type="radio" name="group1" id="chk-showmargin" value="" checked="checked" />
                            <label for="chk-showmargin">@Messages_Datahub.ShowGrossMargin</label>
                        </div>
                        <div class="col-md-3">
                            <a href="#" id="clear-bulk-pricing" class="btn btn-danger">@Messages_Datahub.Clear</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <input type="search" id="search_field" class="form-control" placeholder="Search text here" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="bulk-pricing"></div>
                        @*<div class="handsontable-wrapper">*@
                        <div id="pagination"></div>
                    </div>
                 
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>
            <div class="btn-container">
                <div id="btn-save" class="btn btn-primary">
                    @Messages.Save
                </div>
            </div>
            @Html.Partial("_ClearHandsonTable")
            <input type="text" id="pageSize" style="display: none" value="10" />
        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
 <style type="text/css">
       .tooltip-inner{
        max-width:260px !important;
     
    }
    </style>

}

@section scripts{

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render(("~/bundles/pricing-calculator"))
@Scripts.Render("~/bundles/papaparse")
<script src="~/Scripts/jquery.simplePagination.js"></script>
    <script type="text/javascript">
        var CatalogSearchAllProducts = '@TempData["AllBulkPricing"]';
        var urlgetBulkPricing = '@Url.Action("BulkPricingGet", "BulkPricing", new {Area = "Datahub"})';
        var urlgetBulkPricingPagination = '@Url.Action("BulkPricingPagination", "BulkPricing", new {Area = "Datahub"})';
        var createUrl = '@Url.Action("Create", "BulkPricing", new {Area = "Datahub"})';

        var data = '@ViewBag.BulkPricingData';
        var columns = '@ViewBag.ColumnsJson';
        var staticColumnsCount = '@ViewBag.StaticColumnsCount';

        var urlGetBulkPricing = '@Url.Action("GetBulkPricing", "BulkPricing", new { Area = "Datahub" })';

        var msgCannotRemoveThisRow = '@Messages_Datahub.Error_CannotRemoveThisRow';
        var msgCannotRemoveThisColumn = '@Messages_Datahub.Error_CannotRemoveThisColumn';
        var msgCannotInsertRowHere = '@Messages_Datahub.Error_CannotInsertRowHere';
        var msgCannotInsertColumnHere = '@Messages_Datahub.Error_CannotInsertColumnHere';
        var msgValue0MustBeBetween1And2 = '@Messages_Datahub.Error_Value0_MustBeBetween_1_And_2';
        var msgTotalErrors0AreShownInRedBelow = '@Messages_Datahub.Error_TotalErrors_0_AreShownInRedBelow';
        var msgErrorOccured = '@Messages.ErrorOccured';

        //var zeroClipBoardSwfPath = '@Url.Content("~/Scripts/handsontable/ZeroClipboard.swf")';
        var quantity = '@Messages.Quantity';
        var discount = '@Messages.Discount';
        var margin = '@Messages.Margin';

    </script>

    @Scripts.Render("~/bundles/area/datahub/bulk-common")

    @Scripts.Render("~/bundles/area/datahub/bulkpricing")

}
