﻿@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.AvailabilityViewModel
<div class="content-wrapper">
    <div class="row">
        <div class="more-info hidden">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon  sg-tooltip" title="Supplier details here">
                        <label class="control-label" for="">Supplier<label class="errorPara">*</label></label>
                    </div>
                    <select class="form-control">
                        <option> Please select</option>
                        <option> Option 1</option>
                        <option> Option 2</option>
                    </select>
                </div>
            </div>
            <div class="clearfix mgbtm8"> </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        @Html.GbdLabelFor(m =>m.AvailabilityMessage, new { @class = "control-label " })
                    </div>
                    @Html.TextBoxFor(x => x.AvailabilityMessage, new { @class = "form-control", @id = "availabilityMessage" })
                </div>
                @Html.ValidationMessageFor(m => m.AvailabilityMessage)
              
            </div>
            <div class="clearfix mgbtm8"> </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        @Html.GbdLabelFor(m => m.LeadWeight, new { @class = "control-label " })
                    </div>
                    @Html.TextBoxFor(x => x.LeadWeight, new { @class = "form-control", @id = "leadweight" })
                </div>
                @Html.ValidationMessageFor(m => m.LeadWeight)
               
            </div>
            <div class="clearfix mgbtm8"> </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Expiration, new { @class = "control-label " })
                        </div>
                        @Html.TextBoxFor(x => x.Expiration, new { @class = "form-control", @id = "expiration" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Expiration)
                    <div class="input-group-btn ">
                        <button type="button" id="setToNever" class="btn btn-primary"> Set to Never </button>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"> </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        @Html.GbdLabelFor(m => m.Notes, new { @class = "control-label " })
                    </div>
                    @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @id = "notes" })
                </div>
                @Html.ValidationMessageFor(m => m.Notes)
            </div>
            <div class="clearfix mgbtm8"> </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>