@using System.Configuration
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using GBD.UniversalDataHub.Web.Plugins.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.AvailabilityViewModel

@{
    ViewBag.Title = Messages_Datahub.SpecialAvailability;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                     "<li class='active'>" + Messages_Datahub.SpecialAvailability + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Special Availability</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <form method="post" action="#">
            <div class="content-wrapper">
                <label for="itemId">Availability</label><label class='messagebatch'></label>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.AvailabilityId, new
                        {
                            @class = "form-control",
                            @id = "availabilityId",
                            @style = "display:none;"
                        
                        })
        
                        <div class="input-group has-tooltip">
                            <div class="input-group-addon vendorname sg-tooltip" title=" This may be either the Local Part number or the id number">
                            @Html.GbdLabelFor(m => m.KeId, new { @class = "control-label " })
                        </div>
                            @Html.TextBoxFor(x => x.KeId, new { @class = "form-control", @id = "keid" })
                        </div>
                        @Html.ValidationMessageFor(m => m.KeId)
                        @*<div class="input-group">
                            <div class="input-group-addon  sg-tooltip" title="This may be either the Local SKU number or the ID number">
                                <label class="control-label" for="">Item ID<label class="errorPara">*</label>
                                </label>
                            </div>
                            <input class="form-control">
                        </div>*@
                    </div>
                    <div class="clearfix mgbtm8"> </div>

                    <div class="col-md-6">
                        <div class="btn-block">
                            <button id="searchAvailability" type="button" class="btn btn-success"> Search for Availability </button>
                            <button id="refreshAvailability" type="button" class="btn btn-next"> Refresh Availability </button>
                            <button id="deleteAvailability" type="button" class="btn btn-danger"> Delete Availability </button>
                        </div>
                    </div>
                    <div class="clearfix mgbtm30"> </div>
                    <div class="AvailabilitypartialHolder">
                        <div class="content-wrapper">
                                <div class="more-info hidden">
                                    <div class="col-md-6">
                                        <div class="input-group has-tooltip">
                                            <div class="input-group-addon  sg-tooltip" title="Supplier details here">
                                                <label class="control-label" for="">Supplier<label class="errorPara">*</label></label>
                                            </div>
                                            <select class="form-control" id="SupplierId" name="SupplierIdname"></select>
                                        </div>
                                    </div>
                                    <div class="clearfix mgbtm30"> </div>
                                    <div class="col-md-6">
                                        <div class="input-group has-tooltip">
                                            <div class="input-group-addon sg-tooltip" title="This may be either the availability details for the number of days">
                                                @Html.GbdLabelFor(m => m.AvailabilityMessage, new { @class = "control-label " })
                                            </div>
                                            @Html.TextBoxFor(x => x.AvailabilityMessage, new { @class = "form-control", @id = "availabilityMessage" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.AvailabilityMessage)

                                    </div>
                                    <div class="clearfix mgbtm30"> </div>
                                    <div class="col-md-6" id="leadWeightDiv">
                                        <div class="input-group has-tooltip">
                                            <div class="input-group-addon sg-tooltip" title="This is used to display on a multi-Ad section e.g. 'Begining' of June or '5/30/2013'">
                                                @Html.GbdLabelFor(m => m.LeadWeight, new { @class = "control-label " })<label class="errorPara">*</label>
                                            </div>
                                            @Html.TextBoxFor(x => x.LeadWeight, new { @class = "form-control", @id = "leadweight" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.LeadWeight)
                                        <div class="clearfix mgbtm30"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    @Html.GbdLabelFor(m => m.Expiration, new {@class = "control-label "})
                                                </div>
                                                @Html.TextBoxFor(x => x.Expiration, new {@class = "form-control", @id = "expiration"})
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Expiration)
                                            <div class="input-group-btn ">
                                                <button type="button" id="setToNever" class="btn btn-primary"> Set to Never </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix mgbtm30"> </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon sg-tooltip">
                                                @Html.GbdLabelFor(m => m.Notes, new {@class = "control-label "})
                                            </div>
                                            @Html.TextAreaFor(x => x.Notes, new {@class = "form-control", @id = "notes", @rows = "5"})
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Notes)
                                    </div>
                                    <div class="clearfix mgbtm30"> </div>
                                    <div class="col-md-6">
                                        <button id="saveAvailability" type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                        </div>
                        <div id="DeleteAvailabilityModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" id="cancleModelBtn" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">@Messages.Close</span>
                                        </button>
                                        <h4 id="modal-title-enable-disable" class="modal-title">Delete Availability</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h5 id="modal-body-enable-disable">Are you sure you want to delete selected item?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" value="@Messages.Yes" class="btn btn-success" id="btndeletefromModel" name="ButtonType"/>
                                        <button class="btn btn-danger" data-dismiss="modal" id="deletemodelNobtn" type="submit">@Messages.No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.GbdDialogOpenButton("btndeleteavailabilityOpen", "Delete", "DeleteAvailabilityModal", "glyphicon glyphicon-retweet", "modal")
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    <style>
        .mgbtm30{
            margin-bottom:30px;
        }
       
    </style>
}
@section scripts{

    <script type="text/javascript">
        var userName = '@ViewData["UserName"]';
        var userId = '@ViewData["UserId"]';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        var urlGetSearchData = '@Url.Action("GetSearchModel", "SpecialAvailability", new {Area = "Datahub"})';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2", "SpecialAvailability", new {Area = "Datahub"})';
        var apiUrl = '@ConfigurationManager.AppSettings["webApiUrl.SpecialAvailability"].ToString()';
        $(document).ready(function() {
            $("#expiration").datepicker();

            $("#setToNever").click(function() {
                $("#expiration").val("9/9/2099");
            });

        });
    </script>
    @*@Scripts.Render("~/bundles/select2")*@
    @Scripts.Render("~/bundles/area/datahub/specialAvailability")
}
