@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = AclMessages.AddRemoveFeaturesUsers;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages.System + "</li>" +
           "<li>" + AclMessages.AccessControl + "</li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">@Html.Label(AclMessages.AclUserName)</span>
                    @Html.DropDownList("userCollection").GbdAddCssClass("form-control")
                </div>
            </div>
            <div class="col-md-4 btn-horizontal">
                <button id="GBDUserSearchButton" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;@Messages.Search
                </button>
                
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
    <div class="modal-body">
        <div class="content-wrapper">
                <ul id="userModuleMappingTree" class="easyui-tree"></ul>
            <div class="clearfix mgbtm8"></div>
            <div id="btnSubmit" class="btn-container" style="display: none;">
                @Html.GbdSubmitButton("GBDUserSaveButton", Messages.Save)
                <button id="gbdRevokeUserMappings" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;@AclMessages.RevokeUserMapping
                </button>
            </div>
        </div>
    </div>
</div>

    @section styles{
 @*@Styles.Render("~/Styles/easyui")
    @Styles.Render("~/Styles/easyui-icon")*@
<link href="~/Content/easyui/themes/default/css/tree.css" rel="stylesheet" />


        @Styles.Render("~/Styles/select2")
<style>
    #userModuleMappingTree {
        font-weight: bold;
    }

        .tooltip {
            background: transparent !important;
            border: none !important;
        }
    </style>

    }

    @section scripts{
        @Scripts.Render("~/bundles/easyui")
@Scripts.Render("~/bundles/easyui-jquery-parser")
@*@Scripts.Render("~/bundles/easyui-loader")*@
        @Scripts.Render("~/bundles/select2")

        <script type="text/javascript">

            var urlGetUserModuleMappingData = '@Url.Action("GetUserModuleMappingData", "AclUserModuleMapping", new {Area = "AccessControl"})';
            var urlSaveCheckedUserModuleMappingData = '@Url.Action("SaveCheckedUserModuleMappingData", "AclUserModuleMapping", new { Area = "AccessControl" })';
            var urlRevokeUserMappings = '@Url.Action("RevokeUserMappings","AclUserModuleMapping",new{Area="AccessControl"})';
            var errorOccurredMessage = '@Messages.ErrorOccured';

            $("select").select2();

        </script>

        @Scripts.Render("~/bundles/area/accesscontrol/usermodulemapping-index")
        <script>
            /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
            $.widget.bridge('uitooltip', $.ui.tooltip);
        </script>
        @Scripts.Render("~/bundles/bootstrap")
    }
