﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="div-correct-vendor" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"><i class="fa fa-adjust"></i> @Messages_Datahub.CorrectVPNorVendor</h4>
            </div>
            <div class="modal-body">
                <h5>
                    The vendor has duplicate data for this Vendor Part Number. Please correct this data.
                    <br/><br/>
                    You can correct by one of two ways:
                    <br/>
                    &nbsp;&nbsp;a. Vendor selection will be enabled. You can select proper vendor and save, or
                    <br />
                    &nbsp;&nbsp;b. You can edit your Vendor Part Number to a different value and save.
                    <br />
                    <br/>
                    Click <b>Yes</b> to proceed.
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="div-correct-vendor-yes" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="div-correct-vendor-no" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>