﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="CostRangeModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Cost Range </h4>
            </div>
            <div class="modal-body">
                <h5>
                    Cost is less than or equal to 0.02
                    <br />
                    Do you still want to continue?
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnYesCostRangeModal" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="btnNoCostRangeModal" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>