﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel

<div role="mappingtab" class="tab-pane" id="vpc-general">
    <fieldset>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.VendorPartNumber, new { @class = "control-label" })
                        </div>

                       @Html.TextBoxFor(m => m.VendorPartNumber, new { @class = "form-control allow-html" }).Databind("value: VendorPartNumber")
                    </div>
                    @Html.ValidationMessageFor(m => m.VendorPartNumber)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Name, new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control allow-html" }).Databind("value: Name")
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.VendorId, new { @class = "control-label" })
                        </div>
                        @Html.DropDownListFor(x => x.VendorId, (IEnumerable<SelectListItem>)ViewData["VendorList"], @Messages.PleaseSelect, new { @class = "form-control ", @id = "vendor", @onchange = "getMinLineOrderAmountForVendor(this.value)" }).Databind("value: VendorId, disable:IsDisabledForEdit")

                        @*<select class="form-control" id="vendor" name="VendorId" data-bind="value: VendorId, disable:IsDisabledForEdit">
                                <option value="" selected="selected">@Messages.PleaseSelect</option>
                            </select>*@

                        @if (ViewData["HasMultipleVendorPartNumberForSameVendorId"] != null && (bool)ViewData["HasMultipleVendorPartNumberForSameVendorId"] == true)
                        {
                            <div class="input-group-addon">
                                @Html.GbdDialogOpenButton("btn-correct-vendor", "Correct vendor", "div-correct-vendor", "fa fa-adjust", "modal")
                            </div>
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.VendorId)
                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Description, new { @class = "control-label" })
                        </div>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control allow-html", @style = "resize: vertical;" }).Databind("value: Description")
                    </div>
                    @Html.ValidationMessageFor(m => m.Description)
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(m => m.IsDisabled, new { @class = "control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.IsDisabled, new { @class = "form-control" }).GbdAddCssClass("form-control").Databind("value: IsDisabled")
                            <p class="errorPara"> @Html.ValidationMessageFor(m => m.IsDisabled)</p>
                        </div>
                    </div>*@

            </div>
        </div>
    </fieldset>
</div>