﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

@*Purchasing Levels Start*@

@* Grid columns: SKU/Kit, Unit Price, Unit, Qualification*@


<div role="mappingtab" class="tab-pane" id="vpc-purchasinglevel">

    <fieldset>
        <legend>
            <h4>@Messages_Datahub.PurchasingLevels</h4>
        </legend>
        <div class="content-wrapper">
            <ul class="list-group pricing" id="table-purchasing-level">
                <li class="list-group-item title">
                    <span class="col-sm-2">@Messages_Datahub.Quantity</span>
                    @*<span class="col-sm-2">@Messages_Datahub.QuantityTo</span>*@
                    @if (UdhClaimsIdentity.ShowPurchasingLevel() == true)
                    {
                    <span class="col-sm-3">@Messages.Margin @Messages.PercentSign</span>
                    <span class="col-sm-3">@Messages.Margin @Messages.DollarSign</span>
                    <span class="col-sm-4">@Messages.SellingPrice</span>
                    }
                    else
                    {
                        <span class="col-sm-4">@Messages.SellingPrice</span>
                    }


                </li>
                <div data-bind="visible: false">
                    Ooops! Something wrong with your data prevented from displaying all information.
                </div>
                <div style="display: none;" data-bind='foreach: PurchasingLevels, visible: true'>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class='required number form-control' data-bind="value: QuantityFrom, style: { color: QuantityFrom() < 2 ? ' red':'black' }"/>
                                    <span class="input-group-addon form-info sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin % for mentioned quantity or greater">+</span>
                                </div>
                            </div>
                            @*<span class="col-sm-2"><input type="text" class='required number form-control' data-bind="value: QuantityTo, style: { color: QuantityTo() < 2 ? ' red':'black' }" /></span>*@
                            @if (UdhClaimsIdentity.ShowPurchasingLevel() == true)
                            {
                            <span class="col-sm-3">
                              @*  <input type="text" class='required number form-control' data-bind="value: GrossMarginPercent, disable: ($root.Cost() <= 0), style: { color: GrossMarginPercent() < 0 ? ' red':'black' }" />*@
                           <input type="text" class='required number form-control' data-bind="value: GrossMarginPercent, disable: $root.Cost() <= 0 || $parent.vpcMarginLocked, style: { color: GrossMarginPercent() < 0 ? ' red':'black' }" />
                            @*<span class="input-group-addon">%</span>*@
                        </span>
                            }
                            @if (UdhClaimsIdentity.ShowPurchasingLevel() == true)
                            {
                            <span class="col-sm-3"><input class="form-control" type="text" data-bind="value: GrossMarginAmount, disable: true, style: { color: GrossMarginAmount() < 0 ? 'red' : 'black'}" /></span>
                            }
                            <span class="col-sm-4">
                            <div class="row">
                                <span class="col-md-10">
                                    <input class="form-control" type="text" data-bind="value: PriceForPricingLevel, disable: $root.Cost() <= 0, style: { color: PriceForPricingLevel() < 0 ? 'red' : 'black' }" />
                                </span>
                                <a href='#' class="btn btn-danger " data-bind='click: $parent.removePurchasingLevel' data-toggle='tooltip' data-placement='top' title='Cancel'><i class="fa fa-close"></i></a>

                            </div>
                        </span>
                        </div>
                    </li>
                </div>
            </ul>
          
                   @*@Html.GbdButton("add-more-pricing-level", Messages.AddMore).Databind("click addPricingLevel")*@
            <button id="add-more-purchasing-level" class="btn btn-primary" data-bind="click: addPurchasingLevel, disable: Cost() <= 0">
                @Messages.AddMore <i class="fa fa-plus"></i>
            </button>
        </div>
    </fieldset>

</div>



@*Purchasing Levels End*@


