﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel

<div role="mappingtab" class="tab-pane fade in active" id="vpc-purchasing">
    <fieldset>
        <legend>
            <h4>@Messages_Datahub.BasePurchasing</h4>
        </legend>
        @*Base Purchasing Start*@
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.OrderBy, new { @class = "control-label" })
                        </div>
                        @*     @Html.TextBoxFor(m => m.OrderBy, new { @class = "form-control" }).Databind("value: OrderBy")*@
                        @Html.DropDownListFor(m => m.OrderBy, new[]
                        {
                            new SelectListItem() {Text = Messages.PleaseSelect, Value = ""},
                            new SelectListItem() {Text = "by the Piece", Value = "P"},
                            new SelectListItem() {Text = "by the Lot", Value = "L"}//,
                            //new SelectListItem() {Text = "by the Piece in fixed Lot", Value = "Q"}
                        }, new { @class = "form-control" }).Databind("value: OrderBy")

                    </div>
                    @Html.ValidationMessageFor(m => m.OrderBy)
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.QuantityPerLot, new { @class = "control-label" })
                            <span style="color: red;" data-bind="visible: IsQplEnabled()">*</span>
                        </div>

                        @Html.TextBoxFor(m => m.QuantityPerLot, new { @class = "form-control" }).Databind("value: QuantityPerLot,style: { color: QuantityPerLot() < 0 ? 'red' : 'black'}, enable: IsQplEnabled")
                    </div>
                    @Html.ValidationMessageFor(m => m.QuantityPerLot)
                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.LotDescription, new { @class = "control-label" })
                            @*<span style="color: red;" data-bind="visible: IsQplEnabled()">*</span>*@
                        </div>
                        @Html.DropDownListFor(m => m.LotDescription, (IEnumerable<SelectListItem>)ViewData["LotDescriptions"], Messages.PleaseSelect, new { @class = "lotDescriptionDrop  form-control", @id = "lotDescriptionDrop" }).Databind("value: LotDescription, enable: IsByLot")
                    </div>
                    @Html.ValidationMessageFor(m => m.LotDescription)
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.LotPartNumber, new { @class = "control-label" })
                            @*<span style="color: red;" data-bind="visible: IsQplEnabled()">*</span>*@
                        </div>
                        @Html.TextBoxFor(m => m.LotPartNumber, new { @class = "form-control" }).Databind("value: LotPartNumber, enable: IsByLot")
                    </div>
                    @Html.ValidationMessageFor(m => m.LotPartNumber)
                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Cost, new { @class = "control-label" })
                        </div>
                        @Html.EditorFor(m => m.Cost).Databind("value: Cost,style: { color: Cost() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                    </div>
                    @Html.ValidationMessageFor(m => m.Cost)

                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.DateLastCostUpdate, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.DateLastCostUpdate, UdhClaimsIdentity.GetDateFormat(), new { @class = "form-control datetimeDataType" }).Databind("value: DateLastCostUpdate")
                    </div>
                    @Html.ValidationMessageFor(m => m.DateLastCostUpdate)

                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.CostPerLot, new { @class = "control-label" }) @*IsByLot*@
                        </div>
                        @Html.TextBoxFor(m => m.CostPerLot, new { @class = "form-control" }).Databind("value: CostPerLot,enable: IsByLot,style: { color: CostPerLot() < 0 ? 'red' : 'black'}")
                    </div>
                    @Html.ValidationMessageFor(m => m.CostPerLot)
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Spq, new { @class = "control-label" })
                        </div>
                        @Html.EditorFor(m => m.Spq).Databind("value: Spq,style: { color: Spq() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                    </div>
                    @Html.ValidationMessageFor(m => m.Spq)

                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Uom, new { @class = "control-label" }) @*IsByLot*@
                        </div>
                        @Html.DropDownListFor(m => m.Uom, (IEnumerable<SelectListItem>)ViewData["UomList"], Messages.PleaseSelect, new { @class = "uomListDrop form-control", @id = "uomListDrop" }).Databind("value: Uom")
                    </div>
                    @Html.ValidationMessageFor(m => m.Uom)
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon default has-tooltip">

                            <label for="MinimumOrderQuantity" class="control-label sg-tooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="Min Order Quantity will be recalculated if there is a Vendor Min Order Line Amount.<br/> Your changes may be overwritten">Minimum Order Quantity</label>

                            @* @Html.GbdLabelFor(m => m.MinimumOrderQuantity, new { @class = "control-label" })*@
                        </div>
                        @Html.TextBoxFor(m => m.MinimumOrderQuantity, new { @class = "form-control" }).Databind("value: MinimumOrderQuantity,style: { color: Cost() < 0 ? 'red' : 'black'}")
                    </div>
                    @Html.ValidationMessageFor(m => m.MinimumOrderQuantity)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.MinimumOrderUnit, new { @class = "control-label" })
                        </div>
                        @*    @Html.TextBoxFor(m => m.MinimumOrderUnit, new { @class = "form-control" }).Databind("value: MinimumOrderUnit")*@
                        @Html.DropDownListFor(m => m.MinimumOrderUnit, new[]
                        {
                            new SelectListItem() {Text = "--Choose", Value = ""},
                            new SelectListItem() {Text = "by the Piece", Value = "P"},
                            new SelectListItem() {Text = "by the Lot", Value = "L"}
                        }, new { @class = "form-control" }).Databind("value: MinimumOrderUnit")

                    </div>
                    @Html.ValidationMessageFor(m => m.MinimumOrderUnit)
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.ManufacturersBarcode, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.ManufacturersBarcode, new { @class = "form-control" }).Databind("value: ManufacturersBarcode")
                    </div>
                    @Html.ValidationMessageFor(m => m.ManufacturersBarcode)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.CanDropship, new { @class = "control-label" })
                        </div>
                        <div class="input-group-addon form-info">
                            @Html.EditorFor(m => m.CanDropship, new { @class = "form-control" }).Databind("checked: CanDropship")
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.CanDropship)
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.LeadTimeInDays, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.LeadTimeInDays, new { @class = "form-control" }).Databind("value: LeadTimeInDays,style: { color: LeadTimeInDays() < 0 ? 'red' : 'black'}")
                    </div>
                    @Html.ValidationMessageFor(m => m.LeadTimeInDays)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.OnOrder, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.OnOrder, new { @class = "form-control", @readonly = "readonly" }).Databind("value: OnOrder")
                    </div>
                    @Html.ValidationMessageFor(m => m.OnOrder)
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.LotBarcode, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.LotBarcode, new { @class = "form-control" }).Databind("value: LotBarcode")
                    </div>
                    @Html.ValidationMessageFor(m => m.LotBarcode)
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Qoh, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.Qoh, new { @class = "form-control" }).Databind("value: Qoh")
                    </div>
                    @Html.ValidationMessageFor(m => m.Qoh)
                </div>

                @*---SG-555- added textbox control for QOH updated on such that it is editable---*@
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.QohUpdatedOn, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.QohUpdatedOn, UdhClaimsIdentity.GetDateFormat(), new { @class = "form-control datetimeDataType" }).Databind("value: QohUpdatedOn")
                    </div>
                    @Html.ValidationMessageFor(m => m.QohUpdatedOn)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.CoreCharge, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.CoreCharge, new { @class = "form-control"}).Databind("value: CoreCharge")
                    </div>
                    @Html.ValidationMessageFor(m => m.CoreCharge)
                </div>

                @*Base Purchasing End*@
                <div class="clearfix mgbtm8">

                </div>


                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">

                            @Html.GbdLabelFor(m => m.ShelfLife, new { @class = "control-label" })

                        </div>
                        @Html.TextBoxFor(m => m.ShelfLife, new { @class = "form-control" }).Databind("value: ShelfLife")
                    </div>
                    @Html.ValidationMessageFor(m => m.ShelfLife)
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">

                            @Html.GbdLabelFor(m => m.NonCancelNonReturn, new { @class = "control-label" })

                        </div>
                        @Html.EditorFor(m => m.NonCancelNonReturn, new { @class = "form-control" }).Databind("checked: NonCancelNonReturn")
                    </div>
                    @Html.ValidationMessageFor(m => m.NonCancelNonReturn)
                </div>
            </div>
        </div>
        @*Purchasing Levels End*@
    </fieldset>
</div>

