﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources

<div role="mappingtab" class="tab-pane" id="vpc-history">
    <fieldset>
        <legend><h4>Historical Change Tracking for Purchasing</h4></legend>
        <div class="content-wrapper">
            <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
                <div class="modal-body">
                    <div class="sg-datatable-wrap udh-tooltip-wrap">
                        <div id="divVPCHistoryExportedToSEOM" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <b>@Messages_Datahub.HistoryExportedToSEOM: <span id="spanVPCHistoryExportedToSEOM" class="fa fa-plane fa-spin"></span>
                            </b>
                        </div>
                        <div class="clearfix mgbtm8"></div>
                        <table id="PIMVendorProductHistoryDataTable" class="table">
                            <thead>
                                <tr>
                                    <th>@Messages_Datahub.HistoryUserName</th>
                                    <th>@Messages_Datahub.HistoryProperty</th>
                                    <th>@Messages_Datahub.HistoryValue</th>
                                    <th>@Messages_Datahub.HistoryUpdatedOn</th>
                                    @*<th>@Messages_Datahub.HistoryExportedToAabaco</th>*@
                                    @*<th>@Messages_Datahub.HistoryExportedToSEOM</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>