﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel

@*Mapping Tab Start*@
<div role="mappingtab" class="product">
    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation"><a href="#vpc-general" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.General</a></li>
        <li role="presentation" class="active"><a href="#vpc-purchasing" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Purchasing</a></li>
        <li role="presentation"><a href="#vpc-purchasinglevel" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.PurchasingLevels</a></li>
        <li role="presentation"><a href="#vpc-history" id="tab_vpc_history" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.History</a></li>
    </ul>

    @*Tab Content Start*@
    <div class="tab-content">

        @* General Tab Start *@
        @Html.Partial("_GeneralTab")
        @* General Tab End *@

        @* Purchasing Tab Start *@
        @Html.Partial("_PurchasingTab")
        @*Purchasing Tab End*@

        @* Purchasing Level Tab Start *@
        @Html.Partial("_PurchasingLevel")
        @*Purchasing Level Tab End*@

        @*History Tab Start*@
        @Html.Partial("_PurchasingHistory")
        @*History Tab End*@

    </div>
    @*Tab Content Start*@

</div>
@*Mapping Tab End*@

@Html.HiddenFor(m => m.Id).Databind("value: Id")
  
@Html.Partial("_CorrectVPNorVendor")


