﻿@using System.Collections.Concurrent
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.UpdateQuantityOnHand;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.VendorProduct + "</li>" +
                     "<li class='active'>" + @ViewBag.Title + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="row">

                <div id="vendor-dropdown" class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon control-label">
                            <label for="Vendor">@Messages_Datahub.Vendor</label>
                        </div>
                        @if (String.IsNullOrWhiteSpace(Request.QueryString["vendorId"]))
                        {
                            <select class="form-control" id="Vendor" name="Vendor">
                                <option value="" selected="selected">@Messages.PleaseSelect</option>
                            </select>
                        }
                        else
                        {
                            <input type="hidden" id="Vendor" name="Vendor" value="@Request.QueryString["vendorId"]"/>
                            <label class="form-control">@Request.QueryString["vendorId"]</label>
                        }
                    </div>
                </div>

                <div id="import-qoh-sheet" class="col-md-4 @(String.IsNullOrWhiteSpace(Request.QueryString["vendorid"]) ? "hidden" : "")">
                    <div class="input-group sg-tooltip" title="Requirements:<br> Sheet must be in CSV format. <br>Columns for Vendor Part Number and QOH are required. <br>Required columns must match with QOH settings of the vendor." data-toggle="tooltip" data-placement="bottom">
                        <div class="input-group-addon">
                            <label class="control-label" for="">@Messages_Datahub.ImportQOHSheet </label>
                        </div>
                        <input type="file" id="vendor-file" value="Open" accept=".csv">

                    </div>
                </div>
                <div id="import-qoh-setting" class="col-md-4 hidden">
                    <div class="col-md-6">
                        <div class="input-group sg-tooltip" title="Checked: File has header. <br>Not checked: File does not have header." data-toggle="tooltip" data-placement="bottom">
                            <div class="input-group-addon has-tooltip" style="min-height: 22px; padding-top: 4px;">
                                <label for="chkFileContainsHeader">@Messages_Datahub.FileContainsHeader</label>
                            </div>
                            <input type="checkbox" id="chkFileContainsHeader"/>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <!-- Split button -->
                    <div class="btn-group col-md-2 pull-right">

                        <button type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-question-circle"></i> <span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li class="table"><b>QOH columns information</b></li>
                            <li>
                                <table class="table table-condensed table-responsive" id="table-qoh-settings" style="width: 350px;">
                                    <tr class="hidden" id="table-qoh-settings-row-template">
                                        <td class="fa fa-dot-circle-o"></td>
                                        <td>{0}</td>
                                        <td class="fa fa-arrow-right"></td>
                                        <td>{1}</td>
                                    </tr>
                                    @*<tr>
                                        <td class="fa fa-dot-circle-o"></td>
                                        <td>Vendor Part Number Column</td>
                                        <td class="fa fa-arrow-right"></td>
                                        <td id="li-VendorPartNumberColumn"></td>
                                    </tr>*@
                                    @*<tr>
                                        <td class="fa fa-dot-circle-o"></td>
                                        <td>QOH Column</td>
                                        <td class="fa fa-arrow-right"></td>
                                        <td id="li-QOHColumn"></td>
                                    </tr>*@
                                </table>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="clearfix mgbtm8"></div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="vendor-product-bulk-update"></div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="pagination-holder">
                        <div id="pagination"></div>

                        <div class="pull-right">
                            @*<input type="button" class="btn btn-primary" id="export-vendor-product-bulk-update" value="Export" />*@
                            <div id="btn-save" class="btn btn-primary">
                                @Messages.Save
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>

        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/simple-pagination")
    <style>
        .simple-pagination {
            float: left;
            width: 80%;
        }

        .pagination-holder {
            border-top: 1px #ccc solid;
            padding-top: 10px;
        }

        .htComments {
            z-index: 9999 !important;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/papaparse")

    <script type="text/javascript">

    //urls
    var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2", "Catalog", new {Area = "Datahub"})';
    //var urlVendorBulkUpdate = '@Url.Action("BulkUpdate", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlBulkUpdate = '@Url.Action("BulkUpdate", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlGetBulkUpdateVendorSettings = '@Url.Action("GetBulkUpdateVendorSettings", "VendorProductCatalog", new { Area = "Datahub" })';

        //messages
        var msgPleaseSelect = '@Messages.PleaseSelect';
    var msgErrorOccured = '@Messages.ErrorOccured';

    //check if required
    var urlgetBulkPricing = '@Url.Action("BulkPricingGet", "BulkPricing", new {Area = "Datahub"})';
    var urlgetBulkPricingPagination = '@Url.Action("BulkPricingPagination", "BulkPricing", new {Area = "Datahub"})';
    var urlexportBulkData = '@Url.Action("BulkPricingExport", "BulkPricing", new {Area = "Datahub"})';
    var urlgetBulkPricingFromFile = '@Url.Action("GetBulkPricingFromFile", "BulkPricing", new {Area = "Datahub"})';
    var data = '@ViewBag.BulkPricingData';
    var columns = '@ViewBag.ColumnsJson';
    var staticColumnsCount = '@ViewBag.StaticColumnsCount';
    var urlGetBulkPricingHeaders =
        '@Url.Action("GenerateBulkPricingColumns", "BulkPricing", new {Area = "Datahub"})';
    var urlGetBulkPricing = '@Url.Action("GetBulkPricing", "BulkPricing", new {Area = "Datahub"})';
    var msgCannotRemoveThisRow = '@Messages_Datahub.Error_CannotRemoveThisRow';
    var msgCannotRemoveThisColumn = '@Messages_Datahub.Error_CannotRemoveThisColumn';
    var msgCannotInsertRowHere = '@Messages_Datahub.Error_CannotInsertRowHere';
    var msgCannotInsertColumnHere = '@Messages_Datahub.Error_CannotInsertColumnHere';
    var msgValue0MustBeBetween1And2 = '@Messages_Datahub.Error_Value0_MustBeBetween_1_And_2';
    var msgTotalErrors0AreShownInRedBelow = '@Messages_Datahub.Error_TotalErrors_0_AreShownInRedBelow';

    </script>

    @*@Scripts.Render("~/bundles/area/datahub/bulkpricing")*@
    @Scripts.Render("~/bundles/encoder")
    @*<script src="~/Scripts/encoder.js"></script>*@
    @Scripts.Render("~/bundles/area/datahub/bulk-common")
    @*<script src="~/Scripts/Areas/Datahub/BulkPricing/bulk-common.js"></script>*@
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/bulkupdate")
    @*<script src="~/Scripts/Areas/Datahub/VendorProductCatalog/bulkupdate.js"></script>*@
}
