﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel

@{
    ViewBag.Title = Messages.Add + " " + Messages_Menu.VendorProductCatalog;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages.Create + "</li>" +
                     "<li class='active'>" + Messages_Datahub.VendorProduct + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Add @Messages_Menu.VendorProductCatalog</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, workflowId = Request["workflowId"], stepId = Request["stepId"], productId = Request["productId"] }))
    {
        @*@Html.AntiForgeryToken()*@

        <input type="hidden" id="WorkflowId" name="WorkflowId" value="@Request["workflowId"]" />
        <input type="hidden" id="StepId" name="StepId" value="@Request["stepId"]" />

        <div class="modal-body">
            @*SG-808*@
            @Html.HiddenFor(m => m.MinLineOrderAmount, new { data_bind = "value: MinLineOrderAmount" })

            <div class="vendorProduct-create product-catalog">
                @if (ViewData["ProductName"] != null && ViewData["LocalSku"] != null && ViewData["IsDisabled"] != null)
                {
                    <strong class="title">
                        <label for="pc-product-name">@Messages_Datahub.ProductName:</label>
                        <span id="pc-product-name">@ViewData["ProductName"]</span>
                        @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                        |
                        <label for="pc-local-sku">@Messages_Datahub.LocalSKU:</label>
                        <a id="pc-local-sku" href='@Url.Action("Edit", "ProductCatalog", new {Area = "Datahub", id = @ViewData["ProductCatalogId"].ToString(), returnUrl = @Request.RawUrl})'>@ViewData["LocalSku"]</a>
                        |
                        <label for="pc-isenabled">@Messages.IsDisabled</label>
                        @if (ViewData["IsDisabled"] != null && (bool)@ViewData["IsDisabled"] == true)
                        {
                            <input type="checkbox" disabled="disabled" checked="checked" id="pc-isenabled" />
                        }
                        else
                        {
                            <input type="checkbox" disabled="disabled" id="pc-isenabled" />
                        }
                    </strong>

                    <div class="clearfix"></div>
                }

                <strong class="title">
                    <label>@Messages_Datahub.VendorPartNumber:</label>
                    <span data-bind="text: VendorPartNumber"></span>
                    |
                    <span class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Disabling discontinues in SEOM and deletes from yahoo">
                        @Html.LabelFor(m => m.IsDisabled)

                        @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
                    </span>
                </strong>

                <div class="clearfix"></div>
                @Html.Partial("_VendorProductCatalog")
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-container">
                            @Html.GbdButton("CreateVendorProductCatalog", Request["workflowId"] == null ? Messages.CreateNew : Messages.Next).Databind("click: create")
                            @if (ViewBag.Assotiation != null && !(bool)ViewBag.Assotiation)
                            {
                                <input type="button" value="Save and Associate" title="Save and Associate with existing product" class="btn btn-next sg-tooltip" data-toggle="tooltip" data-placement="top" id="CreateAssociateVendorProductCatalog" name="ButtonType" />
                            }
                            @Html.GbdResetButton(Messages.Cancel)
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
</div>

<div id="UpdateModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">@Messages.Close</span>
                    </button>*@
                <h4 id="myModalLabel" class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <h5>Vendor Part Number for this vendor already exist! Do you want to update its information?</h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-next" id="btnUpdatePurchasing" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="UpdatePurchasingNobtn" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>
@Html.GbdDialogOpenButton("btnVendorProductUpdate", "Update", "UpdateModal", "glyphicon glyphicon-edit", "modal")
@Html.Partial("_SpqAndQplDoNotMatchDialog")

@Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqNotMatchedForOrderByPieceDialog.cshtml")
@Html.Partial("_CostRangeDialog")
@Html.Partial("_VPAmountDonotMatchLineOrderAmount")
@Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_SaleMarginAlertDialog.cshtml")

@*<div class="pull-left col-sm-12">
        <br />
        @Html.ActionLink(Messages.Back, "Index")
    </div>*@


@section styles
{

    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")

    <style type="text/css">
        .handsontable th,
        .handsontable td {
            font-size: 10px;
        }
    </style>

    @Styles.Render("~/Styles/bootstrap-switch")

}


@section scripts
{
    @Scripts.Render("~/bundles/jquery-mask")

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")


    <script type="text/javascript">

        var createUrl = '@Url.Action("Create", "VendorProductCatalog", new {Area = "Datahub"})';
        var validationMessage = "@Messages.Validation_Enter_Required_Fields";
        var urlCatalogManagerIndex = '@Url.Action("Index", "CatalogManager", new {Area = "Datahub"})';
        var vendorProductCatalogVm = '@Html.Raw(ViewBag.VendorProductCatalogVm)';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2", "Catalog", new {Area = "Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        var validatecostprice = '@Url.Action("GetCostPriceValidation", "VendorProductCatalog", new { Area = "Datahub"})';
        //SG-808
        var GetUrl = '@Url.Action("GetMinOrderLineAmount", "VendorProductCatalog", new {Area = "Datahub"})';

        $('#LeadTimeInDays').mask('000');






    </script>

    @Scripts.Render("~/bundles/bootstrap-switch")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/purchasingrulelevel-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproduct-validate")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproduct-create")
}
