﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel
@{
    ViewBag.Title = Messages.Edit + " " + Messages_Menu.VendorProductCatalog;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">@Messages.Edit @Messages_Menu.VendorProductCatalog</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    @using (Html.BeginForm(new { id = "__AjaxAntiForgeryForm", ReturnUrl = ViewBag.ReturnUrl }))
    {
         @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="vendorProduct-edit product-catalog">

                @if (ViewData["ProductName"] != null && ViewData["ProductName"] != null && ViewData["IsDisabled"] != null)
                {

                    <strong class="title">
                        <label for="pc-product-name">@Messages_Datahub.ProductName:</label>
                        <span id="pc-product-name">@ViewData["ProductName"]</span>
                        @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                        |
                        <label for="pc-local-sku">@Messages_Datahub.LocalSKU:</label>
                        <a id="pc-local-sku" href='@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub", id = @ViewData["ProductCatalogId"].ToString(), returnUrl = @Request.RawUrl })'>@ViewData["LocalSku"]</a>
                        |
                        <label for="pc-isenabled">@Messages.IsDisabled</label>
                        @if (ViewData["IsDisabled"] != null && (bool)@ViewData["IsDisabled"] == true)
                        {
                            <input type="checkbox" disabled="disabled" checked="checked" id="pc-isenabled" />
                        }
                        else
                        {
                            <input type="checkbox" disabled="disabled" id="pc-isenabled" />
                        }
                    </strong>


                    <div class="clearfix"></div>
                }

                <strong class="title">
                    <label>@Messages_Datahub.VendorPartNumber:</label>
                    <span data-bind="text: VendorPartNumber"></span>
                    |
                    @Html.LabelFor(m => m.IsDisabled)
                    @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
                </strong>

                <div class="clearfix"></div>

                @Html.Partial("_VendorProductCatalog")

                @Html.Partial("_SpqAndQplDoNotMatchDialog")


                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqNotMatchedForOrderByPieceDialog.cshtml")

                @Html.Partial("_CostRangeDialog")
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_MarginNegativeDuetoSelectedVendorProductCost.cshtml")
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_PricingLevelNegativeFromVPDialogue.cshtml")
                @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_SaleMarginAlertDialog.cshtml")



                @*//SG-808*@
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_VPAmountDonotMatchLineOrderAmount.cshtml")

                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-container">
                            @Html.GbdButton("CreateVendorProductCatalog", Request["workflowId"] == null ? Messages.Save : Messages.Next).Databind("click: edit")
                            @Html.GbdResetButton(Messages.Cancel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*SG-803*@
@using (Html.GbdConfirmDialog("SaveConfirmationDialogueForVendorProduct", "Order By Field Changed", "warning"))
{
    @*<h5> @String.Format("Order By field has been changed. Please ensure this product is not on order first. If so, change the quantities associated with it to match the purchasing rules.")</h5>
    <h5> @String.Format("Do you still want to continue?")</h5>*@
    <h5>@string.Format(Messages.OrderByField_Changed)</h5>
    <h5>@string.Format(Messages.Still_Continue)</h5>


    //< h5 > @String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Disable, Messages.ProductCategory + Messages.PluralSuffix) ?</ h5 >
}


@section styles
{

    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
}


@section scripts
            {
    @*@Scripts.Render("~/bundles/jquery-mask")*@
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">

    var productIdFromTempData = '@TempData["Id"]';
    var createUrl = '@Url.Action("Create", "VendorProductCatalog", new { Area = "Datahub" })';
    var editUrl = '@Url.Action("Edit", "VendorProductCatalog", new { Area = "Datahub" })';
    var urlCatalogManagerIndex = '@Url.Action("Index", "CatalogManager", new{Area="Datahub"})';
    var getVendorProductHistoryTable =
        '@Url.Action("GetVendorProductPricingHistoryTable", "VendorProductCatalog", new { Area = "Datahub", vendorProductId=Model.Id })';
    var getVendorProductSeomStatus = '@Url.Action("GetVendorProductSeomStatus", "VendorProductCatalog", new { Area = "Datahub", vendorProductId=Model.Id })';
        var productCatalogEditUrl = '@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub"})';
        var validateProductMargin = '@Url.Action("GetNegativeMarginValidation", "VendorProductCatalog", new { Area = "Datahub"})';
        var validatecostprice = '@Url.Action("GetCostPriceValidation", "VendorProductCatalog", new { Area = "Datahub"})';
    var validationMessage = "@Messages.Validation_Enter_Required_Fields";
    var productIdFromTempData = '@TempData["Id"]';
    var vendorProductCatalogVm = '@Html.Raw(ViewBag.VendorProductCatalogVm)';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2","Catalog",new{Area="Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        //SG-803 
        var PopIdForVendorProduct = "SaveConfirmationDialogueForVendorProduct";
        var VendorProductYesDialogueId = "btnSaveConfirmationDialogueForVendorProductYes";
        //console.log(productIdFromTempData);
        $('#Id').val(productIdFromTempData);

     
        //SG-808
        var GetUrl = '@Url.Action("GetMinOrderLineAmount", "VendorProductCatalog", new {Area = "Datahub"})';


        //$("#DateLastCostUpdate").datepicker({
        //    showButtonPanel: true
        //});

        //$("#QohUpdatedOn").datepicker({
        //    showButtonPanel: true
        //});

        //$.datepicker._gotoToday = function (id) {
        //    $(id).datepicker('setDate', new Date()).datepicker('hide').blur();
        //};

       
    </script>
     
  

    @*<script src="~/Scripts/Areas/Datahub/VendorProductCatalog/vendorproduct-validate.js"></script>*@
   
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/purchasingrulelevel-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproduct-validate")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproduct-edit")
    @Scripts.Render("~/bundles/area/datahub/vendorproduct-history")
}
