﻿@using GBD.UniversalDataHub.Resources
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel>

@{
        ViewBag.Title = Messages.Index;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>@Messages.Index</h2>

    @Html.ActionLink(Messages.CreateNew, "Create")

    @section Styles{
        @Styles.Render("~/Styles/datatable")
    }
    
    <table id="vendorProductCatalogTable">
        <thead>
            <tr>
             <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(models => item.Name)</td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        $("#vendorProductCatalogTable").DataTable();
    </script>
}