﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@*Dialog box start*@

<div id="supplier-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages_Datahub.CompareSuppliers</h4>
            </div>
            <div class="modal-body">
                <p class="pull-left">
                    Price comparison for
                    <label>Product Name:</label>
                    <span data-bind="text: Name"></span>
                    <label>Local Part Number:</label>
                    <span data-bind="text: LocalSku"></span>
                </p>
                <a class="sg-tooltip pull-right" data-toggle="tooltip" data-placement="bottom" title="L - by the lot ; P - by the piece ">View Legend</a>@*; Q - by the piece in fixed lots*@

                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@Messages_Datahub.SupplierSKU</th>
                            <th>@Messages_Datahub.Supplier</th>
                            <th>@Messages.Cost</th>
                            <th>@Messages_Datahub.OrderBy</th>
                            <th>@Messages_Datahub.QuantityPerLot</th>
                            <th>@Messages_Datahub.CostPerLot</th>
                            <th>@Messages_Datahub.MinimumOrderUnit</th>
                            <th>@Messages_Datahub.MinimumOrderQuantity</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: supplierList">
                        <tr>
                            <td><span data-bind="text: VendorPartNumber"></span></td>
                            <td><span data-bind="text: VendorName"></span></td>
                            <td><span data-bind="text: VPPRCost"></span></td>
                            <td><span data-bind="text: OrderBy"></span></td>
                            <td><span data-bind="text: QuantityPerLot"></span></td>
                            <td><span data-bind="text: CostPerLot"></span></td>
                            <td><span data-bind="text: MinimumOrderUnit"></span></td>
                            <td><span data-bind="text: MinimumOrderQuantity"></span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary">@Messages_Datahub.SetPrimary</button>*@
                
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@

