﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@*Dialog box start*@

<div id="create-inventory-supplier-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages_Datahub.CreateInventorySupplier</h4>
            </div>
            <div class="modal-body">
                <p class="pull-left">@Messages_Datahub.CreateInventorySupplier for <span data-bind="text: LocalSku"></span>&hellip;</p>

                <select id="supplier" class="form-control" data-bind='options: supplierList, optionsText: "name", optionsCaption: "@Messages.PleaseSelect", value: createInventorySupplierId'> </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">@Messages_Datahub.CreateInventorySupplier</button>
                <button type="button" class="btn btn-danger" data-bind="enable: supplierList.length > 0" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@




