﻿@using System.Text.RegularExpressions
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using GBD.UniversalDataHub.Areas.Datahub.Models
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldManagerGroupViewModel>

    @*
        For server side post (not ajax post)
    *@

    <div class="cf-by-group">
        <div class="panel-group" id="customfieldbygroup-accordion">
            @{
                int count = 0;
                int groupCount = 0;
                const int numberOfColumnsPerRow = 2;
            }
            @foreach (CustomFieldManagerGroupViewModel item in Model)
            {
                if (item.CustomTemplate != null && item.CustomTemplate.Any())
                {
                    <div class="mgbtm8 clearfix"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a tabindex="-1" class="accordion-toggle collapsed" data-toggle="collapse" href="#@(Regex.Replace(item.Name, "[^A-Za-z0-9]", "_"))-href">
                                    <span class="fa fa-chevron-down sg-tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description"></span>
                                    @item.Name
                                </a>
                            </h3>
                        </div>
                        <div id="@(Regex.Replace(item.Name, "[^A-Za-z0-9]", "_"))-href" class="panel-body panel-collapse in">
                            <div class="content-wrapper custom-wrapper">
                                <div class="row">
                                    @{
                                        int columnCount = 0;
                                    }
                                    @foreach (var customField in item.CustomTemplate)
                                    {
                                        //{
                                        //    customField.FieldValue = HttpUtility.HtmlDecode(customField.FieldValue);
                                        //    customField.OldValue = HttpUtility.HtmlDecode(customField.OldValue);
                                        //}

                                        var nameFieldValue = String.Format("CustomTemplates[{0}].FieldValue", count);
                                        var nameId = String.Format("CustomTemplates[{0}].Id", count);
                                        var nameFieldAlias = String.Format("CustomTemplates[{0}].FieldAlias", count);
                                        var nameFieldDataType = String.Format("CustomTemplates[{0}].FieldDataType", count);
                                        //START for each custom field---
                                        <div class="col-md-@(12/numberOfColumnsPerRow)">
                                            @* col-md-(12/3) = col-md-4 where 3 = # of elements in a row*@
                                            <div class="input-group @(customField.FieldInputType == "check" ? "is-checkbox" : "")">
                                                <div class="input-group-addon sg-tooltip @(String.IsNullOrWhiteSpace(customField.CustomFields.FieldNote) ? "" : "has-tooltip")" data-toggle="tooltip" data-placement="bottom" title="@customField.CustomFields.FieldNote">
                                                    <label for="@customField.CustomFields.Id" class="@customField.CustomFieldClass">@(!String.IsNullOrWhiteSpace(customField.CustomFields.FieldAlias) ? customField.CustomFields.FieldAlias : customField.CustomFields.Name)</label>
                                                    @*Show * for required fields*@
                                                    @if (customField.CustomFieldClass.Contains("value-required-cf"))
                                                    {
                                                        <label class="errorPara">*</label>
                                                    }
                                                </div>

                                                <input type="hidden" name="@nameId" value="@customField.CustomFields.Id" />
                                                <input type="hidden" name="@nameFieldAlias" value="@customField.CustomFields.FieldAlias" />
                                                <input type="hidden" name="@nameFieldDataType" value="@customField.FieldDataType" />
                                                @*Render dropdown*@
                                                @if (customField.FieldInputType == "select")
                                                {
                                                    @*@Html.DropDownList(nameFieldValue, customField.AllowedValuesList.Select(x => new SelectListItem { Value = x, Text = x, Selected = (x == customField.FieldValue) }), String.IsNullOrWhiteSpace(customField.CustomFields.DefaultValue) ? Messages.PleaseSelect : null, new { @class = "form-control " + customField.CustomFieldClass, @id = customField.CustomFields.Id, @data_default = customField.FieldValue, @data_name = customField.CustomFields.Name })*@

                                                    IEnumerable<SelectListItem> selectList = customField.AllowedValuesList.Select(x => new SelectListItem
                                                    {
                                                        Text = x.Key,
                                                        Value = x.Key,
                                                        Selected = (x.Key == customField.FieldValue)
                                                    });
                                                    //if custom field does not have default value, show --Select option in dropdown
                                                    //if custom field has default value, don't show --Select option in dropdown
                                                    @Html.DropDownList(nameFieldValue, selectList, String.IsNullOrWhiteSpace(customField.CustomFields.DefaultValue) ? Messages.PleaseSelect : null, new { @class = "form-control " + customField.CustomFieldClass, @id = customField.CustomFields.Id, @data_default = customField.FieldValue, @data_isdefault = (customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue), @data_name = customField.CustomFields.Name, @data_oldvalue = customField.OldValue })

                                                }

                                                @*Render checkbox*@
                                                else if (customField.FieldInputType == "check")
                                                {
                                                <div class="input-group-addon form-info">



                                                    @if (customField.FieldValue != null && (customField.FieldValue == "1" || customField.FieldValue.ToLower() == "true" || customField.FieldValue == "on"))
                                                    {
                                                        <input type="checkbox" class="@customField.CustomFieldClass custom-field-checkbox" name="@nameFieldValue" checked="checked" value="@customField.FieldValue" id="@nameId" data-default="true" data-name="@customField.CustomFields.Name" />
                                                        <input type="hidden" name="@nameFieldValue" value="false" id="@nameId" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="@customField.CustomFieldClass custom-field-checkbox" name="@nameFieldValue" value="@customField.FieldValue" id="@nameId" data-default="false" data-name="@customField.CustomFields.Name" />
                                                        <input type="hidden" name="@nameFieldValue" value="@customField.FieldValue" id="@nameId" />
                                                    }
                                                    
                                                </div>
                                                }

                                                @*Render textbox by default*@
                                                else
                                                {
                                                    @*<input type="text" class="form-control @customField.CustomFieldClass @(customField.FieldDataType == "INT" ? "intDataType" : customField.FieldDataType == "FLOAT" ? "floatDataType" : customField.FieldDataType == "DATETIME" ? "datetimeDataType" : "")" name="@nameFieldValue" value="@customField.FieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-name="@customField.CustomFields.Name" />*@

                                                    if (customField.FieldDataType == "DATETIME" || customField.FieldDataType == "INT" || customField.FieldDataType == "FLOAT")
                                                    {
                                                        <input type="text" class="form-control @customField.CustomFieldClass @(customField.FieldDataType == "INT" ? "intDataType" : customField.FieldDataType == "FLOAT" ? "floatDataType" : customField.FieldDataType == "DATETIME" ? "datetimeDataType" : "")" name="@nameFieldValue" value="@customField.FieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name" />
                                                    }
                                                    else
                                                    {
                                                        <textarea class="form-control allow-html @customField.CustomFieldClass @(customField.FieldDataType == "INT" ? "intDataType" : customField.FieldDataType == "FLOAT" ? "floatDataType" : customField.FieldDataType == "DATETIME" ? "datetimeDataType" : "")" name="@nameFieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name" rows="1">@customField.FieldValue</textarea>
                                                    }

                                                }

                                            </div>
                                        </div>
                                        //---END for each custom field

                                        count++;
                                        columnCount++;

                                        if (columnCount % numberOfColumnsPerRow == 0) //3 = # of elements in a row
                                        {
                                            <div class="mgbtm8 clearfix"></div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                                               
                                            }
                                        }
        </div>
