﻿@using System.Text.RegularExpressions
@using GBD.UniversalDataHub.Areas.Datahub.Models
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldManagerGroupViewModel>
  
    <div class="cf-by-group">
        <div class="panel-group" id="customfieldbygroup-accordion">
            <a class="expandcollapse btn btn-mini pull-right" state="0"><i class='fa fa-plus-square'></i> Expand All</a>
            @foreach (CustomFieldManagerGroupViewModel item in Model)
            {
                if (item.CustomTemplate != null && item.CustomTemplate.Any())
                {

                    <div class="mgbtm8 clearfix"></div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a tabindex="-1" class="accordion-toggle collapsed" data-toggle="collapse" href="#@(Regex.Replace(item.Name, "[^A-Za-z0-9]", "_"))-href">
                                    <span class="fa fa-chevron-down sg-tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description"></span>
                                    @item.Name
                                </a>
                            </h3>
                        </div>
                        <div id="@(Regex.Replace(item.Name, "[^A-Za-z0-9]", "_"))-href" class="panel-body panel-collapse in">
                            <div class="content-wrapper product-content-wrapper ">
                                <div class="row">

                                    @{
                                        int count = 0;
                                        const int numberOfColumnsPerRow = 3;
                                    }

                                    @foreach (CustomFieldManagerViewModel customField in item.CustomTemplate)
                                    {
                                        {
                                            customField.FieldValue = HttpUtility.HtmlDecode(customField.FieldValue);
                                            customField.OldValue = HttpUtility.HtmlDecode(customField.OldValue);
                                        }

                                        //START for each custom field---
                                        <div class="col-md-@(12/numberOfColumnsPerRow)">
                                            @* col-md-(12/3) = col-md-4 where 3 = # of elements in a row*@

                                            <div class="input-group @(customField.FieldInputType == "check" ? "is-checkbox" : "") @(customField.CustomFields.Name.ToLower() == "invalid_ship_methods" ? "is-invalid-ship-methods" : "")">

                                                <div class="input-group-addon sg-tooltip @(String.IsNullOrWhiteSpace(customField.CustomFields.FieldNote) ? "" : "has-tooltip")" data-toggle="tooltip" data-placement="bottom" title="@customField.CustomFields.FieldNote">
                                                    <label for="@customField.CustomFields.Id" class="@customField.CustomFieldClass">@(!String.IsNullOrWhiteSpace(customField.CustomFields.FieldAlias) ? customField.CustomFields.FieldAlias : customField.CustomFields.Name)</label>
                                                    @*Show * for required fields*@
                                                    @if (customField.CustomFieldClass.Contains("value-required-cf"))
                                                    {
                                                        <label class="errorPara">*</label>
                                                    }
                                                </div>

                                                @if (customField.DisplayFieldType == "Custom")
                                                {

                                                    @*Render dropdown*@
                                                    if (customField.FieldInputType == "select")
                                                    {
                                                        IEnumerable<SelectListItem> selectList;
                                                        if (customField.CustomFields.Name.ToLower() == "invalid_ship_methods")
                                                        {
                                                            selectList = customField.AllowedValuesList.Select(x => new SelectListItem
                                                            {
                                                                Text = x.Value, /*Show Description for display*/
                                                                Value = x.Key, /*Use Name for key*/
                                                                Selected = (x.Key == customField.FieldValue)
                                                            });
                                                        }
                                                        else
                                                        {
                                                            selectList = customField.AllowedValuesList.Select(x => new SelectListItem
                                                            {
                                                                Text = x.Key,
                                                                Value = x.Key,
                                                                Selected = (x.Key == customField.FieldValue)
                                                            });
                                                        }
                                                        //if custom field does not have default value, show --Select option in dropdown
                                                        //if custom field has default value, don't show --Select option in dropdown
                                                        <div class="select2-wrapper">
                                                            @Html.DropDownList(customField.CustomFields.Id.ToString(), selectList, String.IsNullOrWhiteSpace(customField.CustomFields.DefaultValue) ? Messages.PleaseSelect : null, new { @class = "form-control " + customField.CustomFieldClass, @id = customField.CustomFields.Id, @data_default = customField.FieldValue, @data_isdefault = (customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue), @data_name = customField.CustomFields.Name, @data_oldvalue = customField.OldValue })
                                                        </div>

                                                    }

                                                    @*Render checkbox*@
                                                    else if (customField.FieldInputType == "check")
                                                    {
                                                        <div class="input-group-addon form-info">
                                                            @if (customField.FieldValue != null && (customField.FieldValue == "1" || customField.FieldValue.ToLower() == "true" || customField.FieldValue == "on"))
                                                            {
                                                                <input type="checkbox" class="@customField.CustomFieldClass" name="@customField.CustomFields.Id" checked="checked" value="@customField.FieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-name="@customField.CustomFields.Name" data-oldvalue="@customField.OldValue" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="@customField.CustomFieldClass" name="@customField.CustomFields.Id" value="@customField.FieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-name="@customField.CustomFields.Name" data-oldvalue="@customField.OldValue" />
                                                            }
                                                        </div>
                                                    }

                                                    @*Render textbox by default*@
                                                    else
                                                    {
                                                        if (customField.FieldDataType == "DATETIME" || customField.FieldDataType == "INT" || customField.FieldDataType == "FLOAT")
                                                        {
                                                            <input type="text" class="form-control @customField.CustomFieldClass @(customField.FieldDataType == "INT" ? "intDataType" : customField.FieldDataType == "FLOAT" ? "floatDataType" : customField.FieldDataType == "DATETIME" ? "datetimeDataType" : "")" name="@customField.CustomFields.Id" value="@customField.FieldValue" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name" />
                                                        }
                                                        else
                                                        {
                                                            <textarea class="form-control allow-html @customField.CustomFieldClass @(customField.FieldDataType == "INT" ? "intDataType" : customField.FieldDataType == "FLOAT" ? "floatDataType" : customField.FieldDataType == "DATETIME" ? "datetimeDataType" : "")" name="@customField.CustomFields.Id" id="@customField.CustomFields.Id" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name" rows="1">@customField.FieldValue</textarea>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    @*<input class="form-control allow-html text-box single-line rf cf" data-FieldReferenceSysInformationSchemaId="@customField.CustomFields.FieldReferenceSysInformationSchemaId" data-FieldReferenceSysInformationSchemaIdKit="@customField.CustomFields.FieldReferenceSysInformationSchemaIdKit" data-bind="value:@customField.CustomFields.Name" data-val="true" id="@customField.CustomFields.Id" name="@customField.CustomFields.Id" type="text" value="@customField.FieldValue" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null && customField.FieldValue == customField.CustomFields.DefaultValue)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name">*@
                                                    <input class="form-control allow-html text-box single-line rf cf" data-FieldReferenceSysInformationSchemaId="@customField.CustomFields.FieldReferenceSysInformationSchemaId" data-FieldReferenceSysInformationSchemaIdKit="@customField.CustomFields.FieldReferenceSysInformationSchemaIdKit" data-val="true" id="@customField.CustomFields.Id" name="@customField.CustomFields.Id" type="text" value="@customField.FieldValue" data-default="@customField.FieldValue" data-isdefault="@(customField.FieldValue != null)" data-oldvalue="@customField.OldValue" data-name="@customField.CustomFields.Name">
                                                    @*<input type="hidden" data-bind="value:@customField.CustomFields.Name" data-name="@customField.CustomFields.Name" value="@customField.FieldValue"/>*@
                                                }


                                            </div>
                                        </div>
                                        //---END for each custom field

                                        count++;

                                        if (count % numberOfColumnsPerRow == 0) //3 = # of elements in a row
                                        {
                                            <div class="mgbtm8 clearfix"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

