﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="customFields" class="tab-pane fade">
    <div class="clearfix mgbtm8"></div>
    <div class="clearfix mgbtm8"></div>

    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#requiredCustomFields" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Required</a></li>

        <li role="presentation"><a href="#readOnlyCustomFields" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.ReadOnly</a></li>

        <li role="presentation"><a href="#otherCustomFields" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Others</a></li>
    </ul>

    <div class="tab-content">

        <div role="mappingtab" class="tab-pane fade in active" id="requiredCustomFields" name="required-customFields">
            <div class="clearfix mgbtm8"></div>

            <div class="row">
                <ul class="list-group pricing">
                    <li class="list-group-item title">
                        <span class="col-md-4">@Messages_Datahub.FieldName</span>
                        <span class="col-md-5">@Messages_Datahub.FieldValue</span>
                        <span class="col-md-3 sg-tooltip" data-placement="top" data-toggle="tooltip" title="@Messages_Datahub.Tooltip_CustomFieldAlias">@Messages_Datahub.FieldAlias</span>

                        <span class="col-sm-1"></span>
                    </li>
                    <div data-bind='foreach: CustomFieldsRequired'>
                        <li class="list-group-item">

                            <div class="col-sm-4">
                                <select class='form-control customFieldSelect2' data-bind='options: customFieldsRequiredViewBagList, optionsText: "Name", optionsCaption: "@Messages.PleaseSelect", optionsValue: "Id", value: CustomField, disable:true'></select>

                            </div>

                            <div class="col-sm-5">
                                <textarea class="form-control textboxType" data-bind="value:FieldValue, attr: { id: 'itemTextbox_' + $index() }"></textarea>
                                <input type="checkbox" class="form-control checkboxType" data-bind="checked:FieldValueBoolean, attr: { id: 'itemCheckbox_' + $index() }" style="display: none;" />

                                <select class="form-control" data-bind="value:AllowedValuesSdtId, attr: { id: 'drop_' + $index() }"
                                        style="display: none;"></select>
                            </div>

                            <div class="col-sm-3">
                                <textarea class="form-control" data-bind="value:FieldAlias"></textarea>
                            </div>

                        </li>
                    </div>
                </ul>

                @*<button id="add-more-custom-field-template" class="btn btn-primary" data-bind="click: addCustomFieldTemplate">
                        @Messages.AddMore <i class="fa fa-plus"></i>
                    </button>*@
                <div class="clearfix mgbtm8"></div>
            </div>
        </div>

        <div role="mappingtab" class="tab-pane fade" id="readOnlyCustomFields" name="readOnly-customFields">
            <div class="clearfix mgbtm8"></div>

            <div class="row">
                <ul class="list-group pricing">
                    <li class="list-group-item title">
                        <span class="col-sm-4">@Messages_Datahub.FieldName</span>
                        <span class="col-sm-5">@Messages_Datahub.FieldValue</span>
                        <span class="col-sm-3 sg-tooltip" data-placement="top" data-toggle="tooltip" title="@Messages_Datahub.Tooltip_CustomFieldAlias">@Messages_Datahub.FieldAlias</span>

                        <span class="col-sm-1"></span>
                    </li>
                    <div data-bind='foreach: CustomFieldsReadOnly'>
                        <li class="list-group-item">

                            <div class="col-sm-4">
                                <select class='form-control customFieldSelect2' data-bind='options: customFieldsReadOnlyViewBagList, optionsText: "Name", optionsCaption: "@Messages.PleaseSelect", optionsValue: "Id", value: CustomField, disable:true'></select>

                            </div>
                            
                            <div class="col-sm-4">
                                <textarea class="form-control textboxType" data-bind="value:FieldValue, attr: { id: 'itemTextbox_' + (parseInt($root.CountReq()) + parseInt($index())) }, disable: true"></textarea>
                                <input type="checkbox" class="form-control checkboxType" data-bind="checked:FieldValueBoolean, attr: { id: 'itemCheckbox_' + (parseInt($root.CountReq()) + parseInt($index())) }, disable: true" style="display: none;" />

                                <select class="form-control" data-bind="value:AllowedValuesSdtId, attr: { id: 'drop_' + (parseInt($root.CountReq()) + parseInt($index())) }, disable: true"
                                        style="display: none;"></select>
                            </div>

                            <div class="col-sm-3">
                                <textarea class="form-control" data-bind="value:FieldAlias, disable:true"></textarea>
                            </div>

                        </li>
                    </div>
                </ul>
                
                <div class="clearfix mgbtm8"></div>
            </div>
        </div>

            <div role="mappingtab" class="tab-pane fade" id="otherCustomFields" name="other-customFields">
                <div class="clearfix mgbtm8"></div>
                <div class="row">
                    <ul class="list-group pricing">
                        <li class="list-group-item title">
                            <span class="col-sm-4">@Messages_Datahub.FieldName</span>
                            <span class="col-sm-4">@Messages_Datahub.FieldValue</span>
                            <span class="col-sm-3 sg-tooltip" data-placement="top" data-toggle="tooltip" title="@Messages_Datahub.Tooltip_CustomFieldAlias">@Messages_Datahub.FieldAlias</span>

                            <span class="col-sm-1"></span>
                        </li>
                        <div data-bind='foreach: CustomFieldsAdditional'>
                            <li class="list-group-item">

                                <div class="col-sm-4">
                                    <select class='form-control customFieldSelect2' data-bind='options: customFieldsAdditionalViewBagList, optionsText: "Name", optionsCaption: "@Messages.PleaseSelect", optionsValue: "Id", value: CustomField'></select>

                                </div>

                                <div class="col-sm-4">
                                    <textarea class="form-control textboxType" data-bind="value:FieldValue, attr: { id: 'itemTextbox_' + (parseInt($root.CountReqAndReadonly()) + parseInt($index())) }"></textarea>
                                    <input type="checkbox" class="form-control checkboxType" data-bind="checked:FieldValueBoolean, attr: { id: 'itemCheckbox_' + (parseInt($root.CountReqAndReadonly()) + parseInt($index())) }" style="display: none;" />

                                    <select class="form-control" data-bind="value:AllowedValuesSdtId, attr: { id: 'drop_' + (parseInt($root.CountReqAndReadonly()) + parseInt($index())) }"
                                            style="display: none;"></select>
                                </div>

                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-11">
                                            <textarea class="form-control" data-bind="value:FieldAlias"></textarea>
                                        </div>
                                        <div class="col-sm-1">
                                            <a href='#' class="btn btn-danger " data-bind='click: $root.removeAdditionalCustomField' data-toggle='tooltip' data-placement='top' title='Cancel'><i class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                </div>

                                
                            </li>
                        </div>
                    </ul>

                    <button id="add-more-custom-field-template" class="btn btn-primary" data-bind="click: addCustomField">
                        @Messages.AddMore <i class="fa fa-plus"></i>
                    </button>
                    <div class="clearfix mgbtm8"></div>
                </div>
            </div>

        </div>
</div>