﻿
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="MarginNegativeModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning" >
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Negative Margin due to Margin Unlocked </h4>
            </div>
            <div class="modal-body">
                <h5>
                    Price is locked since Margin is unlocked. A cost higher than the price was entered. 
                    <br/>
                    Consider adjusting the price accordingly
                </h5>
            </div>
            <div class="modal-footer">
               @* <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnYesCostThresholdModal" name="ButtonType" />*@
                <button class="btn btn-success" data-dismiss="modal" id="btnNoCostThresholdModal" type="submit">OK</button>
            </div>
        </div>
    </div>
</div>