﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogFilterModel

<div class="panel panel-default sg-grid-panel">
    <div class="panel-body">

        <button class="btn pull-right filter"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Filter</button>
        <button style="display: none;" class="btn pull-right filterhide"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Hide</button>

    </div>

    <div id="ProductCatalogSearchContainer">
        <div style="display: none;" class="panel-filter">
            <div class="panel-group">
                @Html.LabelFor(m => m.Search)

                @Html.TextBoxFor(m => m.Search, new { @class = "form-control " })
            </div>
           
            <div class="panel-group" style="width: auto;">
                @Html.LabelFor(m => m.ProductCatalogDisabled)
                <div>@Html.EditorFor(m => m.ProductCatalogDisabled, new { @class = "form-control " })</div>
            </div>
            <div class="panel-group">
                <input type="button" id="ProductCatalogSearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
            </div>
            <div class="panel-group">
                <input type="button" id="ProductCatalogClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary" />
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="sg-datatable-wrap udh-tooltip-wrap">
    <table id="ProductCatalogDataTable" class="display">

        <thead>
            <tr>
                <th><input type="checkbox" id="selectAllProductCatalog" class="selectAll"></th>
                <th>@Messages_Datahub.PartNumber</th>
                <th style="min-width: 120px;">@Messages_Datahub.Name</th>
                <th style="min-width: 120px;">@Messages_Datahub.Description</th>
                <th>@Messages_Datahub.Isbn</th>
                <th>@Messages_Datahub.Nsn</th>
                <th>@Messages_Datahub.Upc</th>
                <th>@Messages_Datahub.Ean</th>
                <th>@Messages_Datahub.Mpn</th>
                <th>@Messages_Datahub.Asin</th>
                <th>@Messages_Datahub.Uom</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>