﻿@using GBD.UniversalDataHub.Areas.Datahub.Models
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel


<div role="mappingtab" class="product">
    <div class="row">

        <ul class="nav nav-tabs nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.General</a></li>

            @if (ViewBag.ShowAllProductCatalogTabs != null && ViewBag.ShowAllProductCatalogTabs)
            {
                @*if ((bool)ViewData["AllowedForPricing"])
                    {*@

                <li role="presentation" data-bind="visible: ShowPricing"><a href="#pricing" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.PricingOrVendor</a></li>
                @*<li role="presentation" data-bind="visible: ShowPricing"><a href="#association" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Association</a></li>*@

                @*}*@
                @*<li role="presentation"><a href="#identifiers" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Identifiers</a></li>
                    <li role="presentation"><a href="#dimensions" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Dimensions</a></li>*@
                @*<li role="presentation" data-bind="visible: ShowPricing"><a href="#visibility" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Visibility</a></li>*@
            }
            @*<li role="presentation"><a href="#customFields" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.CustomFields</a></li>*@
            @if (ViewBag.ShowAllProductCatalogTabs != null && ViewBag.ShowAllProductCatalogTabs)
            {
                @*if ((bool)ViewData["AllowedForPricing"])
                    {*@

                <li role="presentation" data-bind="visible: ShowPricing"><a href="#pc-history" aria-controls="profile" role="tab" data-toggle="tab" id="tab_pc_history">@Messages_Datahub.History</a></li>
                @*}*@
                @*<li role="presentation"><a href="#identifiers" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Identifiers</a></li>
                    <li role="presentation"><a href="#dimensions" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Dimensions</a></li>*@
                @*<li role="presentation" data-bind="visible: ShowPricing"><a href="#visibility" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Visibility</a></li>*@
            }
            <li class="pull-right sg-top-save">

                @if (Model.Id > 0)
                {
                    @Html.GbdButton("EditProductCatalog", Request["workflowId"] == null ? Messages.Save : Messages.Next).Databind("click: edit")
                }
                else
                {
                    @Html.GbdButton("EditProductCatalog", Request["workflowId"] == null ? Messages.Save : Messages.Next).Databind("click: save")
                }

                @Html.GbdResetButton(Messages.Cancel)
            </li>
        </ul>

    </div>

    <div class="tab-content has-tab">

        @* General Tab Start *@
        <div role="mappingtab" class="tab-pane fade in active  " id="general">

            <fieldset>
                <legend class="noValue">
                    @if (Request["returnUrlol"] != null && Request["returnUrl"].Contains("ValidateProductSuggestion"))
                    {
                        @*<h4>@Messages_Datahub.General</h4>*@
                        <div class="pull-right">
                            <button id="viewStagingDatabtn" class="btn btn-primary" data-bind="click:viewStagingData">
                                <i class="fa fa-eye"></i> @Messages_Datahub.ViewStagingData
                            </button>
                        </div>
                    }
                </legend>

                <div class="content-wrapper product-content-wrapper ">
                    <div class="row">


                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @*@Html.HiddenFor(m => m.StoreId).Databind("value: StoreId")*@

                                    @Html.GbdLabelFor(m => m.Name, new { @class = "control-label" })
                                </div>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control allow-html" }).Databind("value: Name")
                            </div>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.LocalSku, new { @class = "control-label" })
                                </div>

                                @Html.TextBoxFor(m => m.LocalSku, new { @class = "form-control localSkuTypeMask" }).Databind("value: LocalSku")
                            </div>
                            @Html.ValidationMessageFor(m => m.LocalSku)
                        </div>

                        <div class="clearfix mgbtm8"></div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.ShortDescription, new { @class = "control-label" })
                                </div>
                                @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control allow-html" }).Databind("value: ShortDescription")
                            </div>
                            @Html.ValidationMessageFor(m => m.ShortDescription)
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.Label("SkyGeek PN")
                                </div>

                                @Html.TextBoxFor(m => m.SkyGeekPN, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: SkyGeekPN")
                            </div>
                            @Html.ValidationMessageFor(m => m.SkyGeekPN)
                        </div>


                        <div class="clearfix mgbtm8"></div>
                        @if (ViewData["ClientConfig"] != null && ((string)ViewData["ClientConfig"]).ToLower().Contains("vendor"))
                        {

                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.PlatformQualifier, new { @class = "control-label" })
                                    </div>
                                    @Html.DropDownList("PlatformQualifier", (IEnumerable<SelectListItem>)ViewBag.PlatformQualifier, new { multiple = "", size = "1" }).Databind("selectedOptions: PlatformQualifiers")
                                </div>
                                @Html.ValidationMessageFor(m => m.PlatformQualifier)
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.SellingSku, new { @class = "control-label" })
                                    </div>

                                    @Html.TextBoxFor(m => m.SellingSku, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: SellingSku")
                                </div>
                                @Html.ValidationMessageFor(m => m.SellingSku)
                            </div>



                            <div class="clearfix mgbtm8"></div>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.ProductCategoryId, new { @class = "control-label" })
                                    </div>
                                    @Html.DropDownListFor(x => x.ProductCategoryId, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], new { multiple = "", size = "1" }).Databind("selectedOptions: ProductCategoryIds")
                                </div>
                                @Html.ValidationMessageFor(m => m.ProductCategoryId)

                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.Location, new { @class = "control-label" })
                                    </div>

                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control allow-html" }).Databind("value: Location")
                                </div>
                                @Html.ValidationMessageFor(m => m.Location)
                            </div>


                            <div class="clearfix mgbtm8"></div>


                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.Label("BC Brand")
                                        @*  @Html.GbdLabelFor(m => m.BrandId, new { @class = "control-label" })*@
                                    </div>

                                    @Html.DropDownListFor(x => x.BrandId, (IEnumerable<SelectListItem>)ViewData["BrandList"], "--Choose", new { @class = "form-control ", @id = "BrandId" }).Databind("value: BrandId")
                                </div>
                                @Html.ValidationMessageFor(m => m.BrandId)
                            </div>
                            @*<div class="clearfix mgbtm8"></div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.Label("GoogleItem Id")
                                    </div>

                                    @Html.TextBoxFor(m => m.GoogleItemIdOverride, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: GoogleItemIdOverride")
                                </div>
                                @Html.ValidationMessageFor(m => m.GoogleItemIdOverride)
                            </div>*@
                        }

                        @if (ViewData["ClientConfig"] != null && ViewData["ClientConfig"].ToString().ToLower().Contains("store") && (IEnumerable<SelectListItem>)ViewData["Stores"] != null)
                        {
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.StoreId, new { @class = "control-label" })
                                    </div>

                                    @Html.DropDownListFor(x => x.StoreId, (IEnumerable<SelectListItem>)ViewData["Stores"], Messages.PleaseSelect, new { @class = "form-control ", @id = "StoreId" }).Databind("value: StoreId, enable:IsStoreEnabled")


                                </div>
                                @Html.ValidationMessageFor(m => m.StoreId)
                            </div>
                        }
                    </div>
                </div>

            </fieldset>
            @*<div class="content-wrapper panel-holder product-content-wrapper ">*@
            <div class="content-wrapper custom-wrapper">
                <div class="custom-fields">
                    @Html.Partial("_CustomFieldsByGroup", Model.CustomTemplateGroup)
                </div>
            </div>

            @if (ViewData["ClientConfig"] != null && ((string)ViewData["ClientConfig"]).ToLower().Contains("store"))
            {
                <fieldset>
                    <legend>
                        <h4>@Messages_Datahub.Pricing</h4>
                    </legend>

                    <div class="content-wrapper product-content-wrapper">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.Price, new { @class = "control-label" })

                                    </div>
                                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" }).Databind("value: Price")
                                </div>
                                @Html.ValidationMessageFor(m => m.Price)
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.SalePrice, new { @class = "control-label" })
                                    </div>
                                    @Html.TextBoxFor(m => m.SalePrice, new { @class = "form-control" }).Databind("value: SalePrice")
                                </div>
                                @Html.ValidationMessageFor(m => m.SalePrice)
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
    @* General Tab End *@

    @* Pricing Tab Start *@
    <div role="mappingtab" class="tab-pane fade" id="pricing" name="test-pricing">
        <div class="row">
            <div class="col-md-5" id="pricing-and-purchasing">

                <fieldset data-mh="row1">
                    <legend>
                        <h4> @Messages_Datahub.Pricing </h4>
                    </legend>
                    <div class="content-wrapper ">

                        @*Base Pricing Start*@

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon default">
                                        @Html.Label("Selected Cost")
                                    </div>
                                    <div>
                                        @Html.EditorFor(m => m.SelectedCost).Databind("value: SelectedCost, enable: false, style: { color: Cost() == FifoCost() ? (CostOption() == '3'?'green': 'orange'):( Cost() == SelectedCost() ? 'green' : 'orange')}").GbdAddCssClass("form-control")
                                    </div>
                                    <div class="input-group-addon default" style="visibility:hidden">
                                        <input type="checkbox" value="LockCost" id="LockCost" data-bind="checked: IsCostLocked" />
                                        <label for="LockCost">@Messages.LockCost</label>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Cost)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-lg-12 col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon default">
                                        @Html.RadioButtonFor(m => m.CostOption, "3").Databind("checked: CostOption")
                                        @Html.Label("Vendor Cost")
                                        @Html.EditorFor(m => m.Cost).Databind("value: Cost, style: { color:'green'}").GbdAddCssClass("CustomCss")
                                    </div>
                                    <div class="input-group-addon default">
                                        @Html.RadioButtonFor(m => m.CostOption, "2").Databind("checked: CostOption, enable: FifoCost() > 0")
                                        @Html.Label("AvgFIFO Cost")
                                        @Html.EditorFor(m => m.FifoCost).Databind("value: FifoCost,enable: false,style: { color:'orange',width:'40%',float:'right'}").GbdAddCssClass("form-control")
                                    </div>
                                    <div class="input-group-addon default">
                                        @Html.RadioButtonFor(m => m.CostOption, "1").Databind("checked: CostOption")
                                        @Html.Label("AutoCalculate Cost")
                                    </div>


                                </div>
                                @Html.ValidationMessageFor(m => m.Cost)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div data-bind="with: PricingCustomField">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon sg-tooltip has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Quantity Per Lot to the customer. Disabled when an item is SEOM only.">
                                            @Html.LabelFor(m => m.PricingCustomField.case_qty)

                                            @if (Model.PricingCustomField.case_qty_required == true)
                                            {
                                                <label class="errorPara">*</label>
                                            }

                                            @*<label for="caseQuantity" class="col-sm-3 control-label">Case Quantity</label>*@
                                        </div>
                                        <div style="width: 50px;">
                                            @Html.EditorFor(m => m.PricingCustomField.case_qty).Databind("value: case_qty").GbdAddCssClass("form-control " + (Model.PricingCustomField.case_qty_readonly == true ? "non-editable" : ""))
                                            @*<input type="text" class="form-control" id="caseQuanity" />*@
                                        </div>
                                    </div>
                                    @*@Html.ValidationMessageFor(m => m.UOM)*@
                                </div>

                            </div>

                            <div class="col-md-4" style="margin-left:12px;">
                                <div class="input-group" style="margin-left:12px;">
                                    <div class="input-group-addon">
                                        <label for="UomList" class="col-sm-3 control-label">@Messages.Unit</label>
                                    </div>

                                    <div>
                                        @*@Html.DropDownListFor(x => x.UOM, (IEnumerable<SelectListItem>)ViewData["UnitOfMeasureList"], Messages.PleaseSelect, new { @class = "form-control ", @id = "vendor" })*@
                                        <select id="UomList" class="form-control" data-bind='options: unitOfMeasureList, optionsCaption: "@Messages.PleaseSelect", value: UOM'> </select>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.UOM)
                            </div>

                            <div class="clearfix mgbtm8"></div>

                            <div class="col-lg-12 col-md-12 pricing-margin ">
                                <div class="input-group">
                                    <div class="input-group-addon default has-tooltip">
                                        <label for="MarginPercent" class="control-label sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin percent: The gross margin percentage">@Messages.Margin @Messages.PercentSign</label>
                                    </div>

                                    <input class="form-control" type="text" id="MarginPercent" name="MarginPercent" data-bind="value: MarginPercent, disable: IsMarginLocked() || Cost() <= 0, style: {color: MarginPercent() < 0 ? 'red' : 'black',width:'60px'}" />

                                    @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin percent: The gross margin percentage">?</a>*@

                                    <div class="input-group-addon default has-tooltip">
                                        <label for="MarginAmount" class="control-label sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin amount: The actual margin amount">@Messages.Margin @Messages.DollarSign</label>
                                    </div>
                                    <input class="form-control" type="text" id="MarginAmount" name="MarginAmount" data-bind="value: MarginAmount, disable: IsMarginLocked() || Cost() <= 0, style: { color: MarginAmount() < 0 ? 'red' : 'black'}" />
                                    @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin amount: The actual margin amount">?</a>*@
                                    <div class="input-group-addon default has-tooltip">
                                        <label for="TotalMargin" class="control-label sg-tooltip" >Total Margin</label>
                                    </div>
                                    <input class="form-control" type="text" id="TotalMarginAmount" name="TotalMarginAmount" data-bind="value: TotalMarginAmount, disable: true"/>

                                    <div class="input-group-addon default">
                                        <input type="checkbox" value="LockMargin" id="LockMargin" data-bind="checked: IsMarginLocked, event: { change: $root.test() }" />
                                        <label for="LockMargin">@Messages.LockMargin</label>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix mgbtm8"></div>

                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.Price, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Unit Selling price: The unit selling price" })
                                    </div>
                                    <div>
                                        @Html.EditorFor(m => m.Price).Databind("value: Price, style: { color: Price() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Price)
                            </div>

                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.SellingPrice, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Selling price: The selling price" })
                                    </div>
                                    <div>
                                        @Html.EditorFor(m => m.SellingPrice).Databind("value: SellingPrice, style: { color: SellingPrice() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.SellingPrice)
                            </div>

                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.HasSalePriceForClearance, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip pull-left", @data_placement = "top", @title = "Check if the product has sale price for clearance (for sale)" })
                                    </div>
                                    <div class="input-group-addon form-info">
                                        @Html.EditorFor(m => m.HasSalePriceForClearance).Databind("checked: hasSalePriceForClearance, disable: Cost() <= 0")
                                    </div>

                                    @*<a class="sg-tooltip" data-toggle="tooltip pull-left" data-placement="top" title="Check if the product has sale price for clearance (for sale)">?</a>*@

                                    @*<div class="col-sm-5">
                    <input type="checkbox" value="LockPrice" id="LockPrice" data-bind="checked: IsCostLocked"/>
                    <label for="LockPrice">Lock Cost</label>
                </div>*@
                                </div>
                                @Html.ValidationMessageFor(m => m.HasSalePriceForClearance)
                            </div>

                            <div class="col-md-5" data-bind="visible: hasSalePriceForClearance">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        @Html.GbdLabelFor(m => m.SalePriceForClearanceMarginPercent)
                                    </div>

                                    @Html.EditorFor(m => m.SalePriceForClearanceMarginPercent).Databind("value: salePriceForClearanceMarginPercent, enable: hasSalePriceForClearance, style: { color: salePriceForClearanceMarginPercent() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")


                                </div>

                            </div>


                            <div data-bind="visible: hasSalePriceForClearance">
                                <div class="clearfix mgbtm8"></div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @Html.GbdLabelFor(m => m.SalePrice)
                                        </div>
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.SalePrice).Databind("value: SalePrice, enable: hasSalePriceForClearance, style: { color: SalePrice() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @*  @Html.GbdLabelFor(m => m.TotalSalePrice, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Selling price: The selling price" })*@
                                            @Html.Label("Selling Sale Price")
                                        </div>
                                        <div>
                                            @Html.EditorFor(m => m.TotalSalePrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }).Databind("value: TotalSalePrice").GbdAddCssClass("form-control")
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.TotalSalePrice)
                                </div>

                            </div>
                            <div class="clearfix mgbtm8"></div>

                            <div>

                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @Html.GbdLabelFor(m => m.CoreExchangeFee)
                                        </div>
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.CoreExchangeFee, new { htmlAttributes = new { @class = "form-control" } }).Databind("value: CoreExchangeFee").GbdAddCssClass("form-control")
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CoreExchangeFee)
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @Html.GbdLabelFor(m => m.CrateFee)
                                        </div>
                                        <div>
                                            @Html.EditorFor(m => m.CrateFee, new { htmlAttributes = new { @class = "form-control" } }).Databind("value: CrateFee").GbdAddCssClass("form-control")
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CrateFee)
                                </div>

                            </div>

                            <div class="clearfix mgbtm8"></div>

                            @*//SKYG-723*@
                            <div data-bind="with: PricingCustomField">
                                <div class="col-md-3">
                                    <div class="input-group ">
                                        <div class="input-group-addon">
                                            @Html.LabelFor(m => m.QOH)
                                            @*is Required False*@
                                        </div>
                                        @*is Readonly true*@
                                        @Html.EditorFor(m => m.QOH).Databind("text:QOH").GbdAddCssClass("form-control non-editable")
                                    </div>

                                </div>
                            </div>

                           


                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div title="" data-placement="bottom" data-toggle="tooltip" class="input-group-addon sg-tooltip has-tooltip" data-original-title="Pricing Note">
                                        @Html.LabelFor(m => m.Note)
                                    </div>
                                    @Html.EditorFor(m => m.Note).Databind("value: Note").GbdAddCssClass("form-control allow-html")
                                    @*@Html.TextAreaFor(m => m.Note, new { @class="form_control", @rows=2 }).Databind("value: Note")*@
                                    @*<textarea rows="2" class="form-control" name="Note" id="Note" data-bind="value: Note"></textarea>*@
                                </div>

                            </div>

                        </div>

                    </div>

                </fieldset>

                @*Base Pricing End*@
                <div class="clearfix mgbtm8"></div>
                <div class="clearfix mgbtm8"></div>


                @*Pricing Levels Start*@

                @* Grid columns: SKU/Kit, Unit Price, Unit, Qualification*@
                <fieldset>
                    <legend>
                        <h4>@Messages_Datahub.PricingLevels</h4>
                    </legend>
                    <div class="content-wrapper product-content-wrapper">
                        <ul class="list-group pricing" id="table-pricing-level">
                            <li class="list-group-item title">
                                <span class="col-sm-2">@Messages_Datahub.Quantity</span>
                                @*<span class="col-sm-2">@Messages_Datahub.QuantityTo</span>*@
                                <span class="col-sm-3">@Messages.Margin @Messages.PercentSign</span>
                                <span class="col-sm-3">@Messages.Margin @Messages.DollarSign</span>
                                <span class="col-sm-4">@Messages.SellingPrice</span>

                            </li>
                            <div data-bind="visible: false">
                                Ooops! Something wrong with your data prevented from displaying all information.
                            </div>
                            <div style="display: none;" data-bind='foreach: PricingLevels, visible: true'>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="input-group">
                                                <input type="text" class='required number form-control' data-bind="value: QuantityFrom, style: { color: QuantityFrom() < 2 ? ' red':'black' }" />
                                                <span class="input-group-addon form-info sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin % for mentioned quantity or greater">+</span>
                                            </div>
                                        </div>
                                        @*<span class="col-sm-2"><input type="text" class='required number form-control' data-bind="value: QuantityTo, style: { color: QuantityTo() < 2 ? ' red':'black' }" /></span>*@

                                        <span class="col-sm-3">
                                            <input type="text" class='required number form-control' data-bind="value: GrossMarginPercent, disable: $root.IsMarginLocked() || $root.Cost() <= 0, style: { color: GrossMarginPercent() < 0 ? ' red':'black' }" />
                                            @*<span class="input-group-addon">%</span>*@
                                        </span>
                                        <span class="col-sm-3"><input class="form-control" type="text" data-bind="value: GrossMarginAmount, disable: true, style: { color: GrossMarginAmount() < 0 ? 'red' : 'black'}" /></span>

                                        <span class="col-sm-4">
                                            <div class="row">
                                                <span class="col-md-10">
                                                    @*<input class="form-control" type="text" data-bind="value: PriceForPricingLevel, disable: $root.IsMarginLocked() || $root.Cost() <= 0, style: { color: PriceForPricingLevel() < 0 ? 'red' : 'black' }" />*@
                                                    <input class="form-control" type="text" data-bind="value: PriceForPricingLevel, disable: $root.Cost() <= 0, style: { color: PriceForPricingLevel() < 0 ? 'red' : 'black' }" />
                                                </span>
                                                <a href='#' class="btn btn-danger " data-bind='click: $root.removePricingLevel' data-toggle='tooltip' data-placement='top' title='Cancel'><i class="fa fa-close"></i></a>

                                            </div>
                                        </span>
                                    </div>
                                </li>
                            </div>
                        </ul>
                        @*@Html.GbdButton("add-more-pricing-level", Messages.AddMore).Databind("click: addPricingLevel")*@
                        <button id="add-more-pricing-level" class="btn btn-primary" data-bind="click: addPricingLevel, disable: Cost() <= 0">
                            @Messages.AddMore <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </fieldset>

                @*Pricing Levels End*@

            </div>

            <div class="col-md-7" id="vendor-and-vendor-product">

                @*Purchasing tab start*@

                <fieldset data-mh="row1">
                    <legend><h4>@Messages_Datahub.Vendors </h4></legend>


                    @*<div class="col-sm-5">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label for="supplierSku" class="control-label">@Messages_Datahub.SupplierSKU</label>
                                </div>
                                <input id="supplierSku" data-bind="value: supplierPartNumber, disable:true" type="text" class="form-control" />

                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label for="supplier" class="control-label"> @Messages_Datahub.PrimarySupplier </label>
                                </div>

                                <select id="supplier" class="form-control" data-bind='options: supplierList, optionsText: "nameCost", optionsCaption: "@Messages.PleaseSelect", value: supplierId'> </select>


                            </div>
                            @Html.ValidationMessageFor(m => m.UOM)
                        </div>

                        <div class="col-sm-2">
                            <div class="row">
                                <a class="btn btn-primary sg-tooltip" id="view-vendor-product-catalog" data-toggle="tooltip" data-placement="top" data-bind="attr: {href: url, title: urlTitle }" target="_blank">
                                    @Messages.View <i class="fa  fa-chevron-circle-right"></i>
                                </a>
                            </div>
                        </div>


                        <div class="clearfix mgbtm8"></div>
                        <div class="col-md-12" >

                            <button class="btn btn-primary" id="btn-set-primary" data-bind="click: setPrimary">
                                @Messages_Datahub.SetPrimary <i class="fa fa-star-o"></i>
                            </button>
                        </div>

                        <div class="clearfix mgbtm8"></div>*@
                    <div>

                        @*<legend>
                                <a class="sg-tooltip btn btn-default pull-right" data-toggle="tooltip" data-placement="bottom" title="L - by the lot ; P - by the piece ; Q - by the piece in fixed lots">View Legend</a>
                            </legend>*@

                        <ul class="list-group pricing list-unstyled striped text-center">
                            <li class="list-group-item title">

                                <span class="col-md-2">@Messages_Datahub.VendorPartNumber</span>
                                <span class="col-md-2">@Messages_Datahub.Vendor</span>
                                <span class="col-md-1">@Messages.Cost</span>
                                <span class="col-md-1">@Messages_Datahub.QOH</span>
                                <span class="col-md-1">@Messages_Datahub.OrderBy</span>
                                <span class="col-md-1">@Messages_Datahub.QuantityPerLot</span>
                                <span class="col-md-1">@Messages_Datahub.CostPerLot</span>
                                <span class="col-md-1">@Messages_Datahub.MinimumOrderUnit</span>
                                <span class="col-md-1">@Messages_Datahub.MinimumOrderQuantity</span>
                                <span class="col-md-1 sg-tooltip has-tooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="You must spend at least this much money when purchasing this product. Example: MinLineOrderAmount is $10  , cost is $2, you must purchase at least 5, even if you have other products on the order">@Messages_Datahub.MinLineOrderAmount</span>

                            </li>
                            <div data-bind="visible: false">
                                Ooops! Something wrong with your data prevented from displaying all information.
                            </div>
                            <div style="display: none;" data-bind="if: (supplierList.length == 0 && productCatalogVm.VendorProduct != null && productCatalogVm.VendorProduct.Id > 0), visible: true">
                                <div data-bind="with: vendorProduct">
                                    <li>
                                        <span class="col-md-2" data-bind="text: VendorPartNumber"></span>
                                        <span class="btn btn-primary col-md-2 disabled">
                                            <i class="fa fa-star"></i>
                                            <span id="vendor-mirror" data-bind="text: VendorName"></span>
                                            <input type="hidden" data-bind="value: Id" />
                                        </span>

                                        <span class="col-md-1 cost">
                                            <span data-bind="text: Cost"></span>
                                            <span data-bind="text: DateLastCostUpdate"></span>
                                        </span>
                                        <span class="col-md-1">
                                            <span data-bind="text: Qoh"></span>
                                            <span data-bind="text: QohUpdatedOn"></span>
                                        </span>
                                        <span class="col-md-1" data-bind="text: OrderByText"></span>
                                        <span class="col-md-1" data-bind="text: QuantityPerLot"></span>
                                        <span class="col-md-1" data-bind="text: CostPerLot"></span>
                                        <span class="col-md-1" data-bind="text: MinimumOrderUnitText"></span>
                                        <span class="col-md-1" data-bind="text: MinimumOrderQuantity"></span>
                                        <span class="col-md-1" data-bind="text: MinLineOrderAmount"></span>
                                    </li>
                                </div>
                            </div>
                            <div style="display: none;" data-bind="foreach: supplierList, visible: true" class="list-v-scroll">
                                <li>
                                    <span class="col-md-2">
                                        <i data-bind="visible: VpcIsDisabled" class="fa fa-ban" style="color: #fff; padding: 2px; display: none;"></i>
                                        <span data-bind="text: VendorPartNumber"></span>
                                    </span>

                                    <span class="col-md-2 ">
                                        <span data-bind="if: productCatalogVm.PrimaryVendorProductId == vpcId">
                                            <span class="btn btn-primary sg-tooltip disabled col-md-12" data-toggle="tooltip" data-placement="top" title="Primary Vendor">
                                                <i data-bind="visible: VendorIsDisabled" class="fa fa-ban" style="color: #fff; padding: 2px; display: none;"></i>
                                                <i class="fa fa-star"></i>
                                                <span data-bind="text: VendorName"></span>
                                                <input type="hidden" data-bind="value: vpcId" />
                                            </span>
                                        </span>
                                        <span data-bind="ifnot: productCatalogVm.PrimaryVendorProductId == vpcId">
                                            <span class="btn btn-primary sg-tooltip col-md-12" data-bind="value: vpcId, css: IsNotAllowedToSetPrimary ? 'disabled' : 'btn-set-primary', attr: IsNotAllowedToSetPrimary ? {title: 'Disabled: cannot set primary'} : {title: 'Set primary'}" data-toggle="tooltip" data-placement="top">

                                                <i data-bind="visible: VendorIsDisabled" class="fa fa-ban" style="color: #fff; padding: 2px; display: none;"></i>

                                                <i class="fa fa-star-o"></i>
                                                <span data-bind="text: VendorName"></span>
                                                <input type="hidden" data-bind="value: vpcId" />
                                            </span>
                                        </span>

                                    </span>

                                    <span class="col-md-1 cost">
                                        <span data-bind="text: VPPRCost"></span>
                                        <span data-bind="text: DateLastCostUpdate" class="sky-width"></span>
                                    </span>
                                    <span class="col-md-1 cost">
                                        <span data-bind="text: Qoh"></span>
                                        <span data-bind="text: QohUpdatedOn" class="sky-width"></span>
                                    </span>
                                    <span class="col-md-1 sky-unit" data-bind="text: OrderByText"></span>
                                    <span class="col-md-1" data-bind="text: QuantityPerLot"></span>
                                    <span class="col-md-1" data-bind="text: CostPerLot"></span>
                                    <span class="col-md-1 sky-unit" data-bind="text: MinimumOrderUnitText"></span>
                                    <span class="col-md-1" data-bind="text: MinimumOrderQuantity"></span>
                                    <span class="col-md-1" data-bind="text: MinLineOrderAmount"></span>
                                </li>
                            </div>
                        </ul>
                    </div>

                </fieldset>

                @*Purchasing tab end*@


                <div class="btn btn-primary sg-tooltip" id="addNewVendorProduct" data-toggle="tooltip" data-placement="top" title="@Messages_Datahub.AddVendorProduct_Title" data-bind="click: addNewVendorProduct"> @Messages_Datahub.AddVendorProduct</div>
                <div class="clearfix mgbtm8"></div>
                <div class="clearfix mgbtm8"></div>

                <div class="vendor-product-tab">

                    <fieldset>
                        <legend><h4>@Messages_Datahub.VendorProduct </h4></legend>

                        <div class="content-wrapper product-content-wrapper">
                            <div class="row">

                                @Html.Partial("_VendorProductCatalog", Model != null ? Model.VendorProduct : new VendorProductCatalogViewModel())

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    @*Pricing Tab End*@

    @*Visibility Tab Start*@
    <div role="mappingtab" class="tab-pane" id="visibility">

        <div class="sg-datatable-wrap">

            <table id="VendorProductDataTable" class="display">

                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllVendorProduct" class="selectAll"></th>
                        <th>@Messages_Datahub.VendorName</th>
                        <th>@Messages_Datahub.VendorPartNumber</th>
                        <th>@Messages_Datahub.Name</th>
                        <th>@Messages_Datahub.Cost</th>
                        <th>@Messages_Datahub.OnOrder</th>
                        <th>@Messages_Datahub.QuantityPerLot</th>
                        <th>@Messages_Datahub.LotPartNumber</th>
                        <th>@Messages_Datahub.CostPerLot</th>
                        <th>@Messages_Datahub.OrderBy</th>
                        <th>@Messages_Datahub.MinimumOrderUnit</th>
                        <th>@Messages_Datahub.MinimumOrderQuantity</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>

        </div>
    </div>

    @* Association *@
    <div role="mappingtab" class="tab-pane fade" id="association">
        <div class="content-wrapper product-content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <h2>@Messages_Datahub.Association</h2>
                    <ul>
                        <li>Substitute products</li>
                        <li>Related products</li>
                        <li>Exclusive products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*@Html.Partial("_CustomFields")*@

    @* History *@
    <div role="mappingtab" class="tab-pane fade" id="pc-history">
        <fieldset>
            <legend>
                <h4>Historical Change Tracking for Pricing</h4>
            </legend>

            <div class="content-wrapper product-content-wrapper">

                <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
                    <div class="modal-body">
                        <div class="sg-datatable-wrap udh-tooltip-wrap">
                            <div id="divPCHistoryExportedToSEOM" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <b>
                                    @Messages_Datahub.HistoryExportedToSEOM:
                                <span id="spanPCHistoryExportedToSEOM" class="fa fa-plane fa-spin"></span>
                            </b>
                        </div>
                        <div class="clearfix mgbtm8"></div>
                        <table id="PIMProductHistoryDataTable" class="table">
                            <thead>
                                <tr>
                                    <th>@Messages_Datahub.HistoryUserName</th>
                                    <th>@Messages_Datahub.HistoryProperty</th>
                                    <th>@Messages_Datahub.HistoryValue</th>
                                    <th>@Messages_Datahub.HistoryUpdatedOn</th>
                                    <th>@Messages_Datahub.HistoryExportedToAabaco</th>
                                    @*<th>@Messages_Datahub.HistoryExportedToSEOM</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
</div>
    </div>


<style>

    .CustomCss {
        width: 50%;
    }
    .select2-selection--multiple {
        overflow: hidden !important;
        height: auto !important;
    }
</style>
