﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="QuantityDiscountRoundUpModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <button class="close btnNoQuantityDiscountRoundUpModal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">@Messages_Datahub.QuantityDiscountRoundUpConfirmHeader </h4>
            </div>
            <div class="modal-body">
                <h5>
                    <label id="quantityDiscountRoundUpIsKit"></label>
                    <br />
                    @Messages_Datahub.QuantityDiscountRoundUpConfirmMessage
                    <br/>
                    @Messages_Datahub.DoYouStillWantToContinue
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnYesQuantityDiscountRoundUpModal" name="ButtonType" />
                <input type="hidden" id="hiddenQuantityDiscountRoundUpValue" />
                <button class="btn btn-danger btnNoQuantityDiscountRoundUpModal">@Messages.No</button>
            </div>
        </div>
    </div>
</div>