﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
<div id="staging-data-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages_Datahub.ViewStagingData</h4>
            </div>
            <div class="modal-body">
                <div id="grid-div"></div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary">@Messages_Datahub.SetPrimary</button>*@
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@