﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="UdhConfirmationModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Confirmation </h4>
            </div>
            <div class="modal-body">
                <h5>
                    <label id="udhConfirmationMessageLabel">This Aabaco ID already exists for another product: </label>
                    <br />
                    Please select an appropriate action below.
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="Disable Other Product" title="Disable Other Product (and clear their Aabaco ID)" class="btn btn-success sg-tooltip" id="btnDisableOtherProductUdhConfirmationModal" name="ButtonType" data-toggle="tooltip" data-placement="top" />
                <input type="button" value="Keep Both" title="Keep Both (and re-generate the other product's Aabaco ID)" class="btn btn-success sg-tooltip" id="btnKeepBothUdhConfirmationModal" name="ButtonType" data-toggle="tooltip" data-placement="top" />
                <button class="btn btn-danger sg-tooltip" title="Cancel (and do nothing)" data-dismiss="modal" id="btnNoUdhConfirmationModal" type="submit" data-toggle="tooltip" data-placement="top">@Messages.Cancel</button>
            </div>
        </div>
    </div>
</div>