﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.VendorProductCatalogViewModel

<div data-bind="with: vendorProduct">
    <div role="mappingtab" class="product">
        <ul class="nav nav-tabs nav-pills" role="tablist">
            <li role="presentation"><a href="#vpc-general" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.General</a></li>
            <li role="presentation" class="active"><a href="#vpc-purchasing" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Pricing</a></li>
            <li role="presentation"><a href="#vpc-purchasinglevel" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.PurchasingLevels</a></li>
            <li role="presentation"><a href="#vpc-history" id="tab_vpc_history" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.History</a></li>
        </ul>
        
        <div class="tab-content">

            @* General Tab Start *@
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_GeneralTab.cshtml", Model)
            @* General Tab End *@

            @* Purchasing Tab Start *@
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_PurchasingTab.cshtml", Model)
            @*Purchasing Tab End*@

            @* Purchasing Level Tab Start *@
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_PurchasingLevel.cshtml")
            @*Purchasing Level Tab End*@

            @*History Tab Start*@
                @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_PurchasingHistory.cshtml", Model)
            @*History Tab End*@
        </div>
    </div>

    @Html.HiddenFor(m => m.Id).Databind("value: Id")


    @*@if (@TempData["Id"] != null)
        {
            @Html.HiddenFor(m => m.Id).Databind("value: Id")
        }*@
    @*<input id="Id" name="Id" type="hidden" data-bind="text: Id" />*@
    @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_CorrectVPNorVendor.cshtml")
</div>

