﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using Microsoft.AspNet.SignalR.Messaging
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogFilterModel
@{
    ViewBag.Title = "AssociateProduct";
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @ViewBag.Title 
            <span class="udh-inline-block"> </span>
            
        </li>
        @if (ViewBag.VendorProductCatalogPartNumber != null && ViewBag.VendorProductCatalogId != null)
        {
            <strong class="vendor-part">

                <label>@Messages_Datahub.VendorPartNumber:</label>
                <span><a href="@Url.Action("Edit", "VendorProductCatalog", new {Area = "Datahub", id = ViewBag.VendorProductCatalogId})">@ViewBag.VendorProductCatalogPartNumber</a></span>
            </strong>
        }
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
<div class="modal-body">
    <div class="panel panel-default sg-grid-panel with-search">
        <div class="panel-body">
            

            @*<button class="btn pull-right filter"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Filter</button>
            <button style="display: none;" class="btn pull-right filterhide"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Hide</button>*@

        </div>

        <div id="ProductCatalogSearchContainer">
            <div class="panel-filter">
                <div class="row">
                    <div class="panel-group col-md-8">
                        @Html.LabelFor(m => m.Search)
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control " })
                    </div>
                    <div class="panel-group col-md-2 text-center">
                        @Html.LabelFor(m => m.ProductCatalogDisabled)
                        <div>@Html.EditorFor(m => m.ProductCatalogDisabled, new { @class = "form-control " })</div>
                    </div>
                    <div class="panel-group col-md-2">
                        <input type="button" id="ProductCatalogSearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                        <input type="button" id="ProductCatalogClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sg-datatable-wrap udh-tooltip-wrap">
       
        <table id="ProductCatalogDataTable" class="display">

            <thead>
            <tr>
                <th><input type="checkbox" id="selectAllProductCatalog" class="selectAll"></th>
                <th>@Messages_Datahub.PartNumber</th>
                <th style="min-width: 120px;">@Messages_Datahub.Name</th>
                <th style="min-width: 120px;">@Messages_Datahub.Description</th>
                <th>@Messages_Datahub.Isbn</th>
                <th>@Messages_Datahub.Nsn</th>
                <th>@Messages_Datahub.Upc</th>
                <th>@Messages_Datahub.Ean</th>
                <th>@Messages_Datahub.Mpn</th>
                <th>@Messages_Datahub.Asin</th>
                <th>@Messages_Datahub.Uom</th>
            </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="clearfix mgbtm8"></div>

    <div class="pagination-holder btn-asso">
        <div id="pagination"></div>

        <div class="pull-right">
            <button id="btnAssociate" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp; Associate</button>
        </div>
    </div>
</div>
    </div>
        @section styles{

            @Styles.Render("~/Styles/datatable")
         }

        @section scripts{

            <script type="text/javascript">
    var vendorProductCatalogId = '@ViewBag.VendorProductCatalogId';
    var urlProductCatalogManager = '@Url.Action("ProductAssotiateDataTable", "CatalogManager", new { Area = "Datahub" })';
                var urlAssociateWithProduct = '@Url.Action("VendorProductAssotiate", "ProductCatalog", new {Area = "Datahub"})';
    var msg_errorOccured = '@Messages.ErrorOccured';
             </script>
            @Scripts.Render("~/bundles/datatable")
            @Scripts.Render("~/bundles/area/datahub/associateproduct")
        }
