﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Infrastructure.Crosscutting.Helpers
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel

@{
    ViewBag.Title = Messages.Add + " " + Messages_Menu.ProductCatalog;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages.Create + "</li>" +
                      "<li class='active'>" + Messages_Datahub.ProductCatalog + "</li>" +
                  "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Add @Messages_Menu.ProductCatalog</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @*SG-808*@
        @Html.HiddenFor(m => m.VendorProduct.MinLineOrderAmount)

        @using (Html.BeginForm(new { id = "__AjaxAntiForgeryForm", ReturnUrl = ViewBag.ReturnUrl, workflowId = Request["workflowId"], stepId = Request["stepId"], vendorProductId = Request["vendorProductId"], stagingId = Request["stagingId"], guid = Request["guid"], logUserUploadId = Request["logUserUploadId"] }))
        {
            @Html.AntiForgeryToken()

            <div class="product-create product-catalog">
                @* --- If product has vendor product information, show the information to user --- *@
                @if (ViewBag.VendorProductCatalogPartNumber != null && ViewBag.VendorProductCatalogId != null)
                {
                    <strong class="title">
                        @*<label>@Messages_Datahub.VendorProductCatalog:</label>*@
                        <label>@Messages_Datahub.VendorPartNumber:</label>
                        <span><a href="@Url.Action("Edit", "VendorProductCatalog", new {Area = "Datahub", id = ViewBag.VendorProductCatalogId})">@ViewBag.VendorProductCatalogPartNumber</a></span>
                    </strong>

                    <div class="clearfix"></div>
                }
                <strong class="title">
                    <label>@Messages_Datahub.ProductName:</label>
                    <span data-bind="text: Name"></span>

                    @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                    |
                    <label>@Messages_Datahub.LocalSKU:</label>
                    <span data-bind="text: LocalSku().toUpperCase()"></span>
                    @*@Html.TextBoxFor(m => m.LocalSku).Databind("value: LocalSku, enable: false")*@
                    |
                    <span class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Disabling discontinues in SEOM and deletes from yahoo">
                        @Html.GbdLabelFor(m => m.IsDisabled)
                        @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
                    </span>
                </strong>

                <div class="clearfix"></div>

                @Html.Partial("_ProductCatalog")

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="btn-container">
                        @Html.GbdButton("CreateProductCatalog", Request["workflowId"] == null ? Messages.CreateNew : Messages.Next).Databind("click: save")
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                </div>
            </div>

            @Html.Partial("_StagingDataDialog")
            @Html.Partial("_CompareSupplierDialog")
            @Html.Partial("_CostThresholdDialog")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_PricingLevelNegativeDialogue.cshtml")
            @Html.Partial("_MarginNegativeFromCostChangeDialogue")
            @Html.Partial("_MarginNegativeFromFifoCostDialogue")
            @*@Html.Partial("_CreateInventorySupplierDialog")*@
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqAndQplDoNotMatchDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqNotMatchedForOrderByPieceDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_CostRangeDialog.cshtml")
            @Html.Partial("_PriceRangeDialog")
            @Html.Partial("_PriceAndCostSameDialog")
            @Html.Partial("_YahooIdConfirmationDialog")
            @Html.Partial("_QuantityDiscountRoundUpConfirmationDialog")
            //SG-808
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_VPAmountDonotMatchLineOrderAmount.cshtml")
            @Html.Partial("_SaleMarginAlertDialog")
        }
    </div>
</div>
@section styles
{
    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/bootstrap-switch")
<style type="text/css">
     .tooltip-inner{
        text-transform:initial !important;
    }
    .tooltip-inner .tooltip-list {
        margin: 0 0 0 10px;
        padding: 0;
        list-style: initial;
        text-align: left;
    }

        .tooltip-inner .tooltip-list li {
            background: none !important;
        }
</style>

}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ko-extenders-numeric")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
        var storeId = getQueryStringByName("StoreId");
        var showPurchasingLevel = '@Html.Raw(ViewBag.ShowPurchasingLevel)';
        @*var vpName = '@TempData["Name"]';
        var vpPartNumber = '@TempData["VendorPartNumber"]';
        var vpDescription = '@TempData["Description"]';*@

        //      var ProductCategory = @Html.Raw(ViewBag.productCategoryList);
        var qualifiersListViewBag = @Html.Raw(ViewBag.QualifiersList);
        var unitOfMeasureListViewBag = '@Html.Raw(ViewBag.UnitOfMeasureList)';
        var supplierListViewBag = '@Html.Raw(ViewBag.SupplierList)';
        var allSupplierListViewBag = '@Html.Raw(ViewBag.AllSupplierList)';
        var createUrl = '@Url.Action("Create", "ProductCatalog", new {Area = "Datahub"})';
         var editUrl = '@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub" })';
        var productCatalogVm = '@Html.Raw(ViewBag.ProductCatalogVm)';
        var vendorProductSetPrimaryUrl = '@Url.Action("VendorProductSetPrimary", "CatalogManager", new {Area = ""})';
        var vendorProductGetPrimaryIdUrl = '@Url.Action("VendorProductGetPrimaryId", "CatalogManager", new {Area = ""})';
        var Alert_VendorProductSetPrimarySuccess = '@Messages_Datahub.Alert_VendorProductSetPrimarySuccess';
        var urlEditVendorProductCatalog = '@Url.Action("Edit", "VendorProductCatalog", new {Area = "Datahub"})';
        var errorOccurredMessage = '@Messages.ErrorOccured';
        var showAllProductCatalogTabs = '@Html.Raw(ViewBag.ShowAllProductCatalogTabs)';
        var returnObject = '@Html.Raw(ViewBag.ReturnObject)';
        var customFieldsAdditionalViewBag = '@Html.Raw(ViewBag.CustomFieldsAdditional)';
        var customFieldsRequiredViewBag = '@Html.Raw(ViewBag.CustomFieldsRequired)';
        var customFieldsReadOnlyViewBag = '@Html.Raw(ViewBag.CustomFieldsReadOnly)';
        var valueRequiredCustomFieldsViewBag = '@Html.Raw(ViewBag.ValueRequiredCustomFields)';
        var catalogManagerIndexUrl = '@Url.Action("Index", "CatalogManager", new {Area = "Datahub"})';

        var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues", "ProductCatalog", new {Area = "Datahub"})';
        var urlValidateKitChildMarginThreshold =
          '@Url.Action("ValidateKitChildMarginThreshold", "ProductCatalog", new { Area = "Datahub"})';

        var pleaseSelectText = '@Messages.PleaseSelect';
        var isStoreEnabled = true;
        var productCatalogVm = '@Html.Raw(ViewBag.ProductCatalogVm)';
        var urlGetRequiredCustomFieldsForSaving = '@Url.Action("GetRequiredCustomFieldsForSaving", "ProductCatalog", new {Area = "Datahub"})';
        var requiredCustomFieldsJson = '@ViewBag.RequiredCustomFields';
        var valuRequiredCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_CustomField_0';
        var customFieldNameRequiredMessage = '@Messages_Datahub.Validation_CustomField_NameNotBlank';
        var customFieldValueRequiredMessage = '@Messages_Datahub.Validation_CustomFieldValue_NotBlank_ForCustomfield_0';
        var valueRequiredOtherCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_OtherCustomFields_0';
        var fillUpAllRequiredCustomFields = '@Messages_Datahub.Validation_Fillup_AllRequiredCustomFields';

        //START --- Variables from Vendor Product Catalog edit imported here

        var productIdFromTempData = '@TempData["Id"]';

        var urlCatalogManagerIndex = '@Url.Action("Index", "CatalogManager", new {Area = "Datahub"})';

        var productCatalogEditUrl = '@Url.Action("Edit", "ProductCatalog", new {Area = "Datahub"})';

        var validationMessage = "@Messages.Validation_Enter_Required_Fields";
        var productIdFromTempData = '@TempData["Id"]';
        var vendorProductCatalogVm = '@Html.Raw(ViewBag.VendorProductCatalogVm)';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2", "Catalog", new {Area = "Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
          var validatecostprice = '@Url.Action("GetCostPriceValidation", "VendorProductCatalog", new { Area = "Datahub"})';
        //SG-808
        var GetUrl = '@Url.Action("GetMinOrderLineAmount", "VendorProductCatalog", new {Area = "Datahub"})';

        //console.log(productIdFromTempData);
        $('#Id').val(productIdFromTempData);

        //console.log(vendorProductCatalogVm);

        //END --- Variables from Vendor Product Catalog edit imported here

        //for create mode, replace existing yahooId with auto-calculated value
        udh.settings.customfields.replaceExistingYahooIdWithAutoCalculatedValue = true;

        
        //$("#DateLastCostUpdate").datepicker({
        //    showButtonPanel: true
        //});

        //$("#QohUpdatedOn").datepicker({
        //    showButtonPanel: true
        //});

        //$("#PricingCustomField_reorderQuantityUpdatedOn").datepicker({
        //    showButtonPanel: true
        //});

        //$("#PricingCustomField_reorderPointUpdatedOn").datepicker({
        //    showButtonPanel: true
        //});
        
        //$.datepicker._gotoToday = function (id) {
        //    $(id).datepicker('setDate', new Date()).datepicker('hide').blur();
        //};

    </script>

    @Scripts.Render("~/bundles/bootstrap-switch")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproduct-validate")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldvalidate")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricing-validation")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfield-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldmanager-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricinglevel-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/purchasingrulelevel-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricingcustomfield-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldbygroup-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-vm")
   
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-manage-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-manage-vm")

}

