﻿@using System.Collections.Specialized
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel

@{
    ViewBag.Title = Messages.Edit + " " + Messages_Menu.ProductCatalog;
}

@*<h2>@Messages_Menu.PIMProduct - @Messages.CreateNew</h2>*@
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Edit @Messages_Menu.ProductCatalog</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">


        @*@using (Html.BeginForm(new { id = Request["id"].ToString(), ReturnUrl = ViewBag.ReturnUrl }))*@
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, workflowId = Request["workflowId"], stepId = Request["stepId"] }))
        {
            @*@Html.AntiForgeryToken()*@
            @*SG-808*@
            @Html.HiddenFor(m => m.VendorProduct.MinLineOrderAmount)
            @Html.HiddenFor(m => m.Id).Databind("value: Id")

            <div class="product-edit product-catalog">

                <strong class="title">
                    <label>Product Name:</label>
                    <span data-bind="text: Name"></span>
                    @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                    |
                    <label>Local Part Number:</label>
                    <span data-bind="text: LocalSku().toUpperCase()"></span>
                    @*@Html.TextBoxFor(m => m.LocalSku).Databind("value: LocalSku, enable: false")*@

                    @if (ViewBag.KitSKU != null)
                    {
                        <code>|</code>
                        <label> @Messages_Datahub.KitChild @Messages.Of.ToLower() &nbsp;</label>
                        <span>[</span>
                        var kitSkuList = (Dictionary<string, string>)ViewBag.KitSKU;

                        int count = 0;
                        foreach (var keyval in kitSkuList)
                        {
                            count++;

                            <a id="kit-sku" href='@Url.Action("Edit", "Kits", new {Area = "Datahub", id = @keyval.Key, returnUrl = @Request.RawUrl})' target="_blank">@keyval.Value</a>
                            if (count < kitSkuList.Count)
                            {
                                <span>,</span>
                            }
                        }
                        <span>]</span>
                    }

                    |
                    <span class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Disabling discontinues in SEOM and deletes from yahoo">
                        @Html.GbdLabelFor(m => m.IsDisabled)
                        @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
                    </span>
                </strong>

                <div class="clearfix"></div>

                @Html.Partial("_ProductCatalog")

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="btn-container ">
                        @if (Model.Id > 0)
                        {
                            @Html.GbdButton("EditProductCatalog", Request["workflowId"] == null ? Messages.Save : Messages.Next).Databind("click: edit")
                        }
                        else
                        {
                            @Html.GbdButton("EditProductCatalog", Request["workflowId"] == null ? Messages.Save : Messages.Next).Databind("click: save")
                        }
                        @Html.GbdCancelButton(Messages.Cancel)
                    </div>
                </div>
            </div>




            @Html.Partial("_CompareSupplierDialog")
            @Html.Partial("_MarginNegativeFromCostChangeDialogue")
            @Html.Partial("_MarginNegativeFromFifoCostDialogue")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_PricingLevelNegativeDialogue.cshtml")
            @Html.Partial("_CostThresholdDialog")

            @*@Html.Partial("_CreateInventorySupplierDialog") *@
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqAndQplDoNotMatchDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_SpqNotMatchedForOrderByPieceDialog.cshtml")

            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_CostRangeDialog.cshtml")
            @Html.Partial("_PriceRangeDialog")
            @Html.Partial("_PriceAndCostSameDialog")
            @Html.Partial("_YahooIdConfirmationDialog")
            @Html.Partial("_QuantityDiscountRoundUpConfirmationDialog")
            @Html.Partial("~/Areas/Datahub/Views/VendorProductCatalog/_VPAmountDonotMatchLineOrderAmount.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_SaleMarginAlertDialog.cshtml")
        }
    </div>
</div>


@*SG-803*@
@using (Html.GbdConfirmDialog("SaveConfirmationDialogue", "Order By Field Changed","warning"))
{
   @*<h5> @String.Format("Order By field has been changed. Please ensure this product is not on order first. If so, change the quantities associated with it to match the purchasing rules.")</h5>
   <h5> @String.Format("Do you still want to continue?")</h5>*@

    <h5>@string.Format(Messages.OrderByField_Changed)</h5>
    <h5>@string.Format(Messages.Still_Continue)</h5>

}


@*SG-808*@
@using (Html.GbdConfirmDialog("MinLineOrderConfirmationDialogue", "Amount Less than MinLineOrderAmount", "warning"))
{
    @*<h5> @String.Format("Order By field has been changed. Please ensure this product is not on order first. If so, change the quantities associated with it to match the purchasing rules.")</h5>
    <h5> @String.Format("Do you still want to continue?")</h5>*@

    //< h5 > @String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Disable, Messages.ProductCategory + Messages.PluralSuffix) ?</ h5 >
}

@section styles
{

        <style type="text/css">
            .tooltip-inner{
        text-transform:initial !important;
    }
        .tooltip-inner .tooltip-list {
    margin: 0 0 0 10px;
    padding: 0;
        list-style:initial;
        text-align:left;
    }
        .tooltip-inner .tooltip-list li{
    background:none !important;
    }
    </style>



    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/bootstrap-switch")
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ko-extenders-numeric")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/encoder")
        <script type="text/javascript">
        var storeId = getQueryStringByName("StoreId");
        var showPurchasingLevel = '@Html.Raw(ViewBag.ShowPurchasingLevel)';
    var vpName = '';
    var vpPartNumber = '';
    var vpDescription = '';

    //$("#DateLastCostUpdate").datepicker({
    //    showButtonPanel: true
    //});

    //$("#QohUpdatedOn").datepicker({
    //    showButtonPanel: true
    //});

    //$("#PricingCustomField_reorderQuantityUpdatedOn").datepicker({
    //    showButtonPanel: true
    //});

    //$("#PricingCustomField_reorderPointUpdatedOn").datepicker({
    //    showButtonPanel: true
    //});

    //$.datepicker._gotoToday = function(id) {
    //    $(id).datepicker('setDate', new Date()).datepicker('hide').blur();
    //};

    //document.getElementsByClassName('ui-datepicker-close').style.visibility = 'hidden';



    //$('.ui-datepicker-buttonpane').children('.ui-datepicker-close').hide();
   // $('.ui-datepicker-close').hide();


    var qualifiersListViewBag = @Html.Raw(ViewBag.QualifiersList);
    var unitOfMeasureListViewBag = '@Html.Raw(ViewBag.UnitOfMeasureList)';
    var supplierListViewBag = '@Html.Raw(ViewBag.SupplierList)';

        @*var allSupplierListViewBag = '@Html.Raw(ViewBag.AllSupplierList)';*@
        //SG-803
        var confirmSavePopupId= "SaveConfirmationDialogue";
        var confirmSavePopupModelYesButtonId = "btnSaveConfirmationDialogueYes";

        var createUrl = '@Url.Action("Create", "ProductCatalog", new {Area = "Datahub"})';
        var editUrl = '@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub" })';
        var validationMessage = "@Messages.Validation_Enter_Required_Fields";
        var productCatalogVm = '@Html.Raw(ViewBag.ProductCatalogVm)';
        var vendorProductSetPrimaryUrl = '@Url.Action("VendorProductSetPrimary", "CatalogManager", new { Area = "" })';
        var vendorProductGetPrimaryIdUrl = '@Url.Action("VendorProductGetPrimaryId", "CatalogManager", new { Area = "" })';
        var Alert_VendorProductSetPrimarySuccess = '@Messages_Datahub.Alert_VendorProductSetPrimarySuccess';
        var urlEditVendorProductCatalog = '@Url.Action("Edit", "VendorProductCatalog", new { Area = "Datahub" })';
        var returnObject = '@Html.Raw(ViewBag.ReturnObject)';
        var showAllProductCatalogTabs = '@Html.Raw(ViewBag.ShowAllProductCatalogTabs)';

        var customFieldsAdditionalViewBag = '@Html.Raw(ViewBag.CustomFieldsAdditional)';
        var customFieldsRequiredViewBag = '@Html.Raw(ViewBag.CustomFieldsRequired)';
        var customFieldsReadOnlyViewBag = '@Html.Raw(ViewBag.CustomFieldsReadOnly)';
        var valueRequiredCustomFieldsViewBag = '@Html.Raw(ViewBag.ValueRequiredCustomFields)';

        var catalogManagerIndexUrl = '@Url.Action("Index", "CatalogManager", new {Area = "Datahub"})';;
        var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues","ProductCatalog",new{Area="Datahub"})';

        var pleaseSelectText = '@Messages.PleaseSelect';
        var isStoreEnabled = false;

        var urlGetRequiredCustomFieldsForSaving = '@Url.Action("GetRequiredCustomFieldsForSaving","ProductCatalog",new{Area="Datahub"})';
        var urlValidateKitChildMarginThreshold =
            '@Url.Action("ValidateKitChildMarginThreshold", "ProductCatalog", new { Area = "Datahub"})';

        var requiredCustomFieldsJson = '@ViewBag.RequiredCustomFields';
        var valuRequiredCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_CustomField_0';
        var customFieldNameRequiredMessage = '@Messages_Datahub.Validation_CustomField_NameNotBlank';
        var customFieldValueRequiredMessage = '@Messages_Datahub.Validation_CustomFieldValue_NotBlank_ForCustomfield_0';
        var valueRequiredOtherCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_OtherCustomFields_0';
        var fillUpAllRequiredCustomFields = '@Messages_Datahub.Validation_Fillup_AllRequiredCustomFields';
        var getProductHistoryTable =
            '@Url.Action("GetProductPricingHistoryTable", "ProductCatalog", new { Area = "Datahub", productId=Model.Id })';
        var getVendorProductHistoryTable =
            '@Url.Action("GetVendorProductPricingHistoryTable", "VendorProductCatalog", new { Area = "Datahub", vendorProductId=Model.PrimaryVendorProductId ?? 0 })';
        var getVendorProductSeomStatus = '@Url.Action("GetVendorProductSeomStatus", "VendorProductCatalog", new { Area = "Datahub", vendorProductId=Model.PrimaryVendorProductId ?? 0 })';
        var getProductSeomStatus =
            '@Url.Action("GetProductSeomStatus", "ProductCatalog", new { Area = "Datahub", productId=Model.Id })';

        //START --- Variables from Vendor Product Catalog edit imported here

        var productIdFromTempData = '@TempData["Id"]';

        var urlCatalogManagerIndex = '@Url.Action("Index", "CatalogManager", new{Area="Datahub"})';

        var productCatalogEditUrl = '@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub"})';

        var validateKitPricingRoundUpUrl =
            '@Url.Action("ValidateKitPricingRoundUp", "ProductCatalog", new { Area = "Datahub"})';

        var validationMessage = "@Messages.Validation_Enter_Required_Fields";
        var productIdFromTempData = '@TempData["Id"]';
        var vendorProductCatalogVm = '@Html.Raw(ViewBag.VendorProductCatalogVm)';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2","Catalog",new{Area="Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
          var validatecostprice = '@Url.Action("GetCostPriceValidation", "VendorProductCatalog", new { Area = "Datahub"})';
        //SG-808
        var GetUrl = '@Url.Action("GetMinOrderLineAmount", "VendorProductCatalog", new {Area = "Datahub"})';

        //console.log(productIdFromTempData);
        $('#Id').val(productIdFromTempData);
       
   
        
        //console.log(vendorProductCatalogVm);

        //END --- Variables from Vendor Product Catalog edit imported here

    </script>

    @Scripts.Render("~/bundles/bootstrap-switch")
    @Scripts.Render("~/bundles/pricing-calculator")
    
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldvalidate")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricing-validation")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfield-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldmanager-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricinglevel-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/purchasingrulelevel-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricingcustomfield-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldbygroup-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproduct-validate")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-vm")
    @*<script src="~/Scripts/Areas/Datahub/VendorProductCatalog/vendorProductCatalogVM.js"></script>*@
    
    @Scripts.Render("~/bundles/area/datahub/vendorproductcatalog/vendorproductcatalog-manage-vm")
    @Scripts.Render("~/bundles/area/datahub/vendorproduct-history")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-manage-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-history")
    @*<script src="~/Scripts/Areas/Datahub/ProductCatalog/productcatalog-manage.js"></script>*@

}

