﻿@using GBD.UniversalDataHub.Resources
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel>

@{
        ViewBag.Title = Messages.Index;
    }
    <h2>@Messages.Index</h2>

    @Html.ActionLink("Create new", "Create")

    @section Styles{
        @Styles.Render("~/Styles/datatable")
    }
    
    <table id="productCatalogTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LocalSku)</th>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(models => item.LocalSku)</td>
                    <td>@Html.DisplayFor(models => item.Location)</td>
                    <td>@Html.DisplayFor(models => item.Name)</td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        $("#productCatalogTable").DataTable();
    </script>
}