﻿@using GBD.UniversalDataHub.Resources
@*Dialog box start*@
<div id="suggest-cost-update" class="modal fade" aria-hidden="true" aria-labelledby="suggest-cost-update" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" id="btn-exit-close" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">
                    <i class="glyphicon glyphicon glyphicon-trash"></i>
                    @Messages.Close ?
                </h4>
            </div>
            <div class="modal-body">
                <h5>
                    <span>It looks like this product has other vendor products too.</span>
                    <br/>
                    <span>Do you like to adjust the cost of the product?</span>
                    <br/>
                    <span>If yes, under Product Catalog click 'Edit' then go to 'Pricing' then change the 'Cost'.</span>
                </h5>
            </div>
            <div class="modal-footer">
                <a href=""></a>
                <input type="button" value="OK" class="btn btn-success" id="btn-exit-yes" data-dismiss="modal" name="ButtonType" />
                @*<button class="btn btn-danger" id="btn-exit-no" type="submit">@Messages.No</button>*@
            </div>
        </div>
    </div>
</div>
@*Dialog box end*@
