@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CatalogManagerFilterModel
@{
    ViewBag.Title = Messages_Datahub.ProductAssociation;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Vendor + "</li>" +
                      "<li class='active'>" + Messages_Datahub.ProductAssociation + "</li>" +
                  "</ol>");
}

<div class="w1">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper" id="ViewCatalog">
            @if (string.IsNullOrWhiteSpace(@Request["StoreId"]) && (bool)ViewData["AllowedForVendorProductCatalog"] && ViewData["VendorProductCatalogAuthorizedActions"] != null && ((List<string>)(ViewData["VendorProductCatalogAuthorizedActions"])).Any())
            {
                //string.IsNullOrWhiteSpace(@Request["StoreId"]) &&
                
                @Html.Raw(@"<div class=""sg-catalog-one  col-md-6 "">");

            }
            else
            {
                @Html.Raw(@"<div class=""sg-catalog-one  col-md-12 "">");
            }
            @if (ViewData["ProductCatalogAuthorizedActions"] != null && ((List<string>)ViewData["ProductCatalogAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_ProductCatalog.Substring(0, 9) + "001"))
            {
                <div class="sg-tab-bar sub">
                    <ul role="tablist" id="myTab11" class="nav nav-tabs udh">
                        <li class="active">
                            <a data-toggle="tab" role="tab" href="#ViewCatalog">
                                @Messages_Datahub.ProductCatalog
                                @if (!string.IsNullOrWhiteSpace(@Request["StoreIdentifier"]))
                                {
                                    <label> : @Request["StoreIdentifier"]</label>
                                }
                            </a>
                        </li>
                    </ul>
                    @if (string.IsNullOrWhiteSpace(@Request["StoreId"]) && (bool)ViewData["AllowedForVendorProductCatalog"])
                    {
                        <div style="" class="expand-cat-one expand-btn">
                            <span id="expand-pc" title="@Messages_Datahub.Expand" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-resize-horizontal sg-tooltip"></span>
                        </div>
                        <div style="" class="collapse"><span title="Collapse" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-arrow-left sg-tooltip"></span></div>
                    }
                </div>

    <div class="panel panel-default sg-grid-panel with-search">
        <div class="panel-body">

            @if (ViewData["ProductCatalogAuthorizedActions"] != null && ((List<string>)(ViewData["ProductCatalogAuthorizedActions"])).Any())
            {

                var authorizedActions = (List<string>)(ViewData["ProductCatalogAuthorizedActions"]);

                <button id="btnLoadProductcatalog" class="btn"> <span class="glyphicon glyphicon-retweet"> </span> @Messages_Datahub.Load</button>

                @Html.GbdButtonWithSpan("btnAddProductcatalog", Messages.Add, "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                //if (string.IsNullOrWhiteSpace(@Request["StoreId"]))
                {
                    @Html.GbdButtonWithSpan("btnEditProductcatalog", Messages.Edit, "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)

                }
            }
            @*<button class="btn pull-right filter"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Filter</button>
                <button style="display: none;" class="btn pull-right filterhide"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Hide</button>*@

        </div>
        <div class="clearfix"></div>
        <div id="ProductCatalogSearchContainer">
            <div class="panel-filter">
                <div class="row">
                    <div class="panel-group col-md-8">
                        @Html.LabelFor(m => m.ProductCatalogFilter.First().Search)

                        @Html.TextBoxFor(m => m.ProductCatalogFilter.First().Search, new { @class = "form-control ", @placeholder = "Exact search for Part Number, Name or Description" })
                    </div>
                    @*<div class="panel-group">
                            @Html.LabelFor(m => m.ProductCatalogFilter.First().Description)

                            @Html.TextBoxFor(m => m.ProductCatalogFilter.First().Description, new { @class = "form-control" })
                        </div>
                        <div class="panel-group">
                            @Html.LabelFor(m => m.ProductCatalogFilter.First().PartNumber)

                            @Html.TextBoxFor(m => m.ProductCatalogFilter.First().PartNumber, new { @class = "form-control" })
                        </div>*@
                    <div class="panel-group text-center col-md-2">
                        @Html.LabelFor(m => m.ProductCatalogFilter.First().ProductCatalogDisabled)
                        <div>@Html.EditorFor(m => m.ProductCatalogFilter.First().ProductCatalogDisabled, new { @class = "form-control " })</div>
                    </div>
                    <div class="panel-group col-md-2">
                        <input type="button" id="ProductCatalogSearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                        <input type="button" id="ProductCatalogClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="sg-datatable-wrap udh-tooltip-wrap">
        <table id="ProductCatalogDataTable" class="display">

            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAllProductCatalog" class="selectAll"></th>
                    @*<th>@Messages_Datahub.Complete</th>*@
                    <th>@Messages_Datahub.PartNumber</th>
                    <th style="min-width: 120px;">@Messages_Datahub.Name</th>
                    <th style="min-width: 120px;">@Messages_Datahub.Description</th>

                    <th>@Messages_Datahub.Price</th>
                  
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
            }
        @Html.Raw("</div>")
        @if (string.IsNullOrWhiteSpace(@Request["StoreId"]) && Convert.ToBoolean(ViewData["AllowedForVendorProductCatalog"]))
        {
            if (ViewData["VendorProductCatalogAuthorizedActions"] != null && ((List<string>)ViewData["VendorProductCatalogAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_VendorProductCatalog.Substring(0, 9) + "001"))
            {

                <div style="" class="sg-catalog-two col-md-6">
                    <div class="sg-tab-bar sub">
                        <ul  role="tablist" id="myTab11" class="nav nav-tabs udh">
                            <li class="active"><a data-toggle="tab" role="tab" href="#ViewCatalog">Vendor Product Catalog</a></li>
                        </ul>
                        <div style="" class="expand-cat-two expand-btn">
                            <span title="@Messages_Datahub.Expand" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-resize-horizontal sg-tooltip"></span>
                        </div>
                        <div style="" class="collapse"><span title="Collapse" data-placement="left" data-toggle="tooltip" class=" glyphicon glyphicon-arrow-right sg-tooltip"></span></div>
                    </div>
                    <div class="panel panel-default sg-grid-panel with-search">
                        <div class="panel-body">
                            <button id="btnGetVendorProductcatalog" class="btn"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;@Messages_Datahub.Load</button>

                            @if (ViewData["VendorProductCatalogAuthorizedActions"] != null && ((List<string>)(ViewData["VendorProductCatalogAuthorizedActions"])).Any())
                            {
                                var authorizedActions = (List<string>)(ViewData["VendorProductCatalogAuthorizedActions"]);

                                @Html.GbdButtonWithSpan("btnAddVendorProductcatalog", Messages.Add, "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)
                                @Html.GbdButtonWithSpan("btnEditVendorProductcatalog", Messages.Edit, "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)

                            }

                            @Html.GbdButtonWithSpan("VPCGetPrimary", Messages_Datahub.ShowPrimary, "glyphicon-star")
                            @Html.GbdButtonWithSpan("VPCSetPrimary", Messages_Datahub.SetPrimary, "glyphicon-star-empty")

                            @*<button class="btn pull-right filter"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Filter</button>
                <button style="display: none;" class="btn pull-right filterhide"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Hide</button>*@

                            <div style="margin-left: 59px; display: none;" id="hideVendorProductSettings">
                            </div>
                        </div>

                        <div id="VendorProductSearchContainer">
                            <div class="panel-filter">
                                <div class="panel-group col-md-8">
                                    @Html.LabelFor(m => m.VendorProductCatalogFilter.First().Search)
                                    @Html.TextBoxFor(m => m.VendorProductCatalogFilter.First().Search, new { @class = "form-control ", @id = "searchVendorProduct", @placeholder = "Exact search for Vendor Name, Vendor Part Number, Name or Description" })
                                </div>
                                <div class="panel-group text-center col-md-2">
                                    @Html.LabelFor(m => m.VendorProductCatalogFilter.First().VendorProductDisabled)
                                    <div>@Html.EditorFor(m => m.VendorProductCatalogFilter.First().VendorProductDisabled, new { @class = "form-control" })</div>
                                </div>
                                <div class="panel-group col-md-2">
                                    <input type="button" id="VendorProductSearch" value="@Messages_Datahub.Search" class="btn btn-primary" />
                                    <input type="button" id="VendorProductManualClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary" />
                                    <input type="button" id="VendorProductClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary" style="display:none;" />
                                </div>

                                @Html.TextBoxFor(m => m.VendorProductCatalogFilter.First().ProductId, new { @class = "form-control", @id = "selectedProductCatalog" })

                                @Html.TextBoxFor(m => m.VendorProductCatalogFilter.First().VendorProductGetPrimary, new { @class = "form-control", @id = "primaryVendorId" })

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>

                    <div class="sg-datatable-wrap udh-tooltip-wrap">
                        <table id="VendorProductDataTable" class="display">

                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllVendorProduct" class="selectAll"></th>
                                    <th>@Messages_Datahub.VendorName</th>
                                    <th>@Messages_Datahub.VendorPartNumber</th>
                                    <th style="min-width: 120px;">@Messages_Datahub.Name</th>
                                    <th style="min-width: 120px;">@Messages_Datahub.Description</th>
                                    <th>@Messages_Datahub.Cost</th>
                                    <th>@Messages_Datahub.OnOrder</th>
                                    <th>@Messages_Datahub.QuantityPerLot</th>
                                    <th>@Messages_Datahub.LotPartNumber</th>
                                    <th>@Messages_Datahub.LotBarcode</th>
                                    <th>@Messages_Datahub.CostPerLot</th>
                                    <th>@Messages_Datahub.OrderBy</th>
                                    <th>@Messages_Datahub.MinimumOrderUnit</th>
                                    <th>@Messages_Datahub.MinimumOrderQuantity</th>
                                    <th>@Messages_Datahub.ManufacturersBarcode</th>
                                    <th>@Messages_Datahub.LotDescription</th>
                                    <th>@Messages_Datahub.LeadTimeInDays</th>
                                    <th>@Messages_Datahub.CanDropship</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                </div>
            }
        }
        </div>
    </div>

@section styles{
    @Styles.Render("~/Styles/datatable")

    <style>
        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
        i.fa.fa-ban.cannot-check-me {
            font-size: 14px;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        var storeId = '@Request["StoreId"]';
        var productCatalogVm = '@Html.Raw(ViewBag.ProductCatalogVm)';
        var urlProductCatalogManager = '@Url.Action("ProductCatalogManagerDataTable", "CatalogManager", new {Area = "Datahub"})' + "?storeId=" + storeId;
        var urlVendorProductManager = '@Url.Action("VendorProductManagerDataTable", "CatalogManager", new {Area = "Datahub"})';
        var urlVendorProductSetPrimary = '@Url.Action("VendorProductSetPrimary", "CatalogManager", new {Area = "Datahub"})';
        var urlPrimaryVendorProduct = '@Url.Action("VendorProductGetPrimaryId", "CatalogManager", new {Area = "Datahub"})';
        var urlProductCatalogEdit = '@Url.Action("Edit", "ProductCatalog", new {Area = "Datahub"})';
        var urlVendorProductCatalogEdit = '@Url.Action("Edit", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlProductCatalogCreate = '@Url.Action("Create", "ProductCatalog", new {Area = "Datahub"})';
        var urlVendorProductCreate = '@Url.Action("Create", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlVendorProductAdd = '@Url.Action("VendorProductCreateNew", "CatalogManager", new {Area = "Datahub"})';
        
        if (storeId !== "") {
            var urlReturn = ' @HttpUtility.UrlEncode(Url.Action("Index", "CatalogManager", new { Area = "Datahub", StoreId = @Request["StoreId"] }))' + "&StoreId=" + '@Request["StoreId"]';

        } else {

            var urlReturn = ' @HttpUtility.UrlEncode(Url.Action("Index", "CatalogManager", new {Area = "Datahub"}))';
        }
        var urlGetVendorProductCatalogCount = '@Url.Action("GetVendorProductCatalogCount", "ProductCatalog", new {Area = "Datahub"})';

        var Alert_productCatalogForPrimaryVendorProduct = '@Messages_Datahub.Alert_productCatalogForPrimaryVendorProduct';
        var Alert_singleProductCatalogForPrimaryVendorProduct = '@Messages_Datahub.Alert_singleProductCatalogForPrimaryVendorProduct';
        var Alert_VendorProductSetPrimary = '@Messages_Datahub.Alert_singleVendorProductSetPrimary';
        var Alert_singleVendorProductSetPrimary = '@Messages_Datahub.Alert_singleVendorProductSetPrimary';
        var Alert_VendorProductSetPrimarySuccess = '@Messages_Datahub.Alert_VendorProductSetPrimarySuccess';
        var Alert_ProductCatalogEdit = '@Messages_Datahub.Alert_ProductCatalogEdit';
        var Alert_singleProductCatalogToEdit = '@Messages_Datahub.Alert_singleProductCatalogToEdit';
        var Alert_VendorProductToEdit = '@Messages_Datahub.Alert_VendorProductToEdit';
        var Alert_singleVendorProductToEdit = '@Messages_Datahub.Alert_singleVendorProductToEdit';
        var Alert_ProductCatalogToCreateVendorProduct = '@Messages_Datahub.Alert_ProductCatalogToCreateVendorProduct';
        var Alert_singleProductCatalogToCreateVendorProduct = '@Messages_Datahub.Alert_singleProductCatalogToCreateVendorProduct';
        var Alert_ProductCatalogToLoadVendorProduct = '@Messages_Datahub.Alert_ProductCatalogToLoadVendorProduct';
        var Alert_singleProductCatalogToLoadVendorProduct = '@Messages_Datahub.Alert_singleProductCatalogToLoadVendorProduct';
        var Alert_NoPrimaryVendorProduct = '@Messages_Datahub.Alert_NoPrimaryVendorProduct';
        var Alert_ErrorOccurred = '@Messages.ErrorOccured';

    </script>
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/catalogmanager-index")
}
