﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.ManagePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li><a href="@Url.Action("ManageProfile", "UserLoginManager", new { Area = "AccessControl" })">@AclMessages.UpdateProfile</a></li>
        <li class="active"><a href="#UpdatePassword" role="tab" data-toggle="tab">@AclMessages.ChangePassword</a></li>
    </ul>
</div>


<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="UpdatePassword">

        <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <div class="content-wrapper">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label class="control-label" for="">@Html.LabelFor(m => m.OldPassword)</label>
                                    </div>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                                 @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label class="control-label" for="">@Html.LabelFor(m => m.NewPassword)</label>
                                    </div>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                                </div>
                                 @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label class="control-label" for="">@Html.LabelFor(m => m.ConfirmPassword)</label>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                </div>
                                 @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                             <div class="col-md-12">
                                <div class="btn-container">
                                    @Html.GbdSubmitButton("GbdChangePasswordbtn", "Change Password")
                                </div>
                            </div>
                        </div>
                        </div>
                   </div>
                }

        </div>

    </div>

</div>

@section scripts{
    <script>
        var statusMessage = '@TempData["passwordChangeMessage"]';
        $('document').ready(function () {
            if (statusMessage == "yes") {

                alertmsg('green', 'Password Changed');
            }
            if (statusMessage == "no") {

                alertmsg('red', 'Incorrect Password');
            }

        });
    </script>
}
