﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclAppUserEditViewModel
@{
    ViewBag.Title = "Manage Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active"><a href="#ManageProfile" role="tab" data-toggle="tab">@AclMessages.UpdateProfile</a></li>
        <li><a href="@Url.Action("ManagePassword", "UserLoginManager", new { Area = "AccessControl" })">@AclMessages.ChangePassword</a></li>
    </ul>
</div>

<!-- Tab panes -->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">


    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">
                @Html.EditorForModel()
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                    <div class="btn-container">
                        @Html.GbdSubmitButton("EditAclAppUser", Messages.Save)
                    </div>
                </div>
              </div>
            </div>
        </div>
        
    }
</div>

@section scripts{
    <script type="text/javascript">
    var statusMessage = '@TempData["userProfileUpdateMessage"]';
        var userTitle = '@ViewData["UserTitleSelected"]';

        $('document').ready(function () {
            if (statusMessage == "success") {

                alertmsg('green', 'Profile updated successfully');
            }
            if (statusMessage == "failure") {

                alertmsg('red', 'An error occured while updating profile');
            }

        });

        $("#UserTitle").val(userTitle);


    </script>

}