﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclAppUserViewModel

@{
    ViewBag.Title = AclMessages.AclUserCreate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages.System + "</li>" +
           "<li>" + AclMessages.AccessControl + "</li>" +
           "<li><a href='" + Url.Action("Index", "AclUsers", new { Area = "AccessControl" }) + "'>" + AclMessages.AclUsers + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");

}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.EditorForModel()

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label">
                                    @Html.Label(AclMessages.AclRoleName)
                                </label>
                            </div>
                            @Html.DropDownList("RoleCollection").GbdAddCssClass("form-control")
                        </div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    @Html.EditorFor(model => model.AclUsers)

                    @if (UdhClaimsIdentity.IsInGbdAdminRole())
                    {
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label class="control-label">
                                        @Html.Label(AclMessages.AclClient)
                                    </label>
                                </div>
                                @Html.DropDownListFor(x => x.ClientId, (IEnumerable<SelectListItem>)ViewData["AclClients"], Messages.PleaseSelect, new { @class = "clientDrop  form-control", @id = "aclClient" })
                            </div>
                            @Html.ValidationMessageFor(m => m.ClientId)
                        </div>
                    }
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("CreateAclUser", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>

            }

        </div>
    </div>
</div>



@section styles{
    <style>
        .validation-summary-errors {
            color: red;
            font-size: 12px;
            font-weight: bold;
            display: none;
        }

        li {
            list-style-type: none;
        }
    </style>
}


@section scripts{
    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index","AclUsers",new {Area="AccessControl"})';
        var aclMessage = '@TempData["AclMessage"]';
        var aclErrorMessage = '@TempData["AclErrorMessage"]';

        if (aclMessage) {
            alertmsg("green", aclMessage);
        }
        if (aclErrorMessage) {
            alertmsg("red", aclErrorMessage);

        }
        $('#btnCancel').click(function () {
            window.location = urlStaticDataIndex;
        });
    </script>
}
