﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclAppUserEditViewModel
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>

    @Html.DisplayForModel()

    <div class="form-horizontal row">
        <div class="col-md-3"></div>
        <div class=" col-md-8 sg-import-modal">
            <fieldset style="margin-bottom: 15px;">
                <legend>AclUser</legend>
                <div>@Html.DisplayNameFor(model => model.AclUsers.FirstOrDefault().Status)</div>
                <div>
                    
                    @Html.Label((string) ViewBag.userStatus)
                </div>
                
                <div>@Html.DisplayNameFor(model => model.AclUsers.FirstOrDefault().UserName)</div>
                <div> @Html.DisplayFor(model => model.AclUsers.FirstOrDefault().UserName)</div>
                
            </fieldset>
        </div>
    </div>

    <div class="form-horizontal row">
        <div class="col-md-3 control-label">
            @Html.Label(AclMessages.AclRoleName)
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.AclUsers.FirstOrDefault().Roles.FirstOrDefault().AclRole.Name)
        </div>
    </div>

 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>