﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclAppUserEditViewModel
@{
    ViewBag.Title = AclMessages.AclUserEdit;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages.System + "</li>" +
           "<li>" + AclMessages.AccessControl + "</li>" +
           "<li><a href='" + Url.Action("Index", "AclUsers", new { Area = "AccessControl" }) + "'>" + AclMessages.AclUsers + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.EditorForModel()
                    @Html.EditorFor(model => model.AclUsers)

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.Label(AclMessages.AclRoleName)
                            </div>
                            @Html.DropDownList("RoleCollection").GbdAddCssClass("form-control")
                        </div>
                    </div>


                    if (UdhClaimsIdentity.IsInAdminRole() || UdhClaimsIdentity.IsInGbdAdminRole())
                    {

                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.LabelFor(x => x.Password)
                                </div>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Change password?", @type = "password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="clearfix mgbtm8"></div>

                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.LabelFor(x => x.ConfirmPassword)
                                </div>
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "", @type = "password" })

                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>

                    }

                    if (UdhClaimsIdentity.IsInGbdAdminRole())
                    {
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.Label(AclMessages.AclClient)
                                </div>
                                @Html.DropDownListFor(x => x.ClientId, (IEnumerable<SelectListItem>)ViewData["AclClients"], Messages.PleaseSelect, new { @class = "clientDrop  form-control", @id = "aclClient" })
                            </div>
                            @Html.ValidationMessageFor(m => m.ClientId)
                        </div>
                        <div class="clearfix mgbtm8"></div>
                    }

                    <div class="col-sm-12">
                        <div class="btn-container">
                            @Html.GbdSubmitButton("EditAclUser", Messages.Save)
                            @Html.GbdResetButton(Messages.Cancel)
                        </div>

                    </div>

                }
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index", "AclUsers", new {Area = "AccessControl"})';
        var clientIdSelected = '@ViewData["SelectedClientID"].ToString()';
        var aclMessage = '@TempData["AclMessage"]';
        var aclErrorMessage = '@TempData["AclErrorMessage"]';
        var userTitle = '@ViewData["UserTitleSelected"]';
        var userStatus = '@ViewData["UserStatusSelected"]';


        if (aclMessage) {
            alertmsg("green", aclMessage);
        }
        if (aclErrorMessage) {
            alertmsg("red", aclErrorMessage);

        }

        $('#btnCancel').click(function () {
            window.location = urlStaticDataIndex;
        });

        $('#aclClient').val(clientIdSelected);

        $("#UserTitle").val(userTitle);

        $("#AclUsers_0__Status").prop("checked", userStatus.toLowerCase() === "false"? false:true);

    </script>
}
