﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

@model List<GBD.UniversalDataHub.Areas.Datahub.Models.ETLImportSourceColumnViewModel>
         
<div class="importSourceColumns">

 @if (Model != null)
 {
    <div class="sg-ad-search-bar">
@if (ViewBag.Store != 1)
{
    <div class="input-group">
        <input id="impSrcClmns" type="text" class="form-control" placeholder="Please enter column name with comma seperation"/>
        <div class="input-group-btn">@Html.GbdButton("generateimpsrcColmTable", "Generate", true)</div>
    </div>
}
    </div>
     <div class="handsontable-wrapper">
         <table class="table add table-bordered" id="importSourceColumnTable" width="100%" cellpadding="0">
             <tr id="impSrcColHeader">
                 <th>@Messages_Datahub.Name</th>
                 <th>@Messages_Datahub.DisplayName</th>
                 @if (ViewBag.Store == 1)
                 {
                     <th>@Messages_Datahub.DataType</th>
                     <th>@Messages_Datahub.Length</th>
                 }
                 @if (ViewBag.Store != 1)
                 {
                     <th></th>
                 }
             </tr>
             @for (int i = 0; i < Model.Count; i++)
             {
                 <tr id="tr_@i">
                     <td style='display: none'><input name='Index' type='hidden' value='@i'/></td>
                     <td style="display: none;">@Html.HiddenFor(x => x[i].Id, new {@class = "form-control", @id = @i + "_Id"})</td>
                     <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Click to edit"> @Html.TextBoxFor(x => x[i].Name, new {@class = "form-control", @id = @i + "_Name"})</span></td>
                     <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Click to edit">  @Html.TextBoxFor(x => x[i].DisplayName, new {@class = "form-control", @id = @i + "_DisplayName"}) </span></td>
                     @if (ViewBag.Store == 1)
                     {

                         <td>@Html.DropDownListFor(x => x[i].DataType, (IEnumerable<SelectListItem>) ViewData["SqlDataType"], "--Choose", new {@class = "sourceDrop sourceDropDatatype ", @value = Model[i].DataType, @style = "width:100%;", @id = @i}) </td>
                         <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="left" title="Click to edit">  @Html.TextBoxFor(x => x[i].CharacterMaximumLength).GbdAddCssClass("form-control") </span></td>
                     }
                     @if (ViewBag.Store != 1)
                     {
                     <td class="input-group-btn">
                         <a id="remove_@i" class="btn btn-danger removeBtn" data-toggle='tooltip' data-placement='left' title='remove the row'><i class="fa fa-close"></i></a>
                     </td>
                        }
                 </tr>
             }
         </table>
     </div>
     if (ViewBag.Store != 1)
      {
          <div class="btn-container">
              <button class="btn btn-primary" id="addMoreRow">Add Row</button>
          </div>
      }
 }
 </div>