﻿@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.SourceTypeFileViewModel

@if ((bool)ViewData["Vendor"])
{

    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-addon">
                @Html.GbdLabelFor(m => m.Vendor)
            </div>
           @if ((bool)ViewBag.VendorCheck)
           {
               @Html.HiddenFor(x => x.VendorId)
               @Html.HiddenFor(x=>x.Vendor)
               @*<label>@ViewBag.VendorName</label>*@
    <input class="form-control" name="Vendor" readonly="readonly" type="text" value="@ViewBag.VendorName" aria-required="true" aria-invalid="false">
           }
           else
           {

            @Html.DropDownListFor(x => x.Vendor, (IEnumerable<SelectListItem>
                                                )ViewData["VendorList"], Messages.PleaseSelect, new { @class = "sourceDrop  form-control", @id = "vendor" })
           }
        </div>
        @Html.ValidationMessageFor(m => m.Vendor)
    </div>
    <div class="clearfix mgbtm8"></div>
}


   @Html.HiddenFor(m => m.ImportSourceName, new { @id = "importSourceNametextBox" })


<div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            @Html.GbdLabelFor(m => m.Name)
        </div>
        @if ((bool)ViewBag.SourceNameCheck)
        {

            <input class="form-control" name="Name" readonly="readonly" type="text" value="@ViewBag.SourceName" aria-required="true" aria-invalid="false">

          @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control windowSupportName", @readonly ="readonly"})*@
        }
        else
        {

          @Html.TextBoxFor(m => m.Name, new { @class = "form-control windowSupportName" })
        }
        
    </div>
    @Html.ValidationMessageFor(m => m.Name)
</div>


<div class="clearfix mgbtm8"></div>
 <div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            @Html.GbdLabelFor(m => m.FileNameFormat)
        </div>

        @Html.DropDownListFor(x => x.FileNameFormat, (IEnumerable<SelectListItem>
                                            )ViewData["FileFormat"], null, new { @class = "fileFormat  form-control", @id = "fileNameFormatDrop" })

    </div>
    @Html.ValidationMessageFor(m => m.FileNameFormat)
</div>
  
    
      
        <div class="clearfix mgbtm8"></div>
<div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            @Html.GbdLabelFor(m => m.FieldTerminator)
        </div>
        @Html.DropDownListFor(x => x.FieldTerminator, (IEnumerable<SelectListItem>
            ) ViewData["terminatorList"], null, new {@class = "sourceDrop  form-control", @id = "terminator"})
    </div>
    @Html.ValidationMessageFor(m => m.FieldTerminator)
</div>

<div class="clearfix mgbtm8"></div>

      <div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            @Html.GbdLabelFor(m => m.Delimiter)
        </div>
        @Html.DropDownListFor(m => m.Delimiter, (IEnumerable<SelectListItem>
                                                )ViewData["delimiterListItem"], null, new { @class = "sourceDrop  form-control", @id = "delimiter" })
    </div>
    @Html.ValidationMessageFor(m => m.Delimiter)
</div>
        <div class="clearfix mgbtm8"></div>
     <div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            @Html.GbdLabelFor(m => m.StartRow)
        </div>
        @Html.TextBoxFor(per => per.StartRow, new { @id = "startrow", @class = "form-control intDataType" })
        <div class="input-group-addon form-info btn-next sg-tooltip" data-html="true" data-placement="top" data-title="
                                        <ul class='list-unstyled tooltip-list'>
                                            <li>0-include header</li>
                                            <li>1-ignore header</li>
                                            <li>2-ignore header &amp; first row </li>
                                            <li>3-ignore header, first & second row</li>
                                        </ul>
                                        "><i class="fa fa-question"> </i>
                                    </div>
    </div>
    @Html.ValidationMessageFor(m => m.StartRow)
</div>
        <div class="clearfix mgbtm8"></div>
   <div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            <label class="control-label" for="">Generate columns from file </label>
        </div>
        <input type="file" id="files" value="Open" accept=".csv,.txt,.tsv">

    </div>
</div>

<div class="clearfix mgbtm8"></div>

<div class="col-md-12">
    <div class="input-group">
        <div class="input-group-addon">
            <label class="control-label">@Html.GbdLabelFor(m => m.NoOfVariables)</label>
        </div>

        @Html.TextBoxFor(m => m.NoOfVariables, new { @class = "form-control intDataType" })


    </div>
    @Html.ValidationMessageFor(m => m.NoOfVariables)
</div>

<div class="clearfix mgbtm8"></div>
<div class="col-md-12">
    <button type="button" id="parse" style ="display: none;" >Generate Import Source Columns</button>

</div>
<div class="clearfix mgbtm8"></div>