﻿@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using GBD.UniversalDataHub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.SourceTypeXmlViewModel
@if ((bool)ViewData["Vendor"])
{

    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-addon">
                @Html.GbdLabelFor(m => m.Vendor)
            </div>
            @if ((bool)ViewBag.VendorCheck)
            {
                @Html.HiddenFor(x => x.VendorId)
                @Html.HiddenFor(x => x.Vendor)
                @*<label>@ViewBag.VendorName</label>*@
                <input class="form-control" name="Vendor" readonly="readonly" type="text" value="@ViewBag.VendorName" aria-required="true" aria-invalid="false">
            }
            else
            {

                @Html.DropDownListFor(x => x.Vendor, (IEnumerable<SelectListItem>
                                                )ViewData["VendorList"], Messages.PleaseSelect, new { @class = "sourceDrop  form-control", @id = "vendor" })
            }
        </div>
        @Html.ValidationMessageFor(m => m.Vendor)
    </div>
    <div class="clearfix mgbtm8"></div>
}
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-addon">
                @Html.GbdLabelFor(x => x.XmlName)
            </div>

            @Html.TextBoxFor(m => m.XmlName, new { @class = "form-control windowSupportName" })
        </div>
        @Html.ValidationMessageFor(m => m.XmlName)
    </div>
    <div class="clearfix mgbtm8"></div>



