﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.BackgroundImportSettingViewModel
@{
    ViewBag.Title = Messages_Datahub.BackgroundScheduling;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                                                                        "<li>" + Messages_Datahub.Settings + "</li>" +
                                                                        "<li>" + Messages.Import + "</li>" +
                                                                        "<li>" + Messages_Datahub.DataSources + "</li>" +
                                                                        "<li class='active'>" + ViewBag.Title + "</li>" +
                                                                    "</ol>");
}

    <div class="sg-tab-bar">
        <ul class="nav nav-tabs udh" role="tablist">
            <li class="active header">@Messages_Datahub.BackgroundScheduling</li>
        </ul>
    </div>

    @using (Ajax.BeginForm( "BackgroundImport", "ImportSourceSetting",new { importSourceId = Request["importSourceId"].ToString()}, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }))
                {
   <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.ImportSource, new {@class = "control-label"})
                            </div>
                            @Html.TextBoxFor(m => m.ImportSource, new {@class = "form-control", @id = "importSource", @readonly = "readonly"})
                        </div>
                        @Html.ValidationMessageFor(m => m.ImportSource)

                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label>File Path</label>
                            </div>
                            <input type="text" readonly="readonly" class="form-control" value="@ViewData["BatchImportPath"]" />
                        </div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.StartRunTime, new {@class = "control-label"})
                            </div>
                            @Html.TextBoxFor(m => m.StartRunTime, new {@class = "form-control datetimeTypeHHMM", @id = "startTime"})
                        </div>
                        @Html.ValidationMessageFor(m => m.StartRunTime)
                    </div>

                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.Frequency, new {@class = "control-label"})
                            </div>
                            @Html.DropDownListFor(x => x.Frequency, (IEnumerable<SelectListItem>) ViewData["Frequency"], null, new {@id = "frequencyType", @class = "form-control"})

                        </div>
                        @Html.ValidationMessageFor(m => m.Frequency)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.Status, new { @class = "control-label" })
                            </div>
                            @Html.CheckBoxFor(x => x.Status, new { @id = "statusBackgroundImport", @class = "sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Checked: Background schedule setting is enabled<br/>Not checked: Background schedule setting is disabled" })

                        </div>
                        @Html.ValidationMessageFor(m => m.Status)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.DailyFrequencyType, new {@class = "control-label"})
                            </div>
                            @Html.DropDownListFor(x => x.DailyFrequencyType, (IEnumerable<SelectListItem>) ViewData["DailyFrequency"], null, new {@id = "DailyFrequencyType", @class = "form-control"})

                        </div>
                        @Html.ValidationMessageFor(m => m.DailyFrequencyType)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div id="atSpecificTimeOption">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.SpecificTime, new {@class = "control-label"})
                                </div>
                                @Html.TextBoxFor(m => m.SpecificTime, new { @class = "form-control HHMM", @id = "specificTime" })
                            </div>
                            @Html.ValidationMessageFor(m => m.SpecificTime)
                        </div>
                    </div>
                   <div id="hourlyOption">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.Hour, new {@class = "control-label"})
                                </div>
                                @Html.TextBoxFor(m => m.Hour, new {@class = "form-control HH", @id = "Hour"})
                            </div>
                            @Html.ValidationMessageFor(m => m.Hour)
                        </div>
                    </div>
                    <div id="minutelyOption">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.Minute, new {@class = "control-label"})
                                </div>
                                @Html.TextBoxFor(m => m.Minute, new {@class = "form-control HH", @id = "Minute"})
                            </div>
                            @Html.ValidationMessageFor(m => m.Minute)
                        </div>
                    </div>
                    <div id="weeklyOption">
                        <div class="clearfix mgbtm8"></div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.WeeklyFrequencyType, new {@class = "control-label"})
                                </div>
                                @Html.DropDownListFor(x => x.WeeklyFrequencyType, (IEnumerable<SelectListItem>) ViewData["WeeklyFrequency"], null, new {@id = "weeklyfrequencyType", @class = "", @multiple = ""})

                            </div>
                            @Html.ValidationMessageFor(m => m.WeeklyFrequencyType)
                        </div>

                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>

                <div class="btn-container">
                    @Html.GbdButton("BackgroundSettingBtn", GBD.UniversalDataHub.Resources.Messages.CreateNew, isPrimary: true)
                    @Html.GbdResetButton(GBD.UniversalDataHub.Resources.Messages.Cancel)

                </div>
            </div>
            </div>
    </div>
}

@section styles
{
    @Styles.Render("~/Styles/jquery-inlinedatetimepicker")
    @Styles.Render("~/Styles/select2")

}

@section scripts
{
<script type="text/javascript">
    var importSourceId = '@Request["importSourceId"]';
    var urlImportSource = '@Url.Action("Index", "ImportSourceSetting", new { Area = "Datahub" })';
    var urlgetscheduledData = '@Url.Action("GetScheduledData", "ImportSourceSetting", new {Area = "Datahub"})';


</script>

    @Scripts.Render("~/bundles/jquery-inlinedatetimepicker")
    @Scripts.Render("~/bundles/select2")

 
@Scripts.Render("~/bundles/area/datahub/backgroundimport")

}

