﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ImportSourceViewModel
@{
    ViewBag.Title = Messages_Datahub.CreateImportSource;
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.CreateImportSource</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">
                    @using (Html.BeginForm("Create", "ImportSourceSetting", new { workflowId = Request["workflowId"], stepId = Request["stepId"] }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div>
                            @if ((bool)ViewData["Vendor"])
                            {

                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @Html.GbdLabelFor(m => m.Vendor)
                                        </div>

                                        @Html.DropDownListFor(x => x.Vendor, (IEnumerable<SelectListItem>
                                                )ViewData["VendorList"], Messages.PleaseSelect, new { @class = "sourceDrop  form-control", @id = "vendor" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Vendor)
                                </div>
                                <div class="clearfix mgbtm8"></div>
                            }


                            @Html.HiddenFor(m => m.ImportSourceName, new { @id = "importSourceNametextBox" })


                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label class="control-label">@Html.GbdLabelFor(m => m.Name)</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control windowSupportName" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="clearfix mgbtm8"></div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label class="control-label">@Html.GbdLabelFor(m => m.FileNameFormat)</label>
                                    </div>

                                    @Html.DropDownListFor(x => x.FileNameFormat, (IEnumerable<SelectListItem>
                                            )ViewData["FileFormat"], Messages.PleaseSelect, new { @class = "fileFormat  form-control", @id = "fileNameFormatDrop" })

                                </div>
                                @Html.ValidationMessageFor(m => m.FileNameFormat)
                            </div>
                            @*<div class="clearfix mgbtm8"></div>*@
                            @*<div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.FilePath)</label>
                                        </div>
                                            @Html.TextBoxFor(m => m.FilePath, new { @class = "form-control" })
                                         </div>
                                            @Html.ValidationMessageFor(m => m.FilePath)
                                        </div>
                                <div class="clearfix mgbtm8"></div>*@
                            <div id="csvelements">
                                @*<div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.LogErrorFilePath)</label>
                                        </div>
                                            @Html.TextBoxFor(m => m.LogErrorFilePath, new { @class = "form-control" })
                                             </div>
                                            @Html.ValidationMessageFor(m => m.LogErrorFilePath)
                                        </div>*@
                                <div class="clearfix mgbtm8"></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.FieldTerminator)</label>
                                        </div>
                                        @Html.DropDownListFor(x => x.FieldTerminator, (IEnumerable<SelectListItem>
                                                )ViewData["terminatorList"], null, new { @class = "sourceDrop  form-control", @id = "terminator" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.FieldTerminator)
                                </div>
                                <div class="clearfix mgbtm8"></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.Delimiter)</label>
                                        </div>
                                        @Html.DropDownListFor(m => m.Delimiter, (IEnumerable<SelectListItem>
                                                )ViewData["delimiterListItem"], null, new { @class = "sourceDrop  form-control", @id = "delimiter" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Delimiter)
                                </div>
                                <div class="clearfix mgbtm8"></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.StartRow)</label>
                                        </div>
                                        @Html.TextBoxFor(per => per.StartRow, new { @id = "startrow", @class = "form-control intDataType" })
                                        <div class="input-group-addon form-info btn-next" data-toggle="tooltip" data-placement="top" data-title="
                                        <ul class='list-unstyled tooltip-list'>
                                            <li>0-include header</li>
                                            <li>1-ignore header</li>
                                            <li>2-ignore header &amp; first row </li>
                                            <li>3-ignore header, first & second row</li>
                                        </ul>
                                        "><i class="fa fa-question"> </i>
                                    </div>
                                        @*@Html.DropDownListFor(per => per.StartRow,
                                            new[]
                                            {
                                                new SelectListItem() {Text = Messages.PleaseSelect, Value = Messages.PleaseSelect},
                                                new SelectListItem() {Text = "0-include header", Value = "0"},
                                                new SelectListItem() {Text = "1-ignore header", Value = "1", Selected = true},
                                                new SelectListItem() {Text = "2-ignore header & first row", Value = "2"},
                                                new SelectListItem() {Text = "3-ignore header, first & second row", Value = "3"},
                                                new SelectListItem() {Text = "4-ignore header, first, second & third row", Value = "4"},
                                                new SelectListItem() {Text = "5-ignore header, first, second, third & fourth row", Value = "5"},
                                            },
                                            new { @id = "startrow", @class = "form-control" })*@

                                    </div>
                                    @Html.ValidationMessageFor(m => m.StartRow)
                                </div>
                                <div class="clearfix mgbtm8"></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">@Html.GbdLabelFor(m => m.NoOfVariables)</label>
                                        </div>

                                        @Html.TextBoxFor(m => m.NoOfVariables, new { @class = "form-control intDataType" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.NoOfVariables)
                                </div>

                                <div class="clearfix mgbtm8"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="btn-container">
                                    @Html.GbdButton("CreateImpSrcBtn", Messages.CreateNew, isPrimary: true)
                                    @Html.GbdResetButton(Messages.Cancel)

                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index", "ImportSourceSetting", new {Area = "Datahub"})';

        if ($('#fileNameFormatDrop').val() === "XML") {

            $('#csvelements').hide();
        }

        $('#fileNameFormatDrop').change(function () {
            if ($('#fileNameFormatDrop').val() === "XML") {

                $('#csvelements').hide();
            } else {
                $('#csvelements').show();
            }


            // Do something with val1 and val2 ...
        }
        );

        $('#btnCancel').click(function () {
            window.location = urlStaticDataIndex;
        });

        $(function () {
            var vendorId = getQueryStringByName('vendorId');
            //console.log(vendorId);
            if (vendorId != null) {
                $('#vendor').val(vendorId);

                var selectedText = $('#vendor option:selected').text();
                //$('#Name').val(selectedText);
               // $('#Name').prop('value', selectedText);
                //$('#Name').prop('title', selectedText);
                //$('#Name').focus();
                document.getElementById('Name').value = selectedText;
                $('#Name').mask('w', { translation: { 'w': { pattern: /[a-zA-Z0-9_ ]/, recursive: true } } });
             
            }

            $('#vendor').change(function () {
                var selectedText = $('#vendor option:selected').text();
                //$('#Name').val(selectedText);
               // $('#Name').prop('value', selectedText).change();
                //$('#Name').prop('title', selectedText);
                //$('#Name').val('');
                //$('#Name').focus();
                document.getElementById('Name').value = selectedText;
                $('#Name').mask('w', { translation: { 'w': { pattern: /[a-zA-Z0-9_ ]/, recursive: true } } });
                $('#Name').mask("w", custom_options);
              
            });

        });

        $("#startrow").val("1");

    </script>
}
