﻿@using System.Data
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ETLImportSourceViewModel
@{
    ViewBag.Title = Messages_Datahub.DataSource;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Vendor + "</li>" +
                      "<li><a href='" + Url.Action("Index", "ImportSourceSetting", new { Area = "Datahub" }) + "'>" + Messages_Datahub.DataSources + "</a></li>" +
                      "<li class='active'>" + Messages_Datahub.DataSource + "</li>" +
                  "</ol>");
}
@using (Html.BeginForm("ImportSource", "ImportSourceSetting", new { workflowId = Request["workflowId"], stepId = Request["stepId"] }, FormMethod.Post, new { @class = "" }))
{
    <div class="w1">
        <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper" id="ViewCatalog">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DestinationId)
            <div id="importsource1" class="sg-catalog-one col-md-6">

                <div class="sg-tab-bar sub">
                    <ul role="tablist" id="myTab11" class="nav nav-tabs udh">
                        <li class="active">
                            <a data-toggle="tab" role="tab" href="#ViewCatalog">
                                @ViewBag.Title
                            </a>
                        </li>
                    </ul>
                </div>
                @*Import source create part*@

                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.LabelFor(per => per.SourceType)
                            </div>
                            @if ((bool)ViewBag.SourceTypeCheck)
                            {
                                <input class="form-control" name="SourceTypeName" id="ImportSourceType" readonly="readonly" type="text" value="@ViewBag.SourceType" aria-required="true" aria-invalid="false">
                                @Html.HiddenFor(x => x.SourceType)
                            }
                            else
                            {

                                @Html.DropDownListFor(x => x.SourceType, (IEnumerable<SelectListItem>)ViewData["SourceType"], Messages.PleaseSelect, new { @class = "sourceDrop  form-control", @id = "ImportSourceType" })
                            }
                        </div>

                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="importSourcepartialHolder">


                        <div id="partialPlaceHolder" class="partial">
                            @if (Model != null && Model.SourceTypeFile != null)
                            {
                                @Html.Partial("~/Areas/Datahub/Views/ImportSourceSetting/_SourceTypeFile.cshtml", Model.SourceTypeFile)
                            }
                            else if (Model != null && Model.SourceTypeXml != null)
                            {
                                @Html.Partial("~/Areas/Datahub/Views/ImportSourceSetting/_SourceTypeXML.cshtml", Model.SourceTypeXml)

                            }
                            else if (Model != null && Model.SourceTypeCatalogXml != null)
                            {
                                @Html.Partial("~/Areas/Datahub/Views/ImportSourceSetting/_SourceTypeYahooStoreCatalogXML.cshtml", Model.SourceTypeCatalogXml)

                            }
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="btn-container">

                            @Html.GbdButton("CreateImpSrcBtn", Request["workflowId"] == null ? Messages.SaveDeleteMapping : Messages.Next, isPrimary: true)

                            <input type="button" class="btn btn-primary" id="viewMapping" value="View Mapping" />

                            @Html.GbdResetButton(Messages.Cancel)

                        </div>

                    </div>


                </div>



                @*Import source create part end*@


            </div>

            <div id="importsource2" class="sg-catalog-two col-md-6">

                <div class="sg-tab-bar sub">
                    <ul role="tablist" id="myTab11" class="nav nav-tabs udh">
                        <li class="active"><a data-toggle="tab" role="tab" href="#ViewCatalog">Data Source Fields</a></li>
                    </ul>
                </div>
                @*datatable Part*@
                <div class="importSourceColumnpartialHolder">

                    <div id="ImportSourceColumnPlaceHolder" class="partial sg-datatable-wrap">
                        @if (Model != null && Model.ImportSourceColumns != null)
                        {
                            @Html.Partial("~/Areas/Datahub/Views/ImportSourceSetting/_ImportSourceColumn.cshtml", Model.ImportSourceColumns.ToList())
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section styles{

    <style type="text/css">
        .tooltip-list li {
            margin-bottom: 2px;
            white-space: normal;
            width: 175px;
            text-align: left;
        }
    </style>
}

@section scripts{

    <script type="text/javascript">
        var isStore = '@ViewBag.Store';

        var hasError = '@ViewBag.HasModelError';
        var errorMsg = '@TempData["Error"]';
        var successData = '@TempData["Success"]';
        var urlStaticDataIndex = '@Url.Action("Index", "ImportSourceSetting", new {Area = "Datahub"})';
        var urlSourceParamFrmType = '@Url.Action("ImportSourceType", "ImportSourceSetting", new {Area = "Datahub"})';
        var dataTypeCollection = @Html.Raw(ViewData["dataTypeItems"]);
        var urlGetImportSourceColumn = '@Url.Action("GetImportSourceColumns", "ImportSourceSetting", new {Area = "Datahub"})';
        var urlGetImportSourceColumnFromNumber = '@Url.Action("GetImportSourceColumnsFromNumber", "ImportSourceSetting", new {Area = "Datahub"})';
        var urlGetNumberOfColumn = '@Url.Action("GetNumberOfColumn", "ImportSourceSetting", new { Area = "Datahub" })';
        var returnMappingUrl = '@Url.Action("ViewMap", "Mapping", new { Area = "Datahub" })';
        var sourceId = @Model.Id;
        var destinationId =@Model.DestinationId ;
    </script>

    @Scripts.Render("~/bundles/papaparse")
    @Scripts.Render("~/bundles/area/datahub/importsource")

}




