﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ImportSourceViewModel
@{

    ViewBag.Title = Messages_Datahub.DataSources;

    if (HttpContext.Current.Request.QueryString["FromVendor"] != null && HttpContext.Current.Request.QueryString["FromVendor"] == "1")
    {
        ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                                                                         "<li>" + Messages_Datahub.Vendor + "</li>" +
                                                                         "<li class='active'>" + ViewBag.Title + "</li>" +
                                                                     "</ol>");
    }
    else
    {
        ViewBag.Title = Messages_Datahub.IncomingData + " - " + Messages_Datahub.DataSources;

        ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                                                                         "<li>" + Messages_Datahub.Settings + "</li>" +
                                                                         "<li>" + Messages.Import + "</li>" +
                                                                         "<li class='active'>" + ViewBag.Title + "</li>" +
                                                                     "</ol>");

   
    }
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body" id="map">

                @{
                var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                if (authorizedActions != null && authorizedActions.Any())
                {
                    @Html.GbdButtonWithSpan("btnCreateImportSource", "Add", "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                    @Html.GbdButtonWithSpan("btnUpdateImportSource", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                    @Html.GbdButtonWithSpan("butnDeleteImpSource", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)


                }

                @*if (ViewData["IsAuthorizedToInvokeImportSourceColumnMapping"] != null && (bool)ViewData["IsAuthorizedToInvokeImportSourceColumnMapping"] == true)
                {
                    @Html.GbdDialogOpenButton("btnColumnsImportSource", "Data Source Fields", "", "glyphicon glyphicon-wrench", "")
                }*@
                    
                @Html.GbdDialogOpenButton("btnScheduleToBackground", "Schedule Import Task", "", "glyphicon glyphicon-tasks", "")
}

            </div>
        </div>
        <div class="sg-datatable-wrap">
            <table id="importSourceDataTable" class="display">
                <thead>
                    @if (UdhClaimsIdentity.IsStore())
                {
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBoxImportSource" class="selectAll"></th>
                            <th>@Messages_Datahub.SourceName</th>
                            <th>@Messages_Datahub.Store</th>
                            <th>@Messages_Datahub.FileNameFormat</th>
                            <th>File Path</th>
                        </tr>
                }
                else
                {

                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBoxImportSource" class="selectAll"></th>
                            @*<th>@Messages_Datahub.Vendor</th>*@
                            <th>@Messages_Datahub.SourceName</th>
                            <th>@Messages_Datahub.VendorName</th>
                            <th>@Messages_Datahub.FileNameFormat</th>
                            <th>@Messages_Datahub.FieldTerminator</th>
                            <th>@Messages_Datahub.StartRow</th>
                            <th>@Messages_Datahub.Delimiter</th>
                            <th>@Messages_Datahub.NoOfColumns</th>
                            <th>@Messages_Datahub.IsSchedule</th>
                            <th>@Messages_Datahub.LastUpdated</th>
                            @*<th>@Messages_Datahub.IsDisabledVendor</th>*@
                        </tr>

                }
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<input id="ImpSrcIdsforDelete" type="text" style="visibility:hidden;" />


<div id="DeleteImportSourceModel" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Delete Data Source</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete the selected data source?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="butnDeleteImpSourceYes">&nbsp; Yes</button>
                <button class="btn btn-danger" data-dismiss="modal" id="deleteImpSourceNobtn">No</button>

            </div>
        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
}

@section scripts{
    <script type="text/javascript">

    var urlDeleteImportSourceSetting = '@Url.Action("Delete", "ImportSourceSetting", new { Area = "Datahub" })';
    var urlGetImportSourceSetting = '@Url.Action("GetImportSource", "ImportSourceSetting", new { Area = "Datahub" })';
    var ImpSrcColUrl = '@Url.Action("Create", "ImportSourceColumnSetting", new { Area = "Datahub" })';
    var urlUpdateImportSourceColumn = '@Url.Action("Update", "ImportSourceColumnSetting", new { Area = "Datahub" })';
    var importSourceColumnUpdated = '@TempData["ImpSrcColUpdated"]';
    var importSourceColumnError = '@TempData["ImportSourceError"]';
    var updateDestTableurl = '@Url.Action("Create", "ImportSourceColumnSetting", new { Area = "Datahub" })';

    var urlCreateImportSource = '@Url.Action("ImportSource", "ImportSourceSetting", new { Area = "Datahub" })';

    var urlUpdateImportSource = '@Url.Action("ImportSource", "ImportSourceSetting", new { Area = "Datahub" })';
        var urlBackgroundScheduling = '@Url.Action("BackgroundImport", "ImportSourceSetting", new { Area = "Datahub" })';
    </script>
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/importsource-index")

}
