﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ImportSourceViewModel

@{
    ViewBag.Title = Messages_Datahub.EditImportSource;
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.EditImportSource</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper">
                <div class="row">

            @using (Html.BeginForm("Update", "ImportSourceSetting", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                        @Html.HiddenFor(m => m.Id, new { @id = "importSourceID" })
                if (ViewData["Vendor"] != null && (bool)ViewData["Vendor"])
                {
                        @Html.HiddenFor(m => m.VendorId, new { @id = "vendorUpdatetextBox" })
                        @Html.HiddenFor(m => m.Vendor, new { @id = "updatesourceName", @class = "form-control" })
                        <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Html.LabelFor(m => m.Vendor)</label>
                        </div>
                        <div class="form-control">
                            @ViewBag.ExistingVendorForImportSource
                        </div>
                    </div>
                </div>
    <div class="clearfix mgbtm8"></div>
                }
                    <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.SourceName</label>
                        </div>
                       
                            @Html.TextBoxFor(m => m.Name, new { @id = "sorcenameUpdate", @class = "form-control", @readonly = "readonly" })
                       
                         
                        </div>
                            @Html.ValidationMessageFor(m => m.ImportSourceName)
                        </div>
                <div class="clearfix mgbtm8"></div>
                        <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.FileNameFormat</label>
                        </div>
                                @Html.DropDownListFor(x => x.FileNameFormat, (IEnumerable<SelectListItem>)ViewData["FileFormat"], "--Choose", new { @class = "fileFormat  form-control", @id = "fileNameFormatDrop" })
                            </div>
                            @Html.ValidationMessageFor(m => m.FileNameFormat)
                        </div>
    @*<div class="clearfix mgbtm8"></div>
                        <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.FilePath</label>
                        </div>
                            @Html.TextBoxFor(m => m.FilePath, new { @id = "FilePathUpdate", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.FilePath)
                        </div>
                <div class="clearfix mgbtm8"></div>*@
    <div id="csvelements">
                            @*<div class="col-md-6">
    <div class="input-group">
        <div class="input-group-addon">
            <label class="control-label">@Messages_Datahub.ErrorFilePath</label>
        </div>
                    @Html.TextBoxFor(m => m.LogErrorFilePath, new { @id = "ErrorFilePathUpdate", @class = "form-control" })
                </div>
            @Html.ValidationMessageFor(m => m.LogErrorFilePath)
        </div>*@
        <div class="clearfix mgbtm8"></div>
                            <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.FieldTerminator</label>
                        </div>
                            @Html.DropDownListFor(x => x.FieldTerminator, (IEnumerable<SelectListItem>)ViewData["terminatorList"], null, new { @class = "sourceDrop  form-control", @id = "terminatorUpdate" })
                                </div>
                            @Html.ValidationMessageFor(m => m.FieldTerminator)
                        </div>
                <div class="clearfix mgbtm8"></div>
                            <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Html.LabelFor(m => m.Delimiter)</label>
                        </div>
                                    @Html.DropDownListFor(x => x.Delimiter, (IEnumerable<SelectListItem>)ViewData["delimiterListItem"], null, new { @class = "sourceDrop  form-control", @id = "delimiterUpdate" })

                                </div>
                            @Html.ValidationMessageFor(m => m.Delimiter)
                        </div>
        <div class="clearfix mgbtm8"></div>
                            <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.StartRow</label>
                        </div>
                        @Html.TextBoxFor(per => per.StartRow, new { @id = "startrow", @class = "form-control intDataType" })
                        <div class="input-group-addon form-info btn-next"  data-toggle="tooltip" data-placement="top" 
                             data-title="
                            <ul class='list-unstyled tooltip-list'>
                                <li>0-include header</li>
                                <li>1-ignore header</li>
                                <li>2-ignore header &amp; first row </li>
                                <li>3-ignore header, first & second row</li>
                            </ul>
                            "> <i class="fa fa-question"> </i>
                        </div>

                            @*@Html.DropDownListFor(per => per.StartRow,
                            new[]
                            {
                                                new SelectListItem() {Text = Messages.PleaseSelect, Value = Messages.PleaseSelect},
                                                new SelectListItem() {Text = "0-include header", Value = "0"},
                                                new SelectListItem() {Text = "1-ignore header", Value = "1"},
                                                new SelectListItem() {Text = "2-ignore header & first row", Value = "2"},
                                                new SelectListItem() {Text = "3-ignore header, first & second row", Value = "3"},
                                                new SelectListItem() {Text = "4-ignore header, first, second & third row", Value = "4"},
                                                new SelectListItem() {Text = "5-ignore header, first, second, third & fourth row", Value = "5"},
                            },
                                            new { @id = "startrow", @class = "form-control" })*@

                                </div>
                            @Html.ValidationMessageFor(m => m.StartRow)
                        </div>
        <div class="clearfix mgbtm8"></div>
                            <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">@Messages_Datahub.NoOfColumns</label>
                        </div>
                            @Html.TextBoxFor(m => m.NoOfVariables, new { @id = "NoOfVariableUpdate", @class = "form-control intDataType" })
                                </div>
                            @Html.ValidationMessageFor(m => m.NoOfVariables)
                        </div>
                <div class="clearfix mgbtm8"></div>
</div>
                        <div class="col-md-6">
                            <div class="btn-container">
                    @Html.GbdButton("EditImportSourcebtn", Messages.Save, isPrimary: true)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
                        </div>

            }
        </div>
    </div>
</div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index", "ImportSourceSetting", new {Area = "Datahub"})';

        if ($('#fileNameFormatDrop').val() === "XML") {

            $('#csvelements').hide();
        }


        $('#fileNameFormatDrop').change(function() {
         
            if ($('#fileNameFormatDrop').val() === "XML") {

                $('#csvelements').hide();
            } else {
                $('#csvelements').show();
            }
        });
        $('#btnCancel').click(function() {
            window.location = urlStaticDataIndex;
        });
    </script>
}