﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldViewModel


<div class="content-wrapper">

    @Html.Label(Messages_Datahub.General)

    <div class="row">
        @Html.EditorForModel()
        @Html.HiddenFor(x=>x.Id)
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.FieldDataTypeSdvId)
                </div>

                @if (ViewData["CustomFieldDataType"] != null)
                {
                    @Html.DropDownListFor(x => x.FieldDataTypeSdvId, (IEnumerable<SelectListItem>)ViewData["CustomFieldDataType"], Messages.PleaseSelect, new { @class = "fieldDataTypeDrop  select2Drop", @id = "fieldDataTypeDrop", @style = "width:100%;" })
                }

            </div>
            @Html.ValidationMessageFor(m => m.FieldDataTypeSdvId)
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.FieldReferenceSysInformationSchemaId)
                </div>

                @if (ViewData["DestinationColumns"] != null)
                {
                    @Html.DropDownListFor(x => x.FieldReferenceSysInformationSchemaId, (IEnumerable<SelectListItem>)ViewData["DestinationColumns"], Messages.PleaseSelect, new { @class = "customFieldReferenceDrop  select2Drop", @id = "fieldReferenceSysInformationSchemaId", @style = "width:100%;" })
                }

            </div>
            @Html.ValidationMessageFor(m => m.FieldReferenceSysInformationSchemaId)
        </div>
        <div class="clearfix mgbtm8"></div>

        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.DefaultValue)
                </div>
                @Html.TextBoxFor(m => m.DefaultValue).GbdAddCssClass("form-control")
            </div>
            @Html.ValidationMessageFor(m => m.DefaultValue)
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.AllowedValuesSdtId)
                </div>

                @if (ViewData["StaticDataTypes"] != null)
                {
                    @Html.DropDownListFor(x => x.AllowedValuesSdtId, (IEnumerable<SelectListItem>)ViewData["StaticDataTypes"], Messages.PleaseSelect, new { @class = "select2Drop", @id = "allowedValuesSdtIdDrop", @styles = "width:100%;" })
                }

            </div>
            @Html.ValidationMessageFor(m => m.AllowedValuesSdtId)
        </div>
        <div class="clearfix mgbtm8"></div>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.CustomFieldTemplateId)
                </div>

                @if (ViewData["CustomFieldTemplates"] != null)
                {
                    @Html.DropDownListFor(x => x.CustomFieldTemplateId, (IEnumerable<SelectListItem>)ViewData["CustomFieldTemplates"], Messages.PleaseSelect, new { @class = "customFieldTemplateDrop  select2Drop", @id = "customFieldTemplateDrop", @style = "width:100%;" })
                }

            </div>
            @Html.ValidationMessageFor(m => m.CustomFieldTemplateId)
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.CustomFieldGroupId)
                </div>

                @if (ViewData["CustomFieldGroups"] != null)
                {
                    @Html.DropDownListFor(x => x.CustomFieldGroupId, (IEnumerable<SelectListItem>)ViewData["CustomFieldGroups"], Messages.PleaseSelect, new { @class = "customFieldGroupDrop  select2Drop", @id = "customFieldGroupDrop", @style = "width:100%;" })
                }

            </div>
            @Html.ValidationMessageFor(m => m.CustomFieldGroupId)
        </div>
        <div class="clearfix mgbtm8"></div>

        <div class="col-md-6">
            <div class="input-group tick">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.IsActive)
                </div>
                <div class="input-group-addon form-info">
                    @Html.EditorFor(m => m.IsActive)
                </div>

            </div>
            @Html.ValidationMessageFor(m => m.IsActive)
        </div>
        <div class="col-md-6">
            <div class="input-group tick">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.IsReadOnly)
                </div>
                <div class="input-group-addon form-info">
                    @Html.EditorFor(m => m.IsReadOnly)
                </div>

            </div>
            @Html.ValidationMessageFor(m => m.IsReadOnly)
        </div>
        <div class="clearfix mgbtm8"></div>

        <div class="col-md-6">
            <div class="input-group tick">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.IsRequired)
                </div>
                <div class="input-group-addon form-info">
                    @Html.EditorFor(m => m.IsRequired)
                </div>

            </div>
            @Html.ValidationMessageFor(m => m.IsRequired)
        </div>
        <div class="col-md-6">
            <div class="input-group tick">
                <div class="input-group-addon">
                    @Html.GbdLabelFor(m => m.IsNullable)
                </div>
                <div class="input-group-addon form-info">
                    @Html.EditorFor(m => m.IsNullable)


                </div>
            </div>
            @Html.ValidationMessageFor(m => m.IsNullable)
        </div>
        <div class="clearfix mgbtm8"></div>

        @if (UdhClaimsIdentity.IsInGbdAdminRole())
        {
            <div class="col-md-6">
                <div class="input-group tick">
                    <div class="input-group-addon has-tooltip sg-tooltip" title="1 (External: clients can manage it), -1 (Internal: only GrowByData can manage it). Note: If Type = -1 and Reference Column has value it is excluded from Bulk Item">
                        @Html.GbdLabelFor(m => m.Type)
                    </div>
                    <div class="input-group-addon form-info">
                        @Html.EditorFor(m => m.Type)
                    </div>

                </div>
                @Html.ValidationMessageFor(m => m.Type)
            </div>
            <div class="col-md-6">
                <div class="input-group tick">
                    <div class="input-group-addon has-tooltip sg-tooltip" title=" 1 (can use reference column), 0 (Cannot use reference column)">
                        @Html.GbdLabelFor(m => m.CanBeReferenced)
                    </div>
                    <div class="input-group-addon form-info">
                        @Html.EditorFor(m => m.CanBeReferenced)
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.CanBeReferenced)
            </div>
            <div class="clearfix mgbtm8"></div>
        }
    </div>

    @Html.Label(Messages_Datahub.QualifiedFor)
    <div class="row">
        <div class="clearfix mgbtm8"></div>
        <div class="col-md-12">
            <table class="table table-bordered add" width="100%" id="qualifiedExportPlatforms">
                <tr>
                    <th width="300">@Messages_Datahub.Platform</th>
                    <th>@Messages_Datahub.FieldAlias</th>

                </tr>
                @if (@Model.ExportPlatforms != null)
                {
                    var i = 0;
                    foreach (var items in Model.ExportPlatforms)
                    {

                        <tr id="tr_@i">

                            <td style="display: none;">
                                <input type="hidden" id="@i" class="sourceLabel" name="label[]" value="@i" />
                            </td>

                            <td width="300">
                                @Html.DropDownList("ExportPlatforms[" + @i + "].ExportPlatformSdvId", (IEnumerable<SelectListItem>)ViewData["ExportPlatforms"], null, new { @class = "exportPlatformDrop  select2Drop", @id = "ExportPlatforms_" + @i + "__ExportPlatformSdvId", @name = "ExportPlatforms[" + @i + "].ExportPlatformSdvId", @style = "width:100%;" })
                            </td>


                            <td>
                                @{
                        var platformId = "ExportPlatforms_" + @i + "__PlatformFieldAlias";
                        var platformName = "ExportPlatforms[" + @i + "].PlatformFieldAlias";

                        <div class="input-group">
                            <input id="@platformId" type="text" class="sg-tooltip form-control" data-toggle="tooltip" data-placement="left" title="Platform Field Alias" name="@platformName" value="@items.PlatformFieldAlias" />
                            <div class="input-group-btn">
                                <a id="remove_@i" class="btn btn-danger removeBtn" data-toggle='tooltip' data-placement='top' title='remove the row'><i class="fa fa-close"></i></a>
                            </div>
                        </div>

                                }
                            </td>


                        </tr>
                        i++;
                    }
                }
            </table>
            <input type="button" class="btn btn-primary" id="addMoreRow" value="@Messages.AddRow" />&nbsp;&nbsp;&nbsp;

        </div>
        <div class="clearfix mgbtm8"></div>
    </div>
    <div class="btn-container">
        @Html.GbdSubmitButton("createCustomFieldBtn", Messages.CreateNew)
        @Html.GbdResetButton(Messages.Cancel)
    </div>
</div>

