﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

@{
    ViewBag.Title = Messages_Datahub.CustomFieldsBulkUpdate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages_Datahub.Settings + "</li>" +
           "<li><a href='" + Url.Action("Index", "CustomFieldManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.CustomFields + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="content-holder">
                <div class="row">
                    <input type="file" id="file" class="pull-right" value="Browse" style="visibility:hidden;">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="hot-bulk-update"></div>
                        @*<div class="handsontable-wrapper">*@
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="pagination-holder">
                        <div id="pagination"></div>

                        <div class="pull-right">
                            @*<input type="button" class="btn btn-warning" id="btn-export" value="Export" />*@

                            @*  <button id="btn-browse" class="btn btn-next"> Browse </button>*@
                            <button id="btn-save" class="btn btn-primary"> Save </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>
            <input type="text" id="pageSize" style="display: none" value="10" />
        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/simple-pagination")
    @Styles.Render("~/Styles/handsontable-rulejs")
    <link href="~/Content/pikaday.css" rel="stylesheet" />

    <style>
        .simple-pagination {
            float: left;
            width: 80%;
        }

        .pagination-holder {
            border-top: 1px #ccc solid;
            padding-top: 10px;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")


    @Scripts.Render("~/bundles/handsontable-rulejs")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/papaparse")

    <script type="text/javascript">
    var bulkUpdateData = '@Html.Raw(ViewBag.CustomFieldsJson)';
    var CatalogSearchAllProducts = '@TempData["AllBulkPricing"]';
    var urlgetCustomFieldUpdate = '@Url.Action("GetCustomFieldUpdate", "Catalog", new {Area = "Datahub"})';
    var urlgetCustomFieldUpdatePagination =
        '@Url.Action("GetCustomFieldUpdatePagination", "Catalog", new {Area = "Datahub"})';
    var urlsetCustomFieldUpdate = '@Url.Action("SetCustomFieldUpdate", "Catalog", new {Area = "Datahub"})';
    var msgErrorOccured = '@Messages.ErrorOccured';
    var urlGetCustomFieldValue = '@Url.Action("GetCustomFieldValue", "Catalog", new {Area = "Datahub"})';
    var urlGetReferencedCustomFieldValue =
        '@Url.Action("GetReferencedCustomFieldValue", "Catalog", new {Area = "Datahub"})';
    var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues", "ProductCatalog", new {Area = "Datahub"})';
    var urlGetProductCategory = '@Url.Action("GetProductCategories", "ProductCatalog", new {Area = "Datahub"})';


    var referencedCustomFields = '@ViewBag.ReferencedCustomFields';

    var urlSaveBulkUpdate = '@Url.Action("BulkUpdate", "CustomFieldManager", new {Area = "Datahub"})';

    </script>
    @*<script src="~/Scripts/moment.js"></script>
        <script src="~/Scripts/pikaday.js"></script>*@
    @*@Scripts.Render("~/bundles/area/datahub/custom-field-update-index")*@

    @*<script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/lodash/lodash.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/underscore.string/underscore.string.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/moment/moment.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/numeral/numeral.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/numericjs/numeric.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/js-md5/md5.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/jstat/jstat.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/lib/formulajs/formula.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/js/parser.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/RuleJS/js/ruleJS.js"></script>
        <script src="http://handsontable.github.io/handsontable-ruleJS/lib/handsontable/handsontable.formula.js"></script>*@

    <script src="~/Scripts/udh-handsontable.js"></script>
    <script src="~/Scripts/udh-papaparse.js"></script>
    <script src="~/Scripts/Areas/Datahub/CustomFieldManager/customfieldmanager-bulkupdate.js"></script>
}

