﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldViewModel
@{
    ViewBag.Title = Messages.Add + " " + Messages_Datahub.CustomField;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
            "<li>" + Messages_Datahub.Settings + "</li>" +
            "<li><a href='" + Url.Action("Index", "CustomFieldManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.CustomFields + "</a></li>" +
            "<li class='active'>" + ViewBag.Title + "</li>" +
        "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @using (Html.BeginForm())
        {

            <div class="content-wrapper">
                @Html.Label(Messages_Datahub.General)
                
                <div class="row">
                    @Html.EditorForModel()

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.FieldDataTypeSdvId)
                            </div>

                            @if (ViewData["CustomFieldDataType"] != null)
                            {
                                @Html.DropDownListFor(x => x.FieldDataTypeSdvId, (IEnumerable<SelectListItem>)ViewData["CustomFieldDataType"], Messages.PleaseSelect, new { @class = "fieldDataTypeDrop  select2Drop", @id = "fieldDataTypeDrop", @style = "width:100%;" })
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.FieldDataTypeSdvId)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.FieldReferenceSysInformationSchemaId)
                            </div>

                            @if (ViewData["DestinationColumns"] != null)
                            {
                                @Html.DropDownListFor(x => x.FieldReferenceSysInformationSchemaId, (IEnumerable<SelectListItem>) ViewData["DestinationColumns"], Messages.PleaseSelect, new {@class = "customFieldReferenceDrop  select2Drop", @id = "fieldReferenceSysInformationSchemaId", @style = "width:100%;"})
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.FieldReferenceSysInformationSchemaId)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.DefaultValue)
                            </div>
                            @Html.TextBoxFor(m => m.DefaultValue).GbdAddCssClass("form-control")
                        </div>
                        @Html.ValidationMessageFor(m => m.DefaultValue)
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.AllowedValuesSdtId)
                            </div>

                            @if (ViewData["StaticDataTypes"] != null)
                            {
                                @Html.DropDownListFor(x => x.AllowedValuesSdtId, (IEnumerable<SelectListItem>)ViewData["StaticDataTypes"], Messages.PleaseSelect, new { @class = "select2Drop", @id = "allowedValuesSdtIdDrop", @styles = "width:100%;" })
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.AllowedValuesSdtId)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.CustomFieldTemplateId)
                            </div>

                            @if (ViewData["CustomFieldTemplates"] != null)
                            {
                                @Html.DropDownListFor(x => x.CustomFieldTemplateId, (IEnumerable<SelectListItem>)ViewData["CustomFieldTemplates"], Messages.PleaseSelect, new { @class = "customFieldTemplateDrop  select2Drop", @id = "customFieldTemplateDrop", @style = "width:100%;" })
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.CustomFieldTemplateId)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.CustomFieldGroupId)
                            </div>

                            @if (ViewData["CustomFieldGroups"] != null)
                            {
                                @Html.DropDownListFor(x => x.CustomFieldGroupId, (IEnumerable<SelectListItem>)ViewData["CustomFieldGroups"], Messages.PleaseSelect, new { @class = "customFieldGroupDrop  select2Drop", @id = "customFieldGroupDrop", @style = "width:100%;" })
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.CustomFieldGroupId)
                    </div>
                    <div class="clearfix mgbtm8"></div>

                    <div class="col-md-6">
                        <div class="input-group tick">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.IsActive)
                            </div>
                            <div class="input-group-addon form-info">
                                @Html.EditorFor(m => m.IsActive)
                            </div>

                        </div>
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group tick">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.IsReadOnly)
                            </div>
                            <div class="input-group-addon form-info">
                                @Html.EditorFor(m => m.IsReadOnly)
                            </div>

                        </div>
                        @Html.ValidationMessageFor(m => m.IsReadOnly)
                    </div>
                    <div class="clearfix mgbtm8"></div>

                    <div class="col-md-6">
                        <div class="input-group tick">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.IsRequired)
                            </div>
                            <div class="input-group-addon form-info">
                                @Html.EditorFor(m => m.IsRequired)
                            </div>

                        </div>
                        @Html.ValidationMessageFor(m => m.IsRequired)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group tick">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.IsNullable)
                            </div>
                            <div class="input-group-addon form-info">
                                @Html.EditorFor(m => m.IsNullable)


                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.IsNullable)
                    </div>
                    <div class="clearfix mgbtm8"></div>

                    @if (UdhClaimsIdentity.IsInGbdAdminRole())
                    {
                        <div class="col-md-6">
                            <div class="input-group tick">
                                <div class="input-group-addon has-tooltip sg-tooltip" title="1 (External: clients can manage it), -1 (Internal: only GrowByData can manage it). Note: If Type = -1 and Reference Column has value it is excluded from Bulk Item">
                                    @Html.GbdLabelFor(m => m.Type)
                                </div>
                                <div class="input-group-addon form-info">
                                    @Html.EditorFor(m => m.Type)
                                </div>

                            </div>
                            @Html.ValidationMessageFor(m => m.Type)
                        </div>
                        <div class="col-md-6">
                            <div class="input-group tick">
                                <div class="input-group-addon has-tooltip sg-tooltip" title=" 1 (can use reference column), 0 (Cannot use reference column)">
                                    @Html.GbdLabelFor(m => m.CanBeReferenced)
                                </div>
                                <div class="input-group-addon form-info">
                                    @Html.EditorFor(m => m.CanBeReferenced)
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.CanBeReferenced)
                        </div>
                        <div class="clearfix mgbtm8"></div>
                    }
                    
                </div>

                 @Html.Label(Messages_Datahub.QualifiedFor)
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered add" width="100%" id="qualifiedExportPlatforms">
                            <tr>
                                <th width="300">@Messages_Datahub.Platform</th>
                                <th>@Messages_Datahub.FieldAlias</th>

                            </tr>
                            @if (ViewData["ExistingQualifiedPlatforms"] != null)
                            {

                                foreach (var items in (IEnumerable<SelectListItem>)ViewData["ExistingQualifiedPlatforms"])
                                {
                                    <tr id="tr_@items.Value">

                                        <td style="display: none;">
                                            <input type="hidden" id="@items.Value" class="sourceLabel" name="label[]" value="@items.Value" />
                                        </td>

                                        <td width="300">
                                            @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["ExportPlatforms"], null, new { @class = "exportPlatformDrop  select2Drop", @id = "ExportPlatforms_" + @items.Value + "__ExportPlatformSdvId", @name = "ExportPlatforms[" + @items.Value + "].ExportPlatformSdvId", @style = "width:100%;" })
                                        </td>


                                        <td>
                                            @{
                                    var platformId = "ExportPlatforms_" + @items.Value + "__PlatformFieldAlias";
                                    var platformName = "ExportPlatforms[" + @items.Value + "].PlatformFieldAlias";

                                    <div class="input-group">
                                        <input id="@platformId" type="text" class="sg-tooltip form-control" data-toggle="tooltip" data-placement="left" title="Platform Field Alias" name="@platformName" />
                                        <div class="input-group-btn">
                                            <a id="remove_@items.Value" class="btn btn-danger removeBtn" data-toggle='tooltip' data-placement='top' title='remove the row'><i class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                            }
                                        </td>


                                    </tr>

                                }
                            }
                        </table>
                        <input type="button" class="btn btn-primary" id="addMoreRow" value="@Messages.AddRow" />&nbsp;&nbsp;&nbsp;

                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("createCustomFieldBtn", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>

        }
    </div>
</div>



@section styles{
    @Styles.Render("~/Styles/select2")
    
}


@section scripts
{

    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">

        var urlIndex = '@Url.Action("Index", "CustomFieldManager", new {Area = "Datahub"})';
        var customFieldMessage = '@TempData["CustomFieldMessage"]';
        var customFieldDataTypes = '@ViewData["CustomFieldDataType"]';

        var urlGetCustomFieldGroupsForTemplate = '@Url.Action("GetCustomFieldGroupsForTemplate", "CustomFieldManager", new {Area = "Datahub"})';
        var errorOccurred = '@Messages.ErrorOccured';
        var pleaseSelect = '@Messages.PleaseSelect';
        var exportPlatformsCollection = '@Html.Raw(ViewData["ExportPlatformsJson"])';
        var selectedTemplate = '@ViewData["SelectedTemplate"]';
        var selectedGroup = '@ViewData["SelectedGroup"]';
        
    </script>

    @Scripts.Render("~/bundles/area/datahub/customfieldmanager-createcustomfield")

    <script type="text/javascript">
        $("#customFieldTemplateDrop").select2("val", selectedTemplate);
    </script>
}
