﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldSearchViewModel

@{
    ViewBag.Title = "CustomFieldEditor";
    //ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
    //                 "<li>" + Messages_Datahub.Products + "</li>" +
    //                 "<li class='active'>" + Messages_Datahub.CatalogManager + "</li>" +
    //             "</ol>");
}


    <div class="w1">
        <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper" id="ViewCatalog">


            <div class="sg-catalog-one  col-md-6 ">

                <div class="sg-tab-bar sub">
                    <ul role="tablist" id="myTab11" class="nav nav-tabs udh">
                        <li class="active">
                            <a data-toggle="tab" role="tab" href="#ViewCustomField">
                                All Custom Fields
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">


                        <button class="btn pull-right filter"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Filter</button>
                        <button style="display: none;" class="btn pull-right filterhide"> <span class="glyphicon glyphicon-filter"></span>&nbsp;@Messages.Hide</button>

                    </div>

                    <div id="PlatformSearchContainer">
                        <div style="display: none;" class="panel-filter">
                            <div class="row">
                                <div class="panel-group col-md-8">
                                    @Html.DropDownListFor(x => x.Platform, (IEnumerable<SelectListItem>) ViewData["Platform"], Messages.PleaseSelect, new {@class = "sourceDrop  form-control", @id = "PlatformType"})
                                </div>

                                <div class="panel-group text-center col-md-2">

                                </div>
                                <div class="panel-group col-md-2">
                                    <input type="button" id="PlatformSearch" value="@Messages_Datahub.Search" class="btn btn-primary"/>
                                    <input type="button" id="ClearSearch" value="@Messages_Datahub.Clear" class="btn btn-primary"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sg-datatable-wrap udh-tooltip-wrap">
                    <table id="CustomFieldDataTable" class="display">

                        <thead>
                        <tr>
                            <th style="max-width: 20px;"><input type="checkbox" id="selectAllCustomField" class="selectAll"></th>
                            <th style="min-width: 120px;">@Messages_Datahub.Name</th>
                            <th style="min-width: 120px;">Platform Field Alias</th>
                        </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
            @*Editor section*@
@using (Ajax.BeginForm("CustomFieldEditor", "CustomFieldManager", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }))
{
            <div style="" class="sg-catalog-two col-md-6">
                <div class="sg-tab-bar sub">
                    <ul role="tablist" id="myTab" class="nav nav-tabs udh">
                        <li class="active"><a data-toggle="tab" role="tab" href="#ViewCatalog">Custom Field Editor</a></li>
                    </ul>
                </div>

                <div class="CustomFieldEditorPartialHolder">

                    <div id="CustomFieldEditorPartialHolder" class="partial sg-datatable-wrap">
                        @if (Model != null && Model.CustomFieldViewModel != null)
                        {
                            @Html.Partial("~/Areas/Datahub/Views/CustomFieldManager/_CustomField.cshtml", Model.CustomFieldViewModel)
                        }
                    </div>
                </div>

            </div>
            }
        </div>
    </div>

@section styles{
    @Styles.Render("~/Styles/datatable")

    @*<style>
        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>*@
}
@section scripts{
    <script type="text/javascript">
        function OnSuccess(data) {

            if (data.Status) {
                alertmsg("green", data.Message);
            } else {
                alertmsg("red", data.Message);
            }
        }
        var exportPlatformsCollection = '@Html.Raw(ViewData["ExportPlatformsJson"])';
        var urlAllCustomFields = '@Url.Action("GetAllCustomFields", "CustomFieldManager", new {Area = "Datahub"})';
        var urlGetCustomFieldDetail = '@Url.Action("GetCustomFieldDetail", "CustomFieldManager", new {Area = "Datahub"})';
    </script>
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/customfieldeditor")
}




