@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldGroupViewModel
@{
    ViewBag.Title = Messages.Edit + " " + Messages_Datahub.CustomFieldGroup;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages_Datahub.Settings + "</li>" +
           "<li><a href='" + Url.Action("Index", "CustomFieldManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.CustomFields + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @using (Html.BeginForm())
        {
           @Html.HiddenFor(model => model.DisplayOrder);
            <div class="content-wrapper">
                <div class="row">
                    @Html.EditorForModel()

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.CustomFieldTemplateId, new { @class = "col-sm-2 control-label" })
                            </div>
                            @if (ViewData["CustomFieldTemplates"] != null)
                            {
                                @Html.DropDownListFor(x => x.CustomFieldTemplateId, (IEnumerable<SelectListItem>)ViewData["CustomFieldTemplates"], Messages.PleaseSelect, new { @class = "customFieldTemplateDrop  form-control", @id = "customFieldTemplateDrop" })
                            }

                        </div>
                        @Html.ValidationMessageFor(m => m.CustomFieldTemplateId)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>

                <div class="btn-container">
                    @Html.GbdSubmitButton("createCustomFieldGroupBtn", Messages.Edit)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>

            </div>

        }
    </div>
</div>

@section styles{
@Styles.Render("~/Styles/select2")


}


@section scripts
{
@Scripts.Render("~/bundles/select2")




    <script type="text/javascript">

    var urlIndex = '@Url.Action("Index","CustomFieldManager",new {Area="Datahub"})';
        var customFieldMessage = '@TempData["CustomFieldMessage"]';


        if (customFieldMessage != null && customFieldMessage !== "") {
            alertmsg("green", customFieldMessage);
        }
        $('#btnCancel').click(function () {
            window.location = urlIndex;
        });

    $("select").select2();
    </script>
}
