﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldTemplateViewModel
@{
    ViewBag.Title = Messages.Edit + " " + Messages_Datahub.CustomFieldTemplate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages_Datahub.Settings + "</li>" +
           "<li><a href='" + Url.Action("Index", "CustomFieldManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.CustomFields + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            <div class="content-wrapper">
                <div class="row">
                    @Html.EditorForModel()

                    @if (UdhClaimsIdentity.IsInGbdAdminRole())
                    {
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.TemplateType)
                                </div>

                                @if (ViewData["CustomFieldTemplateType"] != null)
                                {
                                    @Html.DropDownListFor(x => x.TemplateType, (IEnumerable<SelectListItem>)ViewData["CustomFieldTemplateType"], Messages.PleaseSelect, new { @class = "templateTypeDrop  select2Drop", @style = "width:100%;" })
                                }

                            </div>
                            @Html.ValidationMessageFor(m => m.TemplateType)
                        </div>
                    }
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("createCustomFieldTemplateBtn", Messages.Edit)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>

            </div>

        }
    </div>
</div>

@section styles{
@Styles.Render("~/Styles/select2")

}


@section scripts
{
@Scripts.Render("~/bundles/select2")


    <script type="text/javascript">

    var urlIndex = '@Url.Action("Index","CustomFieldManager",new {Area="Datahub"})';
        var customFieldMessage = '@TempData["CustomFieldMessage"]';

        $("select").select2();

        if (customFieldMessage != null && customFieldMessage !== "") {
            alertmsg("green", customFieldMessage);
        }
        $('#btnCancel').click(function () {
            window.location = urlIndex;
        });

    </script>
}
