﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldViewModel
@{
    ViewBag.Title = Messages.Edit + " " + Messages_Datahub.CustomField;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages_Datahub.Settings + "</li>" +
           "<li><a href='" + Url.Action("Index", "CustomFieldManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.CustomFields + "</a></li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.Partial("~/Areas/Datahub/Views/CustomFieldManager/_CustomField.cshtml")

        }
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/select2")


}


@section scripts
{
    @Scripts.Render("~/bundles/select2")


    <script type="text/javascript">

        var urlIndex = '@Url.Action("Index", "CustomFieldManager", new {Area = "Datahub"})';
        var customFieldMessage = '@TempData["CustomFieldMessage"]';
        var exportPlatformsCollection = '@Html.Raw(ViewData["ExportPlatformsJson"])';
        var urlGetCustomFieldGroupsForTemplate = '@Url.Action("GetCustomFieldGroupsForTemplate", "CustomFieldManager", new {Area = "Datahub"})';
        var errorOccurred = '@Messages.ErrorOccured';
        var pleaseSelect = '@Messages.PleaseSelect';
        var customFieldDataTypes = '@ViewData["CustomFieldDataType"]';
        var exportPlatformsSelected = '@Html.Raw(ViewData["ExportPlatformsSelected"])';
    </script>

    @Scripts.Render("~/bundles/area/datahub/customfieldmanager-editcustomfield")


}
