﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CustomFieldTemplateViewModel
@{
    ViewBag.Title = Messages_Datahub.CustomFields;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
             "<li>" + Messages_Datahub.Settings + "</li>" +
             "<li class='active'>" + ViewBag.Title + "</li>" +
         "</ol>");
}

<div class="w1">
    <div id="custom-fields-manager" class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">

        <div class="sg-catalog-one col-md-4">
            <div class="sg-tab-bar sub">
                <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                    <li class="active"><a href="#CustomFieldTemplate" role="tab" data-toggle="tab">@Messages_Datahub.CustomFieldTemplate</a></li>
                </ul>
                <div class="expand-cat-one expand-btn" style="">
                    <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                </div>
                <div class="collapse" style=""><span class="glyphicon glyphicon-arrow-left sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
            </div>
            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body">
                    @{
                        var authorizedActions = (List<string>) ViewData["AuthorizedActions"];
                        if (authorizedActions.Any())
                        {
                            @Html.GbdButtonWithSpan("createCustomFieldTemplateBtn", "Add", "glyphicon glyphicon-plus", authorizedActions, "009")
                            @Html.GbdButtonWithSpan("editCustomFieldTemplateBtn", "Edit", "glyphicon glyphicon-edit", authorizedActions, "010")
                            @Html.GbdButtonWithSpan("deleteCustomFieldTemplateBtn", "Delete", "glyphicon glyphicon-trash", authorizedActions, "011")
                            @Html.GbdButtonWithSpan("rearrangeCustomFieldBtn", "ReArrange", "glyphicon glyphicon-list", authorizedActions, "012")
                        }
                    }
                    @*<div id="hideDefaultvalues" style="margin-left: 59px;">
                    </div>*@
                </div>
            </div>
            <div class="sg-datatable-wrap">
                <table id="customTemplateGrid" class="display">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBoxCustomTemplate" /></th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <input type="hidden" id="CustomFieldIdsToDelete" />
            @using (@Html.GbdConfirmDialog("divConfirmDelete", Messages.Delete + " " + Messages_Datahub.CustomFieldTemplate))
            {
                <p>@string.Format(Messages.confirmation_Message_Delete0, Messages_Datahub.CustomFieldTemplate)</p>
            }
        </div>

        <div class="sg-catalog-two col-md-4" style="">
            <div class="sg-tab-bar sub">
                <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                    <li class="active"><a href="#CustomFieldGroup" role="tab" data-toggle="tab">@Messages_Datahub.CustomFieldGroup</a></li>
                </ul>
                <div class="expand-cat-two expand-btn" style="">
                    <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                </div>
                <div class="collapse" style=""><span class=" glyphicon glyphicon-arrow-right sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
            </div>

            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body">
                    @*<button class="btn" id="btnLoadDefaultValuePossible"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;Load</button>*@

                    @if (authorizedActions.Any())
                    {
                        @Html.GbdButtonWithSpan("createCustomFieldGroupdBtn", "Add", "glyphicon glyphicon-plus",authorizedActions,"006")
                        @Html.GbdButtonWithSpan("editCustomFieldGroupBtn", "Edit", "glyphicon glyphicon-edit",authorizedActions,"007")
                        @Html.GbdButtonWithSpan("deleteCustomFieldGroupBtn", "Delete", "glyphicon glyphicon-trash",authorizedActions,"008")
                    }

                    @*<div id="hideVendorProductSettings" style="margin-left: 59px;">
                    </div>*@

                </div>
            </div>

            <div class="sg-datatable-wrap">
                <div id="CustomFieldGroupWrap">
                    <div id="grid-custom-field-group"></div>
                </div>
            </div>
            
        </div>

        <div class="sg-catalog-three  col-md-4" style="">
            <div class="sg-tab-bar sub">
                <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                    <li class="active"><a href="#CustomField" role="tab" data-toggle="tab">@Messages_Datahub.CustomField</a></li>
                </ul>
                <div class="expand-cat-three expand-btn" style="">
                    <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                </div>
                <div class="collapse" style=""><span class="glyphicon glyphicon-arrow-left sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
            </div>

            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body">

                    @*<button class="btn" id="btnLoadDefaultValueSelected"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;Load</button>*@
                    @if (authorizedActions.Any())
                                        {
                                            @Html.GbdButtonWithSpan("createCustomFieldBtn", "Add", "glyphicon glyphicon-plus",authorizedActions,ACLActions.Create)
                                            @Html.GbdButtonWithSpan("editCustomFieldBtn", "Edit", "glyphicon glyphicon-edit",authorizedActions,ACLActions.Update)
                                            @Html.GbdButtonWithSpan("deleteCustomFieldBtn", "Delete", "glyphicon glyphicon-trash",authorizedActions,ACLActions.Delete)
                                        }
                </div>
            </div>
            <div class="sg-datatable-wrap" style="overflow-y:auto !important;">
                <div id="grid-custom-field"></div>
            </div>
            
        </div>


    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
}

@section scripts{

    <script type="text/javascript">
        var urlGetCustomFieldManagerDataTable = '@Url.Action("GetCustomFieldManagerDataTable", "CustomFieldManager", new {Area = "Datahub"})';
        var urlCreateCustomField = '@Url.Action("CreateCustomField", "CustomFieldManager", new {Area = "Datahub"})';
        var urlCreateCustomFieldGroup = '@Url.Action("CreateCustomFieldGroup", "CustomFieldManager", new {Area = "Datahub"})';
        var urlCreateCustomFieldTemplate = '@Url.Action("CreateCustomFieldTemplate", "CustomFieldManager", new {Area = "Datahub"})';
        var urlEditCustomField = '@Url.Action("EditCustomField", "CustomFieldManager", new {Area = "Datahub"})';
        var customFieldMessage = '@TempData["CustomFieldMessage"]';

        var urlEditCustomFieldGroup = '@Url.Action("EditCustomFieldGroup", "CustomFieldManager", new {Area = "Datahub"})';
        var urlEditCustomFieldTemplate = '@Url.Action("EditCustomFieldTemplate", "CustomFieldManager", new {Area = "Datahub"})';
        var msgErrorOccured = '@Messages.ErrorOccured';
        var urlCheckForExistenceOfFieldTemplateOrGroup = '@Url.Action("CheckForExistenceOfFieldTemplateOrGroup", "CustomFieldManager", new {Area = "Datahub"})';

        var urlDeleteCustomField = '@Url.Action("DeleteCustomField", "CustomFieldManager", new {Area = "Datahub"})';
        var urlDeleteCustomFieldGroup = '@Url.Action("DeleteCustomFieldGroup", "CustomFieldManager", new {Area = "Datahub"})';
        var urlDeleteCustomFieldTemplate = '@Url.Action("DeleteCustomFieldTemplate", "CustomFieldManager", new {Area = "Datahub"})';
        var urlGetCustomFieldTemplates = '@Url.Action("GetCustomFieldTemplates","CustomFieldManager",new{Area="Datahub"})';
        var urlGetCustomFieldGroups = '@Url.Action("GetCustomFieldGroups","CustomFieldManager",new{Area="Datahub"})';
        var urlGetCustomFields = '@Url.Action("GetCustomFields","CustomFieldManager",new{Area="Datahub"})';
        var urlRearrangeCustomFields = '@Url.Action("BulkUpdate", "CustomFieldManager", new {Area = "Datahub"})';
    </script>


    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/customfieldmanager-index")


}