@import "../../bootstrap/less/variables.less";

@import "lesshat.less";

@client-url:  "../skygeek";
@font-ui: Arial, san-serif;

@nav-hover: #132539;
@brand-color: #334559;

body{
    background: red;
}