/*@import "../../bootstrap-3.2.0/less/variables.less";*/
@import "lesshat.less";

@client-url:  "../skygeek";
@nav-hover: #132539;
@brand-color: #334559;

html,body {
  height:100%;
  background: #F7F8FA;
}

body{
  padding: 0;
  margin: 0;
}

.container-fluid, .row, .col-md-3, .col-md-9{
  height: 100%;
  font-family: Arial, san-serif;
}

.col-md-3{
  background: #334559;
  color: #fff;
  text-align: center;
  .sg-title{
    margin-top: 150px;
    background: url("../img/gbdlogofull.png") no-repeat top center;
    padding: 80px 0;
    h2{
      opacity: .5;
    }
    h6{
      opacity: .2;
    }
  }
}

.col-md-5{
  color: #888;
  .sg-login{
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 180px;
    padding: 30px;

    input[type="checkbox"]{
      margin-top: 3px;
    }
  }
}
.sg-uname , .sg-password{
  padding: 12px 20px 12px 30px;
  height: 40px;
}

.sg-uname{
  background: url(../img/username.png) no-repeat 5px center;
}

.sg-password{
  background: url(../img/lock.png) no-repeat 5px center;
}


.sg-login{
  p{
     color: #B30505;
     margin-top: 0px;
  }
}
.validation-summary-errors{
   /*background-color: #fbc1ad;
    border: 1px solid #d7847b;
    color: #7d0000;
    margin-top: -10px;
    padding: 20px;*/
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
}
