﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources


<div id="BackgroundCatalogModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                @*<button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>*@
                <h4 id="myModalLabel" class="modal-title"> @Messages_Datahub.EnableBackgroundSearch?</h4>
            </div>
            <div class="modal-body">
                <h5>
                    @Messages_Datahub.BackgroundSearch_ExtendedTime. @Messages_Datahub.BackgroundSearch_SearchToken:
                    <br />
                    <input id="txtSearchToken" name="txtSearchToken" style="width:250px;"></input>
                    <br/>
                    @Messages_Datahub.BackgroundSearch_SendToBackgroundConfirmation?
                </h5>
            </div>
            <div class="modal-footer">
                <button class="btn-primary sg-tooltip" data-placement="top" id="btnYesBackgroundCatalogModalModal"  title="@Messages_Datahub.BackgroundSearch_Yes_Tooltip">@Messages.Yes</button>
               @* <input type="button" value="@Messages.Yes" class="btn btn-success sg-tooltip" data-placement="top" id="btnYesBackgroundCatalogModalModal" name="ButtonType" title="@Messages_Datahub.BackgroundSearch_Yes_Tooltip" />*@
                <button class="btn-danger sg-tooltip" data-dismiss="modal" data-placement="top" id="btnNoBackgroundCatalogModalModal" type="submit" title="@Messages_Datahub.BackgroundSearch_No_Tooltip">@Messages.No</button>
            </div>
        </div>
    </div>
</div>