﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="RelatedCustomFieldModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <h4 id="myModalLabel" class="modal-title">Related Custom Field Found!</h4>
            </div>
            <div class="modal-body">
                <h5>
                    <label id="labelRelatedCustomFields">The custom field is related</label>
                    <br />
                    <label id="labelRelatedCustomFieldsRule">Rule is related between the custom fields</label>
                    <br/>
                    <label>Please click 'OK' to add the related custom field in the grid</label>
                    <input type="hidden" id="hiddenRelatedCustomFields" />
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="OK" class="btn btn-success" id="btnOkRelatedCustomFieldModal" name="ButtonType" />
            </div>
        </div>
    </div>
</div>