﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="RelatedCustomFieldInfoModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <h4 id="myModalLabel" class="modal-title">Related Custom Fields</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive" id="tblRelatedCustomFieldInfoModal">
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Target</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div>
    </div>
</div>