﻿@using System.Collections.Concurrent
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

@{
   
    //ViewBag.Title = Messages_Datahub.BulkUpdate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                     "<li class='active'>" + @ViewBag.Title + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="row">

                <div id="vendor-dropdown" class="col-md-12">
                    <div class="btn-group col-md-2">
                        <input type="button" value="@Messages_Datahub.DownloadTemplate" id="btn-download-template" class="btn btn-primary sg-tooltip" style="width: 98%;" title="Click to download template in CSV format" data-toggle="tooltip" data-placement="bottom"/>
                    </div>
                    <div class="btn-group col-md-2">
                        <input type="button" id="btn-import" value="@Messages.Import" class="btn btn-primary sg-tooltip" style="width: 98%;" title="<span style='font-weight:bold; text-decoration:underline; display:block;'>Requirements:</span> <ul style='text-align:left; display:block;'><li>Sheet must be in CSV format. </li><li>Sheet should match with 'Download Template'</li></ul>" data-toggle="tooltip" data-placement="bottom"/>
                    </div>
                    @*<div class="col-md-2">
                        <label id="bulk-vendor-product-file-name"></label>
                    </div>*@
                    <div class="col-md-8">
                        <ul class="SG-notification-list">
                            <li style="background-color:#dddddd"> Legend: </li>
                            <li style="background-color:#22e5f4"> Product data</li>
                            <li style="background-color:#22f4b1"> Vendor Product data</li>


                            <li style="width:380px; margin-left:40px; padding-right:0px;">
                                <div>
                                    <input type="text" id="search_field" class="form-control sg-tooltip" style="padding-left:25px" placeholder="Search text here" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Search and highlight matching text">
                                    <span class="fa fa-search iconspan"></span>

                                </div>
                            </li>
                            <li style="padding-left:0px;padding-right:0px; margin-left:0px;float:right;">
                                <input type="button" id="SearchText" value="Search" class="btn btn-primary">
                            </li>
                        </ul>
                    </div>
                    

                  
                    @*<div class="col-md-6" >
                        <ul style="display:inline;float:right;">
                            <li style="background-color:#22e5f4">Product data</li>
                            <li style="background-color:#22f4b1"> Vendor Product data</li>
                            <li style="background-color:orangered">Enter {blank} to a cell if you want empty field</li>
                            <li><input type="text" id="search_field" class="form-control sg-tooltip" placeholder="Search text here" title="Search and highlight matching text" data-toggle="tooltip" data-placement="bottom" /></li>
                        </ul>
                    </div>*@


                    <div id="import-bulk-vendor-product-sheet" class="col-md-2 hidden">
                        <div class="input-group sg-tooltip" title="<span style='font-weight:bold; text-decoration:underline; display:block;'>Requirements:</span> <ul style='text-align:left; display:block;'><li>Sheet must be in CSV format. </li><li>Sheet should match with 'Download Template'</li></ul>" data-toggle="tooltip" data-placement="bottom">
                            <div class="input-group-addon">
                                <label class="control-label" for="">@Messages.Import </label>
                            </div>
                            <input type="file" id="bulk-vendor-product-file" value="Open" accept=".csv">
                        </div>
                    </div>

                </div>
           
                 

                    <div id="import-qoh-setting" class="col-md-4 hidden">
                        <!-- Split button -->
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-question-circle"></i>  <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li class="table"><b>QOH columns information</b></li>
                                <li>
                                    <table class="table table-condensed table-responsive" id="table-qoh-settings" style="width: 350px;">
                                        <tr class="hidden" id="table-qoh-settings-row-template">
                                            <td class="fa fa-dot-circle-o"></td>
                                            <td>{0}</td>
                                            <td class="fa fa-arrow-right"></td>
                                            <td>{1}</td>
                                        </tr>
                                        @*<tr>
                                    <td class="fa fa-dot-circle-o"></td>
                                    <td>Vendor Part Number Column</td>
                                    <td class="fa fa-arrow-right"></td>
                                    <td id="li-VendorPartNumberColumn"></td>
                                </tr>*@
                                        @*<tr>
                                    <td class="fa fa-dot-circle-o"></td>
                                    <td>QOH Column</td>
                                    <td class="fa fa-arrow-right"></td>
                                    <td id="li-QOHColumn"></td>
                                </tr>*@
                                    </table>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="clearfix mgbtm8"></div>

                <div class="col-md-12" style="margin-top:5px; margin-bottom:2px;">
                    <div class="col-md-3" style="float:right">
                      
                    </div>
                </div>
                </div>
           @* <hr />*@
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="hot-bulk-vendor-product"></div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="pagination-holder">
                        <div id="pagination"></div>

                        <div class="pull-right">
                            <input type="button" class="btn btn-primary sg-tooltip hidden" id="btn-Errreport" value="Correct Errors Only" title="Click to correct errors" data-toggle="tooltip" data-placement="top" />
                            <input type="button" class="btn btn-primary sg-tooltip hidden" id="btn-report" value="View Report" title="View report in a new tab" data-toggle="tooltip" data-placement="top" />
                            <input type="button" class="btn btn-primary" id="exportBulkPricingAll" value="Export" />
                            <div id="btn-save" class="btn btn-primary sg-tooltip">
                                @Messages.Save
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>

        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/simple-pagination")
    <style>
        .simple-pagination {
            float: left;
            width: 80%;
        }

        .pagination-holder {
            border-top: 1px #ccc solid;
            padding-top: 10px;
        }

        .htComments {
            z-index: 9999 !important;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/handsontable")

    @*<script src="~/Scripts/handsontable/handsontable.full.js"></script>

    <link href="~/Content/handsontable/handsontable.full.css" rel="stylesheet" />*@

    @*<link href="~/Content/handsontable/rulejs/handsontable.formula.css" rel="stylesheet"/>

    <script src="~/Scripts/handsontable/rulejs/lodash.js"></script>
    <script src="~/Scripts/handsontable/rulejs/underscore.string.js"></script>
    <script src="~/Scripts/handsontable/rulejs/moment.js"></script>
    <script src="~/Scripts/handsontable/rulejs/numeral.js"></script>
    <script src="~/Scripts/handsontable/rulejs/numeric.js"></script>
    <script src="~/Scripts/handsontable/rulejs/md5.js"></script>
    <script src="~/Scripts/handsontable/rulejs/jstat.js"></script>
    <script src="~/Scripts/handsontable/rulejs/formula.js"></script>

    <script src="~/Scripts/handsontable/rulejs/parser.js"></script>
    <script src="~/Scripts/handsontable/rulejs/ruleJS.js"></script>

    <script src="~/Scripts/handsontable/rulejs/handsontable.formula.js"></script>
    <script src="~/Scripts/handsontable/rulejs/samples.js"></script>
    <script src="~/Scripts/handsontable/rulejs/highlight.pack.js"></script>*@
    
    @Styles.Render("~/Styles/handsontable-rulejs")

    @Scripts.Render("~/bundles/handsontable-rulejs")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/papaparse")

    <script type="text/javascript">

        //urls
        var showPurchasingLevel = '@Html.Raw(ViewBag.ShowPurchasingLevel)';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2", "Catalog", new {Area = "Datahub"})';
        var urlDownloadTemplateBulkVendorProduct =
            '@Url.Action("DownloadTemplateBulkVendorProduct", "Catalog", new {Area = "Datahub"})';

        //get download template data
        var dataDownloadTemplate = '@Html.Raw(ViewBag.DownloadTemplateData)';
        var dataBulkVendorProductSetting = '@Html.Raw(ViewBag.BulkVendorProductSetting)';

        var urlBulkUpdate = '@Url.Action("BulkVendorProduct", "Catalog", new {Area = "Datahub"})';
        var urlBulkStagingUpdate = '@Url.Action("BulkStagingUpdate", "Catalog", new {Area = "Datahub"})';
        var urlGetBulkUpdateVendorSettings =
            '@Url.Action("GetBulkUpdateVendorSettings", "VendorProductCatalog", new {Area = "Datahub"})';
        var urlBulkVendorProductReport = '@Url.Action("BulkVendorProductReport","Catalog", new {Area = "Datahub"})';

        //messages
        var msgPleaseSelect = '@Messages.PleaseSelect';
        var msgErrorOccured = '@Messages.ErrorOccured';

        //check if required
        var urlgetBulkPricing = '@Url.Action("BulkPricingGet", "BulkPricing", new {Area = "Datahub"})';
        var urlgetBulkPricingPagination = '@Url.Action("BulkPricingPagination", "BulkPricing", new {Area = "Datahub"})';
        var urlexportBulkData = '@Url.Action("BulkPricingExport", "Catalog", new {Area = "Datahub"})';
        var urlexportBulkStagingData = '@Url.Action("BulkStagingExport", "Catalog", new {Area = "Datahub"})';
        var urlgetBulkPricingFromFile = '@Url.Action("GetBulkPricingFromFile", "BulkPricing", new {Area = "Datahub"})';
        var data = '@ViewBag.BulkPricingData';
        var columns = '@ViewBag.ColumnsJson';
        var staticColumnsCount = '@ViewBag.StaticColumnsCount';
        var urlGetBulkPricingHeaders =
            '@Url.Action("GenerateBulkPricingColumns", "BulkPricing", new {Area = "Datahub"})';
        var urlGetBulkPricing = '@Url.Action("GetBulkPricing", "BulkPricing", new {Area = "Datahub"})';
        var msgCannotRemoveThisRow = '@Messages_Datahub.Error_CannotRemoveThisRow';
        var msgCannotRemoveThisColumn = '@Messages_Datahub.Error_CannotRemoveThisColumn';
        var msgCannotInsertRowHere = '@Messages_Datahub.Error_CannotInsertRowHere';
        var msgCannotInsertColumnHere = '@Messages_Datahub.Error_CannotInsertColumnHere';
        var msgValue0MustBeBetween1And2 = '@Messages_Datahub.Error_Value0_MustBeBetween_1_And_2';
        var msgTotalErrors0AreShownInRedBelow = '@Messages_Datahub.Error_TotalErrors_0_AreShownInRedBelow';
        var getBulkVendorProductRecord = '@Url.Action("GetBulkVendorProductRecord", "Catalog", new {Area = "Datahub"})';
        var getStagingMetadataId = '@Url.Action("GetMetadataIdFromStaging", "Catalog", new {Area = "Datahub"})';
        var getBulkDataFromStaging = '@Url.Action("BulkVendorProductDataFromStaging", "Catalog", new {Area = "Datahub"})';
        var CatalogSearchAllVendorProducts = '@TempData["AllBulkPricingVendorProduct"]';
        var isBulkPricing = '@TempData["IsBulkPricing"]';
        var pageTitle = '@ViewBag.Title';
        var errorMetadataId = '@TempData["ErrorMetaDataId"]'
        var DeleteRowsFromStaging = '@Url.Action("DeleteRowsFromStaging","Catalog",new { Area = "Datahub"})'

        var quantity = '@Messages.Quantity';
        var discount = '@Messages.Discount';
        var margin = '@Messages.Margin';
        var discountHeader = '@Messages.MarginDollars';
        var marginHeader = '@Messages.Margin';
        var sellingPrice = 'Price';

        var sizeExceededWarning = '@Messages_Datahub.BulkVendorProductSizeExceededWarning';
        var rowExceededWarning = '@Messages_Datahub.BulkVendorProductRowExceededWarning';
        var vendorMinOrderLine = '@TempData["VendorMinLineOrder"]';
    </script>
    
    @*<script src="~/Scripts/bootstrap-tour.js"></script>*@
    @Scripts.Render("~/bundles/encoder")
    @Scripts.Render("~/bundles/area/datahub/bulk-common")
    @Scripts.Render("~/bundles/area/datahub/catalog/bulk-vendor-product")
    
}
