﻿
@using System.Data
@using GBD.UniversalDataHub.Areas.Datahub.Resources

@model DataTable

@{
    ViewBag.Title = "BulkFifoCostReport";

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                     "<li class='active'>" + @ViewBag.Title + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>


<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="sg-wrapper">
                        <div class="sg-wrapper">
                            <span class="col-md-2"><b>Total:</b> @ViewBag.TotalRecords record(s)</span>
                            <span class="col-md-2 text-success"><b>Success:</b> @ViewBag.SuccessRecords record(s)</span>
                            <span class="col-md-8 text-danger"><b>Error:</b> @ViewBag.ErrorRecords record(s)</span>
                        </div>

                        @if (Model != null && Model.Rows.Count > 0)
                        {
                            <div id="in-progress" style="text-align: center; font-size: 40px;">
                                <span class="fa fa-spin fa-plane"></span>
                            </div>
                            <table id="tbl-report" class="hidden">
                                <thead>
                                    <tr>
                                        @for (int i = 0; i < Model.Columns.Count; i++)
                                        {
                                            DataColumn dc = Model.Columns[i];
                                            <th>@dc.ColumnName</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Rows.Count; i++)
                                    {
                                        DataRow dr = Model.Rows[i];
                                        <tr>
                                            @for (int j = 0; j < Model.Columns.Count; j++)
                                            {
                                                DataColumn dc = Model.Columns[j];
                                                <td>@dr[dc.ColumnName]</td>
                                            }

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        }

                        <div class="">
                            <table id="tbl-report-server" class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        @if (Model != null && Model.Columns != null && Model.Columns.Count > 0)
                                        {
                                            for (int i = 0; i < Model.Columns.Count; i++)
                                            {
                                                DataColumn dc = Model.Columns[i];
                                                <th>@dc.ColumnName</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="mgbtm8"></div>
<div class="w1"></div>


@section styles{
    @Styles.Render("~/Styles/datatable")
}

@section scripts{
    @Scripts.Render("~/bundles/datatable")

    <script type="text/javascript">
        var urlBulkFifoCostReport = '@Url.Action("BulkFifoCostReport","Catalog", new { Area = "Datahub" })';

    </script>

    @Scripts.Render("~/bundles/area/reports/reportViewer/fifoCost_reportviewer")
}
