﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

@{
    ViewBag.Title = Messages_Datahub.BulkItemUpdate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
       "<li>" + Messages_Datahub.CatalogSearch + "</li>" +
       "<li class='active'>" + ViewBag.Title + "</li>" +
   "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-map-bar">
        <div class="modal-body">
            <div class="content-holder">
                <div class="row">
                    <div id="vendor-dropdown" class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon control-label">
                                <label for="Vendor">Choose field </label>
                            </div>

                            @*@Html.DropDownList("CustomFields")*@
                            @Html.DropDownList("CustomFields", (IEnumerable<SelectListItem>)ViewBag.CustomFields, Messages.PleaseSelect)

                            @*<select class="form-control">
                                    <option>Please choose one</option>
                                    <option>Custom Field 1</option>
                                    <option>Custom Field 1</option>
                                </select>*@

                            <div class="input-group-btn">
                                <button id="add-custom-field" class="btn btn-primary">Add to grid</button>
                            </div>

                        </div>

                    </div>

                    <div id="info-added-calculated-columns" class="pull-right sg-tooltip" title="Click to see the related custom fields" data-toggle="tooltip" data-placement="bottom"><button data-toggle="modal" data-target="#RelatedCustomFieldInfoModal"><i class="fa fa-info"></i></button></div>
                    <input type="file" id="file" class="pull-right sg-tooltip" title="Click to load CSV file" data-toggle="tooltip" data-placement="left" value="Browse">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="handsontable-wrapper">
                        <div id="hot-custom-field-update"></div>
                        @*<div class="handsontable-wrapper">*@
                    </div>
                    <div class="clearfix mgbtm8"></div>
                    <div class="pagination-holder">
                        <div id="pagination"></div>

                        <div class="pull-right">
                            <input type="button" class="btn btn-warning" id="export-custom-field-update" value="Export" />

                            @*  <button id="btn-browse" class="btn btn-next"> Browse </button>*@
                            <button id="btn-save" class="btn btn-primary"> Save </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>
            <input type="text" id="pageSize" style="display: none" value="10" />
        </div>
    </div>
</div>
@Html.Partial("_RelatedCustomFieldDialog")
@Html.Partial("_RelatedCustomFieldInfoDialog")

@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/chosen")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/simple-pagination")

    <link href="~/Content/pikaday.css" rel="stylesheet" />

    <style>
        .simple-pagination {
            float: left;
            width: 80%;
        }

        .pagination-holder {
            border-top: 1px #ccc solid;
            padding-top: 10px;
        }

        .handsontable .listbox {
            background: #FFFFFF;
        }

        .unselectable {
            background-color: #ddd;
            cursor: not-allowed;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/select2v4")
    @*@Scripts.Render("~/bundles/select2v3.5.2")*@
    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render("~/bundles/handsontable-select2")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/papaparse")

    <script src="~/Scripts/underscore.js"></script>
    <script type="text/javascript">
        var CatalogSearchAllProducts = '@TempData["AllBulkPricing"]';
        var urlgetCustomFieldUpdate = '@Url.Action("GetCustomFieldUpdate", "Catalog", new {Area = "Datahub"})';
        var urlgetCustomFieldUpdatePagination =
            '@Url.Action("GetCustomFieldUpdatePagination", "Catalog", new {Area = "Datahub"})';
        var urlsetCustomFieldUpdate = '@Url.Action("SetCustomFieldUpdate", "Catalog", new {Area = "Datahub"})';
        var msgErrorOccured = '@Messages.ErrorOccured';
        var urlGetCustomFieldValue = '@Url.Action("GetCustomFieldValue", "Catalog", new {Area = "Datahub"})';
        var urlGetReferencedCustomFieldValue =
            '@Url.Action("GetReferencedCustomFieldValue", "Catalog", new {Area = "Datahub"})';
        var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues", "ProductCatalog", new {Area = "Datahub"})';
        var urlGetProductCategory = '@Url.Action("GetProductCategoriesForBulk", "ProductCatalog", new {Area = "Datahub"})';
        var referencedCustomFields = '@ViewBag.ReferencedCustomFields';
        var relatedCustomFields = '@ViewBag.RelatedCustomFields';
        var customFieldsJson = '@ViewBag.CustomFieldsJson';
    </script>
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/chosenjquery")
  @*  <script src="~/Scripts/chosen.jquery.min.js"></script>*@
    @*<script src="~/Scripts/moment.js"></script>*@
    @Scripts.Render("~/bundles/pikaday")
    @*<script src="~/Scripts/pikaday.js"></script>*@
    @Scripts.Render("~/bundles/encoder")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfield-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfield-hot-transform")
    @Scripts.Render("~/bundles/area/datahub/bulk-common")
    @Scripts.Render("~/bundles/area/datahub/custom-field-update-related-fields")
    @Scripts.Render("~/bundles/area/datahub/custom-field-update-index")
    @*<script src="~/Scripts/Areas/Datahub/Catalog/custom-field-update-index.js"></script>*@
}

