﻿
@{
    ViewBag.Title = "Dashboard";
}

@section styles{
    <style>
    .grid {
        position: relative;
    }

    .column-holder {
        position:relative;
        position:relative;
        
    }
</style>
    }
<div class="w1">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
            <div class="column-holder">
                <div id="posts" class="row">
                    <div class="column  col-md-4 col-sm-4">
                        <div class="udh-block">
                            <div class="udh-block-header">
                                <label>Catalog Search</label>
                            </div>
                            <div class="udh-block-content">
                                <a class="icon-link" href="#"> <i class="fa fa-search"> </i></a>
                                <p>Find Product and Vendor Products by searching through Names, Part Numbers, or Descriptions. Narrow your results using Filters such as By Vendor, By Creator, or Data Range.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column col-md-4 col-sm-4">
                        <div class="udh-block">
                            <div class="udh-block-header">
                                <label>Catalog Manager</label>
                            </div>
                            <div class="udh-block-content">
                                <a href="#" class="icon-link"> <i class="fa fa-folder-open"> </i> </a>
                                <p>Loot at a specific Product and all their Vendor Products using just a Part Number. Easily select a Primary Vendor for individual products with all of the information visible. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column col-md-4 col-sm-4">
                        <div class="udh-block">
                            <div class="udh-block-header">
                                <label>Catalog Manager</label>
                            </div>
                            <div class="udh-block-content">
                                <a href="#" class="icon-link"> <i class="fa fa-random"> </i></a>
                                <p>Fully setup a Product from start to finish with this creation wizard. Step by step add a Vendor Product, Product Pricing and all the associated data </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class=" column col-md-4 col-sm-4">
                        <div class="udh-block">
                            <div class="udh-block-header">
                                <label>Bulk Pricing</label>
                            </div>
                            <div class="udh-block-content">
                                <a class="icon-link" href="#"> <i class="fa fa-usd"> </i>  <i class="fa fa-usd"> </i>  </a>
                                <p> Modify all of a Vendor's purchasing rules in one simple spreadsheet form or export for review. Change margins and prices for the Products associated with Primary Vendor Products.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" column col-md-4 col-sm-4">
                        <div class="udh-block">
                            <div class="udh-block-header">
                                <label>Kit Manager</label>
                            </div>
                            <div class="udh-block-content">
                                <a class="icon-link" href="#"> <i class="fa fa-briefcase"> </i>  </a>
                                <p> Create a Kit by bringing multiple Products of varying quantities together. Manage the prices and margings for these bundle packs and compare them to the component's costs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
    @section scripts{
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.2/packery.pkgd.min.js"> </script>*@
        <script> 
            jQuery(function () {
                initSameHeight();
            });

            // align blocks height
            function initSameHeight() {
                jQuery('div.columns-holder').setSameHeight({
                    elements: 'div.udh-block'
                });
            }
            
       </script>

        @*<script src="~/Scripts/elastic-columns.js"> </script>
<script src="~/Scripts/elastic-demo.js"> </script>*@
        }