﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.CatalogSearchParameterViewModel

@{
    ViewBag.Title = Messages_Datahub.CatalogViewer;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Products + "</li>" +
                      "<li class='active'>" + Messages_Datahub.CatalogViewer + "</li>" +
                  "</ol>");



}
<form>
    <div class="sg-tab-bar">
        <ul class="nav nav-tabs udh" role="tablist">
            <li class="active header">@Messages_Datahub.CatalogViewer </li>
        </ul>
    </div>
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body ovrflw">
            <div class="row">
                <form action="" method="POST">
                    <div id="SearchContainer">
                        <div class="filter-controls">
                            <div class="search-slide" id="toggleFilter">
                                <i class="fa fa-toggle-left"></i>
                            </div>

                            <div id="SearchContainer1" class="search-holder add">

                                <div class="sg-ad-search-bar">
                                    <div class="header">
                                        <b>@Html.LabelFor(m => m.SearchType)@*@Messages.Filters*@</b>
                                        <hr />
                                    </div>
                                    <div class="filter-scroll">

                                        @*@if (((string)ViewData["ClientConfigurations"]).ToLower().Contains("vendor"))
                                            {*@

                                        @Html.HiddenFor(m => m.SearchId)
                                        @Html.HiddenFor(m => m.SearchTokenName)
                                        @Html.HiddenFor(m => m.SessionUser)



                                        <div class="search-div controls">
                                            <div class="row">
                                                @{

                                                    if (ViewData["SearchType"] != null)
                                                    {
                                                        var list = ((IEnumerable<SelectListItem>)ViewData["SearchType"]).ToList();
                                                        for (int i = 0; i < list.Count(); i++)
                                                        {

                                                            if (i % 2 == 0)
                                                            {
                                                                <div class="col-md-6">
                                                                    <span class="filter stopPropagation" data-filter=".category-@list[i].Value">
                                                                        @if (i == 0)
                                                                        {
                                                                            @Html.RadioButtonFor(m => m.SearchType, @list[i].Value, new { @class = "searchDomainClass", @id = @list[i].Value, @checked = "checked" })

                                                                        }
                                                                        else
                                                                        {

                                                                            @Html.RadioButtonFor(m => m.SearchType, @list[i].Value, new { @class = "searchDomainClass", @id = @list[i].Value })
                                                                        }
                                                                        <label for="@(i + 1)">@list[i].Text</label>
                                                                    </span>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-6">
                                                                    <span class="filter stopPropagation" data-filter=".category-@list[i].Value">
                                                                        @Html.RadioButtonFor(m => m.SearchType, @list[i].Value, new { @class = "searchDomainClass", @id = @list[i].Value })
                                                                        <label for="@(i + 1)">@list[i].Text</label>
                                                                    </span>
                                                                </div>

                                                            }



                                                        }
                                                    }
                                                }
                                            </div>

                                        </div>
                                        <div class="search-div">
                                            @Html.LabelFor(m => m.KeySearch)
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(x => x.KeySearch, (IEnumerable<SelectListItem>)ViewData["matchingColumns"], "Anything", new { @id = "keySearch", @class = "form-control-add" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(x => x.MatchingCriteria, (IEnumerable<SelectListItem>)ViewData["MatchingCriteria"], null, new { @id = "matchingCriteria", @class = "form-control-add" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mix-container">

                                            <div class="search-div  mix category-1 category-2 category-3">
                                                @Html.LabelFor(m => m.VendorName)

                                                <select class="form-control" id="vendorName" name="VendorName">
                                                    <option value="" selected="selected">--All</option>
                                                </select>
                                                <div class="mgbtm8"></div>
                                                <label class="has-radio">
                                                    @if ((bool)ViewBag.PrimaryVendorProductOnly)
                                                    {
                                                        @Html.CheckBoxFor(m => m.ForPrimaryVendorProductOnly)
                                                        @Messages_Datahub.ForPrimaryVendorProductOnly

                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(m => m.ForPrimaryVendorProductOnly) //, new { @checked = "checked" }
                                                        @Messages_Datahub.ForPrimaryVendorProductOnly

                                                    }
                                                </label>
                                            </div>

                                            <div class="search-div category-2 mix">
                                                @Html.LabelFor(m => m.FromDate)
                                                <div>
                                                    @Html.TextBoxFor(m => m.FromDate, new { @id = "FromDate", @class = "datetimeDataType search-date form-control-add", @placeholder = UdhClaimsIdentity.GetDateFormat().ToUpper() })<label style="margin: 3px; float: left;">@Messages.To</label>@Html.TextBoxFor(m => m.ToDate, new { @id = "ToDate", @class = "datetimeDataType search-date form-control-add", @placeholder = UdhClaimsIdentity.GetDateFormat().ToUpper() })
                                                </div>
                                            </div>


                                            <div class="search-div mix category-2">
                                                @Html.LabelFor(m => m.CostFrom)
                                                <div>
                                                    @Html.TextBoxFor(m => m.CostFrom, new { @id = "CostFrom", @class = "moneyDataType search-date form-control-add" })<label style="margin: 3px; float: left;">@Messages.To</label>@Html.TextBoxFor(m => m.CostTo, new { @id = "CostTo", @class = "moneyDataType search-date form-control-add" })
                                                </div>
                                            </div>
                                            <div class="search-div mix category-2">
                                                @Html.LabelFor(m => m.PriceFrom)
                                                <div>
                                                    @Html.TextBoxFor(m => m.PriceFrom, new { @id = "PriceFrom", @class = "moneyDataType search-date form-control-add" })<label style="margin: 3px; float: left;">@Messages.To</label>@Html.TextBoxFor(m => m.PriceTo, new { @id = "PriceTo", @class = "moneyDataType search-date form-control-add" })
                                                </div>
                                            </div>
                                            <div class="search-div mix category-2">
                                                @Html.LabelFor(m => m.User)
                                                <div>
                                                    <select class="form-control" id="userName" name="User">
                                                        <option value="" selected="selected">@Messages.PleaseSelect</option>
                                                    </select>
                                                    @*@Html.DropDownListFor(x => x.User, (IEnumerable<SelectListItem>)ViewData["UserList"], Messages.PleaseSelect, new { @id = "userName", @class = "form-control" })*@
                                                </div>
                                            </div>


                                            @*}*@
                                            @if (((string)ViewData["ClientConfigurations"]).ToLower().Contains("store"))
                                            {
                                                <div class="search-div mix category-2">
                                                    <span>@Html.LabelFor(m => m.StoreId)</span>
                                                    <span>@Html.DropDownListFor(x => x.StoreId, (IEnumerable<SelectListItem>)ViewData["StoreCollection"], Messages.PleaseSelect, new { @id = "storeId", @class = "form-control" })</span>
                                                </div>
                                            }
                                            @*<div class="search-div">

                                                    @Html.CheckBoxFor(m => m.MatchedSku, new { @id = "MatchedSku" })
                                                    @Html.LabelFor(m => m.MatchedSku)

                                                </div>*@
                                            <div class="search-div mix category-1 category-2 category-3">
                                                @Html.LabelFor(m => m.ProductCategory)
                                                @Html.DropDownListFor(x => x.ProductCategory, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], Messages.PleaseSelect, new { @id = "productCategory", @class = "form-control" })
                                                <input type="hidden" id="BigCommerceProduct" name="BigCommerceProduct" />
                                            </div>

                                            <div class="search-div mix category-1 category-2 category-3">
                                                @Html.Label("Brand")
                                                @Html.DropDownListFor(x => x.Brand, (IEnumerable<SelectListItem>)ViewData["BrandList"], Messages.PleaseSelect, new { @id = "pimBrand", @class = "form-control" })
                                            </div>
                                            <div class="search-div mix category-2">
                                                <label>
                                                    @Messages_Datahub.Complete
                                                </label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.CompleteFrom, (IEnumerable<SelectListItem>)ViewData["CompleteList"], Messages.PleaseSelect, new { @id = "completeFrom", @class = "search-range form-control-add" })<label style="margin: 3px; float: left;">@Messages.To</label>@Html.DropDownListFor(x => x.CompleteTo, (IEnumerable<SelectListItem>)ViewData["CompleteList"], Messages.PleaseSelect, new { @id = "completeTo", @class = "search-range form-control-add" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-container bottom">
                                        <input type="button" id="FilterText" value="Filter" class="btn btn-primary" />
                                        <input type="button" id="ClearSearch" value="Clear Filter" class="btn btn-primary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="has-filter">
                            <div id="SearchContainer2" class="search-holder top">
                                <div class="sg-ad-search-bar">
                                    <div id="CustomColVis"></div>
                                    <div class="input-group">
                                        @*<div class="input-group-addon">
                                                @Html.LabelFor(m => m.Search)
                                            </div>*@
                                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @id = "fullTextSearch", @placeholder = Messages_Datahub.EnterSearchText, @autofocus = "" })
                                        <div class="input-group-btn">
                                            <input type="button" id="SearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default sg-grid-panel">
                                <div class="panel-body add " id="map">
                                    <!-- Split button -->
                                    @if (ViewData["ProductCatalogAuthorizedActions"] != null && ((List<string>)ViewData["ProductCatalogAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_ProductCatalog.Substring(0, 9) + "001"))
                                    {
                                        var authorizedProductCatalogActions = (List<string>)ViewData["ProductCatalogAuthorizedActions"];
                                        @*<div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@Messages_Datahub.ProductCatalog
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>

                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        @Html.GbdAuthorizedActionLink(authorizedProductCatalogActions, ACLActions.Create, "btnAddProductcatalog", Messages.Add, "javascript:void(0)")

                                                    </li>
                                                    <li>
                                                        @Html.GbdAuthorizedActionLink(authorizedProductCatalogActions, ACLActions.Update, "btnEditProductcatalog", Messages.Edit, "javascript:void(0)")

                                                    </li>
                                                    <li>
                                                        @Html.GbdAuthorizedActionLink(authorizedProductCatalogActions, ACLActions.Delete, "btnDeleteProductCatalog", Messages.Delete, "javascript:void(0)")

                                                    </li>


                                                </ul>
                                            </div>*@
                                    }
                                    @if (((string)ViewData["ClientConfigurations"]).ToLower().Contains("vendor"))
                                    {

                                        if (ViewData["VendorProductCatalogAuthorizedActions"] != null && ((List<string>)ViewData["VendorProductCatalogAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_VendorProductCatalog.Substring(0, 9) + "001"))
                                        {
                                            var authorizedVendorProductCatalogActions = (List<string>)ViewData["VendorProductCatalogAuthorizedActions"];


                                            @*<div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@Messages_Datahub.VendorProductCatalog
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            @Html.GbdAuthorizedActionLink(authorizedVendorProductCatalogActions, ACLActions.Create, "btnAddVendorProductcatalog", Messages.Add, "javascript:void(0)")

                                                        </li>
                                                        <li>
                                                            @Html.GbdAuthorizedActionLink(authorizedVendorProductCatalogActions, ACLActions.Update, "btnEditVendorProductcatalog", Messages.Edit, "javascript:void(0)")

                                                        </li>
                                                        <li>
                                                            @Html.GbdAuthorizedActionLink(authorizedVendorProductCatalogActions, ACLActions.Delete, "btnDeleteVendorProductCatalog", Messages.Delete, "javascript:void(0)")

                                                        </li>
                                                        <li><a id="btnSetPrimary" href="javascript:void(0)"> @Messages_Datahub.SetPrimary</a></li>
                                                        <li><a id="btnShowPrimary" href="javascript:void(0)"> @Messages_Datahub.ShowPrimary</a></li>


                                                    </ul>
                                                </div>*@
                                        }
                                        @*<span id="kitsDiv">

                                            </span>*@
                                        <div>
                                            @if (ViewData["BulkPricingAuthorizedActions"] != null && ((List<string>)ViewData["BulkPricingAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_BulkPricing.Substring(0, 9) + "001"))
                                            {


                                                @*@<a id="btnBulkPricing" class="btn btn-primary  ">@Messages_Datahub.BulkPricingUpdate</a>*@
                                                @*<div class="btn-group">
                                                            <button type="button" id="catalogPricing" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                @Messages_Datahub.BulkPricingUpdate
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li> <a id="btnBulkPricing" href="javascript:void(0)">Load Selected</a></li>
                                                            <li><a id="btnBulkPricingAll" href="javascript:void(0)">Load All (Max 1000 Records)</a></li>
                                                       </ul>
                                                    </div>*@


                                                <div class="btn-group">
                                                    <button type="button" id="catalogBulkPricingNew" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        @Messages_Datahub.BulkPricingUpdate
                                                        <span class="caret"></span>
                                                        <span class="sr-only">@Messages_Datahub.ToggleDropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li> <a id="btnBulkPricingNew" href="javascript:void(0)">@Messages_Datahub.LoadSelected</a></li>
                                                        <li><a id="btnBulkPricingNewAll" href="javascript:void(0)">Load All- @Messages_Datahub.PrimaryOnly</a></li>
                                                    </ul>
                                                </div>

                                                <div class="btn-group">
                                                    <button type="button" id="catalogVendorProductPricing" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        @Messages_Datahub.BulkVendorProduct
                                                        <span class="caret"></span>
                                                        <span class="sr-only">@Messages_Datahub.ToggleDropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li> <a id="btnVendorProductPricing" href="javascript:void(0)">@Messages_Datahub.LoadSelected</a></li>
                                                        <li><a id="btnVendorProductPricingAll" href="javascript:void(0)">Load All</a></li>
                                                    </ul>
                                                </div>


                                            }
                                            @*<a id="btnCustomFieldUpdate" class="btn btn-primary">@Messages_Datahub.CustomFieldUpdate</a>*@
                                            <div class="btn-group">
                                                <button type="button" id="bulkItemSet" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    @Messages_Datahub.CustomFieldUpdate
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li> <a id="btnCustomFieldUpdate" href="javascript:void(0)">@Messages_Datahub.LoadSelected</a></li>
                                                    <li><a id="btnCustomFieldUpdateAll" href="javascript:void(0)">@Messages_Datahub.LoadAllMax1000</a></li>
                                                </ul>
                                            </div>

                                            @if (ViewData["ProductKitsAuthorizedActions"] != null && ((List<string>
                                            )ViewData["ProductKitsAuthorizedActions"]).Contains(UdhModuleAccessCodes.Datahub_Kits.Substring(0, 9) + "001"))
                                            {
                                                var authorizedProductKitsActions = (List<string>
                                                    )ViewData["ProductKitsAuthorizedActions"];
                                                <a id="btnCreateProductKit" class="btn btn-primary ">Product Kit</a>



                                            }


                                        </div>

                                    }
                                    @if (((string)ViewData["ClientConfigurations"]).ToLower().Contains("store"))
                                    {
                                        <a id="btnExportFeed" href="javascript:void(0)" class="btn btn-primary">@Messages_Datahub.ExportFeed</a>
                                    }

                                </div>
                            </div>
                            <div class="sg-datatable-wrap udh-tooltip-wrap ">

                                <table id="SearchDataTable" class="display">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                                            @*<th>@Messages_Datahub.Complete</th>*@
                                            <th>@Messages_Datahub.Name</th>
                                            <th>SkyGeek PN</th>
                                            <th>@Messages_Datahub.LocalSKU</th>
                                            @*<th>@Messages.Location</th>*@
                                            <th>@Messages_Datahub.ProductDescription</th>
                                            @*<th>@Messages_Datahub.SalePrice</th>
                                                <th>@Messages_Datahub.Price</th>
                                                <th>@Messages.Height</th>
                                                <th>@Messages.Width</th>
                                                <th>@Messages.Material</th>
                                                <th>@Messages_Datahub.Isbn</th>
                                                <th>@Messages_Datahub.Nsn</th>
                                                <th>@Messages_Datahub.Upc</th>
                                                <th>@Messages_Datahub.Ean</th>
                                                <th>@Messages_Datahub.Mpn</th>
                                                <th>@Messages_Datahub.Asin</th>*@
                                            <th>@Messages_Datahub.YahooId</th>
                                            @*<th>@Messages_Datahub.CustomerPartNumber</th>
                                                <th>@Messages_Datahub.AltPartNumbers</th>*@
                                            @if (((string)ViewData["ClientConfigurations"]).ToLower().Contains("vendor"))
                                            {
                                                <th>@Messages_Datahub.VendorName</th>
                                                <th>@Messages_Datahub.VendorPartNumber</th>
                                                <th>@Messages_Datahub.VendorProductName</th>
                                                @*<th>@Messages_Datahub.VendorProductDescription</th>*@
                                                <th>@Messages_Datahub.Cost</th>
                                                @*<th>@Messages_Datahub.FifoCost</th>
                                                    <th>@Messages_Datahub.OnOrder</th>
                                                    <th>@Messages_Datahub.QuantityPerLot</th>
                                                    <th>@Messages_Datahub.LotPartNumber</th>
                                                    <th>@Messages_Datahub.LotBarcode</th>
                                                    <th>@Messages_Datahub.CostPerLot</th>
                                                    <th>@Messages_Datahub.OrderBy</th>
                                                    <th>@Messages_Datahub.MinimumOrderQuantity</th>
                                                    <th>@Messages_Datahub.MinimumOrderUnit</th>
                                                    <th>@Messages_Datahub.ManufacturersBarcode</th>
                                                    <th>@Messages_Datahub.LotDescription</th>
                                                    <th>@Messages_Datahub.LeadTimeInDays</th>
                                                    <th>@Messages_Datahub.LastUpdated</th>*@
                                                <th>Vendor QOH</th>
                                                <th>Product QOH</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/Datahub/Views/Catalog/_EnableBackgroundCatalogSearch.cshtml")


</form>

@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/datatable")
    @*@Styles.Render("~/Styles/tooltipster")*@
    <style>
        .ColVis_collection li:nth-child(2),
        .ColVis_collection li:nth-child(22) {
            zoom: 1;
            -webkit-opacity: .6;
            -moz-opacity: .6;
            opacity: .6;
            pointer-events: none;
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
        }

        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }

        .mix-container {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .mix-container:after {
                content: '';
                display: block;
                width: 100%;
                clear: both;
            }

            .mix-container .mix,
            .mix-container .gap {
                display: block;
            }

            .mix-container .mix {
                display: none;
            }
    </style>





}
@section scripts{
    <script type="text/javascript">

        var vendorNameFromVb = '@ViewBag.NameVendor';
        var categoryNameFromVb = '@ViewBag.NameProductCategory';
        var brandNameFromVb = '@ViewBag.NameBrand';
        var searchId = '@ViewBag.SearchId'
        var searchText = '@ViewBag.SearchText';
        var userNameforBg = '@ViewBag.UserName'
        var urlRedirect = '@Url.Action("Index", "Catalog", new { Area = "Datahub" })';


        var urlBulkItem = '@Url.Action("CustomFieldUpdate", "Catalog", new { Area = "Datahub" })';
        var urlBulkPricing = '@Url.Action("Index", "BulkPricing", new { Area = "Datahub" })';
        var urlLoadAllBulkPricing = '@Url.Action("BulkPricingIdsAll", "Catalog", new { Area = "Datahub" })';
        var urlLoadAllBulkItem =  '@Url.Action("BulkPricingIdsAll", "Catalog", new { Area = "Datahub" })';
        var urlCatalogViewerSearch = '@Url.Action("CatalogViewerDataTable", "Catalog", new {Area = "Datahub"})';
        var urlCatalogViewerSearchFromStaging = '@Url.Action("CatalogViewerDataTableFromStaging", "Catalog", new {Area = "Datahub"})';
        var urlEditVendor = '@Url.Action("Update", "Vendor", new { Area = "Datahub" })';
        var urlBulkPricing = '@Url.Action("Index", "BulkPricing", new { Area = "Datahub" })';
        var urlKitCreate = '@Url.Action("Create", "Kits", new { Area = "Datahub" })';
        var urlKitView = '@Url.Action("Index", "Kits", new { Area = "Datahub" })';
        var urlCustomFieldUpdate = '@Url.Action("CustomFieldUpdate", "Catalog", new { Area = "Datahub" })';
        var aoColumnsViewBag = @Html.Raw(ViewBag.aoColumns);
        var aoColumnsDefsViewBag = @Html.Raw(ViewBag.aoColumnsDefs);
        var urlCreateProductCatalog = '@Url.Action("Create", "ProductCatalog", new { Area = "Datahub", returnUrl = Url.Action("Index", "Catalog", new { Area = "Datahub" })})';
        var urlCreateVendorProductCatalog = '@Url.Action("Create","VendorProductCatalog",new{Area="Datahub", returnUrl = Url.Action("Index", "Catalog",new{Area="Datahub"})})';
        var urlDownloadAllToCsv = '@Url.Action("DownloadAllToCsv", "Catalog", new { Area = "Datahub" })';
        var urlDownloadToCsv = '@Url.Action("DownloadToCsv", "Catalog", new { Area = "Datahub" })';

        var urlEditProductCatalog = '@Url.Action("Edit", "ProductCatalog", new{Area="Datahub"})';
        var returnUrl = '@Url.Action("Index", "Catalog", new{Area="Datahub"})';
        var urlEditVendorProductCatalog = '@Url.Action("Edit","VendorProductCatalog", new{Area="Datahub"})';
        var Alert_VendorProductSetPrimary = '@Messages_Datahub.Alert_singleVendorProductSetPrimary';
        var Alert_singleVendorProductSetPrimary = '@Messages_Datahub.Alert_singleVendorProductSetPrimary';
        var Alert_VendorProductSetPrimarySuccess = '@Messages_Datahub.Alert_VendorProductSetPrimarySuccess';
        var urlVendorProductSetPrimary = '@Url.Action("VendorProductSetPrimary", "CatalogManager", new {Area = "Datahub"})';
        var urlPrimaryVendorProductVendorPartNumber = '@Url.Action("VendorProductGetPrimaryVendorPartNumber", "CatalogManager", new {Area = "Datahub"})';
        var Alert_NoPrimaryVendorProduct = '@Messages_Datahub.Alert_NoPrimaryVendorProduct';
        var urlVendorProductGetPrimaryId = '@Url.Action("VendorProductGetPrimaryId","CatalogManager",new{Area="Datahub"} )';
        var Alert_productCatalogForPrimaryVendorProduct = '@Messages_Datahub.Alert_productCatalogForPrimaryVendorProduct';
        var urlFeedGenerator = '@Url.Action("Index", "FeedGenerator", new { Area = "Datahub" })';
        var urlKeepSelectedProductsAndGetUrlForFeedGenerator = '@Url.Action("KeepSelectedProductsAndGetUrlForFeedGenerator","Catalog",new{Area="Datahub"})';
        var errorOccuredMessage = '@Messages.ErrorOccured';
        var urlAssignProductsToKit = '@Url.Action("AssignProductsToKit","Kits",new{Area="Datahub"})';
        var urlGetVendorListForSelect2 = '@Url.Action("GetVendorListForSelect2","Catalog",new{Area="Datahub"})';
        var urlGetProductCategoryListForSelect2= '@Url.Action("GetProductCategoryListForSelect2", "Catalog",new{Area="Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        var urlGetUserListForSelect2 = '@Url.Action("GetUserListForSelect2","Catalog", new{Area="Datahub"})';
        var urlKitBulkPricing = '@Url.Action("KitPricing","Kits",new{Area="Datahub"})';
        var urlKitCreatePricingValidation = '@Url.Action("KitCreatePricingValidation","Catalog",new{Area="Datahub"})';

        var setStaggingTableSearchFlagToBg = '@Url.Action("SetStaggingTableSearchFlagToBg", "Catalog",new{Area="Datahub"})'
        var urlGetCatalogSearchParam = '@Url.Action("GetSearchParameter","Catalog",new { Area = "Datahub" })'
        var urlBulkVendorProductPricingNew = '@Url.Action("BulkVendorProduct", "Catalog", new { Area = "Datahub" })';
        //var urlBulkVendorProductPricingAllNew = '@Url.Action("BulkVendorProduct", "Catalog", new { Area = "Datahub" })';
        var urlGetUniqueSearchId = '@Url.Action("GetUniqueSearchId", "Catalog", new { Area = "Datahub" })';
        var urlGetSearchStatus = '@Url.Action("GetSearchStatus", "Catalog", new { Area = "Datahub" })';


    </script>

    @Scripts.Render("~/Styles/jquery.mixitup")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/remember-state")
    @*@Scripts.Render("~/bundles/tooltipster")*@

    @*<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/DataTables/buttons.html5.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@


    @Scripts.Render("~/bundles/area/datahub/catalog-index")

}