﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
<select id="EntityStatus" name="EntityStatus" class="form-control pull-left">
    <option value="true">@AclMessages.AclStatusActive</option>
    <option value="false">@AclMessages.AclStatusInactive</option>
</select>