﻿@using GBD.UniversalDataHub.Infrastructure.Crosscutting.Extensions
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
<!--    In form tag, we need class="form-horizontal" or "form-vertical" or "form-inline"
        By default, form-horizontal is used
    Example:
        <form class="form-horizontal">

        </form>
-->
@*@Html.ValidationSummary()*@
<div class="clearfix"></div>
@*<div class="modal-body">*@
<div>
    @*<div class="container-fluid sg-wrapper">
        <div class="row">*@
    @*<div class="form-group">*@
    @{
        int count = 1;
    }
    @foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm)))
    {

        if (prop.HideSurroundingHtml)
        {
            @Html.Editor(prop.PropertyName).Databind("text: " + prop.PropertyName)
        }
        else
        {
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        @if (prop.TemplateHint != null && prop.TemplateHint == "SGTooltip")
                        {
                            var tooltipTitle = (prop.AdditionalValues.Any() && prop.AdditionalValues["Tooltip"] != null)?prop.AdditionalValues["Tooltip"].ToString():prop.PropertyName;
                            
                            <label class="control-label sg-tooltip" for="" data-toggle="tooltip" data-placement="top" title=@tooltipTitle>@prop.GetDisplayName().ToStringWithSpaces()<label class="errorPara">@(prop.IsRequired ? "*" : "")</label></label>
                        }
                        else
                        {
                            <label class="control-label" for="">@prop.GetDisplayName().ToStringWithSpaces()<label class="errorPara">@(prop.IsRequired ? "*" : "")</label></label>
                        }
                        
                    </div>

                    @Html.Editor(prop.PropertyName).AddCssClass("form-control")

                    @*<p class="errorPara pull-left" style="padding: 8px 0 0 5px;"> @Html.ValidationMessage(prop.PropertyName, "*")</p>*@

                </div>
                @Html.ValidationMessage(prop.PropertyName)
            </div>
            <div class="visible-xs-block mgbtm8 clearfix"></div>
            if (count % 2 == 0)
            {
                <div class="clearfix mgbtm8 hidden-xs"></div>
            }

            count++;

        }

    }
</div>
@*</div>
    </div>*@

@*</div>*@
