﻿@using GBD.UniversalDataHub.Resources
@section Styles{
    @Styles.Render("~/Styles/select2")
}

<select id="UserTitle" name="UserTitle" class="form-control pull-left">
    <option value="">@Messages.PleaseSelect</option>
    <option value="Mr">@Messages.TitleMr</option>
    <option value="Mrs">@Messages.TitleMrs</option>
    <option value="Ms">@Messages.TitleMs</option>
</select>

@section Scripts{
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
        $("#UserTitle").select2();
    </script>
}