﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="approve-platform-item-modal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"><i class="glyphicon glyphicon-ok"></i> @Messages_Datahub.ApprovePlatformItem</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden-platform" />
                <h5>@Messages_Datahub.Confirmation_Message_ApprovePlatformItem</h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btn-approve-platform-item-modal-yes" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="btn-approve-platform-item-modal-no" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>