﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="sync-platform-modal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"><i class="fa fa-refresh"></i> Export - Datahub to SEOM </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden-platform" />
                <h5>
                    Do you want to start to export all items to SEOM now?
                    <br/>
                    The task will run in background.
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btn-sync-platform-modal-yes" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="btn-sync-platform-modal-no" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>