﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@{
    ViewBag.Title = Messages_Reports.ReportManager;
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.ExportManager</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon">@Messages_Datahub.Export</span>
            <span class="form-control" id="Table">@ViewBag.TableName</span>
        </div>
        <h3>@Messages_Reports.Columns</h3>

        <div class="rules-group-container">
            <div class="checkbox">
                <label class="chkLabel">
                    <input type="checkbox" data-bind="checked: MasterCheck" /> @Messages_Reports.SelectAllColumns
                </label>
            </div>

            <div class="checkbox">
                <label class="chkLabel">
                    <input type="checkbox" data-bind="checked: ShowHide" /> @Messages_Reports.ShowHideColumns
                </label>
            </div>

            <div data-bind="visible: !ShowHide()">
                <div data-bind="foreach: Cols" class="checkbox">
                    <label class="chkLabel sg-fixwidth-label">
                        <input type="checkbox" data-bind="checked: Check" /><span data-bind="text: ColName"></span>
                    </label>
                </div>
            </div>
        </div>

        <h3>@Messages_Reports.Filters</h3>
        <div id="builder"></div>
        <div class="btn-container">
            <input type="button" name="btnLoadData" id="btnLoadData" class="btn btn-success set"
                   data-loading-text="@Messages_Reports.Loading" value="@Messages_Datahub.ViewExportData"
                   data-bind="click: $root.LoadData, enable: $root.SelectedCols().length > 0" data-target="#resultDiv" data-toggle="modal" />
        </div>

        @*<input type="reset" class="btn btn-warning reset" value="@Messages_Reports.ResetFilter" />*@

        <div data-bind="visible: false">
            <code>
                <textarea id="SQLResult" style="display: none;"></textarea>
            </code>
            <code>
                <textarea id="SQLParam" style="display: none;"></textarea>
            </code>
        </div>

        <div id="resultDiv" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title">@Messages_Datahub.ExportDataPreview</h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="input-group">
                                <div class="input-group-addon" style="color: #fff; background-color: #428bca; border-color: #357ebd;">@Messages_Reports.ReportName</div>
                                <input type="text" class="form-control" data-bind="value: ReportName" />
                            </div>
                            <br />
                            <div class="input-group">
                                <div class="input-group-addon" style="color: #fff; background-color: #428bca; border-color: #357ebd;">@Messages_Reports.ReportCategory</div>
                                <input type="text" class="form-control" data-bind="value: ReportCategoryName" />

                            </div>
                            <br /><br />*@

                            <div id="reportResultDiv"></div>

                    </div>
                    <div class="modal-footer">
                        @*<input type="button" name="btnSaveReport" id="btnSaveReport" class="btn btn-primary"
                            data-loading-text="@Messages_Reports.Loading" value="@Messages_Datahub.Export"
                            data-bind="click: $root.SaveReport, enable: CanSaveReport" />*@

                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Export to File <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">CSV</a></li>
                                <li><a href="#">XLS</a></li>
                                <li><a href="#">PDF</a></li>
                            </ul>
                        </div>

                        <input type="button" id="btnCancel" data-dismiss='modal' class="btn btn-danger" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/query-builder")
    @Styles.Render("~/Styles/kogrid")
    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/area/reports/reportsearch")

    

}

@section scripts{

    <script type="text/javascript">

        //define URLs used in script below
        var urlLoadTable = '@Url.Action("LoadTable", "Report", new {area = "Reports"})';
        var urlLoadData = '@Url.Action("LoadData", "Report", new {area = "Reports"})';
        var urlLoadDataTable = '@Url.Action("LoadDataTable", "Report", new {area = "Reports"})';
        var urlSaveReport = '@Url.Action("SaveReport", "Report", new {area = "Reports"})';
        var urlGetTableSchema = '@Url.Action("GetTableSchema", "Report", new {area = "Reports"})';
        //define Localization strings used in script below
        var jsNoRecordFound = '@Messages.NoRecordFound';
        var jsError = '@Messages.Error';
        var jsSuccess = '@Messages.Success';
        var jsFail = '@Messages.Fail';

        // define filters as raw json
        var jsonRawSearch = @Html.Raw(ViewBag.JsonString);

    </script>


    @Scripts.Render("~/bundles/querybuilder")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap-typehead")
    @Scripts.Render("~/bundles/kogrid")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/jsontohtml")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/export-filter")
}﻿