﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.PlatformExportManager;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
          "<li>" + Messages_Datahub.Export + "</li>" +
          "<li class='active'>" + Messages_Datahub.PlatformExportManager + "</li>" +
      "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="sg-grid-panel">

            @using (@Html.BeginForm("Index", "Export", FormMethod.Post, new { Area = "Datahub", @class = "form-inline" }))
        {

                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group report">
                            <div class="input-group-addon">
                                <label for="Table">@Messages_Datahub.SelectExportSource</label>
                            </div>
                                <input type="text" id="Table" class="form-control" name="Table" data-bind="value: Table" data-items="4" autocomplete="off"                                      placeholder="@Messages_Datahub.TypeAndSelectExportSource" />

                                <span class="input-group-btn">
                                    <input type="submit" name="btnLoadTable" id="btnLoadTable" class="btn btn-primary " data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.Go" />
                                </span>

                            </div>
                    </div>
                </div>

        }
        </div>
    </div>
</div>

@section styles{

    <style>
        .input-group .form-control.tt-input {
            width: 370px;
        }
    </style>

    @Styles.Render("~/Styles/area/reports/reportindex")
}


@section scripts{

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap-typehead")

    <script type="text/javascript">


        //URLs
        var urlLoadTable = '@Url.Action("LoadTable", "Export", new {area = "Datahub"})';

        //data from controller to javascript
        var tablesList = @Html.Raw(ViewBag.TablesList);

    </script>

    @Scripts.Render("~/bundles/area/datahub/export-index")
}