﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Areas.Datahub.Resources

@{
    ViewBag.Title = "Platform Items";

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Export + "</li>" +
                      "<li><a href='" + Url.Action("Platforms", "Export", new { Area = "Datahub" }) + "'>" + Messages_Datahub.PlatformExportManager + "</a></li>" +
                     "<li class='active'>" + Messages_Datahub.PlatformItems + "</li>" +
                 "</ol>");
                 
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title </li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body ovrflw">
        <div class="row">
            <div id="SearchContainer">
                <div class="filter-controls has-filter-btn">
                    <div class="search-slide" id="toggleFilter">
                        <i class="fa fa-toggle-left"></i>
                    </div>
                    <div id="SearchContainer1" class="search-holder add">
                        <div class="sg-ad-search-bar">
                            <div class="header">
                                <b>@Messages.Filters</b>
                                <hr />
                            </div>
                            <div class="search-div">
                                <label>@Messages.Queue</label>
                                <div>
                                    <input data-val="true" id="filter-insert" group="Queue" name="Queue" type="radio" checked="checked" value="true"><input name="NewItem" type="hidden" value="false"> <label for="filter-insert"> @Messages.Insert</label>
                                    &nbsp;

                                    <input data-val="true" id="filter-update" group="Queue" name="Queue" type="radio" value="true"><input name="UpdatedItem" type="hidden" value="false"> <label for="filter-update"> @Messages.Update</label>&nbsp;

                                    <input data-val="true" id="filter-delete" group="Queue" name="Queue" type="radio" value="true"><input name="DeletedItem" type="hidden" value="false"><label for="filter-delete"> @Messages.Delete</label>
                                </div>
                            </div>
                            <label>@Messages.Select</label>
                            <div>
                                <input data-val="true" id="searchCriteria-Product" group="SearchCriteria" name="SearchCriteria" type="radio" value="true" checked="checked"> <label for="searchCriteria-Product"> @Messages_Datahub.Products</label>  &nbsp;

                                <input data-val="true" id="searchCriteria-Kit" group="SearchCriteria" name="SearchCriteria" type="radio" value="true"> <label for="searchCriteria-Kit"> @Messages_Datahub.Kits</label>&nbsp;

                                <input data-val="true" id="searchCriteria-Both" group="SearchCriteria" name="SearchCriteria" type="radio" value="true"><label for="searchCriteria-Both"> @Messages.Both</label>
                            </div>
                        </div>
                        <div class="btn-container bottom">
                            <input type="button" id="FilterText" value="Filter" class="btn btn-primary" />
                            <input type="button" id="ClearSearch" value="Clear Filter" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                </div>
            <div class="has-filter has-filter-btn">
                @*<div id="SearchContainer2" class="search-holder top">
                <div class="sg-ad-search-bar">
                    <div id="CustomColVis"></div>
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.LabelFor(m => m.Search)
                        </div>
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = Messages_Datahub.EnterSearchText })
                        <div class="input-group-btn">
                            <input type="button" id="SearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>*@
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body" id="map">
                        <button id="btnApprove" name="btnApprove" class="btn">
                            <span class="glyphicon glyphicon-ok"></span>
                            @Messages.Approve
                        </button>
                        <button id="btnReject" name="btnReject" class="btn">
                            <span class="glyphicon glyphicon-remove"></span>
                            @Messages.Reject
                        </button>
                    </div>
                </div>
                <div class="sg-datatable-wrap udh-tooltip-wrap">
                    <table id="platformItemDataTable" class="display">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckBoxVendor" class="selectAll"></th>
                                <th>@Messages_Datahub.LocalSKU</th>
                                <th>@Messages_Datahub.YahooId</th>
                                <th>@Messages_Datahub.ProductName</th>
                                <th>@Messages_Datahub.Price</th>
                                <th>@Messages_Datahub.Cost</th>
                                <th>@Messages_Datahub.LastUpdated</th>
                                <th>@Messages_Datahub.UpdatedBy</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                            <td><input type="checkbox" class="" value=""></td>
                            <td>Yahoo</td>
                            <td>Product name here</td>
                            <td>Yahoo id here</td>
                            <td>
                                <div class="btn-group udh-action-btn" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default sg-tooltip" data-placement="top" title="Play"> <i class="fa fa-play"> </i> </button>
                                    <button type="button" class="btn btn-default sg-tooltip" data-placement="top" title="Stop"><i class="fa fa-stop"> </i></button>
                                    <button type="button" class="btn btn-default sg-tooltip" data-placement="top" title="Pause"><i class="fa fa-pause"> </i></button>
                                </div>
                            </td>
                        </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ApprovePlatformItem")

@Html.Partial("_RejectPlatformItem")

@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/datatable")
    <style>
        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>
}
@section scripts{
    @Scripts.Render("~/bundles/datatable")


    <script>
        
        var urlGetPlatformItemsDataTable = '@Url.Action("GetPlatformItemsDataTable", "Export", new {Area = "Datahub"})';
        var urlApprovePlatformItems = '@Url.Action("ApprovePlatformItems", "Export", new {Area = "Datahub"})';
        var urlRejectPlatformItems = '@Url.Action("RejectPlatformItems", "Export", new {Area = "Datahub"})';
        var errorOccured = '@Messages.ErrorOccured';
    </script>

    @Scripts.Render("~/bundles/area/datahub/export-platform-items")

}