﻿@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.PIMExportViewModel>
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.Platforms;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
         "<li>" + Messages_Datahub.Export + "</li>" +
         "<li class='active'>" + Messages_Datahub.PlatformExportManager + "</li>" +
     "</ol>");
}
@section styles{
    @Styles.Render("~/Styles/datatable")

    @*@Styles.Render("~/Styles/datatable")*@
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @ViewBag.Title
        </li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">

        <div class="sg-datatable-wrap udh-tooltip-wrap">
            <table id="platformDataTable" class="display">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllCheckBoxVendor" class="selectAll"></th>
                        <th>@Messages_Datahub.Platform</th>
                        <th>@Messages_Datahub.StoreIdentifier</th>
                        <th>@Messages_Datahub.Status</th>
                        <th>@Messages.Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var platform in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="platformSelector" value="@platform.Name">
                        </td>
                        <td>
                            @if (platform.Name.ToUpper() == "YAHOO" )
                            {
                                <a class="link-default sg-tooltip" title="Click to see items ready for approval" data-toggle="tooltip" data-placement="top" href="@Url.Action("PlatformItems", "Export", new {area = "Datahub", Platform = @platform.Name})">@platform.Name</a>
                            }
                            else
                            {
                                @platform.Name
                            }
                        </td>
                        <td>@platform.StoreIdentifier</td>
                        <td>
                            @(platform.Status == 1 ? "Enabled" : platform.Status == 0 ? "Disabled" : "Unknown")
                        </td>
                        <td>
                            @if (platform.Status == 1)
                            {
                                <button type="button" id="stop-@platform.Name.ToLower()" class="btn sg-tooltip disable-platform" data-placement="top" title="Disable @platform.Name" data-toggle="tooltip"><i class="fa fa-stop text-danger"> </i></button>
                            }
                            else if (platform.Status == 0)
                            {
                                <button type="button" id="start-@platform.Name.ToLower()" class="btn sg-tooltip enable-platform" data-placement="top" title="Enable @platform.Name" data-toggle="tooltip"> <i class="fa fa-play text-primary"> </i> </button>
                            }
                            else
                            {
                                //show nothing
                            }

                            @if (platform.Status == 1)
                            {
                                if (platform.Name.ToUpper() == "YAHOO")
                                {
                                    <button type="button" id="send-all-@platform.Name.ToLower()" class="btn sg-tooltip approve-all" data-placement="top" title="Approve all and send all changes (insert queue, update queue, delete queue) to @platform.Name" data-toggle="tooltip"><i class="fa fa-check text-info"> </i></button>
                                    <button type="button" id="cancel-all-@platform.Name.ToLower()" class="btn sg-tooltip reject-all" data-placement="top" title="Reject all and do not send any changes (insert queue, update queue, delete queue) to @platform.Name" data-toggle="tooltip"><i class="fa fa-times text-danger"> </i></button>
                                }
                                else
                                {
                                    //for seom
                                    //<button type="button" id="sync-now-@platform.Name.ToLower()" class="btn sg-tooltip sync-now" data-placement="top" title="Export to @platform.Name Now" data-toggle="tooltip"><i class="fa fa-refresh text-info"> </i></button>
                                }
                            }
                        </td>
                    </tr>

                }
                @*<tr>
                    <td><input type="checkbox" class="" value=""></td>
                    <td><a class="link-default" href="@Url.Action("PlatformItems", "Export", new {area = "Datahub", Platform = "Yahoo"})">Yahoo</a></td>
                    <td>
                        <div class="btn-group udh-action-btn" role="group" aria-label="...">
                            <button type="button" id="start-yahoo" class="btn btn-default sg-tooltip" data-placement="top" title="Enable"> <i class="fa fa-play"> </i> </button>
                            <button type="button" id="stop-yahoo" class="btn btn-default sg-tooltip" data-placement="top" title="Disable"><i class="fa fa-stop"> </i></button>
                        </div>
                    </td>
                </tr>*@

                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_StartPlatform")

@Html.Partial("_StopPlatform")

@Html.Partial("_ApproveAll")

@Html.Partial("_RejectAll")

@Html.Partial("_SyncPlatform")

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function() {

            var urlSetPlatformStatus = '@Url.Action("SetPlatformStatus", "Export", new {Area = "Datahub"})';
            var urlApproveAllPlatformItems = '@Url.Action("ApproveAllPlatformItems", "Export", new {Area = "Datahub"})';
            var urlRejectAllPlatformItems = '@Url.Action("RejectAllPlatformItems", "Export", new {Area = "Datahub"})';
            var urlSyncAllPlatformItems = '@Url.Action("SyncAllPlatformItems", "Export", new { Area = "Datahub" })';

            var errorOccured = '@Messages.ErrorOccured';

            $('#platformDataTable').DataTable({
                "scrollX": true,
                "fnPreDrawCallback": function () {
                    // gather info to compose a message
                    var ob = this;
                    SGtableloading({ class: 'fa-plane', message: 'Processing...', objct: ob });
                    //SGtableloading('fa-plane', '', this);


                },
                "fnDrawCallback": function () {
                    // in case your overlay needs to be put away automatically you can put it here
                    var divid = this.closest('.dataTables_wrapper').attr('id');
                    SGtableloadingRemove(divid)
                }
            });

            setTimeout(function() {
                TblpgntBtm();
            }, 500);

            var setPlatformStatus = function(platform, status) {
                $.ajax({
                    url: urlSetPlatformStatus,
                    type: 'POST',
                    data: { "platform": platform, "status": status },
                    dataType: "json",
                    beforeSend: function() {
                        SGloading('Loading');
                    },
                    success: function(result) {
                        if (result != null && result.Status === true) {
                            alertmsg('green', result.Message);
                            window.location.reload();
                        } else if (result != null && result.Status === false) {
                            alertmsg('red', result.Message);
                        } else {
                            alertmsg('red', errorOccured);
                        }
                    },
                    complete: function() {
                        SGloadingRemove();
                    },
                    error: function(err) {
                        //console.log(err);
                    }
                });
            }

            var approveAllPlatformItems = function(platform) {
                $.ajax({
                    url: urlApproveAllPlatformItems,
                    type: 'POST',
                    data: { "platform": platform },
                    dataType: "json",
                    beforeSend: function() {
                        SGloading('Loading');
                    },
                    success: function(result) {
                        if (result != null && result.Status === true) {
                            alertmsg('green', result.Message);
                        } else if (result != null && result.Status === false) {
                            alertmsg('red', result.Message);
                        } else {
                            alertmsg('red', errorOccured);
                        }
                    },
                    complete: function() {
                        SGloadingRemove();
                    },
                    error: function(err) {
                        //console.log(err);
                    }
                });
            }

            var rejectAllPlatformItems = function(platform) {
                $.ajax({
                    url: urlRejectAllPlatformItems,
                    type: 'POST',
                    data: { "platform": platform },
                    dataType: "json",
                    beforeSend: function() {
                        SGloading('Loading');
                    },
                    success: function(result) {
                        if (result != null && result.Status === true) {
                            alertmsg('green', result.Message);
                        } else if (result != null && result.Status === false) {
                            alertmsg('red', result.Message);
                        } else {
                            alertmsg('red', errorOccured);
                        }
                    },
                    complete: function() {
                        SGloadingRemove();
                    },
                    error: function(err) {
                        //console.log(err);
                    }
                });
            }

            var syncAllPlatformItems = function (platform) {
                $.ajax({
                    url: urlSyncAllPlatformItems,
                    type: 'POST',
                    data: { "platform": platform },
                    dataType: "json",
                    beforeSend: function () {
                        SGloading('Loading');
                    },
                    success: function (result) {
                        if (result != null && result.Status === true) {
                            alertmsg('green', result.Message);
                        } else if (result != null && result.Status === false) {
                            alertmsg('red', result.Message);
                        } else {
                            alertmsg('red', errorOccured);
                        }
                    },
                    complete: function () {
                        SGloadingRemove();
                    },
                    error: function (err) {
                        //console.log(err);
                    }
                });
            }

            $('.enable-platform').click(function () {
                var platformName = $(this).parents('tr').find(':checkbox').val();
                $('#hidden-platform').val(platformName);
                $('#start-platform-name').html(platformName);
                $('#start-platform-modal').modal('show');
            });

            $('.disable-platform').click(function (e) {
                var platformName = $(this).parents('tr').find(':checkbox').val();
                $('#hidden-platform').val(platformName);
                $('#stop-platform-name').html(platformName);
                $('#stop-platform-modal').modal('show');
            });

            $('.sync-now').click(function () {
                var platformName = $(this).parents('tr').find(':checkbox').val();
                $('#hidden-platform').val(platformName);
                $('#sync-platform-modal').modal('show');
            });

            $('#btn-start-platform-yes').click(function() {
                var platform = $('#hidden-platform').val();
                $('#start-platform-modal').modal('hide');
                setPlatformStatus(platform, 1);
            });

            $('#btn-stop-platform-yes').click(function() {
                var platform = $('#hidden-platform').val();
                $('#stop-platform-modal').modal('hide');
                setPlatformStatus(platform, 0);
            });

            $('.approve-all').click(function (e) {
            
                $('#hidden-platform').val('Yahoo');
                $('#approve-all-platform-item-modal').modal('show');
            });

            $('.reject-all').click(function(e) {
                $('#hidden-platform').val('Yahoo');
                $('#reject-all-platform-item-modal').modal('show');
        });

            $('#btn-approve-all-platform-item-yes').click(function () {
                console.log('111');
                var platform = $('#hidden-platform').val();
                if (platform === '') {
                    $('#approve-all-platform-item-modal').modal('hide');
                    return;
                }
                approveAllPlatformItems(platform);
                $('#approve-all-platform-item-modal').modal('hide');
            });

            $('#btn-reject-all-platform-item-yes').click(function() {
                var platform = $('#hidden-platform').val();
                if (platform === '') {
                    $('#reject-all-platform-item-modal').modal('hide');
                    return;
                }
                rejectAllPlatformItems(platform);
                $('#reject-all-platform-item-modal').modal('hide');
            });

            $('#btn-sync-platform-modal-yes').click(function () {
                var platform = $('#hidden-platform').val();
                if (platform === '') {
                    $('#sync-platform-modal').modal('hide');
                    return;
                }

                syncAllPlatformItems(platform);
                $('#sync-platform-modal').modal('hide');
            });
        });

    </script>

}