﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Models.ErrorViewModel
@{
    ViewBag.Title = Messages.Error;
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
        <li class="active header">@Messages.Error</li>
    </ul>
</div>

<div class="col-md-12 sg-map-bar">
    @using (Html.BeginForm())
    {
        <div class="error">

            @Html.HiddenFor(m =>m.Message)
            @Html.HiddenFor(m => m.InnerMessage)

            @if (!String.IsNullOrWhiteSpace(ViewBag.Message))
            {
                <div>@Messages.ErrorDetails:&nbsp;</div>
                <code>@ViewBag.Message</code>
            }

            @if (!String.IsNullOrWhiteSpace(ViewBag.InnerMessage))
            {
                <div>@Messages.ErrorDetails:&nbsp;</div>
                <code>@ViewBag.InnerMessage</code>
            }
        </div>
        <br/><br/>
        <div class="form-control" style="color: green; opacity: 25; font-weight: bold;">@Messages.SendEmail_ForError_Occurred</div>
        <div class="form-horizontal row form-group">
            <br/><div class="col-md-3 control-label"> @Messages.EmailPriority</div>
            <div class="col-sm-8">
                @Html.EnumDropDownListFor(x => x.EmailPriority, Messages.PleaseSelect, new { @class = "sourceDrop  form-control", @id = "ddlEmailSendingPriority" })
                @Html.ValidationMessageFor(x => x.EmailPriority)
            </div>
        </div>

        <div class="form-horizontal form-group">
            @Html.GbdSubmitButton("SendEmail", Messages.SendEmail)
               
        </div>
        }

</div>