﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Models.ErrorViewModel
@{
    ViewBag.Title = Messages.Success;
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
        <li class="active header">@Messages.Success</li>
    </ul>
</div>

<div class="col-md-12 sg-map-bar">
        
        @*<div class="form-control" style="color: green; opacity: 25; font-weight: bold;">@Messages.Success</div>*@
        
        <div class="form-horizontal form-group">

            <p>Your error has been successfully emailed.</p>

            @using (Html.BeginForm("Index", "Dashboard", new {Area = "Datahub"}))
            {
                <input type="submit" class="btn btn-primary" value="OK"/>
            }

        </div>
    
</div>