﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages.Index;
}

@section styles
{

}


<div class="sg-tab-bar">
    <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
        <li class="active header">@Messages.Dashboard</li>
    </ul>
</div>


<div class="tab-content">
    <div class="tab-pane col-md-12 active" id="divDashboard">

        <div class="col-md-12 row">
            <div class="sg-form-div">

                @Html.GbdDialogOpenLink("title", Messages.CreateNew)

                @using (Html.GbdConfirmDialog("title", Messages.Details))
                {
                    <p>@Messages.Loading</p>
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    
}


