﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclRoleViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Role</h2>

<h4>Are you sure you want to delete this Role and Remove all Users from this Role?</h4>
<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>
            @Html.Label((String)ViewBag.RoleStatus)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        

        <div class="form-actions no-color">
            @Html.GbdSubmitButton("DeleteAclRole", Messages.Delete) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>