@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclRoleViewModel
@{
    ViewBag.Title = AclMessages.AclRoleEdit;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
            "<li>" + Messages.System + "</li>" +
            "<li>" + AclMessages.AccessControl + "</li>" +
            "<li><a href='" + Url.Action("Index", "AclRoles", new { Area = "AccessControl" }) + "'>" + AclMessages.AclRoles + "</a></li>" +
            "<li class='active'>" + ViewBag.Title + "</li>" +
        "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    @Html.EditorForModel()

                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("editAclRole", Messages.Save)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var urlIndex = '@Url.Action("Index", "AclRoles", new {Area = "AccessControl"})';
        var selectedRoleStatus = '@ViewBag.SelectedRoleStatus';
        var aclMessage = '@TempData["AclMessage"]';
        var aclErrorMessage = '@TempData["AclErrorMessage"]';

        if (aclMessage) {
            alertmsg("green", aclMessage);
        }
        if (aclErrorMessage) {
            alertmsg("red", aclErrorMessage);

        }

        $(document).ready(function () {
            $("#Name").addClass("windowSupportName");
        });

        $('#btnCancel').click(function () {
            window.location = urlIndex;
        });

        $("#EntityStatus").val(selectedRoleStatus);
        

    </script>
}