﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.AccessControl.Models.AclRoleViewModel>

    @{
        ViewBag.Title = AclMessages.AclRoles;

        ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
            "<li>" + Messages.System + "</li>" +
            "<li>" + AclMessages.AccessControl + "</li>" +
            "<li class='active'>" + ViewBag.Title + "</li>" +
        "</ol>");

    }
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
       <div class="modal-body">
           <div class="panel panel-default sg-grid-panel">
               <div class="panel-body" id="map">
                   @Html.ValidationSummary(true)
                   @{
                       var authorizedActions = (List<string>) ViewData["AuthorizedActions"];
                       if (authorizedActions.Any())
                       {
                           @Html.GbdButtonWithSpan("btnCreateAclRole", "Add", "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                           @Html.GbdButtonWithSpan("btnEditAclRole", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                           @Html.GbdButtonWithSpan("btnDeleteAclRole", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)
                       }

                   }

               </div>
           </div>

           <div class="sg-datatable-wrap">
               <table class="table" id="aclRoleDataTable">
                   <thead>
                       <tr>
                           <th>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                           <th>
                               @AclMessages.AclRoleName
                           </th>
                           <th>
                               @AclMessages.AclRoleDescription
                           </th>
                           <th>@AclMessages.AclRoleStatus</th>
                           @*<th>@AclMessages.LastUpdated</th>*@
                       </tr>
                   </thead>
                   <tbody></tbody>
               </table>
           </div>
           <input type="hidden" id="idContainerHiddenFieldForDelete" />
           @using (@Html.GbdConfirmDialog("divConfirmDelete", "Delete Access Control Roles"))
           {
               <p>@string.Format(Messages.confirmation_Message_Delete0, "Access Control Role(s)")</p>
           }
       </div>
</div>


    @section styles{
        @Styles.Render("~/Styles/datatable")
        <style>

        table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting{
            cursor:default;
        }
        table.dataTable thead th div.DataTables_sort_wrapper span{
            display:none;
        }
        </style>
    }

@section scripts
                          {
        <script type="text/javascript">
            var urlCreate = '@Url.Action("Create", "AclRoles", new {Area = "AccessControl"})';
            var urlEdit = '@Url.Action("Edit", "AclRoles", new { Area = "AccessControl" })';
            var urlDelete = '@Url.Action("Delete", "AclRoles", new { Area = "AccessControl" })';
            var urlGetDataTable = '@Url.Action("GetDataTable","AclRoles",new{Area="AccessControl"})';
            var adminRoleNotAllowedToEdit = '@TempData["AdminRoleNotAllowedToUpdate"]';

            if (adminRoleNotAllowedToEdit) {
                alertmsg("red", adminRoleNotAllowedToEdit);
            }

        </script>

        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/area/accesscontrol/aclrole-index")

    
}
