﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Datahub.CentralData + "-" + Messages_Datahub.DataDestination;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
        "<li>" + Messages_Datahub.Settings + "</li>" +
        "<li>" + Messages.Import + "</li>" +
        "<li class='active'>" + ViewBag.Title + "</li>" +
    "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div id="tabletoshow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body sg-map-panel" id="map">
                    @{
                        var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                        if (authorizedActions.Any())
                        {
                          
                            if (UdhClaimsIdentity.IsInGbdAdminRole() && authorizedActions.Contains(authorizedActions.FirstOrDefault().Substring(0, 9) + "00" + (int)ACLActions.Create))
                            {
                            <div class="btn sg-add-destination">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Add
                                <div class="ui-widget col-md-5 sg-show-select">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span class="label">Select table</span>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("destinationTable", (IEnumerable<SelectListItem>)ViewData["DestinationTableAvaliable"], "--Choose", new { @class = "form-control input", @id = "destinationTable" })
                                        </div>
                                        <div class="col-md-2">
                                            <span class="button">Cancel</span>
                                        </div>
                                    </div>

                                    @*<input id="tags123" class="form-control input" width="280"><span class="button">Cancel</span>*@
                                </div>
                            </div>
  

                            }

                        @Html.GbdButtonWithSpan("btnUpdateDestTbl", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                        if (UdhClaimsIdentity.IsInGbdAdminRole())
                        {
                            @Html.GbdButtonWithSpan("butnDeleteDestinationTable", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)
                            @Html.GbdButtonWithSpan("btnImportTemplate", "Import Template", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Delete)
                        }
                    }

                    }
                </div>
            </div>
            <div class="sg-datatable-wrap">
                <table id="destinationTableShow" class="display">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBoxDataDestination" class="selectAll"></th>
                            <th>@Messages_Datahub.Name</th>
                            <th>@Messages_Datahub.CreatedDate</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="tableshowdata" style="display: none;">

    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="handsontable-wrapper">

                <table class="table add table-bordered" id="destcoldata">
                    <tr>
                        <th>Order</th>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>Data Type</th>
                        <th>Length</th>
                        <th style="display: none;"></th>
                    </tr>
                </table>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary" id="getDestCols">Save</button>
                <button class="btn btn-danger" id="cancleDestTable">Cancel</button>
            </div>
        </div>
    </div>
</div>

<button class="btn" id="ModelDeleteDestTableHdnBtn" data-target="#DeleteDestTableModel" data-toggle="modal" style="visibility:hidden;"></button>
<input id="DestinationTableNamesforDelete" type="text" style="visibility:hidden;" />

<div id="DeleteDestTableModel" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Delete Destination Table</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete destination table ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="butnDeleteDestTableYes">&nbsp; Yes</button>
                <button class="btn btn-danger" data-dismiss="modal" id="deleteDestTableNobtn">No</button>
            </div>
        </div>
    </div>
</div>

@section styles{
@Styles.Render("~/Styles/datatable")
@Styles.Render("~/Styles/select2")
}


@section scripts{
    <script>
    var updateDestTableurl = '@Url.Action("UpdateDestCol", "DataDestinationSetting", new {Area = "Datahub"})';
    var urlDeleteDestinationTable = '@Url.Action("DeleteDestTable", "DataDestinationSetting", new {Area = "Datahub"})';
    var urlDestinationColumnSetting = '@Url.Action("DestSettingColumn", "DataDestinationSetting", new {Area = "Datahub"})';
    var urlAutoCompleteDestinationSetting = '@Url.Action("AutocompleteDestinationSetting", "DataDestinationSetting", new {Area = "Datahub"})';;
    var urlDataSpecifications = '@Url.Action("DestSpecifications", "DataDestinationSetting", new {Area = "Datahub"})';
    var urlGetDestinationTable = '@Url.Action("getDestinationTable", "DataDestinationSetting", new { Area = "Datahub" })';
    var dataDestinationColsUpdated = '@TempData["DestColUpdated"]';
        var urlImportTemplate = '@Url.Action("Index", "ImportTemplate", new {Area = "Datahub"})';
    </script>
@Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/datadestination")

}



