﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@model List<GBD.UniversalDataHub.Areas.Datahub.Models.DestinationColumnViewModel>

    @{
        ViewBag.Title = "Update Destination Column";
    }

    @if (Model != null)
    {
        using (Ajax.BeginForm("UpdateDestinationTableColumn", "DataDestinationSetting", FormMethod.Post, null, new { @class = "form-horizontal", @role = "form" }))
        {
            <div class="sg-tab-bar">
                <ul class="nav nav-tabs udh" role="tablist">
                    <li class="active header">@Messages_Datahub.DestinationColumn</li>
                </ul>
            </div>
            <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
                <div class="modal-body">
                    <div class="handsontable-wrapper">
                        <table class=" table add table-bordered" width="100%" cellpadding="0">

                            <tr>
                                <th></th>
                                <th>@Messages_Datahub.Order</th>
                                <th>@Messages_Datahub.Name</th>
                                <th>@Messages_Datahub.DisplayName</th>
                                <th>@Messages_Datahub.DataType</th>
                                <th>@Messages_Datahub.Length</th>
                                <th>@Messages_Datahub.Required</th>

                            </tr>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(x => x[i].Id)
                                        @Html.HiddenFor(x => x[i].IsFromCustomTemplate)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(x => x[i].Order)
                                        @Html.Label((i + 1).ToString())
                                    </td>
                                    <td> @Html.DisplayFor(x => x[i].Name)</td>
                                    <td><span class="sg-tooltip" data-toggle="tooltip" data-placement="right" title="Click to edit">  @Html.TextBoxFor(x => x[i].DisplayName, new { @class = "form-control" }) </span></td>
                                    <td> @Html.DisplayFor(x => x[i].DataType)</td>
                                    <td> @Html.DisplayFor(x => x[i].CharacterMaximumLength)</td>
                                    <td> @Html.CheckBoxFor(x => x[i].IsRequired)</td>

                                </tr>
                            }

                        </table>
                    </div>

                    <div class="btn-container">
                        <button class="btn btn-primary" type="submit">@Messages.Save</button>
                        <button class="btn btn-danger" id="cancleDestTableCols" type="button">@Messages.Cancel</button>

                    </div>

                </div>
            </div>
        }

    }

    @section styles{

    }

    @section scripts{
        <script type="text/javascript">
            var urlDestinationSetting = '@Url.Action("Index", "DataDestinationSetting", new { Area = "Datahub" })';
        </script>
        @Scripts.Render("~/bundles/area/datahub/updatedestinationcolumn")



    }
