﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Models
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.DestinationToSourceMapping;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.DestinationToSourceMapping</li>
    </ul>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">

            <div class="row">

                <div class="sg-map-header-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Messages_Datahub.Destination</span>
                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>) ViewData["DestList"], Messages.PleaseSelect, new {@class = "sourceDrop", @id = "dest", @styles = "width:100%;"})
                    </div>
                </div>

                <div class="sg-mapheader-bg sg-map-header-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Messages_Datahub.Source</span>
                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>) ViewData["impsrcList"], Messages.PleaseSelect, new {@class = "sourceDrop1", @id = "impsrc", @styles = "width:100%;"})
                    </div>

                </div>


                <div class="col-md-4">
                    <button class="btn btn-primary" id="destinationToSourceMappingBtn">@Messages_Datahub.Map</button>
                    <button class="btn btn-primary" id="toggleSourceToDestinationButton">
                        @Messages_Datahub.SourceToDestinationMap
                    </button>
                </div>
             </div>   

        <hr />
        <div class="row">

            <div class="sg-map-body col-md-12">
                <div class="sg-map-list">
                    @*<label class="col-sm-4 control-label" for="" title="@ViewBag.StagingMetaDataName">@Messages_Datahub.Destination</label>*@
                    @*<label class="col-sm-8 control-label" for="" title="@ViewBag.FileName">@Messages_Datahub.Source</label>*@
                    @if (ViewData["LabelDependingImportSource"] != null)
                    {

                        <ul class="maplist">
                            @foreach (var items in (IEnumerable<MappingViewModel>)ViewData["LabelDependingImportSource"])
                            {
                                <li>
                                    <label class="control-label" for="">
                                        @Html.Raw(@items.Text)
                                        <input type="hidden" class="destinationLabelText" name="label[]" value="@items.Text" />
                                        <input type="hidden" class="destinationLabelValue" name="label[]" value="@items.Value" />
                                    </label>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="sg-map-content">
                    <div role="mappingtab" class="sg-map-nav">
                        <ul class="nav nav-tabs" role="tablist">
                            @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
                            {

                                <li role="presentation" class="active"><a href="#map" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Mapping</a></li>
                            }
                            @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                            {

                                <li role="presentation"><a href="#match" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Matching</a></li>
                            }
                            @if (((string)ViewData["AllowedTabs"]).Contains("Calculation"))
                            {

                                <li role="presentation"><a href="#calculation" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Calculation</a></li>
                            }
                        </ul>
                        <div style="height: 39px; border-bottom: 1px solid #ddd;">&nbsp;</div>

                        <div class="tab-content">
                            @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
                            {

                                <div role="mappingtab" class="tab-pane active" id="map">
                                    @if (ViewData["LabelDependingImportSource"] != null)
                                    {
                                        <table class="maptable">
                                            @foreach (var items in (IEnumerable<MappingViewModel>)ViewData["LabelDependingImportSource"])
                                            {
                                                <tr>
                                                    <td style="width: 300px;">
                                                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["DropdownMenu"], Messages.PleaseSelect, new { @class = "sourceDrop", @id = @items.Value + "_dd", @style = "width:100%;" })
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </table>
                                    }

                                </div>
                            }

                            @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                            {

                                <div role="mappingtab" class="tab-pane" id="match">
                                    @if (ViewData["LabelDependingImportSource"] != null)
                                    {
                                        <table class="maptable">
                                            @foreach (var items in (IEnumerable<MappingViewModel>)ViewData["LabelDependingImportSource"])
                                            {
                                                <tr>
                                                    <td style="width: 300px;">
                                                        <input type="hidden" class="pcsourceLabel" name="label[]" value="@items.Value" />
                                                        @if (ViewData["MapColumnsList"] != null)
                                                        {
                                                            @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["MapColumnsList"], Messages.PleaseSelect, new { @id = @items.Value + "_PCdd", @style = "width:100%;" })
                                                        }

                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="pcsourceCheck" name="check[]" id="@(items.Value + "_Chkdd")" />
                                                        <label for="@(items.Value + "_Chkdd")" title='True: direct import is performed if exact match is found; False: matching suggestion is recommended'>@Messages_Datahub.DirectImport</label>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                </div>
                            }

                            @if (((string)ViewData["AllowedTabs"]).Contains("Calculation"))
                            {

                                <div id="calculation" class="tab-pane" role="mappingtab">
                                    @if (ViewData["LabelDependingImportSource"] != null)
                                    {
                                        <table class="maptable">
                                            @foreach (var items in (IEnumerable<MappingViewModel>)ViewData["LabelDependingImportSource"])
                                            {
                                                <tr>
                                                    <td style="width: 300px;">
                                                        <input type="hidden" class="pcsourceLabelForCalc" name="label[]" value="@items.Value" />
                                                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["CalculationRules"], Messages.PleaseSelect, new { @id = @items.Value + "_calcdd", @style = "width:100%;" })
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                </div>

                            }



                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix mgbtm8"></div>
            <div class="col-md-12">
                <div class="clearfix"></div>
                <div class="btn-container">
                    @if (ViewData["ClientConfigurations"] != null && ((string)ViewData["ClientConfigurations"]).Contains(ClientConfiguration.Vendor.ToString()))
                    {
                        <a class="btn btn-next" id="vendor-list-link" href='@Url.Action("Index", "Vendor", new {Area = "Datahub"})'>Click here to go to vendor list</a>
                    }
                    <a class="btn btn-primary" id="MapData">@Messages.Save</a>
                </div>

            </div>
        </div>

        <div class="loading"></div>


        <div id="DataMapping" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">@Messages.Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title" style="color: red;">ALERT!</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class='Message'></h5>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn" id="DataMappingErrorBtn" data-target="#DataMapping" data-toggle="modal" style="visibility: hidden;"></button>

        <div id="SaveMapping" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="myModalLabelbtnMappingCompleteModelOpen" class="modal-title">ALERT! </h4>
                    </div>
                    <div class="modal-body">
                        <h5>Do you want to save mapping?</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" id="saveSourceDestinationMappingbtn">Save</button>
                        <button class="btn" data-dismiss="modal" id="deletevendorNobtn" type="submit">No</button>

                    </div>
                </div>
            </div>
        </div>

        <button class="btn" id="saveMappingModelbtn" data-target="#SaveMapping" data-toggle="modal" style="visibility: hidden;"></button>

        <div id="mappingcompletemodel" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title">ALERT! </h4>
                    </div>
                    <div class="modal-body">
                        <h5><label class="messagebatch"></label></h5>
                        <div class="pull-right common">
                            <a class="btn" href="@Url.Action("Index", "Home", new {Area = ""})">@Messages.Dashboard</a>
                            <a class="btn" href="@Url.Action("RedirectToVendorModelUpload", "Vendor", new {Area = "Datahub"})?relationshipId=@ViewBag.relationshipId&sourceTypeId=@ViewBag.sourceTypeId" type="button">@Messages.ImportAgain</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <button class="btn" id="btnMappingCompleteModelOpen" data-target="#mappingcompletemodel" data-toggle="modal" style="visibility: hidden;"></button>

    </div>

</div>

@section Styles{
    @Styles.Render("~/Styles/select2")
}

@section scripts{

    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">

    var importSourceId = '@Request["sourceId"]';
    var destinationTableId = '@Request["destId"]';

    var urlDataMappingCheck = '@Url.Action("DataMappingCheck", "Vendor", new { Area = "Datahub" })';
    var urlDataMappingRelations = '@Url.Action("DataMappingRelations", "Vendor", new { Area = "Datahub" })';
    var urlDataMapping = '@Url.Action("DataMapping", "Vendor", new { Area = "Datahub" })';
    var urlUserAutoMappping = '@Url.Action("UserAutoMapping", "SourceToDestinationMapping", new { Area = "Datahub" })';
    var urlDataMappingGetRepeatedSource =
        '@Url.Action("DataMappingGetRepeatedSource", "Vendor", new { Area = "Datahub" })';

    var urlGetRequiredDestinationCols = '@Url.Action("GetRequiredDestinationCols", "Vendor", new { Area = "Datahub" })';
    var urlCheckMappingChange = '@Url.Action("CheckMappingChange", "Vendor", new { Area = "Datahub" })';
    var urlDataMappingRelations = '@Url.Action("DataMappingRelations", "Vendor", new { Area = "Datahub" })';
    var urlgetStagingTable = '@Url.Action("getStagingTable", "Vendor", new { Area = "Datahub" })';
    var urlViewDataSourceFile = '@Url.Action("ViewDataSourceFile", "Vendor", new {Area = "Datahub"})';
    var urlAdminMappingForDestination = '@Url.Action("AdminMappingForDestination","SourceToDestinationMapping", new{Area="Datahub"})';
    var urlSourceToDestinationMapping = '@Url.Action("Map","SourceToDestinationMapping",new{Area="Datahub"})';
    var urlPCatalogAdminAutoMapping = '@Url.Action("PCatalogAdminAutoMapping", "SourceToDestinationMapping", new {Area = "Datahub"})';
    var urlTransformationRuleMapping = '@Url.Action("TransformationRuleMapping","SourceToDestinationMapping",new{Area="Datahub"})';
    var urlTransformationRuleAutoMapping = '@Url.Action("TransformationRuleAutoMapping","SourceToDestinationMapping",new{Area="Datahub"})';

    </script>

    @Scripts.Render("~/bundles/area/datahub/sourcetodestinationmapping-destinationtosourcemap")

}
