﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.SourceToDestinationMapping;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.SourceToDestinationMap</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
    <div class="modal-body">
        
            <div class="row">
                <div class="sg-mapheader-bg sg-map-header-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Messages_Datahub.Source</span>
                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["impsrcList"], Messages.PleaseSelect, new { @class = "sourceDrop1", @id = "impsrc", @styles = "width:100%;" })
                    </div>

                </div>

                <div class="sg-map-header-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Messages_Datahub.Destination</span>
                        @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["DestList"], Messages.PleaseSelect, new { @class = "sourceDrop", @id = "dest", @styles = "width:100%;" })
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" id="srctodexmap">@Messages_Datahub.Map</button>
                    @*<button class="btn btn-primary" id="toggleDestinationToSourceButton">
                        @Messages_Datahub.DestinationToSourceMapping
                    </button>*@
                </div>
                <div class="sg-map-header-3">
                    @*<strong style="line-height: 30px;" id="ProductcatalogLabel">Product Identifier</strong>*@
                </div>

            
        </div>
        <hr />
        <!-- <div class="clearfix mgbtm8"></div>-->
        <div class="row">

            @if (ViewData["impsrcCol"] != null)
            {
                <div class="sg-map-body col-md-12">
                    <div class="sg-map-list">

                        @if (ViewData["impsrcCol"] != null)
                        {
                            <ul class="maplist">
                                @foreach (var items in (IEnumerable<SelectListItem>)ViewData["impsrcCol"])
                                {
                                    <li>
                                        <label class="control-label" for="">
                                            @Html.Raw(@items.Text)
                                            <input type="hidden" class="sourceLabeltext" name="label[]" value="@items.Text" />
                                            <input type="hidden" class="sourceLabel" name="label[]" value="@items.Value" />
                                        </label>
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                    <div class="sg-map-content">
                        <div role="mappingtab" class="sg-map-nav">
                            <ul class="nav nav-tabs" role="tablist">
                                @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
                                {

                                    <li role="presentation" class="active"><a href="#map" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Mapping</a></li>
                                }
                                @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                                {

                                    <li role="presentation"><a href="#match" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Matching</a></li>
                                }
                                @if (((string)ViewData["AllowedTabs"]).Contains("Calculation"))
                                {

                                    <li role="presentation"><a href="#calculation" aria-controls="profile" role="tab" data-toggle="tab">@Messages_Datahub.Calculation</a></li>
                                }
                            </ul>
                            <div style="height: 39px; border-bottom: 1px solid #ddd;">&nbsp;</div>

                            <div class="tab-content">
                                @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
                                {

                                    <div role="mappingtab" class="tab-pane active" id="map">
                                        @if (ViewData["impsrcCol"] != null)
                                        {
                                            <table class="maptable">
                                                @foreach (var items in (IEnumerable<SelectListItem>)ViewData["impsrcCol"])
                                                {
                                                    <tr>
                                                        <td style="width: 300px;">
                                                            @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["destCol"], Messages.PleaseSelect, new { @class = "sourceDrop", @id = @items.Value + "_dd", @style = "width:100%;" })
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </table>
                                        }

                                    </div>
                                }
                                @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                                {

                                    <div role="mappingtab" class="tab-pane" id="match">
                                        @if (ViewData["impsrcCol"] != null)
                                        {
                                            <table class="maptable">
                                                @foreach (var items in (IEnumerable<SelectListItem>)ViewData["impsrcCol"])
                                                {
                                                    <tr>
                                                        <td style="width: 300px;">
                                                            <input type="hidden" class="pcsourceLabel" name="label[]" value="@items.Value" />
                                                            @if (ViewData["MapColumnsList"] != null)
                                                            {
                                                                @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["MapColumnsList"], Messages.PleaseSelect, new { @id = @items.Value + "_PCdd", @style = "width:100%;" })
                                                            }

                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="pcsourceCheck" name="check[]" id="@(items.Value + "_Chkdd")" />
                                                            <label for="@(items.Value + "_Chkdd")" title='True: direct import is performed if exact match is found; False: matching suggestion is recommended'>@Messages_Datahub.DirectImport</label>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                }
                                @if (((string)ViewData["AllowedTabs"]).Contains("Calculation"))
                                {

                                    <div id="calculation" class="tab-pane" role="mappingtab">
                                        @if (ViewData["impsrcCol"] != null)
                                        {
                                            <table class="maptable">
                                                @foreach (var items in (IEnumerable<SelectListItem>)ViewData["impsrcCol"])
                                                {
                                                    <tr>
                                                        <td style="width: 300px;">
                                                            <input type="hidden" class="pcsourceLabelForCalc" name="label[]" value="@items.Value" />
                                                            @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewData["CalculationRules"], Messages.PleaseSelect, new { @id = @items.Value + "_calcdd", @style = "width:100%;" })
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>

                                }
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="col-md-12">
                    <div class="clearfix"></div>
                    <div class="btn-container">
                        @if (ViewData["ClientConfigurations"] != null && ((string)ViewData["ClientConfigurations"]).Contains(ClientConfiguration.Vendor.ToString()))
                        {
                            <a class="btn btn-next" id="vendor-list-link" href='@Url.Action("Index", "Vendor", new {Area = "Datahub"})'>Click here to go to vendor list</a>
                        }
                        <a class="btn btn-primary" id="MapData">@Messages.Save</a>
                    </div>

                </div>
            }
        </div>

        <div id="DataMapping" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">@Messages.Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title" style="color: red;">ALERT!</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class='Message'></h5>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <button class="btn" id="DataMappingErrorBtn" data-target="#DataMapping" data-toggle="modal" style="visibility: hidden;"></button>
    </div>
</div>


@section styles{

    <style type="text/css">
        .maptable .select2-container {
            padding: 0px;
            border-width: 0px;
            height: 24px;
        }

            .maptable .select2-container .select2-choice {
                height: 24px;
                line-height: 24px;
            }

        label {
            font-weight: normal;
        }
    </style>



    @*@Styles.Render("~/Styles/chosen")*@
    @Styles.Render("~/Styles/select2")

}

@section scripts{

    <script type="text/javascript">
        var importSourceId = '@Request["ImpSrcId"]';
        var destinationTableId = '@Request["DestId"]';
        var urlAdminAutoMapping = '@Url.Action("AdminAutoMapping", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlPCatalogAdminAutoMapping = '@Url.Action("PCatalogAdminAutoMapping", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlDataMappingGetRepeatedDestination = '@Url.Action("DataMappingGetRepeatedDestination", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlGetRequiredDestinationCols = '@Url.Action("GetRequiredDestinationCols", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlProductCatalogAdminMapping = '@Url.Action("ProductCatalogAdminMapping", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlAdminMapping = '@Url.Action("AdminMapping", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlDataMappingCheck = '@Url.Action("DataMappingCheck", "Vendor", new {Area = "Datahub"})';
        var urlMapSourceToDestination = '@Url.Action("MapSrc2Des", "SourceToDestinationMapping", new {Area = "Datahub"})';
        var urlCheckSourceDestinationMappingExists = '@Url.Action("CheckSourceDestinationMappingExists", "SourceToDestinationMapping", new { Area = "Datahub" })';

        //  var importsourceCols = '@(typeof (IEnumerable<SelectListItem>))ViewBag.ImportSourceCol';
        var urlKeepRecommendedMappingInViewData = '@Url.Action("KeepRecommendedMappingInViewData", "SourceToDestinationMapping", new { Area = "Datahub" })';
        var urlTransformationRuleMapping = '@Url.Action("TransformationRuleMapping","SourceToDestinationMapping",new{Area="Datahub"})';
        var urlTransformationRuleAutoMapping = '@Url.Action("TransformationRuleAutoMapping","SourceToDestinationMapping",new{Area="Datahub"})';
        var urlDestinationToSourceMapping = '@Url.Action("DestinationToSourceMap","SourceToDestinationMapping",new{Area="Datahub"})';

    </script>
    @*@Scripts.Render("~/bundles/chosenjquery")*@
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/area/datahub/sourcetodestinationmapping")

    <script type="text/javascript">
        $(document).ready(function () {
            //$('select').select2({ width: 'resolve' }).trigger('change');
            //    $('.sourceDrop').autocomplete({
            //        autoFocus: true
            //});
            // $(".form-control").chosen();
            //$(".chosen-select").chosen({ max_selected_options: 5 });

            //$.widget("ui.combobox", {
            //    _create: function () {
            //        var self = this,
            //            select = this.element.hide(),
            //            selected = select.children(":selected"),
            //            value = selected.val() ? selected.text() : "";
            //        var input = this.input = $("<input>").insertAfter(select).val(value).autocomplete({
            //            delay: 0,
            //            minLength: 0,
            //            source: function (request, response) {
            //                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
            //                response(select.children("option").map(function () {
            //                    var text = $(this).text();
            //                    if (this.value && (!request.term || matcher.test(text))) return {
            //                        label: text.replace(
            //                        new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(request.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>"),
            //                        value: text,
            //                        option: this
            //                    };
            //                }));
            //            },
            //            select: function (event, ui) {
            //                ui.item.option.selected = true;
            //                self._trigger("selected", event, {
            //                    item: ui.item.option
            //                });
            //            },
            //            change: function (event, ui) {
            //                if (!ui.item) {
            //                    var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
            //                        valid = false;
            //                    select.children("option").each(function () {
            //                        if ($(this).text().match(matcher)) {
            //                            this.selected = valid = true;
            //                            return false;
            //                        }
            //                    });
            //                    if (!valid) {
            //                        // remove invalid value, as it didn't match anything
            //                        $(this).val("");
            //                        select.val("");
            //                        input.data("autocomplete").term = "";
            //                        return false;
            //                    }
            //                }
            //            }
            //        }).addClass("ui-widget ui-widget-content ui-corner-left");

            //        input.data("autocomplete")._renderItem = function (ul, item) {
            //            return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.label + "</a>").appendTo(ul);
            //        };

            //        this.button = $("<button type='button'>&nbsp;</button>").attr("tabIndex", -1).attr("title", "Show All Items").insertAfter(input).button({
            //            icons: {
            //                primary: "ui-icon-triangle-1-s"
            //            },
            //            text: false
            //        }).removeClass("ui-corner-all").addClass("ui-corner-right ui-button-icon").click(function () {
            //            // close if already visible
            //            if (input.autocomplete("widget").is(":visible")) {
            //                input.autocomplete("close");
            //                return;
            //            }

            //
            //            $(this).blur();

            //            // pass empty string as value to search for, displaying all results
            //            input.autocomplete("search", "");
            //            input.focus();
            //        });
            //    },

            //    destroy: function () {
            //        this.input.remove();
            //        this.button.remove();
            //        this.element.show();
            //        $.Widget.prototype.destroy.call(this);
            //    }
            //});

            //$('.sourceDrop').combobox();


        });
    </script>
}