﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="row">
            <div class="btn-container">
                @Html.GbdSubmitButton("RemoveFromThisCategory", Messages.RemoveFromThisCategory)
            </div>

            <div class="sg-datatable-wrap udh-tooltip-wrap">
                <div class="productCategorywrap">
                    <table id="PIMProducts" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckBoxPIMProducts" class="selectAll"></th>
                                <th> @Messages_Datahub.SKU</th>
                                <th> @Messages_Datahub.SkygeekPN</th>
                                <th> @Messages_Datahub.Name</th>
                                <th>@Messages_Datahub.VendorName</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>




