﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMProductCategoryViewModel



@*<div class="sg-tab-bar">
        <ul class="nav nav-tabs udh" role="tablist">
            <li class="active header">Bulk Add </li>
        </ul>
    </div>*@
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body ovrflw">
        <div class="row">
            <form action="" method="POST">
                <div id="SearchContainer">
                    <div class="filter-controls">
                        <div class="search-slide" id="toggleFilter">
                            <i class="fa fa-toggle-left"></i>
                        </div>

                        <div id="SearchContainer1" class="search-holder add">

                            <div class="sg-ad-search-bar">
                                <div class="header">
                                    @Html.Label("Category")
                                    <hr />
                                    @Html.TextAreaFor(m => m.Name, new { @class = "form-control ",@readonly = "readonly", style = "height:70px;" })
                                    <hr />
                                </div>
                                <div class="filter-scroll" style="margin-top:25px;">
                                    <div class="header">
                                        <b>@Html.Label("Find Product By")</b>
                                        <hr />
                                    </div>

                                    <div class="search-div">
                                        @*<label for="KeySearch">Matching</label>*@
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control-add valid" id="KeySearch" name="KeySearch" aria-invalid="false">
                                                    <option value="LocalSku">LocalSku</option>
                                                    <option value="SkyGeekPN">SkyGeekPN</option>
                                                    <option value="SellingSku">Selling Sku</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control-add" data-val="true" data-val-number="The field MatchingCriteria must be a number." data-val-required="The MatchingCriteria field is required." id="matchingCriteria" name="MatchingCriteria">
                                                    <option value="1">Is Exactly</option>
                                                    <option value="2">Contains</option>
                                                    <option value="3">Begins With</option>
                                                    <option value="4">Ends</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>




                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="has-filter">
                        <div id="SearchContainer2" class="search-holder top">
                            <div class="sg-ad-search-bar">
                                <div id="CustomColVis"></div>
                                <div class="input-group">
                                    <input autofocus="" class="form-control" id="fullTextSearch" name="Search" placeholder="Provide search text separated by comma, space, or newline then press enter to search" type="text" value="">
                                    @*  @Html.TextBox("Search", new { @class = "form-control", @id = "fullTextSearch", @autofocus = "" })*@
                                    <div class="input-group-btn">
                                        <input type="button" id="SearchText" value="@Messages_Datahub.Search" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default sg-grid-panel" style="margin-bottom:10px;">
                            <div class="panel-body add " id="map">


                                <div class="btn-group">
                                    <button type="button" id="btnCatalogBulkCategory" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Add
                                        <span class="caret"></span>
                                        <span class="sr-only">@Messages_Datahub.ToggleDropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li> <a id="btnAddSelected" href="javascript:void(0)">Add Selected</a></li>
                                        <li><a id="btnAddAll" href="javascript:void(0)">Add All</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="sg-datatable-wrap udh-tooltip-wrap ">

                            <table id="BulkLoadSkuForCategory" class="display">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectAllCheckBoxBulkProducts" class="selectAll"></th>
                                        <th>LocalSku</th>
                                        <th>Skygeek PN</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/datatable")
    @*@Styles.Render("~/Styles/tooltipster")*@






}
@section scripts{

    @Scripts.Render("~/bundles/datatable")
    <script>

    var urlLoadSkuForProductCategory = '@Url.Action("GetProductsToLoadIntoCategory", "ProductCategory",new { Area = "Datahub"})'
    var urlAddSelectedItemToCategory = '@Url.Action("AddSelectedItemsToProductCategory", "ProductCategory",new { Area="Datahub"})'
    </script>

}
