@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMProductCategoryViewModel
@{
    ViewBag.Title = Messages.Create;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Products + "</li>" +
                       "<li><a href='" + Url.Action("Index", "ProductCategory", new { Area = "Datahub" }) + "'>" + Messages_Datahub.ProductCategory + "</a></li>" +
                      "<li class='active'>" + Messages.Create + "</li>" +
                  "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="row">
                @Html.EditorForModel()

                <div class="clearfix mgbtm8"></div>

                <div class="input-group">
                    <div class="input-group-addon">
                        @Html.GbdLabelFor(m => m.ParentCategoryId, new { @class = "control-label" })
                    </div>
                    @Html.DropDownListFor(x => x.ParentCategoryId, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], "--Choose", new { @class = "form-control ", @id = "ParentCategoryId" }).Databind("value: ParentCategoryId")
                </div>
                <div class="clearfix mgbtm8"></div>
                <div class="input-group" style="margin-left:5px;">
                    <div class="input-group-addon">
                        @Html.GbdLabelFor(m => m.Description, new { @class = "control-label" })
                    </div>
                    @Html.TextArea("Description", new { @rows = 10, @cols = 90 })
                    @Html.HiddenFor(x => x.Description)
                </div>
            </div>

                <div class="btn-container">
                    @Html.GbdSubmitButton("CreatePIMProductCategory", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
                }
            </div>
            </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#BigCommerceProdCatID').prop("readonly", true);
        })
        var urlIndex = '@Url.Action("Index", "ProductCategory", new {Area = "Datahub"})';

        $('#btnCancel').click(function(){
            window.location = urlIndex;
        });
        
        
    </script>
}


