@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

@{
    ViewBag.Title = Messages_Datahub.ProductCategory;
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @Messages_Datahub.ProductCategory
        </li>
    </ul>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">

                @*ACL Controlled Create Button*@
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Create, "btn", Messages.Add, "btnAddPIMProductCategory")

                @*ACL Controlled Update Button*@
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Update, "btn", Messages.Edit, "btnUpdatePIMProductCategory")

                @*ACL Controlled Disable Button*@
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Disable, "btn", Messages.Disable, "btnDisablePIMProductCategory")

                @*ACL Controlled Enable Button*@
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Disable, "btn", Messages.Enable, "btnEnablePIMProductCategory")

                @*ACL Controlled Delete Button*@
                @*   @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Delete, "btn", Messages.Delete, "btnDeletePIMProductCategory")*@

            </div>

        </div>

        @* Data Table Section *@
        <div class="sg-datatable-wrap">
            <table id="PIMProductCategoryDataTable">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllCheckBoxPIMProductCategory" class="selectAll"></th>
                        <th> @Messages_Datahub.Name</th>
                        <th> @Messages_Datahub.TotalProductCount</th>
                        <th> @Messages_Datahub.TotalActiveProducts</th>
                        <th> @Messages_Datahub.Disabled</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@using (Html.GbdConfirmDialog("DeletePIMProductCategoryModal", Messages_Datahub.DeleteProductCategorys))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Delete, Messages.ProductCategory + Messages.PluralSuffix)?</h5>
}

@using (Html.GbdConfirmDialog("DisablePIMProductCategoryModal", Messages_Datahub.DisableProductCategorys))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Disable, Messages.ProductCategory + Messages.PluralSuffix)?</h5>
}

@using (Html.GbdConfirmDialog("EnablePIMProductCategoryModal", Messages_Datahub.EnableProductCategorys))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Enable, Messages.ProductCategory + Messages.PluralSuffix)?</h5>
}

@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>
        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/datatable")

    <script type="text/javascript">

        var urlListPIMProductCategory = '@Url.Action("GetPIMProductCategoryDataTable", "ProductCategory", new {Area = "Datahub"})';
        var urlAddPIMProductCategory = '@Url.Action("Create", "ProductCategory", new {Area = "Datahub"})';
        var urlEditPIMProductCategory = '@Url.Action("Update", "ProductCategory", new {Area = "Datahub"})';
        var urlDeletePIMProductCategory = '@Url.Action("Delete", "ProductCategory", new {Area = "Datahub"})';
        var urlDisablePIMProductCategory = '@Url.Action("Disable", "ProductCategory", new {Area = "Datahub"})';
        var urlEnablePIMProductCategory = '@Url.Action("Enable", "ProductCategory", new {Area = "Datahub"})';
       
        @*var GBDAdmin = '@UdhClaimsIdentity.IsInGbdAdminRole()';
        var Admin = '@UdhClaimsIdentity.IsInAdminRole()';*@

        var options = {
            //general
            tableName: 'PIMProductCategory',
            tableDisplayName: 'Product Category',
            order: [[1, 'asc']], //order by 1 [Name] ascending by default
            searchPlaceholder: 'Name', //search text to show by default
            //list
            dataTableId: 'PIMProductCategoryDataTable',
            destroy:false,
            stateSave: true,
            deferRender:true,
            listUrl: urlListPIMProductCategory,
            selectAllId: 'selectAllCheckBoxPIMProductCategory',
            selectorClass: "PIMProductCategorySelector",
            //add
            addButtonId: "btnAddPIMProductCategory",
            addUrl: urlAddPIMProductCategory,
            //edit
            updateButtonId: "btnUpdatePIMProductCategory",
            editUrl: urlEditPIMProductCategory,
            //delete
            deleteUrl: urlDeletePIMProductCategory,
            deleteButtonId: 'btnDeletePIMProductCategory',
            deletePopupModalId: 'DeletePIMProductCategoryModal',
            deleteYesButtonId: 'btnDeletePIMProductCategoryModalYes',
            deleteNoButtonId: 'btnDeletePIMProductCategoryModalNo',
            deleteData: [],
            //disable
            disableUrl: urlDisablePIMProductCategory,
            disableButtonId: 'btnDisablePIMProductCategory',
            disablePopupModalId: 'DisablePIMProductCategoryModal',
            disableYesButtonId: 'btnDisablePIMProductCategoryModalYes',
            disableNoButtonId: 'btnDisablePIMProductCategoryModalNo',
            disableData: [],
            //enable
            enableUrl: urlEnablePIMProductCategory,
            enableButtonId: 'btnEnablePIMProductCategory',
            enablePopupModalId: 'EnablePIMProductCategoryModal',
            enableYesButtonId: 'btnEnablePIMProductCategoryModalYes',
            enableNoButtonId: 'btnEnablePIMProductCategoryModalNo',
            enableData: []

        }

        $(document).ready(function () {
            udh.common.crud(options);
        });
        $('#PIMProductCategoryDataTable tbody').on('click', 'tr', function (e) {
            if (e.target.tagName == 'TD') {
                console.log('clicked');
                e.stopPropagation();
            }
        });
    </script>
    

}
