﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMProductCategoryViewModel
@{
    ViewBag.Title = Messages.Update;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                      "<li><a href='" + Url.Action("Index", "ProductCategory", new { Area = "Datahub" }) + "'>" + Messages_Datahub.ProductCategory + "</a></li>" +
                     "<li class='active'>" + Messages.Update + "</li>" +
                 "</ol>");
}

@*<div class="sg-tab-bar">
        <ul class="nav nav-tabs udh" role="tablist">
            <li class="active header">@ViewBag.Title</li>
        </ul>
    </div>*@

@*<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper ">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @Html.HiddenFor(model => model.Id)

                    <div class="row">
                        @Html.EditorForModel()

                        <div class="clearfix mgbtm8"></div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.ParentCategoryId, new { @class = "control-label" })
                            </div>
                            @Html.DropDownListFor(x => x.ParentCategoryId, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], "--Choose", new { @class = "form-control ", @id = "ParentCategoryId" }).Databind("value: ParentCategoryId")
                            @Html.HiddenFor(x => x.ParentCategoryId)
                        </div>

                    </div>

                    <div class="btn-container">
                        @Html.GbdSubmitButton("updatePIMProductCategory", Messages.Save)
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                }
            </div>
        </div>
    </div>*@

<div class="product">

    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#update" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Update</a></li>

        @if (Model.AllowBulkAdd == false)
        {
            <li role="presentation" class="disabled"><a href="#products" aria-controls="home" role="tab" data-toggle="tab" id="kit-items">@Messages_Datahub.ProductKitCategory</a></li>

            <li role="presentation" class="disabled"><a href="#bulkadd" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.AddBulk</a></li>

        }
        else
        {
            <li role="presentation"><a href="#products" aria-controls="home" role="tab" data-toggle="tab" id="kit-items">@Messages_Datahub.ProductKitCategory</a></li>

            <li role="presentation"><a href="#bulkadd" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.AddBulk</a></li>
        }


    </ul>
    <div class="clearfix mgbtm8"></div>
    <div class="tab-content has-tab">
        <div class="tab-pane fade in active" id="update">
            <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8 sg-wrapper" style="padding-top:3px;">
                <div class="modal-body">
                    <div class="content-wrapper ">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            @Html.EditorForModel()

                            <div class="clearfix mgbtm8"></div>
                            <div class="input-group" style="margin-left:5px;">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.ParentCategoryId, new { @class = "control-label" })
                                </div>
                                @Html.DropDownListFor(x => x.ParentCategoryId, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], "--Choose", new { @class = "form-control", @id = "ParentCategoryId", @style = "width: 98%;" }).Databind("value: ParentCategoryId")
                                @Html.HiddenFor(x => x.ParentCategoryId)
                            </div>
                            <div class="clearfix mgbtm8"></div>
                            <div class="input-group" style="margin-left:5px;">
                                <div class="input-group-addon">
                                    @Html.GbdLabelFor(m => m.Description, new { @class = "control-label" })
                                </div>
                                @Html.TextArea("Description",new { @rows = 10, @cols = 90 })
                                @Html.HiddenFor(x => x.Description)
                            </div>
                        </div>

                            <div class="btn-container">
                                @Html.GbdSubmitButton("updatePIMProductCategory", Messages.Save)
                                @Html.GbdResetButton(Messages.Cancel)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="products">
            <div class="row">
                <div class="col-lg-1">
                    @Html.Label("Category")
                </div>

                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control ", @readonly = "readonly" })
                </div>
            </div>
            @*<p>Category</p><span>@Model.Name</span>*@
            @Html.Partial("_ProductKitCategory")
          

        </div>

        <div class="tab-pane fade" id="bulkadd">

            @Html.Partial("BulkItemCategory",Model)
        </div>


    </div>


</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>

        .tab-pane {
            height: auto !important;
            overflow-y: scroll;
            width: 100%;
        }


        .
        #PIMProducts_wrapper {
            z-index: 1;
        }

            #PIMProducts_wrapper:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 40px;
                background: #ccc;
                z-index: -1;
            }

        #PIMProducts_length {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #PIMProducts_filter {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
        }

        #products {
            overflow: hidden !important;
        }

     
       #products .dataTables_wrapper .dataTables_scroll {
                clear: both;
                height: 70vh;
                overflow-x: scroll;
                overflow-y: hidden;
      }

            #products #PIMProducts {
                clear: both;
                height: 55vh;
                overflow-x: scroll;
                display: block;
                width: 100% !important;
                margin-bottom: 20px;
            }

                #products #PIMProducts thead,
                #products #PIMProducts tbody {
                    width: 100% !important;
                    display: table;
                }


        #BulkLoadSkuForCategory_wrapper {
            z-index: 1;
        }

        #BulkLoadSkuForCategory_wrapper:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 40px;
            background: #ccc;
            z-index: -1;
        }

        #BulkLoadSkuForCategory_length {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #BulkLoadSkuForCategory_filter {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
        }

      

        #bulkadd .dataTables_wrapper .dataTables_scroll {
            clear: both;
            height: 70vh;
            overflow-x: scroll;
            /*overflow-y: hidden;*/
        }

        #bulkadd {
            overflow: hidden;
        }

        #Description {
        width:500px;
        }


        ​​​​​​​

    </style>

}
@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#BigCommerceProdCatID').prop("readonly", true);
        })
        var urlIndex = '@Url.Action("Index", "ProductCategory", new {Area = "Datahub"})';
        var urlListPIMProductKit = '@Url.Action("GetPIMProductKitCategoryDataTable", "ProductCategory", new {Area = "Datahub"})';
        var urlDeleteProductKit= '@Url.Action("DeleteProductKit", "ProductCategory", new {Area = "Datahub"})';
        $('#btnCancel').click(function() {
            window.location = urlIndex;
        });



        var urlLoadDataTable = '@Url.Action("GetAssociatedProducts", "ProductCategory",new { Area="Datahub"})'
        var urlLoadSkuForProductCategory = '@Url.Action("GetProductsToLoadIntoCategory", "ProductCategory",new { Area="Datahub"})'
        var urlAddSelectedItemToCategory = '@Url.Action("AddSelectedItemsToProductCategory", "ProductCategory",new { Area="Datahub"})'
        var urlAddAllItemToCategory = '@Url.Action("AddAllItemsToProductCategory","ProductCategory",new { Area="Datahub"})'


    </script>


    <script src="~/Scripts/Areas/Datahub/ProductCategory/ProductCategory.js"></script>
    <script src="~/Scripts/Areas/Datahub/ProductCategory/BulkItemCategory.js"></script>
}

