@using System.Web.UI.WebControls
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = AclMessages.AddRemoveFeaturesRoles;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages.System + "</li>" +
           "<li>" + AclMessages.AccessControl + "</li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-map-bar">
    <div class="modal-body">
             <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.Label(AclMessages.AclRoleName)</span>
                        @Html.DropDownList("roleCollection").GbdAddCssClass("form-control")
  
                    </div>
                </div>
                <div class="col-md-4 btn-horizontal">
                    <button id="GbdRoleSearchButton" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;@Messages.Search
                    </button>
                   
                </div>
            </div>
    </div>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
    <div class="modal-body">
        <div class="content-wrapper">
                <ul id="roleMappingTree" class="easyui-tree"></ul>
            <div class="clearfix mgbtm8"></div>
            <div id="btnSubmit" class="btn-container " style="display: none;">
                @Html.GbdSubmitButton("GBDSaveButton", Messages.Save)
                <button id="gbdRevokeRoleMappings" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;@AclMessages.RevokeRoleMapping
                </button>
            </div>
        </div>
    </div>
</div>
 



@section styles{
@*@Styles.Render("~/Styles/easyui")
    @Styles.Render("~/Styles/easyui-icon")*@
<link href="~/Content/easyui/themes/default/css/tree.css" rel="stylesheet" />
    @Styles.Render("~/Styles/select2")
    <style type="text/css">
        .tooltip {
            background: transparent !important;
            border: none !important;
        }


    #roleMappingTree {
        font-weight: bold;
}
</style>



}

@section scripts{

    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/easyui-jquery-parser")
    @*@Scripts.Render("~/bundles/easyui-loader")*@
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">

        var urlGetRoleModuleMappingData = '@Url.Action("GetRoleModuleMappingData", "AclRoleModuleMapping", new { Area = "AccessControl" })';
        var urlSaveCheckedRoleModuleMappingData = '@Url.Action("Create", "AclRoleModuleMapping", new { Area = "AccessControl" })';
        var urleRevokeRoleMappings = '@Url.Action("RevokeRoleMappings","AclRoleModuleMapping",new{Area="AccessControl"})';
        var errorOccurredMessage = '@Messages.ErrorOccured';

        $("select").select2();
    </script>
    @Scripts.Render("~/bundles/area/accesscontrol/rolemodulemapping-index")
    <script>
        /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
        $.widget.bridge('uitooltip', $.ui.tooltip);
    </script>
    @Scripts.Render("~/bundles/bootstrap")
}
