﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

@{
    ViewBag.Title = Messages_Datahub.Brand;
    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                      "<li><a href='" + Url.Action("Index", "PIMBrand", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Brand + "</a></li>" +
                     "<li class='active'>" + Messages.List + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @Messages_Datahub.Brand
        </li>
    </ul>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">



                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Create, "btn", Messages.Add, "btnAddPIMBrand")
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Update, "btn", Messages.Edit, "btnUpdatePIMBrand")
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Disable, "btn", Messages.Disable, "btnDisablePIMBrand")
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Disable, "btn", Messages.Enable, "btnEnablePIMBrand")
                @* @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Delete, "btn", Messages.Delete, "btnDeletePIMBrand")*@


            </div>
        </div>
        @* Data Table Section *@
        <div class="sg-datatable-wrap">
            <table id="PIMBrandDataTable">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllCheckBoxPIMBrand" class="selectAll"></th>
                        <th> @Messages_Datahub.Name</th>
                        <th> @Messages_Datahub.Description</th>
                        <th> Page Title</th>
                        <th>Total Product Count</th>
                        <th> BigCommerce ID</th>
                        <th> @Messages_Datahub.Disabled</th>
                        <th> Image Url</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@using (Html.GbdConfirmDialog("DisablePIMBrandModal", "Disable Brand(s)"))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Disable, Messages.Brand + Messages.PluralSuffix)?</h5>
}
@using (Html.GbdConfirmDialog("EnablePIMBrandModal", "Enable Brand(s)"))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Enable, Messages.Brand + Messages.PluralSuffix)?</h5>
}



@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>

        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        var urlListPIMBrand = '@Url.Action("GetPIMBrandDataTable", "PIMBrand", new {Area = "Datahub"})';
        var urlCreateBrand = '@Url.Action("Create","PIMBrand",new { Area = "Datahub"})'
        var urlUpdateBrand = '@Url.Action("Update","PIMBrand",new { Area = "Datahub"})'
        var urlDisableBrand = '@Url.Action("Disable","PIMBrand",new { Area = "Datahub"})'
        var urlEnableBrand = '@Url.Action("Enable","PIMBrand",new { Area = "Datahub"})'
      
        var brandMessage = '@TempData["BrandMessage"]';
        if (brandMessage) {
            alertmsg("green", brandMessage);
        }

    </script>
    @Scripts.Render("~/Styles/jquery.mixitup")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/Areas/Datahub/PIMBrand/brand.js"></script>
}