﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMBrandViewModel
@{
    ViewBag.Title = Messages.Update;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                      "<li><a href='" + Url.Action("Index", "PIMBrand", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Brand + "</a></li>" +
                     "<li class='active'>" + Messages.Update + "</li>" +
                 "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    @Html.EditorForModel()
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("updatePIMBrand", Messages.Save)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#BigCommerceBrandId').prop("readonly", true);
        })

       
    var urlBrandIndex = '@Url.Action("Index","PIMBrand",new { Area = "Datahub"})';
    $('#btnCancel').click(function () {

        window.location.href = urlBrandIndex;
    })

    </script>
}
