﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.StaticDataValueViewModel
@{
    ViewBag.Title = Messages_Datahub.CreateStaticDataValue;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                   "<li>" + Messages_Datahub.Settings + "</li>" +
                   "<li><a href='" + Url.Action("Index", "StaticDataManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.StaticDataValues + "</a></li>" +
                   "<li class='active'>" + Messages_Datahub.CreateStaticDataValue + "</li>" +
               "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">

                    @Html.EditorForModel()

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label">@Messages_Datahub.StaticDataType</label>
                            </div>
                            @Html.DropDownListFor(x => x.TypeId, (IEnumerable<SelectListItem>)ViewData["staticDataTypeList"],Messages.PleaseSelect, new { @class = "staticDataType  form-control", @id = "staticDataType" })
                        </div>
                        @Html.ValidationMessageFor(m => m.TypeId)
                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("btnCreateStaticDataValue", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}

@section styles{

    @Styles.Render("~/Styles/select2")
}

@section scripts{

    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index", "StaticDataManager", new {Area = "Datahub"})';
        var selectedStaticDataType = '@ViewData["staticDataTypeSelected"].ToString()';
        
        $('#btnCancel').click(function () {
            window.location = urlStaticDataIndex;
        });

        $('select').select2();

        $('#staticDataType').select2("val", selectedStaticDataType);


    </script>
}