﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.StaticDataTypeViewModel
@{
    ViewBag.Title = Messages_Datahub.UpdateStaticDataType;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                   "<li>" + Messages_Datahub.Settings + "</li>" +
                   "<li><a href='" + Url.Action("Index", "StaticDataManager", new { Area = "Datahub" }) + "'>" + Messages_Datahub.StaticDataValues + "</a></li>" +
                   "<li class='active'>" + Messages_Datahub.UpdateStaticDataType + "</li>" +
               "</ol>");
               
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    @Html.EditorForModel()
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label">@Messages_Datahub.Type</label>
                            </div>
                            @Html.DropDownList("staticDataTypeCollection").GbdAddCssClass("form-control")
                        </div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("btnCreateStaticDataType", Messages.Save)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        var urlStaticDataIndex = '@Url.Action("Index","StaticDataManager",new {Area="Datahub"})';
        var staticDataMessage = '@TempData["MessageForStaticData"]';
        if (staticDataMessage) {
            alertmsg("red", staticDataMessage);
        }
        $('#btnCancel').click(function () {
            window.location = urlStaticDataIndex;
        });
    </script>

}