﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.StaticDataTypeViewModel>

@{
    ViewBag.Title = Messages_Datahub.StaticData;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Settings + "</li>" +
                      "<li class='active'>" + Messages_Datahub.StaticDataValues + "</li>" +
                  "</ol>");
}
<div class="w1">
    <div id="ViewCatalog" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="sg-catalog-one  col-md-6">
                    <div class="sg-tab-bar sub">
                        <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                            <li class="active"><a href="#ViewCatalog" role="tab" data-toggle="tab">Static Data Type</a></li>
                        </ul>
                        <div class="expand-cat-one expand-btn" style="">
                            <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                        </div>
                        <div class="collapse" style=""><span class="glyphicon glyphicon-arrow-left sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
                    </div>
                    <div class="panel panel-default sg-grid-panel">
                        <div class="panel-body">

                            @Html.GbdButtonWithSpan("btnCreateStaticDataType", "Add", "glyphicon glyphicon-plus")
                            @Html.GbdButtonWithSpan("btnUpdateStaticDataType", "Edit", "glyphicon glyphicon-edit")
                            @Html.GbdButtonWithSpan("btnDeleteStaticDataType", "Delete", "glyphicon glyphicon-trash")


                        </div>
                    </div>
                    <div class="sg-datatable-wrap " id="PCGridWrap">
                        <table id="StaticDataTypeGrid" class="sg-table-sleek sg-data">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllCheckBoxStaticDataType" class="selectAll" /></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <input type="hidden" id="idContainerHiddenFieldForDelete" />
                    @using (@Html.GbdConfirmDialog("divConfirmDelete", "Delete Static Data Type(s)"))
                    {
                        <p>@string.Format(Messages.confirmation_Message_Delete0, "Static Data Type(s)")</p>
                    }
                </div>
    <div class="sg-catalog-two col-md-6" style="">
                    <div class="sg-tab-bar sub">
                        <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                            <li class="active"><a href="#ViewCatalog" role="tab" data-toggle="tab">Static Data Value</a></li>
                        </ul>
                        <div class="expand-cat-two expand-btn" style="">
                            <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                        </div>
                        <div class="collapse" style=""><span class=" glyphicon glyphicon-arrow-right sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
                    </div>

                    <div class="panel panel-default sg-grid-panel">
                        <div class="panel-body">
                            <button class="btn" id="btnLoadStaticDataValue" > <span class="glyphicon glyphicon-retweet"></span>&nbsp;Load</button>
                            @Html.GbdButtonWithSpan("btnCreateStaticDataValue", "Add", "glyphicon glyphicon-plus")
                            @Html.GbdButtonWithSpan("btnUpdateStaticDataValue", "Edit", "glyphicon glyphicon-edit")
                            @Html.GbdButtonWithSpan("btnDeleteStaticDataValue", "Delete", "glyphicon glyphicon-trash")
                        </div>
                    </div>

                    <div class="sg-datatable-wrap" id="SDVGrid">

                        <div id="grid-static-data-value"></div>


                    </div>
                    <input type="hidden" id="idContainerHiddenFieldForDeleteStaticDataValues" />
                    @using (@Html.GbdConfirmDialog("divConfirmDeleteStaticDataValue", "Delete Static Data Value(s)"))
                    {
                        <p>@string.Format(Messages.confirmation_Message_Delete0, "Static Data Value(s)")</p>
                    }
                </div>
    </div>
</div>
                      <input type="text" style="display:none;" id="StaticDataTypeLoadId" />
@section styles{
    @Styles.Render("~/Styles/datatable")
                      <style>
                          .error {
                              color: red;
                              font-size: 12px;
                          }
                      </style>

}

@section scripts{
    <script type="text/javascript">
    var urlGetStaticDataValue = '@Url.Action("GetStaticDataValue", "StaticDataManager", new {Area = "Datahub"})';
    var urlGetStaticDataTypeValues = '@Url.Action("GetStaticDataTypeValues","StaticDataManager",new{Area="Datahub"})';
    var urlGetStaticDataValueForDataTable = '@Url.Action("GetStaticDataValueForDataTable","StaticDataManager",new{Area="Datahub"})';
    var urlCreateStaticDataType = '@Url.Action("CreateStaticDataType","StaticDataManager",new{Area="Datahub"})';
    var staticDataMessage = '@TempData["StaticDataMessage"]';
    var urlEditStaticDataType = '@Url.Action("EditStaticDataType","StaticDataManager",new{Area="Datahub"})';
    var urlDeleteStaticDataType = '@Url.Action("DeleteStaticDataType","StaticDataManager",new{Area="Datahub"})';

    var urlCreateStaticDataValue = '@Url.Action("CreateStaticDataValue","StaticDataManager",new{Area="Datahub"})';
    var urlEditStaticDataValue = '@Url.Action("EditStaticDataValue","StaticDataManager",new{Area="Datahub"})';
    var urlDeleteStaticDataValue = '@Url.Action("DeleteStaticDataValue","StaticDataManager",new{Area="Datahub"})';
    var errorOccuredMessage = '@Messages.ErrorOccured';
    </script>

    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/staticdatamanager-index")

}