﻿
    .gridStyle {
        width: 1024px;
        height: 350px;
    }

    .singleRow {
        background-color: #ccc;
        vertical-align: central;
    }


        .singleRow > td:hover {
            background-color: #b0b0b0;
        }

    .radio label, .checkbox label {
        padding-left: 0px;
    }

    .chkLabel {
        padding: 0px 5px;
        margin: 0px 20px;
        border-radius: 3px;
    }

    .sg-fixwidth-label {
        min-width: 190px;
        max-width: 190px;
        display: inline-block;
        vertical-align: top;
        margin-left: 0px;
        padding: 3px 10px !important;
        line-height: 19px;
        border: 1px solid transparent;
    }
    .sg-fixwidth-label:first-child{
        padding-left:0 !important;
    }
        .sg-fixwidth-label:hover {
            background-color: rgba(0,0,0,0.05);
            border: 1px solid rgba(0,0,0,0.08);
        }

        .sg-fixwidth-label input[type="checkbox"] {
            position: relative !important;
            padding: 10px;
            margin-right: 5px !important;
            margin-left: 0px !important;
            vertical-align: middle;
        }

        .sg-fixwidth-label > span {
            word-break: break-all;
        }

        /* added later*/

        .rule-container select{ height:22px;}