﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

@model GBD.UniversalDataHub.Areas.Datahub.Models.UomViewModel
@{
    ViewBag.Title = Messages.Create;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                      "<li>" + Messages_Datahub.Products + "</li>" +
                       "<li><a href='" + Url.Action("Index", "Uom", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Uom + "</a></li>" +
                      "<li class='active'>" + Messages.Create + "</li>" +
                  "</ol>");
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @*@Html.HiddenFor(m => m.StoreId).Databind("value: StoreId")*@

                                @Html.GbdLabelFor(m => m.SourceUOM, new { @class = "control-label" })
                            </div>
                            @Html.TextBoxFor(m => m.SourceUOM, new { @class = "form-control allow-html" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SourceUOM)
                    </div>
                    
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @*@Html.HiddenFor(m => m.StoreId).Databind("value: StoreId")*@

                                @Html.GbdLabelFor(m => m.TargetUOM, new { @class = "control-label" })
                            </div>
                            @Html.TextBoxFor(m => m.TargetUOM, new { @class = "form-control allow-html" })
                        </div>
                        @Html.ValidationMessageFor(m => m.TargetUOM)
                    </div>

                    @*<div class="clearfix mgbtm8"></div>*@
                </div>
                <div class="clearfix mgbtm8"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.OrderBy, new { @class = "control-label" })
                            </div>
                         
                            @Html.DropDownListFor(m => m.OrderBy, new[]
                            {
                                new SelectListItem() {Text = Messages.PleaseSelect, Value = ""},
                                new SelectListItem() {Text = "by the Piece", Value = "P"},
                                new SelectListItem() {Text = "by the Lot", Value = "L"}//,
                                //new SelectListItem() {Text = "by the Piece in fixed Lot", Value = "Q"}
                            }, new { @class = "form-control" }).Databind("value: OrderBy")

                        </div>
                        @Html.ValidationMessageFor(m => m.OrderBy)
                    </div>
                </div>

                <div class="btn-container">
                    @Html.GbdSubmitButton("CreateUom", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            }
        </div>
            </div>
</div>