﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers


@{
    ViewBag.Title = Messages_Datahub.Uom;
    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                     "<li>" + Messages_Datahub.Products + "</li>" +
                      "<li><a href='" + Url.Action("Index", "Uom", new { Area = "Datahub" }) + "'>" + Messages_Datahub.Uom + "</a></li>" +
                     "<li class='active'>" + Messages.List + "</li>" +
                 "</ol>");
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @Messages_Datahub.Uom
        </li>
    </ul>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">

                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Create, "btn", Messages.Add, "btnAddUom")
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Update, "btn", Messages.Edit, "btnUpdateUom")
                @Html.GbdAuthorizedButton((List<string>)ViewBag.Mappings, ACLActions.Delete, "btn", Messages.Delete, "btnDeleteUom")

            </div>
        </div>
        @* Data Table Section *@
        <div class="sg-datatable-wrap">
            <table id="UomDataTable">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllCheckBoxUom" class="selectAll"></th>
                        <th>Source UOM</th>
                        <th>Target UOM</th>
                        <th>Order By</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@using (Html.GbdConfirmDialog("DeleteUomModal", "Delete Uom(s)"))
{
    <h5>@String.Format(Messages_Datahub.Confirmation_Message_0_TheChecked_1, Messages.Delete, "Uom" + Messages.PluralSuffix)?</h5>
}






@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>

        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        var urlListUom = '@Url.Action("GetUomDataTable", "Uom", new {Area = "Datahub"})';
        var urlCreateUom = '@Url.Action("Create","Uom",new { Area = "Datahub"})'
        var urlUpdateUom = '@Url.Action("Edit","Uom",new { Area = "Datahub"})'
        var urlDeleteUom = '@Url.Action("Delete","Uom",new { Area = "Datahub"})'


        var uomMessage = '@TempData["UomMessage"]';
        if (uomMessage) {
            alertmsg("green", uomMessage);
        }

    </script>
    @Scripts.Render("~/Styles/jquery.mixitup")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/Areas/Datahub/Uom/uom.js"></script>
}
