﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

@*<a> <i id="btnLoadProduct" class="btn btn-primary"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;@Messages_Datahub.Load</i></a>*@

<div class="sg-datatable-wrap udh-tooltip-wrap ">
 
    <table id="PIMProductAssociateDataTable">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAllCheckBoxProduct" class="selectAll"></th>
                <th>@Messages_Datahub.Name</th>
                <th>@Messages_Datahub.LocalSKU</th>
                <th> @Messages_Datahub.Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="clearfix mgbtm8"></div>

<div class="pagination-holder btn-asso">
    <div id="pagination"></div>
</div>

