﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

<div id="dialog-create-kit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Products</h4>
            </div>
            <div class="modal-body">
                Please click on search button below to go to search page. 
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="@Url.Action("Index", "Catalog", new { area = "Datahub", primaryVendorProductOnly ="true"})"><i class="fa fa-search"></i> @Messages.Search</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@


<div id="dialog-add-kit-items" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Products</h4>
            </div>
            <div class="modal-body">
                To add kit, please search products first.
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="add-kitItems-link"><i class="fa fa-search"></i> @Messages.Search</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@

