﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMKitViewModel

<fieldset>
    <fieldset>

        <div class="content-wrapper custom-wrapper">
            <div class="row">

                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">

                            @Html.GbdLabelFor(m => m.Name, new { @class = "control-label" })
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control allow-html" }).Databind("value: Name")
                    </div>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.KitSKU, new { @class = "control-label" })
                        </div>

                        @Html.TextBoxFor(m => m.KitSKU, new { @class = "form-control localSkuTypeMask" }).Databind("value: KitSKU")
                    </div>
                    @Html.ValidationMessageFor(m => m.KitSKU)
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.ShortDescription, new { @class = "control-label" })
                        </div>
                        @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control allow-html" }).Databind("value: ShortDescription")
                    </div>
                    @Html.ValidationMessageFor(m => m.ShortDescription)
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.Label("SkyGeek PN")
                        </div>

                        @Html.TextBoxFor(m => m.SkyGeekPN, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: SkyGeekPN")
                    </div>
                    @Html.ValidationMessageFor(m => m.SkyGeekPN)
                </div>


                <div class="clearfix mgbtm8"></div>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.PlatformQualifier, new { @class = "control-label" })
                        </div>
                        @Html.DropDownList("PlatformQualifier", (IEnumerable<SelectListItem>)ViewBag.PlatformQualifier, new { multiple = "", size = "1" }).Databind("selectedOptions: PlatformQualifiers")
                    </div>
                    @Html.ValidationMessageFor(m => m.PlatformQualifier)
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.SellingSku, new { @class = "control-label" })
                        </div>

                        @Html.TextBoxFor(m => m.SellingSku, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: SellingSku")
                    </div>
                    @Html.ValidationMessageFor(m => m.SellingSku)
                </div>



                <div class="clearfix mgbtm8"></div>

                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.ProductCategoryId, new { @class = "control-label" })
                        </div>
                        @Html.DropDownListFor(x => x.ProductCategoryId, (IEnumerable<SelectListItem>)ViewData["ProductCategoryList"], new { multiple = "", size = "1" }).Databind("selectedOptions: ProductCategoryKitIds")
                    </div>
                    @Html.ValidationMessageFor(m => m.ProductCategoryId)
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Location, new { @class = "control-label" })
                        </div>

                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control allow-html" }).Databind("value: Location")
                    </div>
                    @Html.ValidationMessageFor(m => m.Location)
                </div>

                <div class="clearfix mgbtm8"></div>

                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.Label("BC Brand")
                            @* @Html.GbdLabelFor(m => m.BrandId, new { @class = "control-label" })*@
                        </div>

                        @Html.DropDownListFor(x => x.BrandId, (IEnumerable<SelectListItem>)ViewData["BrandList"], "--Choose", new { @class = "form-control ", @id = "BrandId" }).Databind("value: BrandId")
                    </div>
                    @Html.ValidationMessageFor(m => m.BrandId)
                </div>
                <div class="clearfix mgbtm8"></div>
                @*<div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.Label("GoogleItem Id")
                        </div>

                        @Html.TextBoxFor(m => m.GoogleItemIdOverride, new { @class = "form-control localSkuTypeMask", @readonly = "readonly" }).Databind("value: GoogleItemIdOverride")
                    </div>
                    @Html.ValidationMessageFor(m => m.GoogleItemIdOverride)
                </div>*@
                @if (ViewData["ClientConfig"] != null && ViewData["ClientConfig"].ToString().ToLower().Contains("store") && (IEnumerable<SelectListItem>)ViewData["Stores"] != null)
                {
                    <div class="clearfix mgbtm8"></div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.StoreId, new { @class = "control-label" })
                            </div>

                            @Html.DropDownListFor(x => x.StoreId, (IEnumerable<SelectListItem>)ViewData["Stores"], Messages.PleaseSelect, new { @class = "form-control ", @id = "StoreId" }).Databind("value: StoreId, enable:IsStoreEnabled")


                        </div>
                        @Html.ValidationMessageFor(m => m.StoreId)
                    </div>
                }
            </div>
        </div>
    </fieldset>
<div class="content-wrapper custom-wrapper">
    <div class="custom-fields">
        @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_CustomFieldsByGroup.cshtml", Model.CustomTemplateGroup)
    </div>
</div>
<div class="clearfix"> </div>

@if (ViewData["ClientConfig"] != null && ((string) ViewData["ClientConfig"]).ToLower().Contains("store"))
{
    <fieldset>
        <legend>
            <h4>@Messages_Datahub.Pricing</h4>
        </legend>

        <div class="content-wrapper custom-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Price, new {@class = "control-label"})

                        </div>
                        @Html.TextBoxFor(m => m.Price, new {@class = "form-control"}).Databind("value: Price")
                    </div>
                    @Html.ValidationMessageFor(m => m.Price)
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.SalePrice, new {@class = "control-label"})
                        </div>
                        @Html.TextBoxFor(m => m.SalePrice, new {@class = "form-control"}).Databind("value: SalePrice")
                    </div>
                    @Html.ValidationMessageFor(m => m.SalePrice)
                </div>
            </div>
        </div>
    </fieldset>
}
</fieldset>