﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@using GBD.UniversalDataHub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMKitViewModel
<div class="product-catalog">
    <strong class="title">
        <label>@Messages_Datahub.KitName:</label>
        <span data-bind="text: Name"></span>
        |
        <label>@Messages_Datahub.KitSKU:</label>
        <span data-bind="text: KitSKU().toUpperCase()"></span>
        |
        <span class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Disabling discontinues in SEOM and deletes from yahoo">
            @Html.GbdLabelFor(m => m.IsDisabled)

            @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
        </span>
</strong>
</div>
<div class="clearfix"></div>

<div class="product sg-kit-custom">
    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.General</a></li>
        <li role="presentation"><a href="#kitItems" aria-controls="home" role="tab" data-toggle="tab" id="kit-items">@Messages_Datahub.KitItems</a></li>
        <li role="presentation"><a href="#pricing" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.Pricing</a></li>
        @*<li role="presentation"><a href="#customFields" aria-controls="home" role="tab" data-toggle="tab">@Messages_Datahub.CustomFields</a></li>*@
        <li role="presentation"><a href="#history" aria-controls="home" role="tab" data-toggle="tab" id="tab_pc_history">@Messages_Datahub.History</a></li>
        <li class="pull-right">
            @if (Model.Id > 0)
            {
                @Html.GbdButton("editKit", Messages.Save).Databind("click: edit")
            }
            else
            {
                @Html.GbdButton("editKit", Messages.Save).Databind("click: create")
            }
            @Html.GbdResetButton(Messages.Cancel)
        </li>    
    </ul>

    <div class="tab-content has-tab">

        <div class="tab-pane fade in active" id="general">
            @Html.Partial("_General")
        </div>

        <div class="tab-pane fade" id="kitItems">
            @Html.Partial("_KitItems")
        </div>

        <div class="tab-pane fade" id="pricing">
            @Html.Partial("_Pricing")
        </div>

        @*<div class="tab-pane fade" id="customFields">*@
            @*@Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_CustomFields.cshtml")*@
        @*</div>*@

        <div class="tab-pane fade" id="history">
            @Html.Partial("_History")
        </div>
    </div>
    

    </div>