﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers

<div data-bind="visible: false">
    Ooops! Something wrong with your data prevented from displaying all information.
</div>

<div style="display: none;" data-bind="visible:true" class="clearfix mgbtm8"></div>

<a> <i id="btnAddKitItemProduct" class="btn btn-primary"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;@Messages.Add</i></a>
@*<a> <i id="deletebutton" class="btn btn-primary"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;@Messages.Delete</i></a>*@
<div class="handsontable-wrapper">
    <div id="kits-table"></div>
</div>

<div id="dialog-add-kititemproduct" class="modal fade" >
    <div class="modal-dialog" style="width:85%;margin-top:-50px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Products</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_AddKitItem")
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    @*<button id="btnAssociateProduct" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp; AssociateProduct</button>*@
                    <a> <i id="btnAssociateProduct" class="btn btn-primary"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;AssociateProduct</i></a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Dialog box end*@
@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>

        .tooltip-inner {
            max-width: 170px !important;
            white-space: pre-wrap;
        }
    </style>
}
