﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMKitViewModel
<div class="row">
    <div class="col-md-6">

        <fieldset>

            @*<legend>
                    <h4> @Messages_Datahub.BasePricing  </h4>
                </legend>*@

            @*Base Pricing Start*@

            <div class="row">
                <div class="clearfix mgbtm8"> </div>
                <div class="col-lg-5 col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon default">
                            @Html.GbdLabelFor(m => m.Cost, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip pull-left", @data_placement = "top", @title = "Cost: The cost of the product" })
                        </div>
                        <div>
                            @Html.EditorFor(m => m.SelectedCost).Databind("value: SelectedCost, enable: false, style: { color: Cost() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                            @*<a class="sg-tooltip" data-toggle="tooltip pull-left" data-placement="top" title="Selling price: The price at which we sell to client">?</a>*@
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.Cost).Databind("value: Cost, enable: false, style: { color: Cost() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                            @*<a class="sg-tooltip" data-toggle="tooltip pull-left" data-placement="top" title="Selling price: The price at which we sell to client">?</a>*@
                        </div>
                        @*<div class="input-group-addon">
                    <input type="checkbox" value="LockCost" id="LockCost" data-bind="checked: IsCostLocked" />
                    <label for="LockCost">@Messages.LockCost</label>
                </div>*@
                    </div>
                    @Html.ValidationMessageFor(m => m.SelectedCost)
                </div>
                <div class="clearfix mgbtm8"></div>
                <div data-bind="with: PricingCustomField">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon sg-tooltip has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Quantity Per Lot to the customer. Disabled when an item is SEOM only.">
                                @Html.GbdLabelFor(m => m.PricingCustomField.case_qty)

                                @if (Model.PricingCustomField.case_qty_required == true)
                                {
                                    <label class="errorPara">*</label>
                                }

                                @*<label for="caseQuantity" class="col-sm-3 control-label">Case Quantity</label>*@
                            </div>

                            @Html.EditorFor(m => m.PricingCustomField.case_qty).Databind("value: case_qty").GbdAddCssClass("form-control " + (Model.PricingCustomField.case_qty_readonly == true ? "non-editable" : ""))
                            @*<input type="text" class="form-control" id="caseQuanity" />*@
                        </div>
                        @*@Html.ValidationMessageFor(m => m.UOM)*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label for="UomList" class="col-sm-3 control-label">@Messages.Unit</label>
                        </div>

                        <div>
                            @*@Html.DropDownListFor(x => x.UOM, (IEnumerable<SelectListItem>)ViewData["UnitOfMeasureList"], Messages.PleaseSelect, new { @class = "form-control ", @id = "vendor" })*@
                            <select id="UomList" class="form-control" data-bind='options: unitOfMeasureList, optionsCaption: "@Messages.PleaseSelect", value: UOM'> </select>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.UOM)
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="col-lg-7 col-md-12 pricing-margin">
                    <div class="input-group">
                        <div class="input-group-addon default has-tooltip">
                            <label for="MarginPercent" class="control-label sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin percent: The gross margin percentage">@Messages.Margin @Messages.PercentSign</label>
                        </div>
                        <input class="form-control" type="text" id="MarginPercent" name="MarginPercent" data-bind="value: MarginPercent, disable: IsMarginLocked() || Cost() <= 0, style: {color: MarginPercent() < 0 ? 'red' : 'black'}" />

                        @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin percent: The gross margin percentage">?</a>*@
                        <div class="input-group-addon default has-tooltip">
                            <label for="MarginAmount" class="control-label sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin amount: The actual margin amount">@Messages.Margin @Messages.DollarSign</label>
                        </div>
                        <input class="form-control" type="text" id="MarginAmount" name="MarginAmount" data-bind="value: MarginAmount, disable: IsMarginLocked() || Cost() <= 0, style: { color: MarginAmount() < 0 ? 'red' : 'black'}" />
                        @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin amount: The actual margin amount">?</a>*@
                        <div class="input-group-addon default">
                            <input type="checkbox" value="LockMargin" id="LockMargin" data-bind="checked: IsMarginLocked" />
                            <label for="LockMargin">@Messages.LockMargin</label>
                        </div>
                    </div>
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.Price, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Unit Selling price: The Unit selling price" })
                        </div>
                        <div>
                            @Html.EditorFor(m => m.Price).Databind("value: Price, enable: !IsSalePriceLocked(), style: { color: Price() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                            @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Selling price: The selling price">?</a>*@
                        </div>
                        @*<div class="col-md-5">
                    <input type="checkbox" value="Lock Sale price" id="LockSalePrice" data-bind="checked: IsSalePriceLocked"/>
                    <label for="LockSalePrice">Lock Selling Price</label>
                </div>*@
                    </div>
                    @Html.ValidationMessageFor(m => m.Price)
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.SellingPrice, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Selling price: The selling price" })
                        </div>
                        <div>
                            @Html.EditorFor(m => m.SellingPrice).Databind("value: SellingPrice, enable: !IsSalePriceLocked(), style: { color: SellingPrice() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                            @*<a class="sg-tooltip" data-toggle="tooltip" data-placement="top" title="Selling price: The selling price">?</a>*@
                        </div>
                        @*<div class="col-md-5">
                    <input type="checkbox" value="Lock Sale price" id="LockSalePrice" data-bind="checked: IsSalePriceLocked"/>
                    <label for="LockSalePrice">Lock Selling Price</label>
                </div>*@
                    </div>
                    @Html.ValidationMessageFor(m => m.SellingPrice)
                </div>

                <div class="clearfix mgbtm8"> </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.HasSalePriceForClearance, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip pull-left", @data_placement = "top", @title = "Check if the kit has sale price for clearance (for sale)" })
                        </div>
                        <div class="input-group-addon form-info">
                            @Html.EditorFor(m => m.HasSalePriceForClearance).Databind("checked: hasSalePriceForClearance, disable: Cost() <= 0")
                        </div>

                        @*<a class="sg-tooltip" data-toggle="tooltip pull-left" data-placement="top" title="Check if the product has sale price for clearance (for sale)">?</a>*@

                        @*<div class="col-sm-5">
                    <input type="checkbox" value="LockPrice" id="LockPrice" data-bind="checked: IsCostLocked"/>
                    <label for="LockPrice">Lock Cost</label>
                </div>*@
                    </div>
                    @Html.ValidationMessageFor(m => m.HasSalePriceForClearance)

                </div>
                <div class="col-md-5" data-bind="visible: hasSalePriceForClearance">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.GbdLabelFor(m => m.SalePriceForClearanceMarginPercent)
                        </div>
                        @Html.EditorFor(m => m.SalePriceForClearanceMarginPercent).Databind("value: salePriceForClearanceMarginPercent, enable: hasSalePriceForClearance, style: { color: salePriceForClearanceMarginPercent() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")

                    </div>
                    <p class="errorPara"> @Html.ValidationMessageFor(m => m.SalePriceForClearanceMarginPercent)</p>
                </div>
                <div data-bind="visible: hasSalePriceForClearance">
                    <div class="clearfix mgbtm8"></div>

                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.SalePrice)
                            </div>
                            <div class="input-group">
                                @Html.EditorFor(m => m.SalePrice).Databind("value: SalePrice, enable: hasSalePriceForClearance, style: { color: SalePrice() < 0 ? 'red' : 'black'}").GbdAddCssClass("form-control")
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @*  @Html.GbdLabelFor(m => m.TotalSalePrice, new { @class = "control-label sg-tooltip", @data_toggle = "tooltip", @data_placement = "top", @title = "Selling price: The selling price" })*@
                                @Html.Label("Selling Sale Price")
                            </div>
                            <div>
                                @Html.EditorFor(m => m.TotalSalePrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }).Databind("value: TotalSalePrice").GbdAddCssClass("form-control")
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.TotalSalePrice)
                    </div>

                </div>
                <div class="clearfix mgbtm8"></div>

                <div>

                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.CoreExchangeFee)
                            </div>
                            <div class="input-group">
                                @Html.EditorFor(m => m.CoreExchangeFee, new { htmlAttributes = new { @class = "form-control" } }).Databind("value: CoreExchangeFee").GbdAddCssClass("form-control")
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.CoreExchangeFee)
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.CrateFee)
                            </div>
                            <div>
                                @Html.EditorFor(m => m.CrateFee, new { htmlAttributes = new { @class = "form-control" } }).Databind("value: CrateFee").GbdAddCssClass("form-control")
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.CrateFee)
                    </div>

                </div>


                <div class="clearfix mgbtm8"></div>

                @*//SKYG-723*@
                <div data-bind="with: PricingCustomField">
                    <div class="col-md-3">
                        <div class="input-group ">
                            <div class="input-group-addon">
                                @Html.LabelFor(m => m.QOH)
                                @*is Required False*@
                            </div>
                            @*is Readonly true*@
                            @Html.EditorFor(m => m.QOH).Databind("text:QOH").GbdAddCssClass("form-control non-editable")
                        </div>

                    </div>
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div title="" data-placement="bottom" data-toggle="tooltip" class="input-group-addon sg-tooltip has-tooltip" data-original-title="Pricing Note">
                            @Html.GbdLabelFor(m => m.Note)
                        </div>
                        @Html.EditorFor(m => m.Note).Databind("value: Note").GbdAddCssClass("form-control allow-html")
                        @*@Html.TextAreaFor(m => m.Note, new { @class="form_control", @rows=2 }).Databind("value: Note")*@
                        @*<textarea rows="2" class="form-control" name="Note" id="Note" data-bind="value: Note"></textarea>*@
                    </div>

                </div>
            </div>

        </fieldset>


        @*Base Pricing End*@

        <div class="clearfix"></div>

        @*Pricing Levels Start*@

        @* Grid columns: SKU/Kit, Unit Price, Unit, Qualification*@
        <fieldset>
            <legend>
                <h4>@Messages_Datahub.PricingLevels</h4>
            </legend>
            <div class="content-wrapper">
                <ul class="list-group pricing" id="table-pricing-level">
                    <li class="list-group-item title">
                        <span class="col-sm-2">@Messages_Datahub.Quantity</span>
                        @*<span class="col-sm-2">@Messages_Datahub.QuantityTo</span>*@
                        <span class="col-sm-3">@Messages.Margin @Messages.PercentSign</span>
                        <span class="col-sm-3">@Messages.Margin @Messages.DollarSign</span>
                        <span class="col-sm-4">@Messages.SellingPrice</span>
                        
                    </li>
                    <div data-bind="visible: false">
                        Ooops! Something wrong with your data prevented from displaying all information.
                    </div>
                    <div style="display: none;" data-bind='foreach: PricingLevels, visible: true'>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <input type="text" class='required number form-control' data-bind="value: QuantityFrom, style: { color: QuantityFrom() < 2 ? ' red':'black' }" />
                                        <span class="input-group-addon form-info sg-tooltip" data-toggle="tooltip" data-placement="top" title="Margin % for mentioned quantity or greater">+</span>
                                    </div>
                                </div>
                                @*<span class="col-sm-2"><input type="text" class='required number form-control' data-bind="value: QuantityTo, style: { color: QuantityTo() < 2 ? ' red':'black' }" /></span>*@

                                <span class="col-sm-3">
                                    <input type="text" class='required number form-control' data-bind="value: GrossMarginPercent, disable:$root.Cost() <= 0|| $root.IsMarginLocked(), style: { color: GrossMarginPercent() < 0 ? ' red':'black' }" />
                                    @*<span class="input-group-addon">%</span>*@
                                </span>
                                <span class="col-sm-3"><input class="form-control" type="text" data-bind="value: GrossMarginAmount, disable: true, style: { color: GrossMarginAmount() < 0 ? 'red' : 'black'}" /></span>

                                <span class="col-sm-4">
                                    <div class="row">
                                        <span class="col-md-10">
                                            <input class="form-control" type="text" data-bind="value: PriceForPricingLevel, disable: $root.Cost() <= 0, style: { color: PriceForPricingLevel() < 0 ? 'red' : 'black' }" />
                                        </span>

                                        <a href='#' class="btn btn-danger " data-bind='click: $root.removePricingLevel' data-toggle='tooltip' data-placement='top' title='Cancel'><i class="fa fa-close"></i></a>
                                    </div>
                                </span>
                            </div>
                        </li>
                    </div>
                </ul>
                @*@Html.GbdButton("add-more-pricing-level", Messages.AddMore).Databind("click: addPricingLevel")*@
                <button id="add-more-pricing-level" class="btn btn-primary" data-bind="click: addPricingLevel, disable: Cost() <= 0">
                    @Messages.AddMore <i class="fa fa-plus"></i>
                </button>
            </div>
        </fieldset>

        @*Pricing Levels End*@

    </div>

</div>
