﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources

<div id="MarginLeveNegativeDueToFifoCostModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-warning">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">Pricing Level Margin Low due to Selected Cost  </h4>
            </div>
            <div class="modal-body">
                <h5>
                    Pricing level Margin is negative .
                    <br />
                    If you agreed to continue further pricing levels will be removed if any.
                    <br />
                    Do you want to Continue?
                </h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnYesMarginLevelNegativeCostModal" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="btnNoMarginLevelNegativeCostModal" type="submit">@Messages.No</button>
            </div>
        </div>
    </div>
</div>