﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.ProductCatalogViewModel

@{
    ViewBag.Title = Messages.Edit + " " + GBD.UniversalDataHub.AppServices.Resources.Messages_Menu.Kit;
}

@*<h2>@Messages_Menu.PIMProduct - @Messages.CreateNew</h2>*@
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Add @Messages_Menu.ProductCatalog</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @*@using (Html.BeginForm(new { id = Request["id"].ToString(), ReturnUrl = ViewBag.ReturnUrl }))*@
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, workflowId = Request["workflowId"], stepId = Request["stepId"] }))
        {
            @*@Html.AntiForgeryToken()*@

            @Html.HiddenFor(m => m.Id).Databind("value: Id")

            <div class="product-edit product-catalog">

                <strong class="title">
                    <label>Product Name:</label>
                    <span data-bind="text: Name"></span>
                    @*@Html.TextBoxFor(m => m.Name).Databind("value: Name, enable: false")*@
                    |
                    <label>Local Part Number:</label>
                    <span data-bind="text: LocalSku"></span>
                    @*@Html.TextBoxFor(m => m.LocalSku).Databind("value: LocalSku, enable: false")*@
                    |
                    @Html.GbdLabelFor(m => m.IsDisabled)
                    @Html.EditorFor(m => m.IsDisabled).Databind("checked: IsDisabled")
                </strong>


                <div class="clearfix"></div>

                @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_ProductCatalog.cshtml")

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="btn-container">
                        @*@Html.GbdButton("SaveProductCatalog", Messages.Save).Databind("click: save")*@
                        @Html.GbdButton("EditProductCatalog", Messages.Save).Databind("click: edit")
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                </div>
            </div>
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_CompareSupplierDialog.cshtml")

            @*@Html.Partial("_CreateInventorySupplierDialog")*@

        }
    </div>
</div>
@section styles
{
    <style>
    </style>


    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/bootstrap-switch")
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ko-extenders-numeric")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
    var storeId = getQueryStringByName("StoreId");


    var qualifiersListViewBag = @Html.Raw(ViewBag.QualifiersList);
    var unitOfMeasureListViewBag = '@Html.Raw(ViewBag.UnitOfMeasureList)';
    var supplierListViewBag = '@Html.Raw(ViewBag.SupplierList)';
    @*var allSupplierListViewBag = '@Html.Raw(ViewBag.AllSupplierList)';*@
    var createUrl = '@Url.Action("Create", "ProductCatalog", new {Area = "Datahub"})';
    var editUrl = '@Url.Action("Edit", "ProductCatalog", new { Area = "Datahub" })';
    var validationMessage = "@Messages.Validation_Enter_Required_Fields";
    var productCatalogVm = '@Html.Raw(ViewBag.ProductCatalogVm)';
    var vendorProductSetPrimaryUrl = '@Url.Action("VendorProductSetPrimary", "CatalogManager", new { Area = "" })';
    var vendorProductGetPrimaryIdUrl = '@Url.Action("VendorProductGetPrimaryId", "CatalogManager", new { Area = "" })';
    var Alert_VendorProductSetPrimarySuccess = '@Messages_Datahub.Alert_VendorProductSetPrimarySuccess';
    var urlEditVendorProductCatalog = '@Url.Action("Edit", "VendorProductCatalog", new { Area = "Datahub" })';
    var returnObject = '@Html.Raw(ViewBag.ReturnObject)';
    var showAllProductCatalogTabs = '@Html.Raw(ViewBag.ShowAllProductCatalogTabs)';

    var customFieldTemplatesViewBag = '@Html.Raw(ViewBag.CustomFieldTemplates)';
    var customFieldsViewBag = '@Html.Raw(ViewBag.CustomFields)';

    var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues","ProductCatalog",new{Area="Datahub"})';
    var pleaseSelectText = '@Messages.PleaseSelect';
    var isStoreEnabled = false;
    var urlGetRequiredCustomFieldsForSaving = '@Url.Action("GetRequiredCustomFieldsForSaving","ProductCatalog",new{Area="Datahub"})';
        var requiredCustomFieldsJson = '@ViewBag.RequiredCustomFields';


    </script>

    @Scripts.Render("~/bundles/bootstrap-switch")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/productcatalog-create")

}

