﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMKitViewModel

@{
    ViewBag.Title = Messages_Datahub.EditKit;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
               "<li>" + Messages_Datahub.Products + "</li>" +
               "<li class='active'>" + Messages_Datahub.EditKit + "</li>" +
           "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.Partial("_Kits")
            <div class="row">
                <div class="col-md-12">

                    <div class="btn-container">
                        @if (Model.Id > 0)
                        {
                            @Html.GbdButton("editKit", Messages.Save).Databind("click: edit")
                        }
                        else
                        {
                            @Html.GbdButton("editKit", Messages.Save).Databind("click: create")
                        }
                        @Html.GbdCancelButton(Messages.Cancel)
                    </div>
                </div>
            </div>
            @Html.Partial("~/Areas/Datahub/Views/Kits/_PricingLevelNegativeDialogue.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/Kits/_KitMarginNegative.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_CostThresholdDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_PriceRangeDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_PriceAndCostSameDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_YahooIdConfirmationDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_QuantityDiscountRoundUpConfirmationDialog.cshtml")
            @Html.Partial("~/Areas/Datahub/Views/ProductCatalog/_SaleMarginAlertDialog.cshtml")


        }
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/datatable")
    @Styles.Render("~/Styles/select2")
    <style type="text/css">
        /*.htCore > tbody > tr:first-child > td {
            background-color: #EEE;
            color: #222;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
        }*/

        .select2-selection--multiple {
            overflow: hidden !important;
            height: auto !important;
        }
    </style>
}

@section scripts{
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/ko-extenders-numeric")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/select2")
    <script>
        var isStoreEnabled = true;
        var storeId = getQueryStringByName("StoreId");
        var kitPricingData = '@ViewBag.KitPricingData';
        var urlKitIndex = '@Url.Action("Index", "Kits", new {Area = "Datahub"})';
        var columns = '@ViewBag.ColumnsJson';
        var urlEditKit = '@Url.Action("Edit", "Kits", new {Area = "Datahub"})';
        var urlKitPricing = '@Url.Action("KitPricing", "Kits", new {Area = "Datahub"})';
        var getProductSeomStatus =
            '@Url.Action("GetProductSeomStatus", "Kits", new { Area = "Datahub", productId=Model.Id })';
        var getProductHistoryTable =
            '@Url.Action("GetProductPricingHistoryTable", "Kits", new { Area = "Datahub", productId=Model.Id })';

        var kitsVm = '@ViewBag.KitsVm';
        var unitOfMeasureListViewBag = '@ViewBag.UnitOfMeasureList';
        var valuRequiredCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_CustomField_0';
        var customFieldNameRequiredMessage = '@Messages_Datahub.Validation_CustomField_NameNotBlank';
        var customFieldValueRequiredMessage = '@Messages_Datahub.Validation_CustomFieldValue_NotBlank_ForCustomfield_0';
        var valueRequiredOtherCustomFieldMessage = '@Messages_Datahub.Validation_ValueRequiredFor_OtherCustomFields_0';
        var fillUpAllRequiredCustomFields = '@Messages_Datahub.Validation_Fillup_AllRequiredCustomFields';

        var errorOccurredMessage = '@Messages.ErrorOccured';
        var urlGetStaticDataValues = '@Url.Action("GetStaticDataValues", "ProductCatalog", new {Area = "Datahub"})';
        var pleaseSelectText = '@Messages.PleaseSelect';
        var urlListProducts = '@Url.Action("ProductAssociateDataTable", "Kits", new {Area = "Datahub"})';
        var urlKitCreatePricingValidation = '@Url.Action("KitCreatePricingValidation","Catalog",new{Area="Datahub"})';
        var associateProducts = '@Url.Action("AssignProductsToKit", "Kits", new {Area = "Datahub"})';
        var deleteKitItem = '@Url.Action("DeleteKitItem", "Kits", new {Area = "Datahub"})';
        var updatePricingKitItem = '@Url.Action("UpdatePimPricing", "Kits", new {Area = "Datahub"})';
        ////kit name and kitsku should not be disabled, to match the behaviour same like product
        //$("#Name").attr("disabled", true);
        //$("#KitSKU").attr("disabled", true);
    </script>

    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldvalidate")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricing-validation")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfield-transform")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/pricingcustomfield-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/customfieldbygroup-vm")
    @Scripts.Render("~/bundles/area/datahub/kits/kitsmanage-cf-vm")
    @Scripts.Render("~/bundles/area/datahub/productcatalog/productcatalog-history")

    @*<script src="~/Scripts/Areas/Datahub/Kits/kits-manage-cf.js"></script>*@

}
