﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Datahub.KitManager;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                 "<li>" + Messages_Datahub.Products + "</li>" +
                 "<li class='active'>" + Messages_Datahub.KitManager + "</li>" +
             "</ol>");
}
<div class="w1">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="sg-catalog-one  col-md-6">
            <div class="sg-tab-bar sub">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs udh" role="tablist">
                    <li class="active header">@Messages_Datahub.KitManager</li>
                </ul>
                <div class="expand-cat-one expand-btn">
                    <span id="expand-pc" title="" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-original-title="Expand"></span>
            </div>
                <div style="" class="collapse"><span title="Collapse" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-arrow-left sg-tooltip"></span></div>
            </div>
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        @{
                            var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                            if (authorizedActions.Any())
                            {
                                @Html.GbdDialogOpenButton("btn-create-kit", Messages.Add, "dialog-create-kit", "fa fa-plus", "modal", authorizedActions, ACLActions.Create)

                                @Html.GbdButtonWithSpan("btnEdit", Messages.Edit, "glyphicon-edit", authorizedActions, ACLActions.Update)

                                @Html.GbdDialogOpenButton("btnDeleteKit", "Delete", "DeletekitModal", "glyphicon glyphicon-retweet", "modal", authorizedActions, ACLActions.Delete)

                                @Html.GbdButtonWithSpan("btnDelete", Messages.Delete, "glyphicon-trash", authorizedActions, ACLActions.Delete)

                                <button id='btnKitPricing' name='kitPricing' class='btn'> <span class='glyphicon glyphicon-usd'></span> @Messages_Datahub.Pricing</button>
                            }
                        }
                    </div>
                </div>

                @*<div id="kits-table"></div>*@
                <div class="sg-datatable-wrap">
                    <table id="kit-data-table" class="display">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckBoxKit" class="selectAll"></th>
                                <th>@Messages_Datahub.KitSKU</th>
                                <th>@Messages_Datahub.Name</th>
                                <th>@Messages_Datahub.NoOfKitItems</th>
                                @*<th>@Messages_Datahub.ProductSku</th>*@
                                @*<th>@Messages_Datahub.ProductName</th>*@
                                @*<th>@Messages_Datahub.ProductQuantity</th>*@
                                <th>@Messages.SellingPrice</th>
                                <th>@Messages.MarginPercent</th>
                                @*<th>
                                        <div class="sg-tooltip" data-toggle="tooltip" data-placement="left" title="Difference in % between Kit Selling Price and Total Product Price">Difference</div>
                                    </th>*@
                                @*<th>@Messages_Datahub.ProductPrice</th>*@
                                @*<th>Cumulative Price</th>*@
                                @*<th>@Messages_Datahub.ProductCost</th>*@
                                @*<th>Cumulative Cost</th>*@
                                @*<th>Product Quantity</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
        </div>



        <div class="sg-catalog-two col-md-6 ">
            <div class="sg-tab-bar sub">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs udh" role="tablist">
                    <li class="active header">@Messages_Datahub.KitItems</li>
                </ul>
                <div class="expand-cat-two expand-btn">
                    <span title="" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-original-title="Expand"></span>
            </div>
                <div style="" class="collapse"><span title="Collapse" data-placement="left" data-toggle="tooltip" class="glyphicon glyphicon-arrow-left sg-tooltip"></span></div>
            </div>
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <button id="btnLoadKitItem" class="btn"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;@Messages_Datahub.Load</button>
                        @*@if (authorizedActions.Any())
                            {
                                @Html.GbdButtonWithSpan("btn-add-kit-items", Messages.Add + " " + Messages_Datahub.KitItems, "fa fa-plus", authorizedActions, ACLActions.Create)

                                @Html.GbdDialogOpenButton("btn-delete-kit-item", "Delete", "divConfirmDeleteKitItem", "glyphicon glyphicon-trash", "modal", authorizedActions, ACLActions.Delete)
                            }*@

                    </div>
                </div>

                @*<div id="kits-table"></div>*@
            <div id="kit-item-Div" class="sg-datatable-wrap">
                    @*<table id="kit-item-data-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckBoxKit" class="selectAll"></th>
                                <th>@Messages_Datahub.ProductSku</th>
                                <th>@Messages_Datahub.Name</th>
                                <th>@Messages_Datahub.Quantity</th>*@
                                @*<th>
                                        <div class="sg-tooltip" data-toggle="tooltip" data-placement="left" title="Difference in % between Kit Selling Price and Total Product Price">Difference</div>
                                    </th>*@
                                @*<th>@Messages_Datahub.Price</th>
                                <th>@Messages_Datahub.TotalPrice</th>*@
                                @*<th>Cumulative Price</th>*@
                                @*<th>@Messages.MarginPercent</th>
                                <th>@Messages_Datahub.Cost</th>
                                <th>@Messages_Datahub.TotalCost</th>*@
                                @*<th>Cumulative Cost</th>*@
                                @*<th>Product Quantity</th>*@
                            @*</tr>
                        </thead>
                        <tbody></tbody>
                    </table>*@
                </div>
        </div>

        <div id="DeletekitModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">@Messages.Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title"><i class="glyphicon glyphicon glyphicon-trash"></i> Delete Kit</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure you want to delete the selected kit(s)?</h5>
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnDeletefromModel" name="ButtonType" />
                        <button class="btn btn-danger" data-dismiss="modal" id="deletekitNobtn" type="submit">@Messages.No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
@using (@Html.GbdConfirmDialog("divConfirmDeleteKitItem", "Delete Kit Item(s)"))
{
    <p>@string.Format(Messages.confirmation_Message_Delete0, "Kit Item(s)")</p>
}

@Html.Partial("_ConfirmSearch")

@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/datatable")
}

@section scripts{
    <script>
    var urlKitDataTable = '@Url.Action("GetKitDataTable", "Kits", new {Area = "Datahub"})';
    var urlKitItemDataTable = '@Url.Action("GetKitItemDataTable", "Kits", new {Area = "Datahub"})';
    var urlDeleteKits = '@Url.Action("DeleteKitItem", "Kits", new { Area = "Datahub" })';
    var urlEditKit = '@Url.Action("Edit", "Kits", new { Area = "Datahub" })';
    var urlKitPricing = '@Url.Action("Index", "BulkPricing", new { Area = "Datahub"})';
    var message_SelectKit_ToAddItems = '@Messages_Datahub.Message_SelectKit_ToAddItems';
    var message_SelectKitItem_ToDelete = '@Messages_Datahub.Message_SelectKitItem_ToDelete';
        var urlCatalogIndex = '@Url.Action("Index", "Catalog", new { area = "Datahub", primaryVendorProductOnly ="true"})';
        var urlGetKitItemDataTableColumns = '@Url.Action("GetKitItemDataTableColumns","Kits",new{Area="Datahub"})';
        var KitItemDataTableColumnsViewData = '@ViewData["KitItemDataTableColumns"].ToString()';
    </script>

    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render(" ~/bundles/area/datahub/kits-index")
<script>
    $(document).ready(function () {
        $('.expand-cat-one').click(function (e) {
         
            $('.expand-btn').hide();
            $('.collapse').show();
            $('.sg-catalog-one').show();
            $('.sg-catalog-one').removeClass('col-md-6').addClass('col-md-12');
            $('.sg-catalog-two').hide();
            initializeKitDatatable();
            TblpgntBtm();
        });

        $('.expand-cat-two').click(function () {


            $('.expand-btn').hide();
            $('.collapse').show();
            $('.sg-catalog-two').show();
            $('.sg-catalog-two').removeClass('col-md-6').addClass('col-md-12');
            $('.sg-catalog-one').hide();
            //initializeVendorProductCatalogDataTable();
            //setTimeout(customJqueryUIpara('.sg-catalog-two'), 500);
            //TblpgntBtm();
        });

        $('.collapse').click(function () {


            $('.collapse').hide();
            $('.expand-btn').show();
            $('.sg-catalog-one, .sg-catalog-two').show();
            $('.sg-catalog-one').removeClass('col-md-12').addClass('col-md-6');
            $('.sg-catalog-two').removeClass('col-md-12').addClass('col-md-6');
            initializeKitDatatable();
            //initializeVendorProductCatalogDataTable();
            //setTimeout(customJqueryUIpara('.sg-catalog-two'), 500);

            TblpgntBtm();
        });


    })
    </script>
}
