﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.KitBulkPricing;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
        "<li>" + Messages_Datahub.Products + "</li>" +
        "<li><a href='" + Url.Action("Index", "Kits", new { Area = "Datahub" }) + "'>" + Messages_Datahub.KitManager + "</a></li>" +
        "<li class='active'>" + Messages_Datahub.KitBulkPricing + "</li>" +
    "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="w1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">

                    <div class="handsontable-wrapper">
                        <div id="kits-pricing-table"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>

            <div class="btn-container">
                <button id="btn-save" class="btn btn-primary">
                    @Messages.Save
                </button>
            </div>
            <div style="visibility: collapse;">
                Search:<input type="text" id="search_field" />
            </div>

        </div>

    </div>
</div>
@section styles{

    @Styles.Render("~/Styles/handsontable")

    <style type="text/css">
        .select2-container {
            width: 100%;
        }

        .handsontable-wrapper {
            width: 100%;
            overflow: auto;
            min-height: 300px;
        }

        .handsontable .htCore thead th {
            min-width: 150px;
        }
        /*.htCore > tbody > tr:first-child > td {
            background-color: #EEE;
            color: #222;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
        }*/
        .shift-no-select-text {
            user-select: none; /* CSS3 (little to no support) */
            -ms-user-select: none; /* IE 10+ */
            -moz-user-select: none; /* Gecko (Firefox) */
            -webkit-user-select: none; /* Webkit (Safari, Chrome) */
        }

        /* Remove rounded corner of select2 */
        .select2-container .select2-choice {
            border-radius: 0 !important;
        }
    </style>

}

@section scripts{
    <script>

        @*var productIdList = '@Request["productIdList"]';
        var data = '@ViewBag.BulkPricingData';
        var columns = '@ViewBag.ColumnsJson';*@

        var data = '@ViewBag.KitPricingData';
        var columns = '@ViewBag.KitPricingColumns';
        var staticColumnsCount = '@ViewBag.StaticColumnsCount';
        var msgErrorOccured = '@Messages.ErrorOccured';
        var createUrl = '@Url.Action("KitPricing", "Kits", new {Area = "Datahub"})';

    </script>

    @Scripts.Render("~/bundles/handsontable")
    @Scripts.Render("~/bundles/pricing-calculator")
    @Scripts.Render("~/bundles/area/datahub/kits-pricing");

}
