﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources


<ul class="list-group pricing mapping" id="mapping-level">
    <li class="list-group-item title">
        <span class="col-sm-4">@Messages_Datahub.SourceColumn*</span>
        <span class="col-sm-4">@Messages.Transformation</span>
        <span class="col-sm-3">@Messages_Datahub.DestinationColumn</span>
        <span class="col-sm-1"></span>
    </li>
    <div class="mapping-data-bind" data-bind='foreach: MappingLevels'>
        <li class="list-group-item" @*style="border: 1px dashed"*@>
            <div class="col-sm-4">
                <select class="form-control" data-bind='options: importSourceColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: ImportSourceColumnSelected'> </select>
            </div>

            <div class="col-sm-4">

                @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="no-bold"> <input type="checkbox" data-bind="checked: IsDirectImport" title='True: direct import is performed if exact match is found; False: matching suggestion is recommended' /> @Messages_Datahub.DirectImport </label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind='options: productMatchAgainstTableColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: SuggestionIdentifierSelected'> </select>
                        </div>
                        <div class="clearfix mgbtm8"></div>
                    </div>
                }
                @if (((string)ViewData["AllowedTabs"]).Contains("Calculation") && (bool)ViewBag.HasTransformationRule)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="no-bold"><input type="checkbox" data-bind="checked: IsTransformationRuleUsed" title='Transformation rule to process import source column' /> @Messages_Datahub.Rule </label>
                        </div>
                        <div class="col-sm-8" data-bind='visible:IsTransformationRuleUsed'>
                            <select class="form-control" data-bind='options: transformationRuleList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: TransformationRuleSelected'> </select>
                        </div>
                    </div>
                }
            </div>
            @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
            {
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-lg-11 col-md-10 col-sm-10">
                            <select class="form-control" data-bind='options: destinationTableColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: DestinationTableColumnSelected'> </select>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href='#' class="btn btn-danger btn-block " data-bind='click: $root.removeMappingLevel' data-toggle='tooltip' data-placement='top' title='remove mapping'><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>

            }
        </li>
    </div>
</ul>

<button id="add-more-mapping" class="btn btn-primary" data-bind="click: addMoreMappingLevel">
    @Messages.AddMore <i class="fa fa-plus"></i>
</button>
