﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Datahub.IncomingToCentralDataMapping;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages_Datahub.Settings + "</li>" +
           "<li>" + Messages.Import + "</li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");
       
}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @ViewBag.Title
        </li>
    </ul>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        @*<div class="panel panel-default sg-grid-panel">
                <div class="panel-body">

                </div>

            </div>*@
        <div class="sg-datatable-wrap">
            <table id="MappingDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Messages_Datahub.DataSource</th>
                        <th>@Messages_Datahub.Destination</th>
                        <th>@Messages_Datahub.Status</th>
                        <th>@Messages.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/datatable")

}

@section scripts{

    <script type="text/javascript">
        var urlGetMappedDataTable = '@Url.Action("GetMappedDataTable", "Mapping", new {Area = "Datahub"})';
    </script>

    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/mapping-index")

}