﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.SourceDestinationMappingViewModel
@{
    ViewBag.Title = Messages_Datahub.Source + " - " + Messages_Datahub.Destination + " " + Messages_Datahub.Mapping;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.Source - @Messages_Datahub.Destination @Messages_Datahub.Mapping</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
    <div class="modal-body">
        @*<div class="content-wrapper">*@
        <div id="backgroundImportScheduledDiv">
            <div class="row">
                <form>
                    <div class="sg-mapheader-bg sg-map-header-1 col-lg-5 col-md-5 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon"> @Html.GbdLabelFor(m => m.ImportSource)</span>
                            @Html.DropDownList("Value", (List<SelectListItem>)ViewData["ImportSourceList"], Messages.PleaseSelect, new { @class = "sourceDrop1 form-control", @id = "impsrc", @styles = "width:100%;" }).Databind("value:ImportSource")
                        </div>
                    </div>
                    <div class="sg-map-header-2 col-lg-7 col-md-7 col-sm-7">
                        <div class="row">
                            <div class="col-lg-11 col-md-10 col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.GbdLabelFor(m => m.DestinationTable)</span>
                                    @Html.DropDownList("Value", (List<SelectListItem>)ViewData["DestinationTableList"], Messages.PleaseSelect, new { @class = "sourceDrop form-control", @id = "dest", @styles = "width:100%;" }).Databind("value:DestinationTable")
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2"><button class="btn btn-primary btn-block" id="mappingButton" data-bind="click: mapButton">
                                    @Messages_Datahub.Map
                            </button></div>
                        </div>
                    </div>
                </form>
                @*</div>*@
            </div>
            <hr />
            <div id="backgroundImportScheduledDivForLabel" class="alert alert-info" role="alert" style="display: none;">
                <i class="fa fa-exclamation-triangle">&nbsp;</i><label id="backgroundImportScheduledLabel" style="display: none;"></label>
                
            </div>

            <div class="row">

                <div class="sg-map-body col-md-12">
                    @Html.Partial("_MappingBlock")
                </div>

            </div>
        </div>
        <div class="clearfix mgbtm8"></div>

        <div class="btn-container">
            @if (ViewData["ClientConfigurations"] != null && ((string)ViewData["ClientConfigurations"]).Contains(ClientConfiguration.Vendor.ToString()))
            {
                <a class="btn btn-next" id="vendor-list-link" href='@Url.Action("Index", "Vendor", new {Area = "Datahub"})'>Click here to go to vendor list</a>
            }
            @if ((bool)ViewBag.ImportScheduled)
            {
                <button class="btn btn-primary" id="saveMappingButton" data-bind="click: saveMappingButton, disable:true">@Messages.Save</button>

            }
            else
            {
                <button class="btn btn-primary" id="saveMappingButton" data-bind="click: saveMappingButton, disable:false">
                    @(Request["workflowId"] == null ? Messages.Save : Messages.Next)
                </button>

            }

            @if ((bool)ViewBag.UploadInProgress)
            {
                <div class="udh-inline-block" id="fileUploadInProgressDiv">
                    <button class="btn btn-info" id="NexttoDataSync" data-bind="click: continueWithImportButton">@Messages.ContinueWithImport</button>

                    @*<button class="btn btn-primary" id="viewDataSourcebtn" data-bind="click: viewDataSourcebtn">@Messages.ViewStagingData</button>*@

                </div>
            }

            @Html.GbdResetButton(Messages.Cancel)

        </div>

        <div id="ContinueWithImportDiv" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="ContinueWithImportDivTitle" class="modal-title">Schedule the File Import</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Do you want to schedule the file import?</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="ContinueWithImportDivYes" data-bind="click: continueWithImportDivYesButton">@Messages.Schedule</button>
                        <button class="btn btn-primary" data-dismiss="modal" id="ContinueWithImportDivNo" data-bind="click:continueWithImportDivNo" type="submit">@Messages.Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        <div id="mappingcompletemodel" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title">ALERT! </h4>
                    </div>
                    <div class="modal-body">
                        <h5><label class="messagebatch"></label></h5>
                        <div class="pull-right common">
                            <a class="btn" href="@Url.Action("Index", "Dashboard", new {Area = "Datahub"})">@Messages.Dashboard</a>
                            <a class="btn" href="@Url.Action("RedirectToVendorModelUpload", "Vendor", new {Area = "Datahub"})?relationshipId=@ViewBag.relationshipId&sourceTypeId=@ViewBag.sourceTypeId" type="button">@Messages.ImportAgain</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <button class="btn" id="btnMappingCompleteModelOpen" data-target="#mappingcompletemodel" data-toggle="modal" style="visibility: hidden;"></button>

    </div>
</div>


@section styles{

    @Styles.Render("~/Styles/select2")
    <style>
        .udh-inline-block {
            display: inline-block;
        }
    </style>


}

@section scripts{


    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">
        var workflowId = '@Request["workflowId"]';
        var stepId = '@Request["stepId"]';
        var fileId = '@Request["uploadFileId"]';

        var importSourceId = '@Request["sourceId"]';
        var destinationTableId = '@Request["destinationId"]';
        var importSourceListViewBag = '@ViewBag.ImportSourceListJson';
        var destinationTableListViewBag = '@ViewBag.DestinationTableListJson';
        var productMatchAgainstTableColumnListViewBag = '@ViewBag.ProductMatchAgainstTableColumnListJson';
        var transformationRuleListViewBag = '@ViewBag.TransformationRuleListJson';
        var importSourceColumnListViewBag = '@ViewBag.ImportSourceColumnListJson';
        var destinationTableColumnListViewBag = '@ViewBag.DestinationColumnListJson';
        var mappingDataViewBag = '@ViewBag.MappingDataJson';
        var errorOccurredMessage = '@Messages.ErrorOccured';
        var urlMapSourceToDestination = '@Url.Action("MapSourceToDestination","Mapping", new{Area="Datahub"})';
        var urlSaveMapping = '@Url.Action("SaveMapping", "Mapping", new{Area="Datahub"})';
        var urlScheduleFileImport = '@Url.Action("ScheduleFileImport","Mapping", new{Area="Datahub"})';
        var urlViewDataSourceFile = '@Url.Action("ViewDataSourceFile","Vendor",new {Area="Datahub"})';
        var backgroundImportScheduledMessage = '@Messages_Datahub.Alert_BackgroundImport_InProgress_No_Mapping_ChangeForImportSource_0';
        var isBackgroundImportScheduled = '@ViewBag.ImportScheduled';
        var urlMapping = '@Url.Action("Index","Mapping", new{Area="Datahub"})';

    </script>
    @Scripts.Render("~/bundles/area/datahub/mapping-map")
}