﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.SourceDestinationMappingViewModel
@{
    ViewBag.Title = Messages_Datahub.Source + " - " + Messages_Datahub.Destination + " " + Messages_Datahub.Mapping;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.Source - @Messages_Datahub.Destination @Messages_Datahub.Mapping</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
    <div class="modal-body">
        @*<div class="content-wrapper">*@
        <div id="backgroundImportScheduledDiv">
            <div class="row">
                <form>
                    <div class="sg-mapheader-bg sg-map-header-1 col-lg-5 col-md-5 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon"> @Html.GbdLabelFor(m => m.ImportSource)</span>
                            @Html.DropDownList("Value", (List<SelectListItem>)ViewData["ImportSourceList"], Messages.PleaseSelect, new { @class = "sourceDrop1 form-control", @id = "impsrc", @styles = "width:100%;", @disabled = "disabled" }).Databind("value:ImportSource")
                        </div>
                    </div>
                    <div class="sg-map-header-2 col-lg-7 col-md-7 col-sm-7">
                        <div class="row">
                            <div class="col-lg-11 col-md-10 col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.GbdLabelFor(m => m.DestinationTable)</span>
                                    @Html.DropDownList("Value", (List<SelectListItem>)ViewData["DestinationTableList"], Messages.PleaseSelect, new { @class = "sourceDrop form-control", @id = "dest", @styles = "width:100%;", @disabled = "disabled" }).Databind("value:DestinationTable")
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <hr />


            <div class="row">
                <div class="sg-map-body col-md-12">
                    <ul class="list-group pricing mapping" id="mapping-level">
                        <li class="list-group-item title">
                            <span class="col-sm-4">@Messages_Datahub.SourceColumn*</span>
                            <span class="col-sm-4">@Messages.Transformation</span>
                            <span class="col-sm-3">@Messages_Datahub.DestinationColumn</span>
                            <span class="col-sm-1"></span>
                        </li>
                        <div class="mapping-data-bind" data-bind='foreach: MappingLevels'>
                            <li class="list-group-item" @*style="border: 1px dashed"*@>
                                <div class="col-sm-4">
                                    <select class="form-control" disabled="disabled" data-bind='options: importSourceColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: ImportSourceColumnSelected'> </select>
                                </div>

                                <div class="col-sm-4">

                                    @if (((string)ViewData["AllowedTabs"]).Contains("Matching"))
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="no-bold"> <input type="checkbox" disabled="disabled" data-bind="checked: IsDirectImport" title='True: direct import is performed if exact match is found; False: matching suggestion is recommended' /> @Messages_Datahub.DirectImport </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control" disabled="disabled" data-bind='options: productMatchAgainstTableColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: SuggestionIdentifierSelected'> </select>
                                            </div>
                                            <div class="clearfix mgbtm8"></div>
                                        </div>
                                    }
                                    @if (((string)ViewData["AllowedTabs"]).Contains("Calculation") && (bool)ViewBag.HasTransformationRule)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="no-bold"><input type="checkbox" disabled="disabled" data-bind="checked: IsTransformationRuleUsed" title='Transformation rule to process import source column' /> @Messages_Datahub.Rule </label>
                                            </div>
                                            <div class="col-sm-8" data-bind='visible:IsTransformationRuleUsed'>
                                                <select class="form-control" disabled="disabled" data-bind='options: transformationRuleList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: TransformationRuleSelected'> </select>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (((string)ViewData["AllowedTabs"]).Contains("Mapping"))
                                {
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-lg-11 col-md-10 col-sm-10">
                                                <select class="form-control" disabled="disabled" data-bind='options: destinationTableColumnList,optionsValue: "Value", optionsText: "Text", optionsCaption: "@Messages.PleaseSelect", value: DestinationTableColumnSelected'> </select>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </li>
                        </div>
                    </ul>
                </div>

            </div>
            <div class="col-md-12">
                <div class="btn-container">
                  
                    @Html.GbdResetButton(Messages.Close)

                </div>

            </div>
        </div>
        <div class="clearfix mgbtm8"></div>
    </div>
</div>


@section styles{

    @Styles.Render("~/Styles/select2")
    <style>
        .udh-inline-block {
            display: inline-block;
        }
    </style>


}

@section scripts{


    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">
        var workflowId = '@Request["workflowId"]';
        var stepId = '@Request["stepId"]';
        var fileId = '@Request["uploadFileId"]';

        var importSourceId = '@Request["sourceId"]';
        var destinationTableId = '@Request["destinationId"]';
        var importSourceListViewBag = '@ViewBag.ImportSourceListJson';
        var destinationTableListViewBag = '@ViewBag.DestinationTableListJson';
        var productMatchAgainstTableColumnListViewBag = '@ViewBag.ProductMatchAgainstTableColumnListJson';
        var transformationRuleListViewBag = '@ViewBag.TransformationRuleListJson';
        var importSourceColumnListViewBag = '@ViewBag.ImportSourceColumnListJson';
        var destinationTableColumnListViewBag = '@ViewBag.DestinationColumnListJson';
        var mappingDataViewBag = '@ViewBag.MappingDataJson';
        var errorOccurredMessage = '@Messages.ErrorOccured';
        var urlMapSourceToDestination = '@Url.Action("MapSourceToDestination","Mapping", new{Area="Datahub"})';
        var urlSaveMapping = '@Url.Action("SaveMapping", "Mapping", new{Area="Datahub"})';
        var urlScheduleFileImport = '@Url.Action("ScheduleFileImport","Mapping", new{Area="Datahub"})';
        var urlViewDataSourceFile = '@Url.Action("ViewDataSourceFile","Vendor",new {Area="Datahub"})';
        var backgroundImportScheduledMessage = '@Messages_Datahub.Alert_BackgroundImport_InProgress_No_Mapping_ChangeForImportSource_0';
        var isBackgroundImportScheduled = '@ViewBag.ImportScheduled';
        var urlMapping = '@Url.Action("Index","Mapping", new{Area="Datahub"})';

    </script>
    @Scripts.Render("~/bundles/area/datahub/mapping-map")
}