﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = Messages_Reports.ReportManager;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                       "<li>" + Messages_Reports.Report + "</li>" +
                       "<li class='active'>" + Messages_Reports.ReportManager + "</li>" +
                   "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="sg-grid-panel">
            @if (UdhClaimsIdentity.IsInGbdAdminRole())
            {
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body" id="map">
                        @Html.GbdButtonWithSpan("btnCreateSqlView", "Create View", "glyphicon glyphicon-plus")
                    </div>
                </div>
            }
            @using (@Html.BeginForm("Index", "Report", FormMethod.Post, new { Area = "Reports", @class = "form-inline" }))
            {
                <div class="row">
                    <div class="clearfix mgbtm8"> </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon report">
                                <label for="Table">@Messages_Reports.SelectTableOrView</label>
                            </div>
                            <input type="text" id="Table" class="form-control" name="Table" data-bind="value: Table"  data-items="4" autocomplete="off"                                      placeholder="@Messages_Reports.TableOrView" />

                                <span class="input-group-btn">
                                    <input type="submit" name="btnLoadTable" id="btnLoadTable" class="btn btn-primary " data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.Go" />
                                </span>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>

@section styles{

    @Styles.Render("~/Styles/area/reports/reportindex")
}


@section scripts{

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap-typehead")

    <script type="text/javascript">
       
        
        //URLs
        var urlLoadTable = '@Url.Action("LoadTable", "Report", new { area = "Reports" })';

        //data from controller to javascript
        var tablesList = @Html.Raw(ViewBag.TablesList);

                var urlCreateSqlView = '@Url.Action("CreateSqlView","Report",new{Area="Reports"})';

                $('#btnCreateSqlView').click(function () {
                    window.location = urlCreateSqlView;
                });

    </script>


    @Scripts.Render("~/bundles/area/reports/reportindex")
}