﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages_Reports.ReportViewer;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
                       "<li>" + Messages_Reports.Report + "</li>" +
                       "<li class='active'>" + Messages_Reports.ReportViewer + "</li>" +
                   "</ol>");
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div id="map">
            <div class="sg-datatable-wrap">
                <table class="display" id="udhReportList">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                            <th>@Messages_Reports.ReportName</th>
                            <th>@Messages_Reports.CreatedDate</th>
                            <th>@Messages_Reports.CreatedBy</th>
                            <th>@Messages_Reports.Action</th>
                        </tr>   
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/kogrid")

    @Styles.Render("~/Styles/datatable")

    <style type="text/css">
        .gridStyle {
            width: 1024px;
            height: 350px;
        }
    </style>
}

@section scripts{

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/kogrid")

    <script type="text/javascript">

        //define URLs used in script below
        var urlLoadTable = '@Url.Action("LoadTable", "ReportViewer", new { area = "Reports" })';
        var urlLoadData = '@Url.Action("LoadData", "ReportViewer", new { area = "Reports" })';
        var urlSaveReport = '@Url.Action("SaveReport", "ReportViewer", new { area = "Reports" })';
        var urlGetTableSchema = '@Url.Action("GetTableSchema","ReportViewer", new {area = "Reports"})';
        var urlLoadDataTable = '@Url.Action("LoadDataTable","ReportViewer",new{Area = "Reports"})';
        var urlGetReportDataTable = '@Url.Action("GetReportDataTable","ReportViewer",new{Area="Reports"})';
        var urlViewReport = '@Url.Action("ViewReport","ReportViewer",new{Area="Reports"})';

        //define Localization strings used in script below
        var jsNoRecordFound = '@Messages.NoRecordFound';
        var jsError = '@Messages.Error';
        var jsSuccess = '@Messages.Success';
        var jsFail = '@Messages.Fail';

        // define report list as raw json
        //var jsonReportList = @Html.Raw(ViewBag.ReportList);

    </script>
    @Scripts.Render("~/bundles/jsontohtml")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/reports/reportviewerindex")

}