﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Resources
@{
    ViewBag.Title = Messages.Search;
}

<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages.Search</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="panel panel-default sg-grid-panel">
        <div class="panel-body" id="map">

            <h3>@Messages_Reports.Filters</h3>
            <div id="builder"></div>

            <input type="button" name="btnLoadData" id="btnLoadData" class="btn btn-primary"
                   data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.TestReport"
                   data-bind="click: $root.LoadData" /> @*, enable: $root.SelectedCols().length > 0*@
                @*<input type="reset" class="btn btn-primary reset" value="@Messages_Reports.ResetFilter" />*@
                <br />

                <div class="input-group" data-bind="visible: myData().length > 0">
                    <span class="input-group-addon" style="color: #fff; background-color: #428bca; border-color: #357ebd;">@Messages_Reports.ReportName</span>
                    <input type="text" class="form-control" data-bind="value: ReportName" />
                </div>

                <div data-bind="visible: true">
                    <code>
                        <span id="SQLResult"></span>
                    </code>
                    <code>
                        <span id="SQLParam"></span>
                    </code>
                </div>

                <h3>@Messages_Reports.Report</h3>

                <input type="button" name="btnSaveReport" id="btnSaveReport" class="btn btn-primary"
                       data-loading-text="@Messages_Reports.Loading" value="@Messages_Reports.SaveReport"
                       data-bind="click: $root.SaveReport, enable: myData().length > 0" />

                <div class="rules-group-container" data-bind="visible: myData().length > 0">
                    <div id="myGrid" class="gridStyle" data-bind="visible: myData().length > 0, koGrid: gridOptions"></div>
                </div>


            </div>
        </div>
    </div>

@section styles{

    @Styles.Render("~/Styles/query-builder")
    @Styles.Render("~/Styles/kogrid")
    


}
