﻿@using GBD.UniversalDataHub.Areas.Reports.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{

    ViewBag.Title = ViewData["ReportName"];
}
<div class="w1">
    <div id="reportParameterDiv" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
        <div class="modal-body">

            @if (ViewData["ReportSqlWhereClause"] != null && !String.IsNullOrEmpty(Html.GbdSqlWhereParametersRenderer((string[])ViewData["ParamDataTypes"], ViewData["ReportSqlWhereClause"].ToString())))
            {
                <div class="sg-tab-bar">
                    <ul class="nav nav-tabs udh" role="tablist">
                        <li class="active header">@Messages_Reports.ReportFilters</li>
                    </ul>
                </div>
                <div class="search-holder">
                    <div class="sg-ad-search-bar ">
                        <div class='sg-more-option add'>
                            <div class="row">
                                @if (ViewData["ParamDataTypes"] != null && ViewData["ReportSqlWhereClause"] != null)
                                {
                                    @Html.Raw(Html.GbdSqlWhereParametersRenderer((string[])ViewData["ParamDataTypes"], ViewData["ReportSqlWhereClause"].ToString()))
                                }
                            </div>
                        </div>
                        <div class="search-slide add">
                            <i class="fa fa-toggle-down"></i>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="mgbtm8 clearfix"></div>
                <div class="col-md-12">
                    <div id="reportViewerDataTableDiv" class="sg-datatable-wrap">  </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    @Styles.Render("~/Styles/datatable")
    <style>
        .sg-more-option.add {
            padding-top: 0;
        }

        .search-slide.add {
            top: -4px;
        }

        #btnViewReport {
            margin-top: 8px;
        }
    </style>
}

@section scripts{


    <script type="text/javascript">
        var urlLoadTable = '@Url.Action("LoadTable", "ReportViewer", new {area = "Reports"})';
        var urlLoadData = '@Url.Action("LoadData", "ReportViewer", new {area = "Reports"})';
        var urlLoadDataTable = '@Url.Action("LoadDataTable", "ReportViewer", new {Area = "Reports"})';
        var urlGetReportDataTable = '@Url.Action("GetReportDataTable", "ReportViewer", new {Area = "Reports"})';
        var urlViewReport = '@Url.Action("ViewReport", "ReportViewer", new {Area = "Reports"})';
        var reportViewerId = '@ViewData["ReportId"]';
        var reportName = '@Messages_Reports.Report - ' + '@ViewData["ReportName"].ToString()';
        var urlGetTableSchema = '@Url.Action("GetTableSchema","ReportViewer",new{Area="Reports"})';
        var urlExportReportData = '@Url.Action("ExportReportData","ReportViewer", new{Area="Reports"})';
        var reportUserName = '@ViewData["ReportUserName"].ToString()';
       
        var test = 'abc'
    </script>
    <script>
        $(document).ready(function () {
            $('.fixedbar .displayName').text(reportName);
            $('.fixedbar span').css('font-size', 'medium');

            $('.nav-left-uni').hide();
            $('.fixedbar .pull-right').hide();
            $('.fixedbar .dropdown').hide();
            $('body').addClass('report-viewer');
            setTimeout(customJqueryUI, 500);
            $(".sg-more-option").hide();
            $(".search-slide").click(function () {
                $("i", this).toggleClass("fa-rotate-180");
                $(".sg-more-option").slideToggle("slow");
               

            });


        });
    </script>

    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jsontohtml")
    @Scripts.Render("~/bundles/area/reports/reportviewer-viewreport")


}