@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.DefaultValueSelectedViewModel
@{
    ViewBag.Title = "Add DefaultValue Selected";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Add Default Value Selected</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">
                    @*@Html.EditorForModel()*@
                    <div class="col-md-6">
                        <div class="input-group">
                            @if (ViewData["ClientConfiguration"] != null && ((string) ViewData["ClientConfiguration"]).ToLower().Contains("store"))
                            {
                                <div class="input-group-addon">
                                    <label class=" control-label" for="">@Messages_Datahub.Store </label>
                                </div>
                                @Html.DropDownListFor(x => x.AssociationId, (IEnumerable<SelectListItem>) ViewData["StoreList"], null, new {@id = "storeName", @class = "form-control"})
                            }
                            else
                            {
                                <div class="input-group-addon">
                                    <label class=" control-label" for="">@Messages_Datahub.Vendor </label>
                                </div>
                                @Html.DropDownListFor(x => x.AssociationId, (IEnumerable<SelectListItem>)ViewData["VendorList"], null, new { @id = "vendorName", @class = "form-control" })
                            }
                            

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label" for=""> Default Possible Value</label>
                            </div>
                                @Html.DropDownListFor(x => x.DefaultValuePossibleId, (IEnumerable<SelectListItem>)ViewData["DefaultPossibleValues"], null, new { @id = "defaultPossibleId", @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>
                    @Html.TextBoxFor(x => x.DefaultValueId, new { @Value = @Request["defaultValueId"], @id = "DefaultValueId" })
                    <div class="btn-container">
                        @Html.GbdSubmitButton("btnCreateDefaultValueSelected", Messages.CreateNew)
                        @Html.GbdResetButton(Messages.Cancel)
                    </div>
                </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        var urlDefaultValueIndex = '@Url.Action("Index","OptionalValueManager",new {Area="Datahub"})';
        $("#DefaultValueId").hide();
        $('#btnCancel').click(function () {
            window.location = urlDefaultValueIndex;
        });
    </script>

}
