@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.DefaultValuePossibleViewModel
@{
    ViewBag.Title = "AddDefaultValuePossible";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Create Default Value Possible</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">

            <div class="content-wrapper">
                <div class=" row">
                    @Html.EditorForModel()
                    @Html.TextBoxFor(x => x.DefaultValueId, new { @Value = @Request["defaultValueId"], @id = "DefaultValueId" })
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("btnCreateDefaultValuePossible", Messages.CreateNew)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        var urlDefaultValueIndex = '@Url.Action("Index","OptionalValueManager",new {Area="Datahub"})';
        $("#DefaultValueId").hide();
        $('#btnCancel').click(function () {
            window.location = urlDefaultValueIndex;
        });
    </script>

}
