﻿@{
    ViewBag.Title = "EditDefaultValuePossible";
}
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.DefaultValuePossibleViewModel
@{
    ViewBag.Title = "EditDefaultValuePossible";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist" >
        <li class="active header">Update Default Value Possible</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">

            <div class="content-wrapper">
                <div class=" row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.DefaultValueId)
                    @Html.EditorForModel()
                </div>

                <div class="btn-container">
                    @Html.GbdSubmitButton("btnUpdateDefaultValuePossible", Messages.Save)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        var urlDefaultValueIndex = '@Url.Action("Index","OptionalValueManager",new {Area="Datahub"})';

        $('#btnCancel').click(function () {
            window.location = urlDefaultValueIndex;
        });
    </script>

}

