@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.DefaultValueViewModel
@{
    ViewBag.Title = "EditDefaultValue";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.UpdateDefaultValue</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.EditorForModel()
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="btn-container">
                    @Html.GbdSubmitButton("btnUpdateDefaultValue", Messages.Save)
                    @Html.GbdResetButton(Messages.Cancel)
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        var urlDefaultValueIndex = '@Url.Action("Index","OptionalValueManager",new {Area="Datahub"})';

        $('#btnCancel').click(function () {
            window.location = urlDefaultValueIndex;
        });
    </script>

}
