﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.Datahub.Models.DefaultValueViewModel>

 @{
        ViewBag.Title = Messages_Datahub.OptionalValueManager;
  }
<div class="w1">
    <div id="optional-values-manager" class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">

            <div class="sg-catalog-one col-md-4">
                <div class="sg-tab-bar sub">
                    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                        <li class="active"><a href="#DefaultValue" role="tab" data-toggle="tab">Default Value</a></li>
                    </ul>
                    <div class="expand-cat-one expand-btn" style="">
                        <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                    </div>
                    <div class="collapse" style=""><span class="glyphicon glyphicon-arrow-left sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
                </div>
                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">

                        @Html.GbdButtonWithSpan("btnAddDefaultValue", "Add", "glyphicon glyphicon-plus")
                        @Html.GbdButtonWithSpan("btnUpdateDefaultValue", "Edit", "glyphicon glyphicon-edit")
                        @Html.GbdButtonWithSpan("btnDeleteDefaultValue", "Delete", "glyphicon glyphicon-trash")

                        <div id="hideDefaultvalues" style="margin-left: 59px;">
                        </div>
                    </div>
                </div>
                <div class="sg-datatable-wrap">
                    <table id="DefaultValueGrid" class="display">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckBoxDefaultValue" /></th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Code)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <input type="hidden" id="idContainerHiddenFieldForDeleteDefaultValue" />
                @using (@Html.GbdConfirmDialog("divConfirmDeleteDefaultValue", "Delete Default Value(s)"))
                {
                    <p>@string.Format(Messages.confirmation_Message_Delete0, "Default Value(s)")</p>
                }
            </div>

            <div class="sg-catalog-two col-md-4" style="">
                <div class="sg-tab-bar sub">
                    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                        <li class="active"><a href="#DefaultValue" role="tab" data-toggle="tab">Default Value Possible</a></li>
                    </ul>
                    <div class="expand-cat-two expand-btn" style="">
                        <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                    </div>
                    <div class="collapse" style=""><span class=" glyphicon glyphicon-arrow-right sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
                </div>

                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">
                        <button class="btn" id="btnLoadDefaultValuePossible"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;Load</button>
                        @Html.GbdButtonWithSpan("btnAddDefaultValuePossible", "Add", "glyphicon glyphicon-plus")
                        @Html.GbdButtonWithSpan("btnUpdateDefaultValuePossible", "Edit", "glyphicon glyphicon-edit")
                        @Html.GbdButtonWithSpan("btnDeleteDefaultValuePossible", "Delete", "glyphicon glyphicon-trash")
                        <div id="hideVendorProductSettings" style="margin-left: 59px;">
                        </div>

                    </div>
                </div>

                <div class="sg-datatable-wrap">
                    <div id="DefaultValuePossibleGridWrap">
                        <div id="grid-default-value-possible"></div>
                    </div>
                </div>
                <input type="hidden" id="idContainerHiddenDeleteDefaultValuePossible" />
                @using (@Html.GbdConfirmDialog("divConfirmDeleteDefaultValuePossible", "Delete Default Possible Value(s)"))
                {
                    <p>@string.Format(Messages.confirmation_Message_Delete0, "Default Possible Value(s)")</p>
                }

            </div>

            <div class="sg-catalog-three  col-md-4" style="">
                <div class="sg-tab-bar sub">
                    <ul class="nav nav-tabs udh" id="myTab11" role="tablist">
                        <li class="active"><a href="#DefaultValue" role="tab" data-toggle="tab">Default Value Selected</a></li>
                    </ul>
                    <div class="expand-cat-three expand-btn" style="">
                        <span class="glyphicon glyphicon-resize-horizontal sg-tooltip" data-toggle="tooltip" data-placement="left" title="Expand"></span>
                    </div>
                    <div class="collapse" style=""><span class="glyphicon glyphicon-arrow-left sg-tooltip" data-toggle="tooltip" data-placement="left" title="Collapse"></span></div>
                </div>

                <div class="panel panel-default sg-grid-panel">
                    <div class="panel-body">

                        <button class="btn" id="btnLoadDefaultValueSelected"> <span class="glyphicon glyphicon-retweet"></span>&nbsp;Load</button>

                        @Html.GbdButtonWithSpan("btnAddDefaultValueSelected", "Add", "glyphicon glyphicon-plus")
                        @Html.GbdButtonWithSpan("btnAssignDefaultValue", "Assign", "glyphicon glyphicon-plus")
                        @Html.GbdButtonWithSpan("btnDeleteDefaultValueSelected", "Delete", "glyphicon glyphicon-trash")
                    </div>
                </div>
                <div class="sg-datatable-wrap">
                    <div id="grid-default-value-selected"></div>
                </div>

                <input type="hidden" id="idContainerHiddenDeleteDefaultValueSelected" />
                @using (@Html.GbdConfirmDialog("divConfirmDeleteDefaultValueSelected", "Delete Default Value Selected"))
                {
                    <p>@string.Format(Messages.confirmation_Message_Delete0, "Default Value Selected")</p>
                }

            </div>


    </div>
</div>
    <input type="text" style="display:none;" id="defaultValueLoadId" />
@section styles{
    @Styles.Render("~/Styles/datatable")
                      <style>
                          .error {
                              color: red;
                              font-size: 12px;
                          }
                      </style>
}

@section scripts{
                     
    <script type="text/javascript">

    var urlGetDefaultValue = '@Url.Action("GetDefaultValues","OptionalValueManager",new {Area = "Datahub"})';
    var urlGetDefaultValuePossibleForDataTable = '@Url.Action("GetDefaultValuePossibleForDataTable","OptionalValueManager",new {Area="Datahub"})';
    var urlGetDefaultValuePossible = '@Url.Action("GetDefaultValuePossible", "OptionalValueManager", new {Area = "Datahub"})';
    var urlGetDefaultValueSelected = '@Url.Action("GetDefaultValueSelected", "OptionalValueManager", new { Area = "Datahub" })';
    var urlGetDefaultValueSelectedForDataTable = '@Url.Action("GetDefaultValueSelectedForDataTable","OptionalValueManager",new {Area="Datahub"})';

    var urlAddDefaultValue = '@Url.Action("AddDefaultValue","OptionalValueManager",new {Area = "Datahub"})';
    var urlEditDefaultValue = '@Url.Action("EditDefaultValue","OptionalValueManager",new {Area = "Datahub"})';
    var urlDeleteDefaultValue = '@Url.Action("DeleteDefaultValue", "OptionalValueManager", new { Area = "Datahub" })';

    var urlAddDefaultValuePossible = '@Url.Action("AddDefaultValuePossible", "OptionalValueManager", new { Area = "Datahub" })';
    var urlEditDefaultValuePossible = '@Url.Action("EditDefaultValuePossible", "OptionalValueManager", new { Area = "Datahub" })';
    var urlDeleteDefaultValuePossible = '@Url.Action("DeleteDefaultValuePossible", "OptionalValueManager", new { Area = "Datahub" })';

    var urlAssignDefaultValue = '@Url.Action("AssignDefaultValue", "OptionalValueManager", new { Area = "Datahub" })';
    var urlDeleteDefaultValueSelected = '@Url.Action("DeleteDefaultValueSelected", "OptionalValueManager", new { Area = "Datahub" })';
    var urlAddDefaultValueSelected = '@Url.Action("AddDefaultValueSelected", "OptionalValueManager", new { Area = "Datahub" })';

        var defaultValueSelectedDataTable;
        var defaultValuePossibleDataTable;

     </script>
    
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/area/datahub/optionalvaluemanager-index")


}