﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclModuleViewModel

@{
    ViewBag.Title = AclMessages.AclModuleDelete;
    
}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
        <li class="active header">@AclMessages.AclModuleDelete</li>
    </ul>
</div>

<div class="col-md-12">


    <h4>Are you sure you want to delete this module and Remove all client-module mappings?</h4>
    <div>


        @using (Html.BeginForm())
        {

            @Html.DisplayForModel()
            
            @Html.AntiForgeryToken()

            <div>@Html.GbdSubmitButton("DeleteAclModule", Messages.Delete)</div>
            
            @Html.ActionLink("Back to List", "Index")

        }
    </div>
 </div>
