﻿@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclModuleViewModel
@{
    ViewBag.Title = "Module Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Module Details</h2>

<div>

    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>
            @Html.Label((String)ViewBag.ModuleStatus)
        </dd>
    </dl>*@

    @Html.DisplayForModel()

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>