﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclModuleEditViewModel
@{
    ViewBag.Title = AclMessages.AclModuleEdit;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
        "<li>" + Messages.System + "</li>" +
        "<li>" + AclMessages.AccessControl + "</li>" +
        "<li><a href='" + Url.Action("Index", "AclModules", new { Area = "AccessControl" }) + "'>" + AclMessages.AclModules + "</a></li>" +
        "<li class='active'>" + ViewBag.Title + "</li>" +
    "</ol>");

}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-md-12">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-body">

            @Html.EditorForModel()

            <div class="form-horizontal form-group row">
                @Html.LabelFor(model => model.Status, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownList("ModuleStatus").GbdAddCssClass("form-control")
                </div>
            </div>

            <div>
                @Html.GbdSubmitButton("EditAclModule", Messages.Save)
                @Html.GbdResetButton(Messages.Cancel)
            </div>
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript">

        var urlIndex = '@Url.Action("Index","AclModules",new {Area="AccessControl"})';

        $('#btnCancel').click(function () {
            window.location = urlIndex;
        });
    </script>
}