﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.AccessControl.Models.AclModuleViewModel>
    @{
        ViewBag.Title = AclMessages.AclModules;

        ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
         "<li>" + Messages.System + "</li>" +
         "<li>" + AclMessages.AccessControl + "</li>" +
         "<li class='active'>" + ViewBag.Title + "</li>" +
     "</ol>");

    }
    <div class="sg-tab-bar">
        <ul class="nav nav-tabs" role="tablist" style="padding: 0 15px;">
            <li class="active header">@ViewBag.Title</li>
</ul>
</div>
<div class="col-md-12">
    <div class="panel panel-default sg-grid-panel">
        <div class="panel-body" id="map">
            @{
                var authorizedActions = (List<string>) ViewData["AuthorizedActions"];
                if (authorizedActions.Any())
                {
                    @Html.GbdButtonWithSpan("btnCreateAclModule", "Add", "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                    @Html.GbdButtonWithSpan("btnEditAclModule", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                    @Html.GbdButtonWithSpan("btnDeleteAclModule", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)
                }
            }

        </div>
    </div>
    <div>
        <table class="display" id="aclModulesDataTable">
            <thead>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                    <th>
                        @AclMessages.AclModuleName
                    </th>

                    <th>
                        @AclMessages.AclAreaName
                    </th>
                    <th>
                        @AclMessages.AclControllerName
                    </th>
                    <th>
                        @AclMessages.AclActionName
                    </th>

                    <th>
                        @AclMessages.AclModuleAccessCode
                    </th>


                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <input type="hidden" id="idContainerHiddenFieldForDelete" />
    </div>

    @using (@Html.GbdConfirmDialog("divConfirmDelete", "Delete Access Control Modules"))
    {
        <p>@string.Format(Messages.confirmation_Message_Delete0, "Access Control Module(s)")</p>
    }

</div>
    @section styles{
        @Styles.Render("~/Styles/datatable")
    }

@section scripts
    {
    <script type="text/javascript">
    var urlCreate = '@Url.Action("Create", "AclModules", new {Area = "AccessControl"})';
    var urlEdit = '@Url.Action("Edit", "AclModules", new {Area = "AccessControl"})';
    var urlDelete = '@Url.Action("Delete", "AclModules", new {Area = "AccessControl"})';
        var urlGetDataTableForModules = '@Url.Action("GetDataTableForModules", "AclModules", new { Area = "AccessControl" })';
    </script>

@Scripts.Render("~/bundles/datatable")
     @Scripts.Render("~/bundles/area/accesscontrol/aclmodule-index")
     }
