﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.Datahub.Models.PIMStoreViewModel
@{
    ViewBag.Title = "EditStore";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Update Store</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="content-wrapper ">
                <div class="row">
                    @Html.HiddenFor(model => model.Id)

                    @Html.EditorForModel()
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label class="control-label">Source Type</label>
                            </div>
                            @Html.DropDownListFor(x => x.StoreType, (IEnumerable<SelectListItem>)ViewData["importPlatform"], null, new { @class = "form-control", @id = "importPlatform" })
                        </div>
                        @Html.ValidationMessageFor(m => m.StoreType)
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.GbdLabelFor(m => m.StoreUrl)
                            </div>

                            @Html.TextBoxFor(x => x.StoreUrl, new { @class = "form-control", @id = "storeUrl" })
                            <span class="input-group-addon form-info btn-next" data-toggle="tooltip" data-placement="right" title="http://store.yahoo.com/google.com/category.xml"><i class="fa fa-question"> </i> </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.StoreType)

                    </div>
                    <div class="mgbtm8 clearfix"></div>
                </div>
            </div>
            <div class="btn-container">
                @Html.GbdSubmitButton("btnUpdateStore", Messages.Save)
                @Html.GbdResetButton(Messages.Cancel)
            </div>
        </div>
    </div>
}

@section styles{

    <style type="text/css">
        .modal-body .form-info {
            width: 1%;
        }

        .tooltip {
            word-wrap: break-word;
        }
    </style>
}

@section scripts{

    <script type="text/javascript">

        var urlStoreIndex = '@Url.Action("Index","Store",new {Area="Datahub"})';

        $('#btnCancel').click(function () {
            window.location = urlStoreIndex;
        });
    </script>

}

