﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers
@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{ViewBag.Title = "Index";}

<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">
            @Messages_Datahub.ExistingStores
    </li>
</ul>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="panel panel-default sg-grid-panel">
            <div class="panel-body">
                @{
                    var authorizedActions = (List<string>) ViewData["AuthorizedActions"];
                    if (authorizedActions.Any())
                    {
                        @Html.GbdButtonWithSpan("btnAddStore", "Add", "glyphicon glyphicon-plus",authorizedActions,ACLActions.Create)
                        @Html.GbdButtonWithSpan("btnUpdateStore", "Edit", "glyphicon glyphicon-edit",authorizedActions,ACLActions.Update)
                        @Html.GbdButtonWithSpan("btnDelete", "Delete", "glyphicon glyphicon-trash",authorizedActions,ACLActions.Delete)
                        @Html.GbdButtonWithSpan("btnMap", "Map-ImportSource", "glyphicon glyphicon-check")
                        @Html.GbdButtonWithSpan("btnImport", "Import", "glyphicon glyphicon-plus")
                    }
                }
            </div>

                </div>

        @Html.GbdDialogOpenButton("btnDeleteStore", "Delete", "DeleteStoreModal", "glyphicon glyphicon-retweet", "modal")
        @* Supplier Table Section *@
        <div class="sg-datatable-wrap">
            <table id="StoreDataTable" class="display add">
                <thead>
                    <tr>

                        <th><input type="checkbox" id="selectAllCheckBoxStore" class="selectAll"></th>

                        <th>@Messages_Datahub.StoreIdentifier</th>
                        <th>@Messages_Datahub.StoreName</th>
                        <th>@Messages_Datahub.StoreType</th>
                        <th>@Messages_Datahub.LastImportDate</th>
                        <th>@Messages_Datahub.ImportSource</th>
                        <th>@Messages_Datahub.TotalProductCount</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div id="DeleteStoreModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">@Messages.Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title">@Messages.Delete @Messages.Stores</h4>
            </div>
            <div class="modal-body">
                <h5>@String.Format(Messages.confirmation_Message_Delete0, Messages.Stores)</h5>
            </div>
            <div class="modal-footer">
                <input type="button" value="@Messages.Yes" class="btn btn-success" id="btnDeletefromModel" name="ButtonType" />
                <button class="btn btn-danger" data-dismiss="modal" id="deletestoreNobtn" type="submit">@Messages.No</button>

            </div>
        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/datatable")
}

@section scripts{
    <script type="text/javascript">
        var urlMapping = '@Url.Action("SourceDataMapping", "Vendor", new { Area = "Datahub" })';
        var urlImport = '@Url.Action("ImportVendor", "Vendor", new { Area = "Datahub" })';
        var urlStoreCheckForImport = '@Url.Action("StoreCheckForImport", "Store", new { Area = "Datahub" })';
        var urlSupplier = '@Url.Action("GetStoreDataTable", "Store", new { Area = "Datahub" })';
        var urlDeleteStore = '@Url.Action("DeleteStore", "Store", new { Area = "Datahub" })';
        var urlAddStore = '@Url.Action("CreateStore", "Store", new { Area = "Datahub" })';
        var urlEditStore = '@Url.Action("EditStore", "Store", new { Area = "Datahub" })';
        var urlMapImportSource = '@Url.Action("MapImportSource", "Store", new { Area = "Datahub" })';
        var GBDAdmin = '@UdhClaimsIdentity.IsInGbdAdminRole()';
        var Admin = '@UdhClaimsIdentity.IsInAdminRole()';
        var importError = '@TempData["Feedback"]';

</script>
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/area/datahub/store-index")

}