﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@{
    ViewBag.Title = "MapImportSource";
}
<div class="sg-tab-bar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">Store to Import Source Mapping</li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper ">
            <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label class="control-label">Store Name</label>
                    </div>
                    <div>

                        <input type="text" class="form-control" name="storeName" value="@ViewData["storeName"]" readonly>
                    </div>
                </div>
            </div>
            <div class="clearfix mgbtm8"></div>
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label class="control-label">Import Source</label>
                    </div>
                    <div>
                        @Html.DropDownList("importSource", (IEnumerable<SelectListItem>)ViewData["importSource"], null, new { @class = "form-control", @id = "importSource" })
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-sm-3 control-label" for="">Store Name</label>
                    <div class="col-sm-3">
                        <label>@ViewData["storeName"]</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Import Source</label>
                    <div class="col-sm-3">
                        @Html.DropDownList("importSource", (IEnumerable<SelectListItem>)ViewData["importSource"], null, new { @class = "form-control", @id = "importSource" })
                    </div>
                </div>*@
        </div>
        <div class="btn-container">
            @Html.GbdSubmitButton("btnMapImportSource", Messages.CreateNew)
        </div>
    </div>
</div>
</div>
@section styles{

}




@section scripts{
    <script type="text/javascript">
        var storeId = '@Request["id"]';
        var urlMapStoreImportSource = '@Url.Action("MapImportSource", "Store", new { Area = "Datahub" })';
        var urlStore = '@Url.Action("Index", "Store", new { Area = "Datahub" })';

     </script>


    @Scripts.Render("~/bundles/area/datahub/storeimportsource")

}

