﻿@using GBD.UniversalDataHub.Areas.Datahub.Resources
@using GBD.UniversalDataHub.Resources
@model GBD.UniversalDataHub.Areas.Datahub.Models.CatalogSearchParameterViewModel

@{
    ViewBag.Title = Messages_Datahub.FeedGenerator;

}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@Messages_Datahub.FeedGenerator </li>
    </ul>
</div>
<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="search-holder">
            <div class=" sg-ad-search-bar">
                @if ((bool)ViewData["AllowedForStore"])
                {
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @Html.LabelFor(m => m.StoreId)
                            </div>
                            @Html.DropDownListFor(x => x.StoreId, (IEnumerable<SelectListItem>)ViewData["StoreCollection"], "--Choose", new { @id = "storeId", @style = "width: 100%" })
                        </div>

                    </div>
                }

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.Label(Messages_Datahub.ExportFormat)
                        </div>
                        @Html.DropDownList("exportFormat", (IEnumerable<SelectListItem>)ViewData["ExportFormat"], "--Choose", new { @id = "exportFormat", @style = "width:100%;" })

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            @Html.Label(Messages_Datahub.MerchantCenter)
                        </div>

                        @Html.DropDownList("exportPlatform", (IEnumerable<SelectListItem>)ViewData["ExportPlatform"], "--Choose", new { @id = "exportPlatform", @style = "width:100%;" })
                    </div>
                </div>

                @*<div class="col-md-3">@Html.Label(Messages_Datahub.MerchantCenter)</div>

                    <div class="col-md-3">
                        <select style="width: 200px;">
                            <option value="">@Messages.PleaseSelect</option>
                            <option value="1">Google Merchant Center</option>
                            <option value="2">Bing Merchant Center</option>
                            <option value="3">Yahoo Merchant Center</option>
                        </select>
                    </div>*@
                <div class="clearfix mgbtm8"></div>
                <div id="productSuppressionFilterDiv" style="display: none;">
                    <h4><strong> @Messages.Filters</strong></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="builder"></div>

                        </div>
                    </div>
                    <div class="clearfix mgbtm8"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <input type="button" id="searchFeed" value="@Messages_Datahub.Search" class="btn btn-primary"/>

                    </div>
                    
                    </div>
                @*<div class="col-md-1">
                </div>*@

            </div>

            <div class="clearfix mgbtm8"></div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="question-list">
                        <li data-toggle="tooltip" data-placement="right" title="@Messages_Datahub.Tooltip_System_Fields">
                            <i class="fa fa-question fa-inverse"></i>
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="@Messages_Datahub.Tooltip_RecommendedFields_Export">
                            <i class="fa fa-question fa-inverse"></i>
                        </li>
                    </ul>
                    <div class="handsontable-wrapper">
                        <div id="feed-generator" class="shift-no-select-text"></div>
                    </div>
                </div>

                <div class="clearfix mgbtm8"></div>
                <div class="pagination-holder">
                    <div id="pagination"></div>
                    <div class="pull-center">
                        <label id="searchResultCountLabel" class="resultStats"></label>
                    </div>
                </div>

                    <div class="col-md-12">
                        <div class="btn-container">
                            <input type="button" id="btn-generate-feed" class="btn btn-primary" value='@Messages_Datahub.GenerateFeed' />
                            <input type="button" id="btn-upload-feed" class="btn btn-primary" value="@Messages_Datahub.UploadFeed" />
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/handsontable")
    @Styles.Render("~/Styles/query-builder")
    @Styles.Render("~/Styles/simple-pagination")

    <style>
        .question-list {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 2%;
            float: left;
            display: none;
        }

            .question-list li {
                background: #24313f;
                text-align: center;
                margin-bottom: 2px;
                margin-top: 1px;
                padding: 3px 0;
            }

        .handsontable-wrapper {
            width: 98%;
            height: 450px;
            overflow: auto;
            float: right;
        }

        .htCore > tbody > tr:first-child > td {
            background-color: #EEE;
            color: #222;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
        }

        .handsontable .htCore thead th {
            min-width: 100px;
            background-color: #585858;
            color: #fff;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
        }
        .rule-container select {
            height: 22px;
        }
        .resultStats {
            font-style: normal;
            color: #A4A4A4;

        }
       
    </style>
}
@section scripts{





    @Scripts.Render("~/bundles/select2")
    <script src="http://underscorejs.org/underscore-min.js"></script>
    @Scripts.Render("~/bundles/querybuilder")
    @Scripts.Render("~/bundles/simple-pagination")
    @Scripts.Render("~/bundles/handsontable")

    <script type="text/javascript">
        var msgErrorOccured = '@Messages.ErrorOccured';
        var data = '@ViewBag.FeedGeneratorData';
        var columns = '@ViewBag.ColumnsJson';
        var rowsCount = '@ViewBag.RowsCount';
        var urlGetFeedGenerator = '@Url.Action("GetFeedGenerator", "FeedGenerator", new {Area = "Datahub"})';

        var urlGetFeedExportData = '@Url.Action("GetFeedExportData", "FeedGenerator", new {Area = "Datahub"})';
        var pleaseSelectMessage = '@Messages.PleaseSelect';
        var urlGetPlatformSpecificColumns = '@Url.Action("GetPlatformSpecificColumns","FeedGenerator", new{Area="Datahub"})';
        var errorOccurredMessage = '@Messages.ErrorOccured';
        var searchResultMessage = '@Messages_Datahub.Searched_0_Results';
        var urlGetFeedGeneratorCount = '@Url.Action("GetFeedGeneratorCount","FeedGenerator",new{Area="Datahub"})';
        var urlGetFeedExportDataForFilter = '@Url.Action("GetFeedExportDataForFilter","FeedGenerator",new{Area="Datahub"})';

        var urlDownloadFile = '@Url.Action("DownloadFile","FeedGenerator",new{Area="Datahub"})';

        $("select").select2();

    </script>
    

    @Scripts.Render("~/bundles/area/datahub/feedgenerator-index")

}                                                                                                                    