td.formula {
  position: relative;
}

td.formula:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid lightgreen;
    border-left: 5px solid transparent;
    top: 0;
    right: 0;
}

td.formula-error {
  position: relative;
}

td.formula-error:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 5px solid red;
    border-left: 5px solid transparent;
    bottom: 0;
    right: 0;
}

.htDimmed {
    background-color: #eee !important;
}