﻿@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclClientViewModel
@{
    ViewBag.Title = AclMessages.AclClientCreate;

    ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
          "<li>" + Messages.System + "</li>" +
          "<li>" + AclMessages.AccessControl + "</li>" +
          "<li><a href='" + Url.Action("Index", "AclClients", new { Area = "AccessControl" }) + "'>" + AclMessages.AclClients + "</a></li>" +
          "<li class='active'>" + ViewBag.Title + "</li>" +
      "</ol>");

}
<div class="sg-tab-bar">
    <ul class="nav nav-tabs udh" role="tablist">
        <li class="active header">@ViewBag.Title</li>
    </ul>
</div>

<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
    <div class="modal-body">
        <div class="content-wrapper">
            <div class="row">
                @using (Html.BeginForm("Create", "AclClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
                { @Html.ValidationSummary()  //@Html.AntiForgeryToken()
                                            @Html.EditorForModel()
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        @Html.LabelFor(model => model.ClientLogoUrl, new { @class = "control-label col-md-2" })
                                                    </div>
                                                    <input type="file" name="clientLogo" id="clientLogo" />
                                                </div>
                                            </div>
                                            <div class="clearfix mgbtm8"></div>                                                                                                                  <div class="col-sm-12">
                                                <div class="btn-container">
                                                    @Html.GbdSubmitButton("CreateAclClient", Messages.CreateNew)
                                                    @Html.GbdResetButton(Messages.Cancel)
                                                </div>
                                            </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .validation-summary-errors {
            color: red;
            font-size: 12px;
            font-weight: bold;
        }

        li {
            list-style-type: none;
        }
    </style>
}



@section scripts
{
    <script type="text/javascript">

        var urlIndex = '@Url.Action("Index","AclClients",new {Area="AccessControl"})';
        var aclMessage = '@TempData["AclMessage"]';
        var aclErrorMessage = '@TempData["AclErrorMessage"]';

        if (aclMessage) {
            alertmsg("green", aclMessage);
        }
        if (aclErrorMessage) {
            alertmsg("red", aclErrorMessage);

        }
        $('#btnCancel').click(function () {
            window.location = urlIndex;
        });
    </script>
}
