﻿@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model GBD.UniversalDataHub.Areas.AccessControl.Models.AclClientViewModel
@{
    ViewBag.Title = "Delete Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Client</h2>

<h4>Are you sure you want to delete this Client and Remove all Users from this Client?</h4>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>
            @Html.Label((String)ViewBag.ClientStatus)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.GbdSubmitButton("DeleteAclClient", Messages.Delete)
            @Html.ActionLink("Back to List", "Index")
        
    }
</div>