﻿@using GBD.UniversalDataHub.AppServices.Seedwork.Helpers.EnumVariables
@using GBD.UniversalDataHub.Areas.AccessControl.Resources
@using GBD.UniversalDataHub.Resources
@using GBD.UniversalDataHub.Web.Plugins.HtmlHelpers
@model IEnumerable<GBD.UniversalDataHub.Areas.AccessControl.Models.AclClientViewModel>
    @{
        ViewBag.Title = AclMessages.AclClients;

        ViewBag.Breadcrumb = ViewBag.Breadcrumb ?? new MvcHtmlString("<ol class='breadcrumb udh-breadcrumb-title'>" +
           "<li>" + Messages.System + "</li>" +
           "<li>" + AclMessages.AccessControl + "</li>" +
           "<li class='active'>" + ViewBag.Title + "</li>" +
       "</ol>");

    }
    <div class="sg-tab-bar">
        <ul class="nav nav-tabs udh" role="tablist">
            <li class="active header">@ViewBag.Title</li>
        </ul>
    </div>
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 sg-wrapper">
        <div class="modal-body">
            <div class="panel panel-default sg-grid-panel">
                <div class="panel-body" id="map">

                    @{
                        var authorizedActions = (List<string>)ViewData["AuthorizedActions"];
                        if (authorizedActions.Any())
                        {
                            @Html.GbdButtonWithSpan("btnCreateAclClient", "Add", "glyphicon glyphicon-plus", authorizedActions, ACLActions.Create)

                            @Html.GbdButtonWithSpan("btnEditAclClient", "Edit", "glyphicon glyphicon-edit", authorizedActions, ACLActions.Update)
                            @Html.GbdButtonWithSpan("btnDeleteAclClient", "Delete", "glyphicon glyphicon-trash", authorizedActions, ACLActions.Delete)
                        }

                    }

                </div>
            </div>


            @using (Html.BeginForm())
            {
                <div class="sg-datatable-wrap">
                    <table class="table" id="aclClientDataTable">
                        <thead>

                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="selectAllCheckBox" class="selectAll"></th>
                                <th>
                                    @AclMessages.AclClientName
                                </th>
                                <th>
                                    @AclMessages.AclClientDescription
                                </th>
                                @*<th>@AclMessages.LastUpdated</th>*@

                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
                <input type="hidden" id="idContainerHiddenFieldForDelete" />
            }
            @using (@Html.GbdConfirmDialog("divConfirmDelete", "Delete Access Control Clients"))
            {
                <p>@string.Format(Messages.confirmation_Message_Delete0, "Access Control Client(s)")</p>
            }
        </div>
    </div>

    @section styles{
        @Styles.Render("~/Styles/datatable")
    }

    @section scripts
    {
        <script type="text/javascript">
            var urlCreate = '@Url.Action("Create", "AclClients", new {Area = "AccessControl"})';
            var urlEdit = '@Url.Action("Edit", "AclClients", new { Area = "AccessControl" })';
            var urlDelete = '@Url.Action("Delete", "AclClients", new { Area = "AccessControl"})';
            var urlGetDataTable = '@Url.Action("GetDataTable","AclClients",new {Area = "AccessControl"})';

        </script>

        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/area/accesscontrol/aclclient-index")
    }
